<div class="all-blocks-container" >
  <div class="header-parts">
    <div class="header-parts-text">{{'PL' + plate.scantling + ' ' + plate.mat}}</div>
    <div class="df">
      <div class="mr-30">
        <div (click)="exportXls()" class="materials-button xls-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="parts-button-close cxy" (click)="close()">
        <i class="pi pi-times"></i>
      </div>
    </div>

  </div>
  <div class="">
    <p-table #table [value]="partsByBlocks"
             [scrollable]="true"
             scrollHeight="420px"
             [virtualScroll]="true"
             [virtualRowHeight]="40"
             [reorderableColumns]="false"
             [resizableColumns]="false"
             styleClass="p-datatable-striped"
             responsiveLayout="scroll"
             [globalFilterFields]="['block','count']">
      <ng-template pTemplate="header">
        <tr class="df">
          <th pSortableColumn="block" class="lxy w-20">{{t.tr('Block')}}
            <p-sortIcon field="block"></p-sortIcon>
          </th>
          <th pSortableColumn="weight" class="lxy w-20">{{t.tr('Weight kg')}}
            <p-sortIcon field="weight"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-block>
        <tr class="cursor-pointer row-table-doc-hover">
          <td class="w-20 text-14">{{block.block}}</td>
          <td class="w-20 text-14">{{round(block.count,1)}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>

