<div class="all-page-billing">
  <div class="min-height-card">
    <div class="empty-card"></div>
    <div class="card-head df sticky-card">
      <div class="mr-10 mb-10">
        <p-dropdown placeholder="ПРОЕКТ" [(ngModel)]="project" [options]="projects" (ngModelChange)="projectChanged()" styleClass="width-160 border">
        </p-dropdown>
      </div>
      <div class="mr-10 mb-10">
        <div (click)="exportXls()" class="materials-button xls-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="ml-10 df tabs-header df fw min-width-480">
        <div *ngFor="let type of pipeTypeDescrs" (click)="selectTypeDesc(type)" class="mr-10 mb-10 all-tabs cursor-pointer" [class.selectedTab]="selectedTypeDesc == type">{{type}}
        </div>
      </div>
      <div class="p-ml-auto df">
        <div (click)="selectedView = 'tiles'" class="cxy mr-10 cursor-pointer">
          <img *ngIf="selectedView == 'tiles'" src="assets/icons/tile-blue.svg" height="22">
          <img *ngIf="selectedView != 'tiles'" src="assets/icons/tile-gray.svg" height="22">
        </div>
        <div (click)="selectedView = 'list'" class="cxy cursor-pointer">
          <img *ngIf="selectedView != 'list'" src="assets/icons/list-gray.svg" height="22">
          <img *ngIf="selectedView == 'list'" src="assets/icons/list-blue.svg" height="22">
        </div>
      </div>
      <div class="df min-width-340">
        <div class="mr-10 mb-10 ml-10">
          <p-dropdown class="select" [(ngModel)]="sortValue" [options]="sortValues" (ngModelChange)="sortChanged()" styleClass="width-160 border">
          </p-dropdown>
        </div>
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input [(ngModel)]="search" (ngModelChange)="searchChanged()" pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border width-160" />
        </span>
      </div>
    </div>
    <div class="empty-card-bottom"></div>
    <div *ngIf="pipes.length == 0">
      <div class="cxy loading">
        <div class="cxy card-height">
          <img src="assets/whale.gif" height="120">
          <div class="cx loading-text">PLEASE WAIT...</div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedView == 'tiles'">
      <div class="tile">
        <div *ngFor="let pipe of pipes; let i = index" class="dash-card cursor-pointer" [class.hidden-card]="pipe == null">
          <div *ngIf="pipe != null" class="dash-card-tile" [class.flip-card]="pipe.side == 'back'">
            <div class="dash-card-tile-side-front" (click)="handleBackClick($event, pipe)" [class.block-card]="pipe != null && pipe.isDisabled">
              <div *ngIf="pipe != null">
                <div class="top-row-pipe-tile">
                  <div class="title-bold-pipe">
                    <div class="" [innerHTML]="pipe.material.name | highLight: search"></div>
                  </div>
                  <div class="flex-end-top">
                    <div class="kpl-flag cxy">
                      <div class="text-center-x">
                        <span [innerHTML]="(pipe.smat) | highLight: search"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="two-row-pipe">
                  <div class="mm-text">Foran name
                    <span [innerHTML]="pipe.compUserId | highLight: search"></span>
                  </div>
                </div>
                <div class="three-row-pipe">
                  <div class=" df">
                    <div class="text-mini-gray pr-5">length</div>
                    <div class="text-mini-gray">{{round(pipe.length / 1000, 10) + ' ' + 'm'}}</div>
                  </div>
                  <div class=" df">
                    <div class="text-mini-gray pr-5">weight</div>
                    <div class="text-mini-gray">{{roundDecimal(pipe.weight) + ' ' + 'kg'}}</div>
                  </div>
                </div>
                <div class="four-row-pipe df">
                  <div class="text-black-mini cy">{{pipe.typeCode + " " + pipe.compType}}</div>
                  <div *ngIf="pipe.typeCode == 'PIPE' && pipe.compType == 'P'">
                    <img src="assets/icons/pipes-pipe.svg" height="50">
                  </div>
                  <div *ngIf="pipe.typeCode == 'PIPE' && pipe.compType == 'I'">
                    <img class="angle-cut" src="assets/icons/pipe-cut.svg" height="50">
                  </div>
                  <div *ngIf="pipe.typeCode == 'PIPE' && pipe.compType == 'B'">
                    <img class="angle-pipe" src="assets/icons/pipe-angle2.svg" height="44">
                  </div>
                  <div *ngIf="pipe.typeCode == 'VALV'">
                    <img src="assets/icons/valve.svg" height="40">
                  </div>
                  <div *ngIf="pipe.typeCode == 'FWRE'">
                    <img src="assets/icons/pipes-fwre.svg" height="40">
                  </div>
                  <div *ngIf="pipe.typeCode == 'FWNR' && pipe.compType == 'A'">
                    <img class="angle-sleeve" src="assets/icons/pipe-sleeve.svg" height="34">
                  </div>
                  <div *ngIf="pipe.typeCode == 'FWNR' && pipe.compType == 'E'">
                    <img src="assets/icons/pipe-elbow.svg" height="40">
                  </div>
                  <div *ngIf="pipe.typeCode == 'JOINT' && pipe.compType == 'BOLT'">
                    <img class="angle-screw" src="assets/icons/screw.svg" height="40">
                  </div>
                  <div *ngIf="pipe.typeCode == 'JOINT' && pipe.compType == 'GASKET'">
                    <img src="assets/icons/gasket.svg" height="36">
                  </div>
                  <div *ngIf="pipe.typeCode == 'JOINT' && pipe.compType == 'NUT'">
                    <img class="angle-screw" src="assets/icons/nut.svg" height="30">
                  </div>
                  <div *ngIf="pipe.typeCode == 'BRAW'">
                    <img src="assets/icons/pipes-braw.svg" height="40">
                  </div>
                  <div *ngIf="pipe.typeCode == 'FLAN'">
                    <img src="assets/icons/flange.svg" height="36">
                  </div>
                  <div *ngIf="pipe.typeCode == 'GASK'">
                    <img src="assets/icons/gasket.svg" height="36">
                  </div>
                </div>
                <div class="fife-row-pipe df align-end">
                  <div class="df">
                    <div class="mm-text pr-5">Insulation</div>
                    <span class="text-black-mini">{{pipe.insul}}</span>
                  </div>

                  <div class="p-ml-auto">
                    <div *ngIf="pipe.stock.trim() != ''" class="df">
                      <div class="trm">
                        <span [innerHTML]="pipe.stock | highLight: search"></span>
                      </div>
                      <div (click)="copyTrmCode(pipe.stock, 't' + i); $event.stopPropagation();" class="trm-copy cursor-pointer cxy">
                        <img src="assets/icons/trm.svg" height="14">
                        <div class="copy-tooltip" [hidden]="!showTooltip('t' + i)">Copied!</div>
                      </div>
                    </div>
                    <div class="pulse">
                      <div *ngIf="pipe.stock.trim() == ''" class="dot red"></div>
                    </div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dash-card-tile-side-back" (click)="handleFrontClick($event, pipe)" >
              <div class="cxy title-bold mb-30 h-20" >
                <div class="text-center-x"></div>
              </div>
              <div class="all-back-tile">
                <div class="row-one-back background-gray">
                  <div class="df lxy">
                    <div class="icon-back-blue cxy ml-10">
                      <img src="assets/icons/parts.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10 mr-7">Parts QTY</div>
                    <span class="text-gray-mini"></span>
                  </div>
                </div>
                <div class="row-one-back">
                  <div class="df lxy">
                    <div class="icon-back-orange cxy ml-10">
                      <img src="assets/icons/sections.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10">Blocks</div>
                  </div>
                </div>
                <div class="row-one-back background-gray">
                  <div class="df lxy">
                    <div class="icon-back-violet cxy ml-10">
                      <img src="assets/icons/rest.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10 mr-7">Wastage</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedView == 'list'">
      <div class="list">
        <div [class.hidden-card]="pipe == null"  *ngFor="let pipe of pipes; let i = index">
          <div *ngIf="pipe != null" class="dash-card-pipe-list" [class.block-card]="pipe != null && pipe.isDisabled">
            <div></div>
            <div class="df flex-column cy">
              <div class="title-bold-pipe">
                <div class="" [innerHTML]="pipe.material.name | highLight: search"></div>
              </div>
              <div class="mm-text">Foran name
                <span [innerHTML]="pipe.compUserId | highLight: search"></span>
              </div>
            </div>
            <div class="cy df px-10">
              <div class="text-mini-gray pr-5">length</div>
              <div class="text-mini-gray">{{round(pipe.length / 1000, 10) + ' ' + 'm'}}</div>
            </div>
            <div class="cy df">
              <div class="text-mini-gray pr-5">weight</div>
              <div class="text-mini-gray">{{roundDecimal(pipe.weight) + ' ' + 'kg'}}</div>
            </div>
            <div class="title-bold-pipe cy">{{pipe.typeCode}}</div>
            <div class="df cy">
              <div *ngIf="pipe.typeCode == 'PIPE'">
                <img src="assets/icons/pipes-pipe.svg" height="50">
              </div>
              <div *ngIf="pipe.typeCode == 'VALV'">
                <img src="assets/icons/valve.svg" height="40">
              </div>
              <div *ngIf="pipe.typeCode == 'FWRE'">
                <img src="assets/icons/pipes-fwre.svg" height="50">
              </div>
              <div *ngIf="pipe.typeCode == 'FWNR'">
                <img src="assets/icons/pipes-elbow.svg" height="50">
              </div>
              <div *ngIf="pipe.typeCode == 'BRAW'">
                <img src="assets/icons/pipes-braw.svg" height="50">
              </div>
              <div *ngIf="pipe.typeCode == 'FLAN'">
                <img src="assets/icons/flange.svg" height="36">
              </div>
              <div *ngIf="pipe.typeCode == 'GASK'">
                <img src="assets/icons/gasket.svg" height="36">
              </div>
            </div>
            <div class="df align-center">
              <div class="mm-text pr-5">Insulation</div>
              <span class="text-black-mini">{{pipe.insul}}</span>
            </div>
            <div class="cy">
              <div class="kpl-flag cxy">
                <div class="text-center-x">
                  <span [innerHTML]="(pipe.smat) | highLight: search"></span>
                </div>
              </div>
            </div>
            <div class="p-ml-auto df align-center">
              <div *ngIf="pipe.stock.trim() != ''" class="df">
                <div class="trm">
                  <span [innerHTML]="pipe.stock | highLight: search"></span>
                </div>
                <div (click)="copyTrmCode(pipe.stock, 't' + i); $event.stopPropagation();" class="trm-copy cursor-pointer cxy">
                  <img src="assets/icons/trm.svg" height="14">
                  <div class="copy-tooltip-list" [hidden]="!showTooltip('t' + i)">Copied!</div>
                </div>
              </div>
              <div class="pulse">
                <div *ngIf="pipe.stock.trim() == ''" class="dot red"></div>
              </div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="empty-card-list"></div>
      </div>
    </div>

  </div>
</div>
<p-toast position="bottom-center"></p-toast>
