<div class="df" style="justify-content: center; height: 100%">
  <div class="eq-container">
    <div style="width: 560px; border-radius: 6px">

      <div class="header-parts df">
        <div *ngIf="!isGroup" style="width: 100%">
          <div class="f">
<!--            <span style="text-align: left; height: 17px" class="info-id">GROUP <span>- SFI {{this.group.sfi}}</span> <span>- {{this.group.name}}</span></span>-->
            <span style="text-align: left; height: 17px" class="info-id">GROUP <span>- {{this.group.name}}</span></span>

            <div class=" df pt-10">
              <div class="task-button cxy mr-20" tooltipPosition="top" [pTooltip]="t.tr('Удалить оборудование')" (click)="deleteEquipment(this.equipmentForm.value.id)" [class.button-disabled]="buttonsAreHidden">
                <img src="assets/icons/trash.svg" height="20">
              </div>
              <div class="task-button-close cxy" (click)="closeSideBar()">
                <i class="pi pi-times"></i>
              </div>
              <!--          <button (click)="closeSideBar()">close</button>-->
            </div>
          </div>

          <!--          <span class="info-id">ID {{this.group.id}} - GROUP - SFI {{this.group.sfi}} - {{this.group.name}}</span>-->
          <div style="text-align: left" class="pt-10 text-uppercase text-bold task-name"><span class="blue">UNIT </span>- SFI {{this.equipmentForm.value.sfi_unit}} - {{this.eq.name}} </div>
          <!--          <div class="pt-20 text-uppercase text-bold">ID {{this.equipmentForm.value.id}} - SFI {{this.equipmentForm.value.sfi_unit}} - {{this.eq.name}}</div>-->
          <!--      <div class="header-parts-text">{{t.tr('Редактировать оборудование')}}</div>-->
        </div>



        <div *ngIf="isGroup" style="width: 100%">
          <div class="f">
            <div style="text-align: left; height: 17px" class="info-id"></div>
            <div class="trash-close df pt-10">
              <div class="task-button cxy mr-20" tooltipPosition="top" [pTooltip]="t.tr('Удалить оборудование')" (click)="deleteEquipment(this.equipmentForm.value.id)" [class.button-disabled]="buttonsAreHidden">
                <img src="assets/icons/trash.svg" height="20">
              </div>
              <div class="task-button-close cxy" (click)="closeSideBar()">
                <i class="pi pi-times"></i>
              </div>
              <!--          <button (click)="closeSideBar()">close</button>-->
            </div>
          </div>

          <!--          <span class="info-id">ID {{this.eq.id}}</span>-->
          <div style="text-align: left" class=" text-uppercase text-bold task-name  pt-10"><span class="blue">GROUP</span><span> - {{this.equipmentForm.value.name}}</span></div>
<!--          <div style="text-align: left" class=" text-uppercase text-bold task-name  pt-10"><span class="blue">GROUP</span><span> - SFI {{this.equipmentForm.value.sfi}}</span><span> - {{this.equipmentForm.value.name}}</span></div>-->
          <!--      <div class="header-parts-text">{{t.tr('Редактировать группу')}}</div>-->
        </div>
      </div>

      <!--  форма редактирования группы -->


      <form *ngIf="isGroup" [formGroup]="equipmentForm" class="form-container">
        <!--        <p-dropdown [disabled]="buttonsAreHidden" formControlName="sfi" class="select" optionLabel="code + ' - ' + ru" optionValue="code" placeholder="SFI" [options]="sfis" appendTo="body" styleClass="w-100 font-13" [filter]="true" filterBy="code,ru,en"> </p-dropdown>-->
        <label class="big-text-create mb-1 mt-10" for="nameGroup">{{t.tr('Наименование')}} </label>
        <input [readOnly]="buttonsAreHidden" pInputText id="nameGroup" type="text" formControlName="name" placeholder="{{t.tr('Наименование')}}">

        <div class="df space-between mt-10">
          <div class="half">
            <div class="big-text-create mb-1">{{t.tr('Проект')}}</div>
            <p-dropdown formControlName="project" [disabled]="buttonsAreHidden" [options]="equipmentProjects" appendTo = "body" styleClass="width-270 font-13"></p-dropdown>
          </div>
          <div class="half">
            <div class="big-text-create mb-1">{{t.tr('Отдел')}}</div>
            <p-dropdown [disabled]="buttonsAreHidden" formControlName="department" [options]="equipmentDepartments" appendTo = "body" styleClass="width-270 font-13"></p-dropdown>
          </div>
        </div>

        <label class="big-text-create mb-1 mt-10" for="commentGroup">{{t.tr('Комментарий')}}</label>
        <textarea [readOnly]="buttonsAreHidden" pInputText id="commentGroup" type="text" formControlName="comment" placeholder="{{t.tr('Комментарий')}}" style="resize: none"></textarea>
      </form>

      <!--форма редактирования оборудования (unit)-->
      <form *ngIf="!isGroup" [formGroup]="equipmentForm" class="form-container">
        <div>
          <div class="sfi-name">
            <div class="df flex-column space-between width-150">
              <label class="big-text-create mb-1" for="sfi_unit">{{t.tr('SFI')}}</label>
              <input pInputText id="sfi_unit"  type="text" formControlName="sfi_unit" placeholder="SFI-Unit" class="sfi-name-input">
            </div>

            <div class="df flex-column space-between">
              <label class="big-text-create mb-1" for="name">{{t.tr('Наименование')}} </label>
              <input [readOnly]="buttonsAreHidden" pInputText id="name" type="text" formControlName="name" class="sfi-name-input" placeholder="{{t.tr('Наименование')}}">
            </div>
          </div>
        </div>
        <div class="sfi-error">
          <span class="error cx" *ngIf="equipmentForm.get('sfi_unit')?.hasError('invalidSfiFormat')">
            Введите корректный SFI
          </span>
        </div>

        <label class="big-text-create mb-1 mt-10" for="comment">{{t.tr('Комментарий')}}</label>
        <textarea [readOnly]="buttonsAreHidden" pInputText id="comment" type="text" formControlName="comment" placeholder="{{t.tr('Комментарий')}}"></textarea>

      </form>

      <!--тут кнопка добавить файл и сохранить изменения для обеих форм-->
      <div class="df space-between">
        <div class="mr-5 mt-1">
          <div tabindex="10" [hidden]="buttonsAreHidden" (click)="addFiles()" class="button-ok">{{t.tr('Добавить файлы')}}</div>
        </div>

        <div class="mr-5 mt-20 ">
          <div tabindex="10" [hidden]="buttonsAreHidden" [class.disabled-button]="!equipmentForm.valid && !this.isGroup" (click)="editEquipment()" class="button-ok cxy" style="background-color: #22c55e">{{t.tr('Сохранить')}}</div>
          <!--      <div tabindex="10" [hidden]="buttonsAreHidden" (click)="close()" class="button-cancel cxy ml-20">{{t.tr('Отмена')}}</div>-->
        </div>
      </div>


      <!--  тут я добавляю файлы к любой из форм-->

      <div *ngIf="equipmentFilesSrc.length != 0" class="mt-20 ovf-auto">
        <p-table [value]="equipmentFilesSrc">
          <ng-template pTemplate="body" let-file>
            <tr class="border-top file_item task-row cursor-pointer">
              <td class="padding-5">
                <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">
                  <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>
                  <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 10) + ' '}}</span>
                </div>
              </td>
              <td style="cursor: default" class="padding-5">{{file.type_name}}</td>
              <td style="cursor: default" class="padding-5">REV{{file.rev}}</td>
              <td style="cursor: default" class="padding-5">{{this.auth.getUserNameById(file.user_id)}}</td>
              <td style="cursor: default">{{this.getDateOnly(file.create_date)}}</td>
              <td class="padding-5">
                <div (click)="downloadFile(file.url)">
                  <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                  </svg>
                </div>
              <td class="padding-5" [hidden]="buttonsAreHidden">
                <div (click)="deleteFile(file)">
                  <svg class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                  </svg>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!--  первая верия с линиями и разного цвета-->
      <!--  <div *ngIf="equipmentFilesSrc.length != 0" class="mt-20 ovf-auto">-->
      <!--    <p-table [value]="equipmentFilesSrc" styleClass="p-datatable-striped">-->
      <!--      <ng-template pTemplate="body" let-file>-->
      <!--        &lt;!&ndash;      <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">&ndash;&gt;-->
      <!--        <tr class="border-top task-row cursor-pointer">-->
      <!--          <td class="padding-5">-->
      <!--            <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">-->
      <!--              <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>-->
      <!--              <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 10) + ' '}}</span>-->
      <!--            </div>-->
      <!--          </td>-->
      <!--          <td class="padding-5">{{file.type_name}}</td>-->
      <!--          <td class="padding-5">REV{{file.rev}}</td>-->
      <!--          <td class="padding-5">{{this.auth.getUserNameById(file.user_id)}}</td>-->
      <!--          <td>{{this.getDateOnly(file.create_date)}}</td>-->
      <!--          <td class="padding-5">-->
      <!--            <div (click)="downloadFile(file.url)">-->
      <!--              <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
      <!--                <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>-->
      <!--              </svg>-->
      <!--            </div>-->
      <!--          <td class="padding-5" [hidden]="buttonsAreHidden">-->
      <!--            <div (click)="deleteFile(file)">-->
      <!--              <svg class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
      <!--                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>-->
      <!--              </svg>-->
      <!--            </div>-->
      <!--          </td>-->
      <!--        </tr>-->
      <!--      </ng-template>-->
      <!--    </p-table>-->
      <!--  </div>-->

      <!--  вывожу поставщиков -->
      <label *ngIf="suppliersArray?.length !=0" class="big-text-create mb-1" for="sfi_unit">{{t.tr('Поставщики')}}</label>
      <!--      <div style="margin-bottom: 15px; margin-top: 15px; font-size: 15px;" class="big-text-create" *ngIf="suppliersArray?.length !=0 ">{{t.tr('Поставщики')}}</div>-->
      <div *ngFor="let supplier of suppliersArray" class="pb-8" style="margin-top: 0.3rem">
        <div (click)="editSupplier(group, eq, supplier)" class="supplier_container" style="border-radius: 6px; cursor: pointer">
          <div class="supplier_header df">
            <div>
              <div><span style="margin-right: 8px" class="text-gray">ID {{supplier.id}}</span> {{supplier.model}} - {{supplier.name}} - {{supplier.manufacturer}}</div>
            </div>
            <div>
              <span [ngClass]="{'not-approved': supplier.status_id == 3, 'approved': supplier.status_id == 2, 'new': supplier.status_id == 1}">
                {{supplier.status}}
              </span>
            </div>
          </div>
          <div class="supplier_body">
            <div>
              <p class="supplier_body_header">{{t.tr('Вес, кг')}}</p>
              <p class="supplier_body_info">{{supplier.weight}}</p>
            </div>
            <div>
              <p class="supplier_body_header">{{t.tr('Эл. парам')}}</p>
              <p class="supplier_body_info">{{supplier.ele_param}}</p>
            </div>
            <div>
              <p class="supplier_body_header">{{t.tr('Мех. парам')}}</p>
              <p class="supplier_body_info">{{supplier.mech_param}}</p>
            </div>
            <div>
              <p class="supplier_body_header">{{t.tr('Installed')}}</p>
              <p class="supplier_body_info">-</p>
            </div>
            <div>
              <p class="supplier_body_header">{{t.tr('Комментарий')}}</p>
              <p class="supplier_body_info">{{supplier.comment}}</p>
            </div>
            <div>
              <p class="supplier_body_header">{{t.tr('Обновлено')}}</p>
              <p class="supplier_body_info">{{getDateOnly(supplier.last_update)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 20px 0">
      <div style="text-align: end; font-size: 13px">
        {{t.tr('Создано')}} {{getDateOnly(eq.create_date)}} {{t.tr('Автор')}} {{eq.respons_surname}} {{eq.respons_name}}
      </div>
    </div>



  </div>
  <p-toast key="equipment" position="bottom-center"></p-toast>
</div>




<!--здесь начинается старая версия-->
<!--<div class="df" style="justify-content: center; height: 100%">-->
<!--  <div class="eq-container">-->
<!--    <div style="width: 560px; border-radius: 6px">-->

<!--      <div class="header-parts df">-->
<!--        <div *ngIf="!isGroup" style="width: 100%">-->
<!--          <div class="f">-->
<!--            <span style="text-align: left; height: 17px" class="info-id">GROUP <span>- SFI {{this.group.sfi}}</span> <span>- {{this.group.name}}</span></span>-->

<!--            <div class=" df pt-10">-->
<!--              <div class="task-button cxy mr-20" tooltipPosition="top" [pTooltip]="t.tr('Удалить оборудование')" (click)="deleteEquipment(this.equipmentForm.value.id)" [class.button-disabled]="buttonsAreHidden">-->
<!--                <img src="assets/icons/trash.svg" height="20">-->
<!--              </div>-->
<!--              <div class="task-button-close cxy" (click)="closeSideBar()">-->
<!--                <i class="pi pi-times"></i>-->
<!--              </div>-->
<!--              &lt;!&ndash;          <button (click)="closeSideBar()">close</button>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--&lt;!&ndash;          <span class="info-id">ID {{this.group.id}} - GROUP - SFI {{this.group.sfi}} - {{this.group.name}}</span>&ndash;&gt;-->
<!--          <div style="text-align: left" class="pt-10 text-uppercase text-bold task-name"><span class="blue">UNIT </span>- SFI {{this.equipmentForm.value.sfi_unit}} - {{this.eq.name}} </div>-->
<!--&lt;!&ndash;          <div class="pt-20 text-uppercase text-bold">ID {{this.equipmentForm.value.id}} - SFI {{this.equipmentForm.value.sfi_unit}} - {{this.eq.name}}</div>&ndash;&gt;-->
<!--          &lt;!&ndash;      <div class="header-parts-text">{{t.tr('Редактировать оборудование')}}</div>&ndash;&gt;-->
<!--        </div>-->



<!--        <div *ngIf="isGroup" style="width: 100%">-->
<!--          <div class="f">-->
<!--            <div style="text-align: left; height: 17px" class="info-id"></div>-->
<!--            <div class="trash-close df pt-10">-->
<!--              <div class="task-button cxy mr-20" tooltipPosition="top" [pTooltip]="t.tr('Удалить оборудование')" (click)="deleteEquipment(this.equipmentForm.value.id)" [class.button-disabled]="buttonsAreHidden">-->
<!--                <img src="assets/icons/trash.svg" height="20">-->
<!--              </div>-->
<!--              <div class="task-button-close cxy" (click)="closeSideBar()">-->
<!--                <i class="pi pi-times"></i>-->
<!--              </div>-->
<!--              &lt;!&ndash;          <button (click)="closeSideBar()">close</button>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--&lt;!&ndash;          <span class="info-id">ID {{this.eq.id}}</span>&ndash;&gt;-->
<!--          <div style="text-align: left" class=" text-uppercase text-bold task-name  pt-10"><span class="blue">GROUP</span><span> - SFI {{this.equipmentForm.value.sfi}}</span><span> - {{this.equipmentForm.value.name}}</span></div>-->
<!--          &lt;!&ndash;      <div class="header-parts-text">{{t.tr('Редактировать группу')}}</div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash;  форма редактирования группы &ndash;&gt;-->
<!--      <form *ngIf="isGroup" [formGroup]="equipmentForm" class="form-container">-->
<!--        <div class="big-text-create mb-1">{{'SFI'}}</div>-->
<!--        &lt;!&ndash;        <p-dropdown [disabled]="buttonsAreHidden" formControlName="sfi" class="select" optionLabel="code + ' - ' + ru" optionValue="code" placeholder="SFI" [options]="sfis" appendTo="body" styleClass="w-100 font-13" [filter]="true" filterBy="code,ru,en"> </p-dropdown>&ndash;&gt;-->
<!--        <p-dropdown [options]="sfis" [disabled]="buttonsAreHidden" formControlName="sfi" class="select" optionValue="code" (onChange)="changeSFI()"-->
<!--                    placeholder="SFI"  appendTo = "body" styleClass="w-100 font-13" [filter]="true" filterBy="code,ru,en">-->
<!--          <ng-template pTemplate="selectedItem">-->
<!--            <div class="flex align-items-center gap-2">-->
<!--              {{sfiAndName}}-->
<!--            </div>-->
<!--          </ng-template>-->
<!--          <ng-template let-sfi pTemplate="item">-->
<!--            <div class="df">-->
<!--              <div class="pr-10">{{sfi.code}}</div>-->
<!--              <div>-->
<!--                <div class="text-gray">{{sfi.ru}}</div>-->
<!--                <div >{{sfi.eng}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </ng-template>-->
<!--        </p-dropdown>-->
<!--        <div class="df space-between mt-10">-->
<!--          <div class="half">-->
<!--            <div class="big-text-create mb-1">{{t.tr('Проект')}}</div>-->
<!--            <p-dropdown formControlName="project" [disabled]="buttonsAreHidden" [options]="equipmentProjects" appendTo = "body" styleClass="width-270 font-13"></p-dropdown>-->
<!--          </div>-->
<!--          <div class="half">-->
<!--            <div class="big-text-create mb-1">{{t.tr('Отдел')}}</div>-->
<!--            <p-dropdown [disabled]="buttonsAreHidden" formControlName="department" [options]="equipmentDepartments" appendTo = "body" styleClass="width-270 font-13"></p-dropdown>-->
<!--          </div>-->
<!--        </div>-->


<!--        <label class="big-text-create mb-1 mt-10" for="nameGroup">{{t.tr('Наименование')}} </label>-->
<!--        <input [readOnly]="buttonsAreHidden" pInputText id="nameGroup" type="text" formControlName="name" placeholder="{{t.tr('Наименование')}}">-->

<!--        <label class="big-text-create mb-1 mt-10" for="commentGroup">{{t.tr('Комментарий')}}</label>-->
<!--        <textarea [readOnly]="buttonsAreHidden" pInputText id="commentGroup" type="text" formControlName="comment" placeholder="{{t.tr('Комментарий')}}" style="resize: none"></textarea>-->
<!--      </form>-->

<!--      &lt;!&ndash;форма редактирования оборудования (unit)&ndash;&gt;-->
<!--      <form *ngIf="!isGroup" [formGroup]="equipmentForm" class="form-container">-->
<!--        <div>-->
<!--          <div class="sfi-name">-->
<!--            <div class="df flex-column space-between width-150">-->
<!--              <label class="big-text-create mb-1" for="sfi_unit">{{t.tr('SFI')}}</label>-->
<!--              <input pInputText id="sfi_unit"  type="text" formControlName="sfi_unit" placeholder="SFI-Unit" class="sfi-name-input">-->
<!--            </div>-->

<!--            <div class="df flex-column space-between">-->
<!--              <label class="big-text-create mb-1" for="name">{{t.tr('Наименование')}} </label>-->
<!--              <input [readOnly]="buttonsAreHidden" pInputText id="name" type="text" formControlName="name" class="sfi-name-input" placeholder="{{t.tr('Наименование')}}">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="sfi-error">-->
<!--          <span class="error cx" *ngIf="equipmentForm.get('sfi_unit')?.hasError('invalidSfiFormat')">-->
<!--            Введите корректный SFI-->
<!--          </span>-->
<!--        </div>-->
<!--&lt;!&ndash;        <label class="big-text-create mb-1 mt-10" for="sfi_unit">{{t.tr('SFI')}}</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input pInputText id="sfi_unit"  formControlName="sfi_unit" placeholder="999.999">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="error cx" *ngIf="equipmentForm.get('sfi_unit')?.hasError('invalidSfiFormat')">&ndash;&gt;-->
<!--&lt;!&ndash;      Введите корректный SFI (в формате 999.999)&ndash;&gt;-->
<!--&lt;!&ndash;    </span>&ndash;&gt;-->
<!--        &lt;!&ndash;    <input [readOnly]="buttonsAreHidden" pInputText id="sfi_unit" type="text" formControlName="sfi_unit" placeholder="{{t.tr('SFI')}}">&ndash;&gt;-->


<!--&lt;!&ndash;        <label class="big-text-create mb-1 mt-10" for="name">{{t.tr('Наименование')}} </label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input [readOnly]="buttonsAreHidden" pInputText id="name" type="text" formControlName="name" placeholder="{{t.tr('Наименование')}}">&ndash;&gt;-->

<!--        &lt;!&ndash;    <label class="big-text-create mb-1 mt-10" for="description">{{t.tr('Описание')}}</label>&ndash;&gt;-->
<!--        &lt;!&ndash;    <input [readOnly]="buttonsAreHidden" pInputText id="description" type="text" formControlName="description" placeholder="{{t.tr('Описание')}}">&ndash;&gt;-->

<!--        <label class="big-text-create mb-1 mt-10" for="comment">{{t.tr('Комментарий')}}</label>-->
<!--        <textarea [readOnly]="buttonsAreHidden" pInputText id="comment" type="text" formControlName="comment" placeholder="{{t.tr('Комментарий')}}"></textarea>-->


<!--      </form>-->

<!--      &lt;!&ndash;тут кнопка добавить файл и сохранить изменения для обеих форм&ndash;&gt;-->
<!--      <div class="df space-between">-->
<!--        <div class="mr-5 mt-1">-->
<!--          <div tabindex="10" [hidden]="buttonsAreHidden" (click)="addFiles()" class="button-ok">{{t.tr('Добавить файлы')}}</div>-->
<!--        </div>-->

<!--        <div class="mr-5 mt-20 ">-->
<!--          <div tabindex="10" [hidden]="buttonsAreHidden" [class.disabled-button]="!equipmentForm.valid && !this.isGroup" (click)="editEquipment()" class="button-ok cxy" style="background-color: #22c55e">{{t.tr('Сохранить')}}</div>-->
<!--          &lt;!&ndash;      <div tabindex="10" [hidden]="buttonsAreHidden" (click)="close()" class="button-cancel cxy ml-20">{{t.tr('Отмена')}}</div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->


<!--      &lt;!&ndash;  тут я добавляю файлы к любой из форм&ndash;&gt;-->

<!--      <div *ngIf="equipmentFilesSrc.length != 0" class="mt-20 ovf-auto">-->
<!--        <p-table [value]="equipmentFilesSrc">-->
<!--          <ng-template pTemplate="body" let-file>-->
<!--            <tr class="border-top file_item task-row cursor-pointer">-->
<!--              <td class="padding-5">-->
<!--                <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">-->
<!--                  <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>-->
<!--                  <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 10) + ' '}}</span>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td style="cursor: default" class="padding-5">{{file.type_name}}</td>-->
<!--              <td style="cursor: default" class="padding-5">REV{{file.rev}}</td>-->
<!--              <td style="cursor: default" class="padding-5">{{this.auth.getUserNameById(file.user_id)}}</td>-->
<!--              <td style="cursor: default">{{this.getDateOnly(file.create_date)}}</td>-->
<!--              <td class="padding-5">-->
<!--                <div (click)="downloadFile(file.url)">-->
<!--                  <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
<!--                    <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>-->
<!--                  </svg>-->
<!--                </div>-->
<!--              <td class="padding-5" [hidden]="buttonsAreHidden">-->
<!--                <div (click)="deleteFile(file)">-->
<!--                  <svg class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
<!--                    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>-->
<!--                  </svg>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--          </ng-template>-->
<!--        </p-table>-->
<!--      </div>-->
<!--      &lt;!&ndash;  первая верия с линиями и разного цвета&ndash;&gt;-->
<!--      &lt;!&ndash;  <div *ngIf="equipmentFilesSrc.length != 0" class="mt-20 ovf-auto">&ndash;&gt;-->
<!--      &lt;!&ndash;    <p-table [value]="equipmentFilesSrc" styleClass="p-datatable-striped">&ndash;&gt;-->
<!--      &lt;!&ndash;      <ng-template pTemplate="body" let-file>&ndash;&gt;-->
<!--      &lt;!&ndash;        &lt;!&ndash;      <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">&ndash;&gt;&ndash;&gt;-->
<!--      &lt;!&ndash;        <tr class="border-top task-row cursor-pointer">&ndash;&gt;-->
<!--      &lt;!&ndash;          <td class="padding-5">&ndash;&gt;-->
<!--      &lt;!&ndash;            <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">&ndash;&gt;-->
<!--      &lt;!&ndash;              <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>&ndash;&gt;-->
<!--      &lt;!&ndash;              <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 10) + ' '}}</span>&ndash;&gt;-->
<!--      &lt;!&ndash;            </div>&ndash;&gt;-->
<!--      &lt;!&ndash;          </td>&ndash;&gt;-->
<!--      &lt;!&ndash;          <td class="padding-5">{{file.type_name}}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;          <td class="padding-5">REV{{file.rev}}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;          <td class="padding-5">{{this.auth.getUserNameById(file.user_id)}}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;          <td>{{this.getDateOnly(file.create_date)}}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;          <td class="padding-5">&ndash;&gt;-->
<!--      &lt;!&ndash;            <div (click)="downloadFile(file.url)">&ndash;&gt;-->
<!--      &lt;!&ndash;              <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">&ndash;&gt;-->
<!--      &lt;!&ndash;                <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>&ndash;&gt;-->
<!--      &lt;!&ndash;              </svg>&ndash;&gt;-->
<!--      &lt;!&ndash;            </div>&ndash;&gt;-->
<!--      &lt;!&ndash;          <td class="padding-5" [hidden]="buttonsAreHidden">&ndash;&gt;-->
<!--      &lt;!&ndash;            <div (click)="deleteFile(file)">&ndash;&gt;-->
<!--      &lt;!&ndash;              <svg class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">&ndash;&gt;-->
<!--      &lt;!&ndash;                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>&ndash;&gt;-->
<!--      &lt;!&ndash;              </svg>&ndash;&gt;-->
<!--      &lt;!&ndash;            </div>&ndash;&gt;-->
<!--      &lt;!&ndash;          </td>&ndash;&gt;-->
<!--      &lt;!&ndash;        </tr>&ndash;&gt;-->
<!--      &lt;!&ndash;      </ng-template>&ndash;&gt;-->
<!--      &lt;!&ndash;    </p-table>&ndash;&gt;-->
<!--      &lt;!&ndash;  </div>&ndash;&gt;-->

<!--      &lt;!&ndash;  вывожу поставщиков &ndash;&gt;-->
<!--      <label *ngIf="suppliersArray?.length !=0" class="big-text-create mb-1" for="sfi_unit">{{t.tr('Поставщики')}}</label>-->
<!--&lt;!&ndash;      <div style="margin-bottom: 15px; margin-top: 15px; font-size: 15px;" class="big-text-create" *ngIf="suppliersArray?.length !=0 ">{{t.tr('Поставщики')}}</div>&ndash;&gt;-->
<!--      <div *ngFor="let supplier of suppliersArray" class="pb-8" style="margin-top: 0.3rem">-->
<!--        <div (click)="editSupplier(group, eq, supplier)" class="supplier_container" style="border-radius: 6px; cursor: pointer">-->
<!--          <div class="supplier_header df">-->
<!--            <div>-->
<!--              <div><span style="margin-right: 8px" class="text-gray">ID {{supplier.id}}</span> {{supplier.model}} - {{supplier.name}} - {{supplier.manufacturer}}</div>-->
<!--            </div>-->
<!--            <div>-->
<!--              <span [ngClass]="{'not-approved': supplier.status_id == 3, 'approved': supplier.status_id == 2, 'new': supplier.status_id == 1}">-->
<!--                {{supplier.status}}-->
<!--              </span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="supplier_body">-->
<!--            <div>-->
<!--              <p class="supplier_body_header">{{t.tr('Вес, кг')}}</p>-->
<!--              <p class="supplier_body_info">{{supplier.weight}}</p>-->
<!--            </div>-->
<!--            <div>-->
<!--              <p class="supplier_body_header">{{t.tr('Эл. парам')}}</p>-->
<!--              <p class="supplier_body_info">{{supplier.ele_param}}</p>-->
<!--            </div>-->
<!--            <div>-->
<!--              <p class="supplier_body_header">{{t.tr('Мех. парам')}}</p>-->
<!--              <p class="supplier_body_info">{{supplier.mech_param}}</p>-->
<!--            </div>-->
<!--            <div>-->
<!--              <p class="supplier_body_header">{{t.tr('Installed')}}</p>-->
<!--              <p class="supplier_body_info">-</p>-->
<!--            </div>-->
<!--            <div>-->
<!--              <p class="supplier_body_header">{{t.tr('Комментарий')}}</p>-->
<!--              <p class="supplier_body_info">{{supplier.comment}}</p>-->
<!--            </div>-->
<!--            <div>-->
<!--              <p class="supplier_body_header">{{t.tr('Обновлено')}}</p>-->
<!--              <p class="supplier_body_info">{{getDateOnly(supplier.last_update)}}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--  </div>-->
<!--  <div style="padding: 20px 0">-->
<!--    <div style="text-align: end; font-size: 13px">-->
<!--      {{t.tr('Создано')}} {{getDateOnly(eq.create_date)}} {{t.tr('Автор')}} {{eq.respons_surname}} {{eq.respons_name}}-->
<!--    </div>-->
<!--  </div>-->



<!--</div>-->
<!--  <p-toast key="equipment" position="bottom-center"></p-toast>-->
<!--</div>-->
