.form-container {
  display: flex;
  flex-direction: column;
}

.header-info {
  display: flex;
  justify-content: space-between;
}

.disabled {
  opacity: 0.5;
}

/deep/.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.delete-button {
  cursor: pointer;
}

