/deep/.p-datatable .p-datatable-tbody > tr {
  background: #ffffff;
  color: #495057;
  transition: box-shadow 0.2s;
}
/deep/.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 1.5rem;
}
/deep/ .p-inputtext {
  padding: 8px 10px;
}
/deep/ .p-inputtext:hover {
  background-color: rgba(9, 30, 66, 0.08);
}
/deep/.p-dialog .p-dialog-content {
  border-radius: 5px;
}

.task-button-close{
  width: 2rem;
  height: 2rem;
  color: #605e5c;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.task-button-close:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}

.header-parts{
  border-bottom: 0 none;
  background: #ffffff;
  color: #323130;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.filter{
  margin-left: auto;
}
.parts-button-close{
  color: #605e5c;
  width: 2rem;
  height: 2rem;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.parts-button-close:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
.header-parts-text{
  font-weight: 600;
  font-size: 1.5rem;
}
.task-button{
  width: 2rem;
  height: 2rem;
  color: #605e5c;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  padding: 5px;
}
.task-button:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
.info-id{
  color: rgb(137, 147, 164);
  font-size: 13px;
}
.big-text-create{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
.icon-nest{
  fill: #E1E1E1;
}
.icon-nest:hover{
  fill: #5e6c84;
}
.text-gray{
  color: #A8A7A6;
}
.header {
  display: flex;
  justify-content: space-between;
}
.task-name-button {
  padding: 0px 10px;
  background-color: rgba(9, 30, 66, 0.04);
  height: 32px;
  border-radius: 2px;
  box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.2);
  border: 1px solid #dedede69;
}
.task-name-button:hover{
  background-color: rgba(9, 30, 66, 0.08);
}
.form-container {
  display: flex;
  flex-direction: column;
}
.header-info {
  display: flex;
  justify-content: space-between;
}
.disabled {
  opacity: 0.5;
}
.delete-button {
  cursor: pointer;
}
.edit-container {
  display: flex;
  flex-direction: column;
}
.header-info {
  display: flex;
  justify-content: space-between;
}
.delete-button {
  cursor: pointer;
}
.main-body {
  display: grid;
  gap: 25px;
  grid-template-columns: 2fr 1fr;
}
.main-right {
  display: flex;
  flex-direction: column;
}
.info_sfi {
  font-weight: 600;
  font-size: 14px;
  color: grey;
}
.info-name {
  font-weight: 600;
  font-size: x-large;
  margin-top: 16px;
}
.main-info_description {
  display: flex;
  flex-direction: column;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.border-top{
  border-top: 1px solid #dee2e6;
}
.test {
  margin-left: 15px;
  color: #0EA97D;
}
.task-row:hover {
  background-color: #EEF5FA !important;
}

.supplier_container {
  background-color: rgb(247 246 246);
  padding: 10px;
}

.supplier_header {
  justify-content: space-between;
  text-transform: uppercase;
}

.supplier_body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
  text-align: center;
  font-size: 10px;
  margin-top: 15px;
  gap: 7px;
}

.error {
  color: red;
}

.blue {
  color: #3B94D6;
}

.half {
  width: 48%;
}

.width-100pr {
  width: 100%;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border-bottom: none;
}
/*чтоб убрать линии в таблице с файлами*/
/deep/ .p-datatable table {
  border-collapse: collapse;
}

/deep/ .p-datatable .p-datatable-tbody > tr {
  border: none;
}

/deep/ .p-datatable .p-datatable-tbody > tr:hover {
  background-color: rgba(9, 30, 66, 0.08) !important
}

.eq-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.supplier_body_header {
  color: #6f7c93;
  margin-bottom: 7px;
}

.sfi-name {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.sfi-name-input {
  width: 100%
}

.sfi-error {
  margin-top: 0.3rem;
  display: flex;
}

.not-approved {
  color: #a3392b;
  background-color: #F5BBB2;
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: .3px;
}

.approved {
  color: #256029;
  background-color: #c8e6c9;
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: .3px
}

.new {
  color: #23547b;
  background-color: #b3e5fc;
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: .3px;
}

.supplier_body_info {
  font-weight: bold;
  font-size: 11px;
}

.task-name{
  font-size: large;
  font-weight: 600;
  border-radius: 3px;
  text-align: justify;
  position: relative;
}

.trash-close {
  max-width: 8em;
  min-height: 2em;
  margin-left: auto;
  margin-right: 0;
  justify-content: end;
  position: relative;
  left: 25px;
}

.f {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* width: 100%; */
  align-items: center;
}

