.dialog{
  height: 80vh;
  width: 80vw;
}
/deep/.p-multiselect-header {
  display: none!important;
}
/deep/.p-component{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
  padding: 8px 10px 8px 10px;
}
/deep/.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: 1.5rem;
  height: 1.5rem;
}
/deep/.pi {
  font-size: 14px;
}
/deep/.p-tree{
  height: calc(100vh - 237px);
  overflow: auto;
  padding: 10px;
  border: none;
}
/deep/.p-dialog .p-dialog-content {
  border-radius: 6px;
  padding: 20px!important;
}
/deep/.p-datatable .p-datatable-tbody > tr > td{
  padding: 12px;
}
/deep/.p-datatable .p-datatable-thead > tr > th{
  padding: 12px 8px;
  font-weight: 500;
}
/deep/.p-datatable .p-datatable-header {
  padding: 0.75rem 0 0.75rem 0;
}
.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem!important;
}
.card-head{
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 8px;
  height: 65px;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}
.cards{
  overflow: auto;
  height: calc(100vh - 205px);
  background-color: white;
  padding: 10px 10px 10px 0;
}
.menu-card{
  padding: 40px 0 0 0;
  width: 100%;
  min-width: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.1s;
}
.materials-button{
  height: 37px;
  width: 37px;
  cursor: pointer;
  border-radius: 6px;
}

.row-table-doc-hover:hover{
  background-color: #EEF2FF;
}
.trm-materials{
  color: #323130;
  font-size: 12px;
  font-weight: 600;
  min-width: 120px;
}
.trm-copy-materials{
  padding: 2px 4px;
  width: 20px;
}
.copy-tooltip-trm{
  position: absolute;
  top: -28px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 13px 0px rgb(34 60 80 / 16%);
  font-size: 12px;
  padding: 4px 6px;
  color: #3a3a3ade;
  z-index: 100;
}
.mini-notes{
  color: #a1b9d3;
  font-size: 12px;
  margin-left: 5px;
}
.disabled-button{
  opacity: 0.5;
  pointer-events: none;
}
.selected-material{
  background-color: #e3e7f7 !important;
}
.search-right{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.text-12{
  font-size: 12px;
}
.title-bold{
  font-weight: 500;
  font-size: 15px;
  color: #3a3a3a;
}
.button-ok{
  border: none;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #fff;
  background: #3B94D6;
  transition: background .1s
}
.button-ok:hover{
  background-color: #2C7BB6;
}
.button-cancel{
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #2E3E4E;
  background: #fff;
  transition: background .1s;
  border: none;
}
.button-cancel:hover{
  background-color: #ECEDF0;
}
.close-button{
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  margin-right: -10px;
}
.task-button-close{
  width: 2rem;
  height: 2rem;
  color: #605e5c;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.task-button-close:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
