<div class="daily-task">
  <div class="header-row pt-20">
    <div>{{t.tr('Ежедневные отчеты')}}</div>
    <div class="close-button">
      <div class="task-button-close cxy" (click)="close()">
        <i class="pi pi-times"></i>
      </div>
    </div>
  </div>
  <div>{{t.tr('Заполните информацию о ваших задачах на выбранный день')}}</div>
  <div class="df space-between">
    <div>
      <div class="big-text-create mb-1 mt-1">{{t.tr('Выбор даты')}}</div>
      <p-calendar [showWeek]="true" [firstDayOfWeek]="1" appendTo = "body" id="calendar" dateFormat="dd.mm.yy" styleClass="width-220" [(ngModel)]="calendarDay"></p-calendar>
    </div>
    <div>
      <div class="big-text-create mb-1 mt-1">{{t.tr('Отработанные часы')}}</div>
      <p-inputNumber [(ngModel)]="amountOfHours"></p-inputNumber>
    </div>
  </div>
  <div class="cxy mt-20">
    <div class="new-task-list blue-button cxy" [pTooltip]="t.tr('Нажмите здесь, чтобы заполнить свои ежедневные задачи')" tooltipPosition="top" (click)="addHoursToList()">
      <div class="pr-10 cxy">
        <img src="assets/icons/plus3.svg" height="18">
      </div>
      <div class="cxy">{{t.tr('Добавить задачу')}}</div>
    </div>
  </div>
  <div>
    <div class="ovf-auto tasks mt-1">
      <div *ngFor="let task of tasks">
        <div class="task-row mt-5">
          <div class="df">
          </div>
          <div class="df space-between">
            <div>
              <div class="big-text-create mb-1 ">{{t.tr('Проект')}}</div>
              <div><p-dropdown appendTo="body" placeholder="project" class="select" [(ngModel)]="task.project" [options]="projects" styleClass="width-200 border" (ngModelChange)="onProjectChanged(task)"></p-dropdown></div>
              <div class="mt-10" *ngIf="task.project == 'OTHER'">
                <input type="text" [placeholder]="t.tr('Проект')" pInputText [(ngModel)]="task.projectValue" class="width-200" />
              </div>
            </div>
            <div>
              <div class="big-text-create mb-1 ">{{t.tr('Номер документа')}}</div>
              <div><p-dropdown [filter]="true" filterBy="value" [disabled]="task.project == 'OTHER'" appendTo="body" placeholder="document" class="select" [(ngModel)]="task.docNumber" [options]="docNumbers" styleClass="width-200 border"></p-dropdown></div>
              <div class="mt-10" *ngIf="task.docNumber == 'OTHER'">
                <input type="text" [placeholder]="t.tr('Номер документа')" pInputText [(ngModel)]="task.docNumberValue" class="width-200" />
              </div>
            </div>
            <div>
              <div class="big-text-create mb-1">{{t.tr('Действие')}}</div>
              <div><p-dropdown [disabled]="task.docNumber == 'OTHER'" appendTo="body" placeholder="document" class="select" [(ngModel)]="task.action" [options]="actions" styleClass="width-200 border"></p-dropdown></div>
              <div class="mt-10" *ngIf="task.action == 'OTHER'">
                <input type="text" [placeholder]="t.tr('Действие')" pInputText [(ngModel)]="task.actionValue" class="width-200" />
              </div>
            </div>
          </div>
          <div class="df">
            <div>
              <div class="big-text-create mb-1 mt-1">{{t.tr('Подробности')}}</div>
              <div><input type="text" pInputText [(ngModel)]="task.details" class="width-440" /></div>
            </div>
            <div class="ml-1">
              <div class="big-text-create mb-1 mt-1">Hours</div>
              <p-inputNumber mode="decimal" inputStyleClass="width-50" [(ngModel)]="task.hours"></p-inputNumber>
            </div>
            <div class="ml-1">
              <div class="big-text-create mb-1 mt-1">Minutes</div>
              <p-inputNumber mode="decimal" inputStyleClass="width-50" [(ngModel)]="task.minutes"></p-inputNumber>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="error-text cx">
      <div *ngIf="error != ''">
        {{error}}!
      </div>
    </div>
  </div>
  <div class="height-60">
    <div class="df">
      <div class="df cy">
        <div class="big-text-create mr-5">{{t.tr('Вы использовали:')}}</div>
        <div class="big-text mr-5 mt-minus2" [class.error-text-highlight]="getSum() != amountOfHours">{{getTime(getSum())}}</div>
        <div class="big-text-create mr-5" [class.error-text-highlight]="getSum() != amountOfHours">{{t.tr('из')}}</div>
        <div class="big-text mr-5 mt-minus2" [class.error-text-highlight]="getSum() != amountOfHours">{{amountOfHours}}</div>
        <div class="big-text-create mr-5">{{t.tr('часов')}}</div>
      </div>
      <div class="p-ml-auto df ">
        <div class="mr-10 cx">
          <div tabindex="10" (click)="sendHours()" pButton [label]="t.tr ('Отправить')" class="button-ok"></div>
        </div>
        <div tabindex="11" (click)="cancel()" pButton [label]="t.tr ('Отмена')" class="button-cancel ml-1"></div>
      </div>

    </div>
  </div>



</div>
