<div class="daily-task">
  <div class="header-row pt-20">
    <div>{{t.tr('Ежедневные отчеты')}}</div>
    <div class="close-button">
      <div class="task-button-close cxy" (click)="close()">
        <i class="pi pi-times"></i>
      </div>
    </div>
  </div>
  <div>{{t.tr('Заполните информацию о ваших задачах на выбранный день')}}</div>
  <div class="df space-between">
    <div>
      <div class="big-text-create mb-1 mt-1">{{t.tr('Выбор даты')}}</div>
      <p-calendar [showWeek]="true" [firstDayOfWeek]="1" appendTo = "body" id="calendar" dateFormat="dd.mm.yy" styleClass="width-220" [(ngModel)]="calendarDay" (ngModelChange)="dayChanged()"></p-calendar>
    </div>
<!--    <div>-->
<!--      <div class="big-text-create mb-1 mt-1">{{t.tr('Отработанные часы')}}</div>-->
<!--      <p-inputNumber [(ngModel)]="amountOfHours"></p-inputNumber>-->
<!--    </div>-->
  </div>
  <div class="cxy mt-20">
    <div class="new-task-list blue-button cxy" [pTooltip]="t.tr('Нажмите здесь, чтобы заполнить свои ежедневные задачи')" tooltipPosition="top" (click)="addHoursToList()">
      <div class="pr-10 cxy">
        <img src="assets/icons/plus3.svg" height="18">
      </div>
      <div class="cxy">{{t.tr('Добавить задачу')}}</div>
    </div>
  </div>
  <div>
    <div class="ovf-auto tasks mt-1">
      <div *ngFor="let task of tasks">
        <div class="task-row mt-5">
          <div class="mr-5">
            <div class="df space-between">
              <div>
                <div class="big-text-create mb-1 ">{{t.tr('Проект')}}</div>
                <div>
                  <p-autoComplete styleClass="width-195" [(ngModel)]="task.project" [suggestions]="filteredProjects" (completeMethod)="filterProjects($event)" field="value" [dropdown]="true">
                    <ng-template let-project pTemplate="item">
                      <div>
                        <div>{{project.value}}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
              </div>
              <div>
                <div class="big-text-create mb-1 ">{{t.tr('Номер документа')}}</div>

                <p-autoComplete styleClass="width-195" [(ngModel)]="task.docNumber" [suggestions]="filteredDocNumbers" (completeMethod)="filterDocNumbers($event)" field="value" [dropdown]="true">
                  <ng-template let-docNumber pTemplate="item">
                    <div>
                      <div>{{docNumber.value}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>

              </div>
              <div>
                <div class="big-text-create mb-1">{{t.tr('Действие')}}</div>
                <p-autoComplete styleClass="width-195" [(ngModel)]="task.action" [suggestions]="filteredActions" (completeMethod)="filterActions($event)" field="value" [dropdown]="true">
                  <ng-template let-action pTemplate="item">
                    <div>
                      <div>{{action.value}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </div>
            <div class="df">
              <div>
                <div class="big-text-create mb-1 mt-1">{{t.tr('Подробности')}}</div>
                <div><input (ngModelChange)="check()" [class.invalid-dropdown]="isInvalid(task.id + '-d')" [disabled]="task.hidden" type="text" pInputText [(ngModel)]="task.details" class="width-458" /></div>
              </div>
              <div class="ml-1">
                <div class="big-text-create mb-1 mt-1">Hours</div>
                <p-inputNumber (ngModelChange)="check()" [disabled]="task.hidden" [class.ng-dirty]="isInvalid(task.id + '-t')" [class.ng-touched]="isInvalid(task.id + '-t')" [class.ng-invalid]="isInvalid(task.id + '-t')" [max]="dayHoursToWork" mode="decimal" inputStyleClass="width-50" [(ngModel)]="task.hours"></p-inputNumber>
              </div>
              <div class="ml-1">
                <div class="big-text-create mb-1 mt-1">Minutes</div>
                <p-inputNumber (ngModelChange)="check()" [disabled]="task.hidden" [class.ng-dirty]="isInvalid(task.id + '-t')" [class.ng-touched]="isInvalid(task.id + '-t')" [class.ng-invalid]="isInvalid(task.id + '-t')" [min]="0" [max]="59" mode="decimal" inputStyleClass="width-50" [(ngModel)]="task.minutes"></p-inputNumber>
              </div>
            </div>
          </div>
          <div class="mr-10 ml-minus5">
            <div class="task-button-del cxy" (click)="deleteDailyTask(task)">
              <i class="pi pi-times times-font-size"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="error-text cx">
      <div *ngIf="error != ''">
        {{error}}!
      </div>
    </div>
  </div>
  <div class="df flex-end space-between">

      <div class="df cy">
        <div class="big-text-create mr-5">{{t.tr('Вы использовали:')}}</div>
        <div class="big-text mr-5 mt-minus2" [class.error-text-highlight]="getSum() != amountOfHours">{{getTime(getSum())}}</div>
        <div class="big-text-create mr-5" [class.error-text-highlight]="getSum() != amountOfHours">{{t.tr('из')}}</div>
        <div class="big-text mr-5 mt-minus2" [class.error-text-highlight]="getSum() != amountOfHours">{{amountOfHours}}</div>
        <div class="big-text-create mr-5">{{t.tr('часов')}}</div>
      </div>
      <div class="df ">
        <div class="mr-10 cx">
          <div tabindex="10" (click)="sendHours()" pButton [label]="t.tr ('Отправить')" class="button-ok"></div>
        </div>
        <div tabindex="11" (click)="cancel()" pButton [label]="t.tr ('Отмена')" class="button-cancel ml-1"></div>
      </div>


  </div>



</div>
