<div style="height: 470px; width: 600px;">
  <div class="header-user-card">
    <div class="header-text">Информация о пользователе</div>
    <div class="task-button-user cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="body-user-card">
    <div>
      <div class="common-row mb-10">
        <div class="big-text mb-1">Имя</div>
        <div class="user-name">{{user.name}}</div>
      </div>
      <div class="common-row mb-10">
        <div class="big-text mb-1">Фамилия</div>
        <div class="user-name">{{user.surname}}</div>
      </div>
      <div class="common-row mb-10">
        <div class="big-text mb-1">Отдел</div>
        <div class="user-name">{{user.department}}</div>
      </div>
      <div class="common-row mb-10">
        <div class="big-text mb-1">Должность</div>
        <div class="user-name">{{user.profession}}</div>
      </div>
      <div class="common-row mb-10">
        <div class="big-text mb-1">Телефон</div>
        <div class="user-name">{{user.phone}}</div>
      </div>
      <div class="common-row mb-10">
        <div class="big-text mb-1">Адрес эл. почты</div>
        <div class="user-name">{{user.email}}</div>
      </div>
    </div>
    <div class="user-avatar">
      <div class="position-relative">
        <section class="image">
          <div class="image__src" [ngStyle]="getStyle(user.avatar_full)"></div>
        </section>
      </div>
      <div class="cxy mt-30">
        <div class="big-text mb-10">Написать</div>
      </div>
      <div class="messengers">
        <div class="cy">
          <a [href]="sanitize('rocketchat://room?host=rocket.nautic-rus.ru&path=direct/' + user.rocket_login)">
            <img src="assets/icons/rocket.png">
          </a>
          <div class="min-text">Rocket</div>
        </div>
        <div class="cxy cy">
          <a [href]="sanitize('https://web.whatsapp.com/send?phone=' + user.phone)">
            <img src="assets/icons/whatsapp.png">
          </a>
          <div class="min-text">WhatsApp</div>
        </div>
        <div class="content-flex-end">

          <a [href]="sanitize('mailto:' + user.email)">
            <img src="assets/icons/mail.png">
          </a>
          <div class="min-text">Mail.ru</div>
        </div>
      </div>
    </div>
  </div>
</div>
