.form-container{
  display: flex;
  flex-direction: column;
}

/deep/.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 1.5rem;
}

/deep/.p-dialog .p-dialog-content {
  border-radius: 5px !important;
}
/deep/ .p-inputtext {
  font-size: 13px;
  padding: 8px 10px;
}
.header-parts{
  border-bottom: 0 none;
  background: #ffffff;
  color: #323130;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
.header-parts-text{
  font-weight: 600;
  font-size: 1.5rem;
}
.parts-button-close{
  color: #605e5c;
  width: 2rem;
  height: 2rem;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.parts-button-close:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}

.two-inputs {
  display: grid;
  grid-template-columns: 2.75fr 1.25fr;
  gap: 20px;
}

