.form-container{
  display: flex;
  flex-direction: column;
}

/deep/.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 1.5rem;
}

/deep/ .p-dialog .p-dialog-content {
  border-radius: 0 0 6px 6px;
}


.button-cancel{
  margin-right: 4px;
  min-width: 70px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #2E3E4E;
  background: #fff;
  transition: background .1s;
  border: none;
  font-weight: 500;
}
.button-cancel:hover{
  background-color: #ECEDF0;
}

/deep/ .p-inputtext {
  font-size: 13px;
  padding: 8px 10px;
}

.cx {
  justify-content: flex-start;
}

/*.form-footer-create {*/
/*  display: flex;*/
/*}*/


