<form [formGroup]="suppliersForm" class="form-container">
  <div class="big-text-create mb-1 " >{{'Добавить поставщика'}}</div>

  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name">

  <label for="manufacturer">manufacturer </label>
  <input id="manufacturer" type="text" formControlName="manufacturer">

  <label for="description">description </label>
  <input id="description" type="text" formControlName="description">

  <div class="mr-5 cx">
    <div tabindex="10" [class.disabled-button]="!suppliersForm.valid" (click)="createSupplier()" class="button-ok cxy">{{'Создать'}}</div>
    <div tabindex="10" (click)="close()" pButton [label]="'Отмена'" class="button-cancel ml-1"></div>
  </div>

  <div tabindex="10" (click)="addFiles()" pButton [label]="'Add files'" class="button ml-1"></div>
</form>

<hr>

<p>Form Value: {{ suppliersForm.value | json }}</p>

<p>Form Status: {{ suppliersForm.status }}</p>
