<div style="height: 630px; width: 460px;">
  <div class="header-parts">
    <div class="header-parts-text">{{t.tr('Добавить поставщика')}}</div>
    <div class="df">
      <div class="parts-button-close cxy" (click)="close()">
        <i class="pi pi-times"></i>
      </div>
    </div>
  </div>

  <div class="big-text-create mb-1">{{t.tr('Наименование')}}</div>
  <form [formGroup]="suppliersForm" class="form-container ng-star-inserted">
    <div class="df">
      <input *ngIf="addedNewSupp" id="name" type="text" class="p-inputtext p-component p-element width-300 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" formControlName="name">
      <p-dropdown *ngIf="!addedNewSupp" class="select" optionLabel="name" optionValue="id"  placeholder="Выберите поставщика" [options]="supplierNames" appendTo = "body" styleClass="width-300 font-13" [filter]="true" formControlName="supp_id" filterBy="name" (onChange)="onSupplierSelect($event.value)">
        <ng-template  let-supplierName pTemplate="item">
          <div class="df user-select">
            <div>{{supplierName.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <p-checkbox class="ml-10" (onChange)="toggleCheckbox()" [binary]="true" label="Другой поставщик"></p-checkbox>
    </div>


    <div class="big-text-create mb-1 mt-1">{{t.tr('Модель')}}</div>
    <input id="model" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="model">

    <div class="two-inputs">
      <div>
        <div class="big-text-create mb-1 mt-1">{{t.tr('Производитель')}}</div>
        <input id="manufacturer" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="manufacturer">
      </div>

      <div>
        <div class="big-text-create mb-1 mt-1">{{t.tr('Вес, кг')}}</div>
        <input id="weight" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="weight">
      </div>
    </div>

    <div class="big-text-create mb-1 mt-1">{{t.tr('Эл. парам')}}</div>
    <input id="ele_param" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="ele_param">

    <div class="big-text-create mb-1 mt-1">{{t.tr('Мех. парам')}}</div>
    <input id="mech_param" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="mech_param">


    <div class="big-text-create mb-1 mt-1">{{t.tr('Описание')}}</div>
    <textarea id="description"  style="resize:none" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="description"></textarea>

    <div *ngIf="supplierFiles.length != 0" class="big-text mt-1">{{t.tr('Вложения')}}</div>
    <div class="mb-15 width-400 position-relative" *ngFor="let file of supplierFiles">
      <div class="df mb-6 cursor-pointer">
        <div class="df w-90 space-between">
          <div class="df">
            <div class="cxy">
              <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>
            </div>
            <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>
          </div>
          <div (click)="deleteFile(file)">
            <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-20 df">
      <div tabindex="10" (click)="addFiles()" class="button-ok">{{t.tr('Добавить файлы')}}</div>
    </div>

    <div class="form-footer-create df justify-content-end">
      <div class="mr-5 cx">
        <div tabindex="10" (click)="close()" class="button-cancel cxy">{{t.tr('Отмена')}}</div>
      </div>
      <div tabindex="10" [class.disabled-button]="!suppliersForm.valid"  (click)="createSupplier()" class="button-ok cxy">{{t.tr('Создать')}}</div>
    </div>
  </form>
</div>











<!--<div style="height: 430px; width: 460px;">-->
<!--  <div class="header-parts">-->
<!--    <div class="header-parts-text">{{t.tr('Добавить поставщика')}}</div>-->
<!--    <div class="df">-->
<!--      <div class="parts-button-close cxy" (click)="close()">-->
<!--        <i class="pi pi-times"></i>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="big-text-create mb-1 mt-1">{{t.tr('Наименование')}}</div>-->


<!--  <form [formGroup]="suppliersForm" class="form-container ng-star-inserted">-->
<!--    <div class="df">-->
<!--      <input *ngIf="addedNewSupp" id="name" type="text" class="p-inputtext p-component p-element width-300 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" formControlName="name">-->
<!--      <p-dropdown *ngIf="!addedNewSupp" class="select" optionLabel="name" optionValue="id"  placeholder="Выберите поставщика" [options]="supplierNames" appendTo = "body" styleClass="width-300 font-13" [filter]="true" formControlName="supp_id" filterBy="name" (onChange)="onSupplierSelect($event.value)">-->
<!--        <ng-template  let-supplierName pTemplate="item">-->
<!--          <div class="df user-select">-->
<!--            <div>{{supplierName.name}}</div>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--      </p-dropdown>-->
<!--      <p-checkbox class="ml-10" (onChange)="toggleCheckbox()" [binary]="true" label="Другой поставщик"></p-checkbox>-->
<!--    </div>-->


<!--    <div class="big-text-create mb-1 mt-1">{{t.tr('Модель')}}</div>-->
<!--    <input id="model" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="model">-->

<!--    <div class="df">-->
<!--      <div class="big-text-create mb-1 mt-1">{{t.tr('Производитель')}}</div>-->
<!--      <input id="manufacturer" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="manufacturer">-->

<!--      <div class="big-text-create mb-1 mt-1">{{t.tr('Вес, кг')}}</div>-->
<!--      <input id="weight" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="weight">-->
<!--    </div>-->

<!--    <div class="big-text-create mb-1 mt-1">{{t.tr('Эл. парам')}}</div>-->
<!--    <textarea id="ele_param" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="ele_param"></textarea>-->

<!--    <div class="big-text-create mb-1 mt-1">{{t.tr('Мех. парам')}}</div>-->
<!--    <textarea id="mech_param" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="mech_param"></textarea>-->


<!--    <div class="big-text-create mb-1 mt-1">{{t.tr('Описание')}}</div>-->
<!--    <textarea id="description" class="p-inputtext p-component p-element w-100 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" type="text" formControlName="description"></textarea>-->

<!--    <div *ngIf="supplierFiles.length != 0" class="big-text mt-1">{{t.tr('Вложения')}}</div>-->
<!--    <div class="mb-15 width-400 position-relative" *ngFor="let file of supplierFiles">-->
<!--      <div class="df mb-6 cursor-pointer">-->
<!--        <div class="df w-90 space-between">-->
<!--          <div class="df">-->
<!--            <div class="cxy">-->
<!--              <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>-->
<!--            </div>-->
<!--            <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>-->
<!--          </div>-->
<!--          <div (click)="deleteFile(file)">-->
<!--            <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
<!--              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>-->
<!--            </svg>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="mt-20 df">-->
<!--      <div tabindex="10" (click)="addFiles()" class="button-ok">{{t.tr('Добавить файлы')}}</div>-->
<!--    </div>-->

<!--    <div class="form-footer-create df justify-content-end">-->
<!--      <div class="mr-5 cx">-->
<!--        <div tabindex="10" (click)="close()" class="button-cancel cxy">{{t.tr('Отмена')}}</div>-->
<!--      </div>-->
<!--      <div tabindex="10" [class.disabled-button]="!suppliersForm.valid"  (click)="createSupplier()" class="button-ok cxy">{{t.tr('Создать')}}</div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
