.role-header{
  padding: 0 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  grid-auto-rows: minmax(20px, auto);
  margin: 1rem;
}

.form-edit{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
}



