<div class="page" [class.window-mode]="windowMode == 1">
  <div class="selected-segment" *ngIf="selectedSegment != ''">
    {{selectedSegment}}
  </div>
  <div [hidden]="errorMessage != ''">
    <div class="visible">
      <div class="df mt-5">
        <div class="mr-5">Корпус</div>
        <p-checkbox [binary]="true" [(ngModel)]="hullVisible" (ngModelChange)="changeVisible()"></p-checkbox>
      </div>
      <div class="df mt-5">
        <div class="mr-5">Оборудование</div>
        <p-checkbox [binary]="true" [(ngModel)]="equipmentVisible" (ngModelChange)="changeVisible()"></p-checkbox>
      </div>
      <div class="df mt-5">
        <div class="mr-5">Зашивка</div>
        <p-checkbox [binary]="true" [(ngModel)]="structureVisible" (ngModelChange)="changeVisible()"></p-checkbox>
      </div>
      <div class="df mt-5">
        <div class="mr-5">Лотки</div>
        <p-checkbox [binary]="true" [(ngModel)]="traysVisible" (ngModelChange)="changeVisible()"></p-checkbox>
      </div>
      <div class="df mt-5">
        <div class="mr-5">Трубы</div>
        <p-checkbox [binary]="true" [(ngModel)]="pipesVisible" (ngModelChange)="changeVisible()"></p-checkbox>
      </div>
    </div>
    <div class="loading" *ngIf="loading">LOADING... PLEASE WAIT...</div>
    <canvas #model id="model"></canvas>
  </div>
  <div *ngIf="errorMessage != ''" class="cxy h-100">
    {{errorMessage}}
  </div>
</div>
