<div class="all-page-weight">
  <div class="min-height-card">
    <div class="empty-card"></div>
    <div class="card-head df sticky-card">
      <div class="mr-10">
        <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" (ngModelChange)="projectChanged()" styleClass="width-170 border">
        </p-dropdown>
      </div>
    </div>
    <div class="empty-card-bottom"></div>

    <div class="tile">
      <div *ngFor="let block of blocks; let i = index" class="block-card cursor-pointer">
        <div *ngIf="block != null" class="block-card-tile">
          <div class="top-row">
            <div class="title-bold">U101</div>
          </div>
          <div class="bottom-row">
            <div class="df mb-10">
              <div class="left-label-model cxy">WEIGHT</div>
              <div class="w-100">
                <div class="table-bottom">
                  <div class="df">
                    <div class="w-50 table-body cy border-bottom">550055.15kg</div>
                    <div class="w-50 table-header-column">
                      <span>X</span>
                      <span>Y</span>
                      <span>Z</span>
                    </div>
                  </div>
                  <div class="text-center-y info-row">
                    <div class="w-50 table-body">
                      <input style="width: 106px" type="text" placeholder="Weight" pInputText />
                    </div>
                    <div class="w-50 table-body">
                      <span class="mr-5 x-label">27.8</span>
                      <span class="mr-5 y-label">0.45</span>
                      <span class="z-label">0.76</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




  </div>

</div>
