<div class="center-create-project">
  <div class="header-user-card">
    <div class="header-user-text">{{lang.tr('Проекты')}}</div>
    <div class="task-button-user cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>

  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1">{{lang.tr('Проект*')}}</div>
      <input class="width-211" type="text" id="name" pInputText [(ngModel)]="name">
    </div>
    <div>
      <div class="big-text-user mb-1">{{lang.tr('Foran*')}}</div>
      <input class="width-211" type="text" id="foran" pInputText [(ngModel)]="foran">
    </div>
  </div>

  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('РКД*')}}</div>
      <input class="width-211" type="text" id="RKD" pInputText [(ngModel)]="rkd">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('ПДСП*')}}</div>
      <input class="width-211" type="text" id="PDSP" pInputText [(ngModel)]="pdsp">
    </div>


  </div>
  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Завод*')}}</div>
      <input class="width-211" type="text" id="factory" pInputText [(ngModel)]="factory">
    </div>

    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Статус')}}</div>
      <input class="width-211" type="text" id="status" pInputText [(ngModel)]="status">
    </div>
  </div>
  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Менеджеры')}}</div>
      <p-dropdown styleClass="width-211" appendTo="body" id="managers" [options]="users" [(ngModel)]="this.managers"
                  optionLabel="login" optionValue="login"></p-dropdown>
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Пользователи')}}</div>
      <p-multiSelect styleClass="width-211" appendTo="body" id="users" [options]="users" [(ngModel)]="selectedUsers"
                     [filter]="true" filterBy="name,login,surname,department" optionValue="id" optionLabel="login">
        <ng-template pTemplate="header">
          <div class="df">
            <div class="table-body cy width-70">{{l.tr('Аватар')}}</div>
            <div class="table-body cy width-150">{{l.tr('Имя')}}</div>
            <div class="table-body cy width-150">{{l.tr('Фамилия')}}</div>
            <div class="table-body cy width-430">{{l.tr('Должность')}}</div>
            <div class="table-body cy width-150">{{l.tr('Группа')}}</div>
          </div>
        </ng-template>

        <ng-template let-users pTemplate="item">
          <div class="df">
            <div class="table-body cy width-40" [innerHTML]="setAvatar(users.avatar) | safeHtml"></div>
            <div class="table-body cy width-150">{{users.name}}</div>
            <div class="table-body cy width-150">{{users.surname}}</div>
            <div class="table-body cy width-430">{{users.profession}}</div>
            <div class="table-body cy width-150">{{users.department}}</div>
          </div>
        </ng-template>
      </p-multiSelect>
    </div>
  </div>
</div>

<div class="form-footer-user">
  <div class="mr-5 cx">
    <div tabindex="11" (click)="close()" pButton [label]="lang.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
  <div *ngIf="!loading" tabindex="10" [class.disabled-button]="isProjectDisabled()" (click)="createProject()" pButton
       [label]="lang.tr('Создать')" class="button-ok"></div>
  <div class="cxy height-spinner" *ngIf="loading">
    <p-progressSpinner [style]="{width: '25px', height: '25px'}" styleClass="custom-spinner" strokeWidth="6" fill="#fff" animationDuration="1s" ></p-progressSpinner>
  </div>
</div>



