<div class="center-create-project">
  <div class="header-user-card">
    <div class="header-user-text">{{lang.tr('Проекты')}}</div>
    <div class="task-button-user cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>

  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1">{{lang.tr('Проект')}}</div>
      <input class="width-211" type="text" id="name" pInputText [(ngModel)]="name">
    </div>
    <div>
      <div class="big-text-user mb-1">{{lang.tr('Foran')}}</div>
      <input class="width-211" type="text" id="foran" pInputText [(ngModel)]="foran">
    </div>
  </div>

  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('РКД')}}</div>
      <input class="width-211" type="text" id="RKD" pInputText [(ngModel)]="rkd">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('ПДСП')}}</div>
      <input class="width-211" type="text" id="PDSP" pInputText [(ngModel)]="pdsp">
    </div>




  </div>
  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Завод')}}</div>
      <input class="width-211" type="text" id="factory" pInputText [(ngModel)]="factory">
    </div>

    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Статус')}}</div>
      <input class="width-211" type="text" id="status" pInputText [(ngModel)]="status">
    </div>
  </div>
  <div>
    <div class="big-text-user mb-1 mt-1">{{lang.tr('Менеджеры')}}</div>
    <input class="width-211" type="text" id="managers" pInputText [(ngModel)]="managers">
  </div>


</div>

<div class="form-footer-user">
  <div class="mr-5 cx">
    <div tabindex="11" (click)="close()" pButton [label]="lang.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
  <div tabindex="10" [class.disabled-button]="isProjectDisabled()" (click)="createProject()" pButton [label]="lang.tr('Сохранить')" class="button-ok"></div>
</div>



