.all-page-doc{
  background: linear-gradient(90deg, rgba(237,237,249,1) 0%, rgba(246,249,252,1) 49%, rgba(236,236,249,1) 100%);
  padding: 0 20px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.sticky-card{
  position: sticky;
  top: 20px;
  z-index: 8;
}

.min-height-card{
  min-height: calc(100vh - 77px);
}

.empty-card{
  height: 20px;
  background: linear-gradient(90deg, rgba(237,237,249,1) 0%, rgba(246,249,252,1) 49%, rgba(236,236,249,1) 100%);
  position: sticky;
  top: 0;
  z-index: 8;
}
.empty-card-bottom{
  height: 20px;
  background: linear-gradient(90deg, rgba(237,237,249,1) 0%, rgba(246,249,252,1) 49%, rgba(236,236,249,1) 100%);
  position: sticky;
  top: 77px;
  z-index: 7;
}
.card-head{
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  height: fit-content;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}

.card-overflow{
  background: rgba(255, 255, 255, 0.9);
  padding: 0 20px 20px 20px;
  border-radius: 8px;
  height: calc(100vh - 200px);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.header {
  justify-content: space-between;
  width: 100%;
}

/deep/.p-component{
  font-size: 13px!important;
}
/deep/.p-inputtext{
  font-size: 13px!important;
}
/deep/.p-inputtext{
  font-size: 13px!important;
  padding: 8px 10px 8px 10px;
}
/deep/.p-multiselect .p-multiselect-label {
  padding: 8px 10px 8px 10px;
}
.page-c{
  display: grid;
  grid-template-columns: 400px auto;
  padding: 15px;
}
.card-complect{
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  height: calc(100vh - 106px);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.background-gray{
  background-color: #F9FAFB;
}
.issues-all{
  background-color: white;
  cursor: pointer;
  font-size: 12px;
  margin: 10px 5px 10px 10px;
  border-radius: 10px;
  padding: 8px;
}
.materials-button-complect{
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 10px;
  color: white;
  font-weight: 700;
  font-size: 13px;
}
.select-project{
  padding-bottom: 20px;
}
.complect{
  height: 110px;
}
.complect-header{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}
.complect-content{
  font-size: 13px;
  color: gray;
}
.complect-footer{
  font-size: 12px;
  overflow: auto;
}
.footer-zones{
  word-break: break-word;
  overflow: auto;
  height: 35px;
}
.complect-footer.systems{
  color: cadetblue;
}
.selected-complect{
  background-color: #EEF5FA;
}
.systems-table{
  width: 620px;
  height: 680px;
  overflow: auto;
}
.zones-table{
  width: 620px;
  height: 680px;
  overflow: auto;
}
.title-bold-c{
  font-weight: 500;
  font-size: 14px;
  color: #3a3a3a;
}
.icon-с{
  fill: #E1E1E1;
}
.icon-с:hover{
  fill: #5e6c84;
}
.head-text-c{
  color: #323130;
  font-weight: 600;
}
.mic-text{
  font-weight: 500;
  color: #3a3a3a;
  font-size: 11px;
}

.materials-button {
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 6px;
}
