<div class="all-page h-100">
  <div class="all-card">
    <div class="card-head df">
      <div class="mr-2">{{issue.name}}</div>
      <div class="mr-2">{{issue.doc_number}}</div>
      <div class="mr-10" [pTooltip]="l.tr('Get Spec')" tooltipPosition="top" *ngIf="auth.hasPerms('esp-files')" (click)="createEsp()">
        <div class="materials-button pink-button cxy">
          <svg class="icon-top-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
          </svg>
        </div>
      </div>
      <div class="mr-10">
        <div [pTooltip]="l.tr('Export Sketches')" tooltipPosition="top" (click)="exportSketches()" class="materials-button green-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <!--      <span class="p-ml-auto p-input-icon-left">-->
      <!--        <i class="pi pi-search"></i>-->
      <!--         <input [(ngModel)]="search" pInputText type="text"-->
      <!--                [placeholder]="l.tr('Поиск...')" class="border width-170"/>-->
      <!--      </span>-->
    </div>
    <div class="w-100 df">
      <div class="card-sp-tile mr-20">
        <div class="loading-text" *ngIf="noResultTrays && noResultBoxes">No result for drawing {{docNumber}} of
          project {{project}}. You need
          to add document number {{docNumber}} to the system description using FORAN app in {{project}} project
        </div>
        <div *ngIf="trays.length == 0 && cableBoxes.length == 0">
          <div class="cxy loading">
            <div class="cxy card-height">
              <img src="assets/whale.gif" height="120">
              <div class="cx loading-text">PLEASE WAIT...</div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedView == 'tiles'">
          <div class="tile">
            <div *ngIf="trays.length != 0" class="card-tile-t title-bold px-10">
              {{l.tr('Сводные данные')}}
            </div>
            <div class="w-100" *ngIf="trays.length != 0">
              <div *ngFor="let tray of traysByCode; let a = index" class="card-tile-t card-grid" [class.hidden-card]="tray == null">
                <div class="text-center-y">
                  <div class="title-name">{{getName(tray.desc, tray.trayDesc)}}</div>
                </div>
                <div class="df">
                  <div class="text-center-y attribute mr-10">Total L:</div>
                  <div class="text-table-col">{{round(getGroupLength(tray.values)) + 'm'}}</div>
                </div>
                <div class="df">
                  <div class="text-center-y attribute mr-10">Total
                    <img class="ml-5" src="assets/icons/weight3.svg" height="18">
                  </div>
                  <div class="text-table-col">{{round(getGroupWeight(tray.values)) + 'kg'}}</div>
                </div>
                <div class="p-ml-auto text-center-y">
                  <div class="df">
                    <div class="trm">{{tray.stockCode}}</div>
                    <div (click)="copyTrmCode(tray.stockCode, 'a' + a)" class="trm-copy cursor-pointer cxy">
                      <img src="assets/icons/trm.svg" height="16">
                      <div class="copy-tooltip" [hidden]="!showTooltip('a' + a)">Copied!</div>
                    </div>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <div class="w-100" *ngIf="cableBoxes.length != 0">
              <div *ngFor="let cableBox of cableBoxesByCode; let b = index" class="card-tile-t card-grid" [class.hidden-card]="cableBox == null">
                <div class="text-center-y">
                  <div class="title-name">{{getName(cableBox.desc, cableBox.code)}}</div>
                </div>
                <div class="df">
                  <div class="text-center-y attribute mr-10">Total count:</div>
                  <div class="text-table-col">{{cableBox.values.length + 'pcs'}}</div>
                </div>
                <div class="df">
                  <div class="text-center-y attribute mr-10">Total
                    <img class="ml-5" src="assets/icons/weight3.svg" height="18">
                  </div>
                  <div class="text-table-col">{{round(getGroupWeight(cableBox.values)) + 'kg'}}</div>
                </div>
                <div class="p-ml-auto text-center-y">
                  <div class="df">
                    <div class="trm">{{cableBox.stockCode}}</div>
                    <div (click)="copyTrmCode(cableBox.stockCode, 'b' + b)" class="trm-copy cursor-pointer cxy">
                      <img src="assets/icons/trm.svg" height="16">
                      <div class="copy-tooltip" [hidden]="!showTooltip('b' + b)">Copied!</div>
                    </div>
                  </div>
                </div>
                <div></div>
              </div>
            </div>
            <div *ngIf="cableBoxes.length != 0" class="card-tile-t title-bold px-10">
              {{l.tr('Кабельные коробки')}}
            </div>
            <div *ngIf="cableBoxes.length != 0" class="bottom-card ovf-auto pl-10 pr-10 card-tile-t">
              <div class="df sticky">
                <div class="w-10 table-header-column cy">{{l.tr('USER ID')}}</div>
                <div class="w-30 table-header-column cy">{{l.tr('DESCRIPTION')}}</div>
                <!--                <div class="w-10 table-header-column cy">{{l.tr('ZONE')}}</div>-->
                <!--                <div class="w-20 table-header-column cy">{{l.tr('FSQ')}}</div>-->
                <div class="w-10 table-header-column cy">{{l.tr('WEIGHT')}}</div>
                <div class="w-20 table-header-column cy">{{l.tr('COORDINATES')}}</div>
                <div class="w-30 table-header-column cy">{{l.tr('STOCK CODE')}}</div>
              </div>
              <div *ngFor="let cableBox of cableBoxes; let c = index" class="df cursor-pointer info-row">
                <div class="w-10 table-body cy">{{cableBox.userId}}</div>
                <div class="w-30 table-body cy">{{getName(cableBox.material.name, cableBox.code)}}</div>
                <!--                <div class="w-10 table-body cy">{{cableBox.zone}}</div>-->
                <!--                <div class="w-20 table-body cy">{{cableBox.oid}}</div>-->
                <div class="w-10 table-body cy">{{round(cableBox.weight) + 'kg'}}</div>
                <div class="w-20 table-body-equip cy">
                  <div class="">
                    <div class="df coordinates-row mr-5">
                      <div class="coordinates-x cxy">X<sub>1</sub>:</div>
                      <span class="mm-text cxy">{{' ' + round(cableBox.x_cog)}}</span>
                    </div>
                    <div class="df coordinates-row mr-5">
                      <div class="coordinates-y cxy">Y<sub>1</sub>:</div>
                      <span class="mm-text cxy">{{' ' + round(cableBox.y_cog)}}</span>
                    </div>
                    <div class="df coordinates-row mr-5">
                      <div class="coordinates-z cxy">Z<sub>1</sub>:</div>
                      <span class="mm-text cxy">{{' ' + round(cableBox.z_cog)}}</span>
                    </div>
                  </div>
                </div>
                <div class="p-ml-auto w-30 position-relative table-body cy">
                  <div class="df">
                    <div class="trm">{{cableBox.stockCode}}</div>
                    <div (click)="copyTrmCode(cableBox.stockCode, 'c' + c)" class="trm-copy cursor-pointer cxy">
                      <img src="assets/icons/trm.svg" height="16">
                      <div class="copy-tooltip-t" [hidden]="!showTooltip('c' + c)">Copied!</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
