<div class="all-page h-100">
  <div class="all-card">
    <div class="card-head df">
      <div class="mr-2">{{issue.name}}</div>
      <div class="mr-2">{{issue.doc_number}}</div>
      <span class="p-ml-auto p-input-icon-left">
        <i class="pi pi-search"></i>
         <input [(ngModel)]="search" pInputText type="text"
                [placeholder]="l.tr('Поиск...')" class="border width-170"/>
      </span>
    </div>
    <div class="w-100 df">
      <div class="card-sp-tile mr-20">
        <div class="loading-text" *ngIf="noResultTrays && noResultBoxes">No result for drawing {{docNumber}} of
          project {{project}}. You need
          to add document number {{docNumber}} to the system description using FORAN app in {{project}} project
        </div>
        <div *ngIf="trays.length == 0 && cableBoxes.length == 0">
          <div class="cxy loading">
            <div class="cxy card-height">
              <img src="assets/whale.gif" height="120">
              <div class="cx loading-text">PLEASE WAIT...</div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedView == 'tiles'">
          <div class="tile">
            <div *ngIf="trays.length != 0" class="card-tile">
              Сводные данные
            </div>
            <div *ngIf="trays.length != 0">
              <div *ngFor="let tray of traysByCode; let i = index" class="card-tile"
                   [class.hidden-card]="tray == null">
                <div class="card-spool df">
                  <div class="w-7 position-relative">
                    <div class="title-bold mb-20" [class.selected-spool]="tray == tray.stockCode"
                         [innerHTML]="tray.stockCode | highLight: search"></div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="cableBoxes.length != 0">
              <div *ngFor="let cableBox of cableBoxesByCode; let i = index" class="card-tile"
                   [class.hidden-card]="cableBox == null">
                <div class="card-spool df">
                  <div class="w-7 position-relative">
                    <div class="title-bold mb-20" [class.selected-spool]="cableBox == cableBox.stockCode"
                         [innerHTML]="cableBox.stockCode | highLight: search"></div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="cableBoxes.length != 0" class="card-tile">
              Cable boxes
            </div>
            <div *ngIf="cableBoxes.length != 0" class="card-tile">
              <div *ngFor="let cableBox of cableBoxesById; let i = index"
                   [class.hidden-card]="cableBox == null">
                <div class="card-spool df">
                  <div class="w-7 position-relative">
                    <div class="title-bold mb-20" [class.selected-spool]="cableBox == cableBox.userId"
                         [innerHTML]="cableBox.userId | highLight: search"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
