.container{
  display: flex;
  flex-direction: column;
}

/deep/ .container-buttons {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.edit-button{
  width: 25px;
  height: 25px;
}

.edit-button:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
.button-disabled{
  pointer-events: none;
  opacity: 0.5;
}
