<div class="equipments_container">



  <div class="equipment_header pb-15">
    <div class=" mr-10 df">

        <div class="eq-button blue-button cxy mr-10" (click)="newGroup()" style="width: fit-content;">
          <div class="pr-10 cxy">
            <img src="assets/icons/plus3.svg" height="18">
          </div>
          <div class="cxy">{{t.tr('Создать группу')}}</div>
        </div>
        <div class="mr-10">
          <p-multiSelect styleClass="width-200" [options]="projects" [(ngModel)]="selectedProjects" (ngModelChange)="projectChanged()" optionLabel="name" optionValue="name"></p-multiSelect>
        </div>
        <div class="mr-10">
          <p-multiSelect styleClass="width-200" [options]="departments" [(ngModel)]="selectedDepartments" (ngModelChange)="departmentChanged()" optionLabel="label" optionValue="value"></p-multiSelect>
        </div>
    </div>
      <div class="mr-10">
        <input
          type="text"
          pInputText
          (input)="tableref.filterGlobal($any($event.target).value, 'contains')" placeholder="{{t.tr('Поиск')}}"/>
      </div>
  </div>


  <div class="equipments_container_table">
    <p-treeTable #tt #tableref
                 id="tt"  [globalFilterFields]="['id','name','sfi','sfi_unit']"
                 scrollHeight="73vh" [value]="equipmentsNode" [reorderableColumns]="true"  [columns]="cols" [scrollable]="true" [filterMode]="filterMode" >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" [style.width]="col.width ? col.width : 'auto'">
            {{ col.header }}
            <p-treeTableSortIcon *ngIf="i!= (columns.length - 1) && i != 0" [field]="col.field"></p-treeTableSortIcon>
            <!--            <p-treeTableSortIcon *ngIf="col.header == 'Responsible'" [field]="'res_surname'" [ttSortableColumn]="'res_surname'"></p-treeTableSortIcon>-->
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode" [ngClass]="{childRow: rowData.parent_id != 0}" >
          <td *ngFor="let col of columns; let i = index; let last = last " [style.width]="col.width ? col.width : 'auto'">
            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
            <span (click)="openSidebar(rowData, rowNode)">
              <div *ngIf="rowData.parent_id == 0">
<!--                <div *ngIf="col.field == 'sfi'">-->
<!--                  {{ rowData['sfi'] }}-->
<!--                </div>-->
                <div *ngIf="col.field == 'name'">
                  {{rowData['name'] }}
                </div>
                <div *ngIf="col.field == 'respons_surname'">
                  {{ rowData['respons_name'] + ' ' + rowData['respons_surname'] }}
                </div>
                <div *ngIf="col.field == 'itt'">
                  {{ rowData['itt'] ===1? 'YES' : 'NO' }}
                </div>
                <div *ngIf="col.field == 'status'" [ngClass]= "{'approved': rowData[col.field] == 'Approved', 'new': rowData[col.field] == '-'}">
                  {{ rowData['status'] === '-'? 'New' : rowData[col.field] }}
<!--                  {{ rowData[col.field] }}-->
                </div>
                <div *ngIf="col.field != 'status' && col.field != 'name' && col.field != 'sfi' && col.field != 'respons_surname' && col.field != 'itt'" >
                  {{ rowData[col.field] }}
                </div>
              </div>
              <div *ngIf="rowData.parent_id != 0">
                <div *ngIf="col.field == 'id'" class="pl-30">
                  {{ rowData[col.field] }}
                </div>
                <div *ngIf="col.field == 'sfi'">
                  -
                </div>
                <div *ngIf="col.field == 'name'">
                  {{ rowData['name'] }}
                </div>
                <div *ngIf="col.field == 'respons_surname'">
                  {{ rowData['respons_name'] + ' ' + rowData['respons_surname'] }}
                </div>
                <div *ngIf="col.field == 'itt'">
                  {{ rowData['itt'] ===1? 'YES' : 'NO' }}
                </div>
                <div *ngIf="col.field == 'status'" [ngClass]= "{'approved': rowData[col.field] == 'Approved', 'new': rowData[col.field] == '-'}">
                  {{ rowData['status'] === '-'? 'New' : rowData[col.field] }}
                </div>
                <span *ngIf="col.field != 'status' && col.field != 'name' && col.field != 'sfi' && col.field != 'respons_surname' && col.field != 'id' && col.field != 'itt'">
                  {{ rowData[col.field] }}
                </span>
              </div>
            </span>

            <ng-container *ngIf="last" >
              <div class="df">
                <button [ngClass]="(rowData.parent_id == 0)?  'addEqu_button' : 'addEqu_button_invisible'"  (click)="newEquipment(rowData)" [style]="{ 'margin-right': '.5em' }">EQU</button>
                <button class="addSup_button" (click)="addSupplier(rowData)" [style]="{ 'margin-right': '.5em' }" >SUP</button>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>


  <p-sidebar *ngIf="editGroupSidebarVisible" [(visible)]="editGroupSidebarVisible" position="right" [style]="{width:'40rem'}" (onHide)="closeSideBar()" [showCloseIcon]="false">
<!--    <ng-template pTemplate="content">-->
      <app-edit-equipment [eq]="selectedEq" [group]="selectedGroup" (closeSidebarEvent)="closeSideBar()"></app-edit-equipment>
  </p-sidebar>
  <p-sidebar *ngIf="editEqSidebarVisible" [(visible)]="editEqSidebarVisible" position="right" [style]="{width:'40rem'}" (onHide)="closeSideBar()" [showCloseIcon]="false">
    <app-edit-equipment [eq]="selectedEq" [group]="selectedGroup" (closeSidebarEvent)="closeSideBar()"></app-edit-equipment>
  </p-sidebar>
</div>



<!--<div class="equipments_container">-->
<!--  <div class="equipment_header pb-15">-->
<!--    <div  class="eq-button blue-button cxy mr-10 w-13" (click)="newGroup()">-->
<!--      <div class="pr-10 cxy">-->
<!--        <img src="assets/icons/plus3.svg" height="18">-->
<!--      </div>-->
<!--      <div   class="cxy">{{t.tr('Создать новую группу')}}</div>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="p-input-icon-left">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="pi pi-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" #search pInputText placeholder="Global Search" (input)="tt.filterGlobal(search.value, 'contains')" />&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="mr-10">&ndash;&gt;-->
<!--&lt;!&ndash;      <p-multiSelect styleClass="width-200" [options]="projects" [(ngModel)]="selectedProjects" (ngModelChange)="projectChanged()" optionLabel="name" optionValue="name"></p-multiSelect>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="mr-10">&ndash;&gt;-->
<!--&lt;!&ndash;      <p-multiSelect styleClass="width-200" [options]="departments" [(ngModel)]="selectedDepartments" (ngModelChange)="departmentChanged()" optionLabel="label" optionValue="value"></p-multiSelect>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="p-ml-auto mr-10 df">&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="p-input-icon-left">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="pi pi-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;        <input #search pInputText type="text" (input)="dt.filterGlobal(search.value, 'contains')" [placeholder]="'Поиск по SFI'" class="border width-200" />&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->


<!--  <div class="equipments_container_table">-->
<!--    <p-treeTable #tt [value]="equipmentsNode" [reorderableColumns]="true" [resizableColumns]="true" [columns]="cols" [scrollable]="true">-->
<!--      &lt;!&ndash;    <ng-template pTemplate="caption">&ndash;&gt;-->
<!--      &lt;!&ndash;      <div style="text-align: right">&ndash;&gt;-->
<!--      &lt;!&ndash;        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>&ndash;&gt;-->
<!--      &lt;!&ndash;        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;    </ng-template>&ndash;&gt;-->


<!--&lt;!&ndash;      {field: 'id', header: 'ID' },&ndash;&gt;-->
<!--&lt;!&ndash;      {field: 'sfi', header: 'sfi'},&ndash;&gt;-->
<!--&lt;!&ndash;      {field: 'sfi_unit', header: 'sfi_unit'},&ndash;&gt;-->
<!--&lt;!&ndash;      {field: 'name', header: 'name' },&ndash;&gt;-->
<!--&lt;!&ndash;      {field: 'status', header: 'status_id' },&ndash;&gt;-->
<!--&lt;!&ndash;      {field: 'res_surname', header: 'Responsible'},&ndash;&gt;-->
<!--&lt;!&ndash;      {field: 'itt', header: 'itt'},&ndash;&gt;-->
<!--&lt;!&ndash;      {field: 'comment', header: 'comment'},&ndash;&gt;-->
<!--      <ng-template pTemplate="header" let-columns>-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;          <th [ttSortableColumn]="'id'">id</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th [ttSortableColumn]="'sfi'">sfi</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th [ttSortableColumn]="'sfi_unit'">sfi_unit</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th [ttSortableColumn]="'name'">name</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th [ttSortableColumn]="'status'">status</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th [ttSortableColumn]="'res_surname'">Responsible</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th [ttSortableColumn]="'itt'">itt</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th [ttSortableColumn]="'comment'">comment</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th></th>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--        <tr>-->
<!--          <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field">-->
<!--            {{ col.header }}-->
<!--            <p-treeTableSortIcon *ngIf="i!= (columns.length - 1)" [field]="col.field"></p-treeTableSortIcon>-->
<!--&lt;!&ndash;            <p-treeTableSortIcon *ngIf="col.header == 'Responsible'" [field]="'res_surname'" [ttSortableColumn]="'res_surname'"></p-treeTableSortIcon>&ndash;&gt;-->
<!--          </th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">-->
<!--        <tr [ttRow]="rowNode" [ngClass]="{childRow: rowData.parent_id != 0}" >-->
<!--          <td *ngFor="let col of columns; let i = index; let last = last ">-->
<!--            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>-->
<!--            <span (click)="cliiick(rowData, rowNode)">-->
<!--              <div *ngIf="rowData.parent_id == 0">-->
<!--                <div *ngIf="col.field == 'sfi'">-->
<!--                  {{ rowData['sfi'] + ' - ' + rowData['name'] }}-->
<!--                </div>-->
<!--                <div *ngIf="col.field == 'name'">-->
<!--                  - -->
<!--                </div>-->
<!--                <div *ngIf="col.field == 'respons_surname'">-->
<!--                  {{ rowData['respons_name'] + ' ' + rowData['respons_surname'] }}-->
<!--                </div>-->
<!--                <div *ngIf="col.field == 'itt'">-->
<!--                  {{ rowData['itt'] ===1? 'YES' : 'NO' }}-->
<!--                </div>-->
<!--                <div *ngIf="col.field != 'name' && col.field != 'sfi' && col.field != 'respons_surname' && col.field != 'itt'">-->
<!--                  {{ rowData[col.field] }}-->
<!--                </div>-->
<!--              </div>-->
<!--              <div *ngIf="rowData.parent_id != 0">-->
<!--                <div *ngIf="col.field == 'id'" class="pl-30">-->
<!--                  {{ rowData[col.field] }}-->
<!--                </div>-->
<!--                <div *ngIf="col.field == 'sfi'">-->
<!--                  - -->
<!--                </div>-->
<!--                <div *ngIf="col.field == 'name'">-->
<!--                  {{ rowData['name'] }}-->
<!--                </div>-->
<!--                <div *ngIf="col.field == 'respons_surname'">-->
<!--                  {{ rowData['respons_name'] + ' ' + rowData['respons_surname'] }}-->
<!--                </div>-->
<!--                <div *ngIf="col.field == 'itt'">-->
<!--                  {{ rowData['itt'] ===1? 'YES' : 'NO' }}-->
<!--                </div>-->
<!--                <span *ngIf="col.field != 'name' && col.field != 'sfi' && col.field != 'respons_surname' && col.field != 'id' && col.field != 'itt'">-->
<!--                  {{ rowData[col.field] }}-->
<!--                </span>-->
<!--              </div>-->
<!--            </span>-->


<!--&lt;!&ndash;            <span>&ndash;&gt;-->
<!--&lt;!&ndash;              {{ rowData[col.field] }}&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--            <ng-container *ngIf="last" >-->
<!--              <div class="df">-->
<!--                <button [ngClass]="(rowData.parent_id == 0)?  'addEqu_button' : 'addEqu_button_invisible'"  (click)="newEquipment(rowData)" [style]="{ 'margin-right': '.5em' }">EQU</button>-->
<!--                <button class="addSup_button" (click)="addSupplier(rowData)" [style]="{ 'margin-right': '.5em' }" >SUP</button>-->
<!--              </div>-->
<!--            </ng-container>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--    </p-treeTable>-->
<!--  </div>-->


<!--  <p-sidebar *ngIf="editGroupSidebarVisible" [(visible)]="editGroupSidebarVisible" position="right" [style]="{width:'40rem'}" (onHide)="closeSideBar()">-->
<!--    <app-edit-equipment [eq]="selectedEq" [group]="selectedGroup" (closeSidebarEvent)="closeSideBar()"></app-edit-equipment>-->
<!--  </p-sidebar>-->


<!--  <p-sidebar *ngIf="editEqSidebarVisible" [(visible)]="editEqSidebarVisible" position="right" [style]="{width:'40rem'}" (onHide)="closeSideBar()">-->
<!--    <app-edit-equipment [eq]="selectedEq" [group]="selectedGroup" (closeSidebarEvent)="closeSideBar()"></app-edit-equipment>-->
<!--  </p-sidebar>-->
<!--</div>-->









<!--      <div class="all-page-equip">-->
<!--  <div class="min-height-card">-->
<!--    <div class="empty-card"></div>-->
<!--    <div class="card-head df sticky-card">-->
<!--      <div [class.button-disabled]="createEqButtonAreHidden" class="eq-button blue-button cxy mr-10" (click)="newEquipment()">-->
<!--        <div class="pr-10 cxy">-->
<!--          <img src="assets/icons/plus3.svg" height="18">-->
<!--        </div>-->
<!--        <div   class="cxy">{{t.tr('Добавить оборудование')}}</div>-->
<!--      </div>-->
<!--      <div class="mr-10">-->
<!--        <p-multiSelect styleClass="width-200" [options]="projects" [(ngModel)]="selectedProjects" (ngModelChange)="projectChanged()" optionLabel="name" optionValue="name"></p-multiSelect>-->
<!--      </div>-->
<!--      <div class="mr-10">-->
<!--        <p-multiSelect styleClass="width-200" [options]="departments" [(ngModel)]="selectedDepartments" (ngModelChange)="departmentChanged()" optionLabel="label" optionValue="value"></p-multiSelect>-->
<!--      </div>-->
<!--      <div class="p-ml-auto mr-10 df">-->
<!--      <span class="p-input-icon-left">-->
<!--        <i class="pi pi-search"></i>-->
<!--        <input #search pInputText type="text" (input)="dt.filterGlobal(search.value, 'contains')" [placeholder]="'Поиск по SFI'" class="border width-200" />-->
<!--      </span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="empty-card-bottom"></div>-->
<!--    <div class="card-overflow ovf-auto">-->
<!--      <p-table #dt-->
<!--               id="dt"-->
<!--               styleClass="p-datatable-striped"-->
<!--               [globalFilterFields]="['sfi','name']"-->
<!--               scrollHeight="calc(100vh - 220px)"-->
<!--               [scrollable]="true"-->
<!--               class="" [value]="equipments" dataKey="name" pRowToggler >-->
<!--        <ng-template pTemplate="header">-->
<!--          <tr>-->
<!--            <th style="min-width: 70px; max-width: 70px" class="width-50"></th>-->
<!--            <th style="min-width: 100px; max-width: 100px" pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>-->
<!--            <th pSortableColumn="sfi">Group <p-sortIcon field="sfi"></p-sortIcon></th>-->
<!--            <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>-->
<!--            <th class="df" pSortableColumn="department">Department<p-sortIcon field="department"></p-sortIcon></th>-->
<!--            <th pSortableColumn="comment">Comment<p-sortIcon field="comment"></p-sortIcon></th>-->
<!--            <th pSortableColumn="respons_surname">Responsible<p-sortIcon field="respons_surname"></p-sortIcon></th>-->
<!--            <th style="min-width: 70px; max-width: 70px" pSortableColumn="itt">ITT <p-sortIcon field="itt"></p-sortIcon></th>-->
<!--            <th style="min-width: 130px; max-width: 130px"></th>-->
<!--          </tr>-->
<!--        </ng-template>-->

<!--        &lt;!&ndash;      заполняем таблицу с оборудованием&ndash;&gt;-->
<!--        <ng-template pTemplate="body" let-eq let-expanded="expanded">-->
<!--          <tr class="equipment-tr task-row cursor-pointer">-->
<!--            <td style="min-width: 70px; max-width: 70px">-->
<!--              <button type="button" pButton pRipple [pRowToggler]="eq" class="p-button-text p-button-rounded p-button-plain" [disabled]="showSuppliersButtonIsDisabled(eq)" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>-->
<!--            </td>-->
<!--            <td style="min-width: 100px; max-width: 100px" (click)="editEquipment(eq)">{{ eq.id }}</td>-->
<!--            <td (click)="editEquipment(eq)">SFI {{ eq.sfi }}-{{ eq.name }}</td>-->
<!--            <td [innerHTML]="issueManager.localeStatus(eq.status) | safeHtml" (click)="editEquipment(eq)">{{ eq.status }}</td>-->
<!--            <td (click)="editEquipment(eq)" >{{ eq.department }}</td>-->
<!--            <td (click)="editEquipment(eq)" [innerHTML]="issueManager.trim(eq.comment)"></td>-->
<!--            <td (click)="editEquipment(eq)">{{ eq.respons_name }} {{ eq.respons_surname }}</td>-->
<!--            <td style="min-width: 70px; max-width: 70px" (click)="editEquipment(eq)">{{ eq.itt ===1? 'YES' : 'NO' }}</td>-->
<!--            <td style="min-width: 130px; max-width: 130px"><div [class.button-disabled]="createSuppButtonAreHidden"  tabindex="10" (click)="addSupplier(eq)" class="button-add-sup text-center-x cxy green-button">{{t.tr('Добавить поставку')}}</div></td>-->
<!--          </tr>-->
<!--        </ng-template>-->

<!--        &lt;!&ndash;     выпадающий список suppliers&ndash;&gt;-->
<!--        <ng-template pTemplate="rowexpansion" let-eq>-->
<!--          <tr class="back-gray" *ngIf="!showSuppliersButtonIsDisabled(eq)">-->
<!--            <p-table class="w-100 padding-10 margin-10"  [value]="eq.suppliers" dataKey="equipm_id">-->
<!--              <ng-template pTemplate="header">-->
<!--                <tr>-->
<!--                  <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>-->
<!--                  <th pSortableColumn="name">Supplier<p-sortIcon field="name"></p-sortIcon></th>-->
<!--                  <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>-->
<!--                  <th pSortableColumn="last_update">Last update<p-sortIcon field="last_update"></p-sortIcon></th>-->
<!--                </tr>-->
<!--              </ng-template>-->
<!--              <ng-template class="addTable" pTemplate="body" let-supplier>-->
<!--                <tr class="task-row cursor-pointer">-->
<!--                  <td (click)="editSupplier(eq, supplier)">{{ supplier.id }}</td>-->
<!--                  <td (click)="editSupplier(eq, supplier)">{{ supplier.name }}</td>-->
<!--                  <td (click)="editSupplier(eq, supplier)" class="text-14">-->
<!--                    <span [innerHTML]="issueManager.localeStatus(supplier.status) | safeHtml"></span>-->
<!--                  </td>-->
<!--                  <td (click)="editSupplier(eq, supplier)">{{getDateOnly(supplier.last_update)}}</td>-->
<!--                </tr>-->
<!--              </ng-template>-->
<!--              <ng-template pTemplate="emptymessage">-->
<!--                <tr>-->
<!--                  <td>There are no suppliers for this equipment yet</td>-->
<!--                </tr>-->
<!--              </ng-template>-->
<!--            </p-table>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--      </p-table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




















