<div class="center-create">
  <div class="header-create-card">
    <div class="header-create-text" *ngIf="action == ''">{{lang.tr('Создать задачу')}}</div>
    <div class="header-create-text" *ngIf="action == 'child'">{{lang.tr('Создать подзадачу для')}} #{{parent_id}}</div>
    <div class="header-create-text" *ngIf="action == 'combine'">{{lang.tr('Создать связанную задачу для')}} #{{parent_id}}</div>
    <div class="task-button-create cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="df space-between">
    <div>
      <div class="big-text-create mb-1">{{lang.tr('Тип задачи')}}</div>
      <p-dropdown styleClass="dark-panel width-220" [(ngModel)]="taskType" [options]="taskTypes" optionLabel="label" optionValue="value" (ngModelChange)="taskTypeChanged()">
      </p-dropdown>
    </div>
    <div>
      <div class="big-text-create mb-1">{{lang.tr('Проект')}}</div>
      <p-dropdown class="select" [(ngModel)]="taskProject" [options]="taskProjects" styleClass="width-220 font-14" (ngModelChange)="taskProjectChanged()">
      </p-dropdown>
    </div>
    <div>
      <div class="big-text-create mb-1 ">{{lang.tr('Приоритет')}}</div>
      <p-dropdown optionLabel="label" optionValue="value" class="select" styleClass="width-220" [(ngModel)]="taskPriority" [options]="taskPriorities">
      </p-dropdown>
    </div>
  </div>
  <div class="df space-between">
    <div *ngIf="taskType.includes('RKD') || taskType == 'PDSP'">
      <div class="big-text-create mb-1 mt-1">{{lang.tr('Этап')}}</div>
      <p-dropdown class="select" styleClass="width-200" [(ngModel)]="taskPeriod" [options]="taskPeriods" optionLabel="label" optionValue="value">
      </p-dropdown>
    </div>
    <div *ngIf="taskType.includes('RKD')">
      <div class="big-text-create mb-1 mt-1">{{lang.tr('Плановая трудоёмкость')}}</div>
      <p-inputNumber [(ngModel)]="planLabor" mode="decimal"></p-inputNumber>
    </div>
<!--    <div *ngIf="taskType.includes('RKD') || taskType == 'PDSP'">-->
<!--      <div class="big-text-create mb-1 mt-1">{{lang.tr('Код SFI')}}</div>-->
<!--      <p-dropdown optionLabel="label" optionValue="value" class="select" appendTo = "body" [(ngModel)]="sfiCode" [options]="sfiCodes" styleClass="width-450 font-14" (ngModelChange)="sfiCodeChanged()">-->
<!--      </p-dropdown>-->
<!--    </div>-->
  </div>
  <div *ngIf="taskType == 'RKD'">
    <div class="df space-between">
      <div style="width: 200px">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Номер документа')}}</div>
        <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="taskDocNumber">
      </div>
      <div style="width: 450px">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Название документа')}}</div>
        <input type="text" pInputText [(ngModel)]="taskSummary">
      </div>
    </div>
    <div class="df space-between">
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Назначить ответственного')}}</div>
        <p-dropdown [options]="users" [(ngModel)]="responsibleUser" [filter]="true" [filterBy]="lang.language == 'ru' ? 'userName' : 'userNameEn'" optionValue="login" [optionLabel]="lang.language == 'ru' ? 'userName' : 'userNameEn'"
                    [showClear]="true" [placeholder]="l.tr('Назначить')" class="p-dropdown-150" styleClass="width-300 max-height-150">
          <ng-template let-user pTemplate="item">
            <div class="df">
              <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
              <div *ngIf="l.language == 'ru'" class="cx cy pl-10">{{user.userName}}</div>
              <div *ngIf="l.language == 'en'" class="cx cy pl-10">{{user.userNameEn}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Отдел')}}</div>
        <p-dropdown class="select" styleClass="width-300" [(ngModel)]="taskDepartment" [options]="taskDepartments">
        </p-dropdown>
      </div>
    </div>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание задачи')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy">
      <div class="cxy w-100" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{lang.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>
  </div>
  <div *ngIf="taskType == 'PDSP'">
    <div class="df space-between">
      <div style="width: 200px">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Номер документа')}}</div>
        <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="taskDocNumber">
      </div>
      <div style="width: 68%">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Название документа')}}</div>
        <input type="text" pInputText [(ngModel)]="taskSummary">
      </div>
    </div>
    <div class="df space-between">
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Назначить ответственного')}}</div>
        <p-dropdown [options]="users" [(ngModel)]="responsibleUser" [filter]="true" [filterBy]="lang.language == 'ru' ? 'userName' : 'userNameEn'" optionValue="login" [optionLabel]="lang.language == 'ru' ? 'userName' : 'userNameEn'"
                    [showClear]="true" [placeholder]="l.tr('Назначить')" class="p-dropdown-150" styleClass="width-300 max-height-150">
          <ng-template let-user pTemplate="item">
            <div class="df">
              <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
              <div *ngIf="l.language == 'ru'" class="cx cy pl-10">{{user.userName}}</div>
              <div *ngIf="l.language == 'en'" class="cx cy pl-10">{{user.userNameEn}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Отдел')}}</div>
        <p-dropdown class="select" styleClass="width-300" [(ngModel)]="taskDepartment" [options]="taskDepartments">
        </p-dropdown>
      </div>
    </div>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание задачи')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy loading">
      <div class="cxy" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{lang.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>
  </div>
  <div *ngIf="taskType == 'APPROVAL'">
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Название задачи')}}</div>
    <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="taskSummary">
    <div class="df space-between">
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Назначить ответственного')}}</div>
        <p-multiSelect appendTo = "body" optionValue="login" optionLabel="userName" [options]="users" styleClass="width-220 border max-height-150" [maxSelectedLabels]="5" [selectedItemsLabel]="l.tr('{0} выбрано')" [(ngModel)]="selectedUsers"></p-multiSelect>


<!--        <p-dropdown [options]="users" [(ngModel)]="responsibleUser" [filter]="true" [filterBy]="lang.language == 'ru' ? 'userName' : 'userNameEn'" optionValue="login" [optionLabel]="lang.language == 'ru' ? 'userName' : 'userNameEn'"-->
<!--                    [showClear]="true" [placeholder]="l.tr('Назначить')" class="p-dropdown-150" styleClass="width-220 max-height-150">-->
<!--          <ng-template let-user pTemplate="item">-->
<!--            <div class="df">-->
<!--              <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>-->
<!--              <div *ngIf="l.language == 'ru'" class="cx cy pl-10">{{user.userName}}</div>-->
<!--              <div *ngIf="l.language == 'en'" class="cx cy pl-10">{{user.userNameEn}}</div>-->
<!--            </div>-->
<!--          </ng-template>-->
<!--        </p-dropdown>-->
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Отдел')}}</div>
        <p-dropdown class="select" styleClass="width-220" [(ngModel)]="taskDepartment" [options]="taskDepartments">
        </p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Срок завершения')}}</div>
        <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" [(ngModel)]="dueDate" appendTo = "body" dateFormat="dd.mm.yy" styleClass="width-220"></p-calendar>
      </div>
    </div>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание задачи')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy">
      <div class="cxy w-100" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{lang.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>
  </div>
  <div *ngIf="taskType == 'IT'">
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Название задачи')}}</div>
    <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="taskSummary">
    <div>
      <div class="big-text-create mb-1 mt-1">{{lang.tr('Назначить исполнителя')}}</div>
      <p-dropdown [options]="itUsers" [(ngModel)]="assignedToUser" [filter]="true" [filterBy]="lang.language == 'ru' ? 'userName' : 'userNameEn'" optionValue="login" [optionLabel]="lang.language == 'ru' ? 'userName' : 'userNameEn'"
                  [showClear]="true" [placeholder]="l.tr('Назначить')" class="p-dropdown-150" styleClass="width-220 max-height-150">
        <ng-template let-user pTemplate="item">
          <div class="df">
            <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
            <div *ngIf="l.language == 'ru'" class="cx cy pl-10">{{user.userName}}</div>
            <div *ngIf="l.language == 'en'" class="cx cy pl-10">{{user.userNameEn}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание задачи')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
            <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
            <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
            <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
            <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy">
      <div class="cxy w-100" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{lang.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>
  </div>
  <div *ngIf="taskType == 'OTHER'">
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Название задачи')}}</div>
    <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="taskSummary">
    <div class="df space-between">
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Назначить ответственного')}}</div>
        <p-dropdown [options]="users" [(ngModel)]="responsibleUser" [filter]="true" [filterBy]="lang.language == 'ru' ? 'userName' : 'userNameEn'" optionValue="login" [optionLabel]="lang.language == 'ru' ? 'userName' : 'userNameEn'"
                    [showClear]="true" [placeholder]="l.tr('Назначить')" class="p-dropdown-150" styleClass="width-220 max-height-150">
          <ng-template let-user pTemplate="item">
            <div class="df">
              <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
              <div *ngIf="l.language == 'ru'" class="cx cy pl-10">{{user.userName}}</div>
              <div *ngIf="l.language == 'en'" class="cx cy pl-10">{{user.userNameEn}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Отдел')}}</div>
        <p-dropdown class="select" styleClass="width-220" [(ngModel)]="taskDepartment" [options]="taskDepartments"></p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Срок завершения')}}</div>
        <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" [(ngModel)]="dueDate" appendTo = "body" dateFormat="dd.mm.yy" styleClass="width-220"></p-calendar>
      </div>
    </div>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание задачи')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy loading">
      <div class="cxy w-100" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{lang.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>
  </div>
  <div *ngIf="taskType == 'CHANGES'">
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Название задачи')}}</div>
    <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="taskSummary">
    <div class="df space-between">
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Назначить ответственного')}}</div>
        <p-dropdown [options]="users" [(ngModel)]="responsibleUser" [filter]="true" [filterBy]="lang.language == 'ru' ? 'userName' : 'userNameEn'" optionValue="login" [optionLabel]="lang.language == 'ru' ? 'userName' : 'userNameEn'"
                    [showClear]="true" [placeholder]="l.tr('Назначить')" class="p-dropdown-150" styleClass="width-220 max-height-150">
          <ng-template let-user pTemplate="item">
            <div class="df">
              <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
              <div *ngIf="l.language == 'ru'" class="cx cy pl-10">{{user.userName}}</div>
              <div *ngIf="l.language == 'en'" class="cx cy pl-10">{{user.userNameEn}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Отдел')}}</div>
        <p-dropdown class="select" styleClass="width-220" [(ngModel)]="taskDepartment" [options]="taskDepartments"></p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Срок завершения')}}</div>
        <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" [(ngModel)]="dueDate" appendTo = "body" dateFormat="dd.mm.yy" styleClass="width-220"></p-calendar>
      </div>
    </div>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание задачи')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy loading">
      <div class="cxy w-100" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{lang.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>
  </div>
  <div *ngIf="taskType == 'DEVELOPMENT'">

    <div class="df space-between">
      <div class="width-460 mr-15">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Название задачи')}}</div>
        <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="taskSummary">
      </div>
      <div class="width-220">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Отдел')}}</div>
        <p-dropdown class="select" styleClass="width-220" [(ngModel)]="taskDepartment" [options]="taskDepartments">
        </p-dropdown>
      </div>

    </div>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание задачи')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy loading">
      <div class="cxy" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{lang.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>
  </div>
  <div *ngIf="taskType == 'RKD-TURK'">
    <div class="df space-between">
      <div style="width: 200px">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Номер документа')}}</div>
        <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="taskDocNumber">
      </div>
      <div style="width: 68%">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Название документа')}}</div>
        <input type="text" pInputText [(ngModel)]="taskSummary">
      </div>
    </div>
    <div class="df space-between">
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Назначить ответственного')}}</div>
        <p-dropdown [options]="users" [(ngModel)]="responsibleUser" [filter]="true" [filterBy]="lang.language == 'ru' ? 'userName' : 'userNameEn'" optionValue="login" [optionLabel]="lang.language == 'ru' ? 'userName' : 'userNameEn'"
                    [showClear]="true" [placeholder]="l.tr('Назначить')" class="p-dropdown-150" styleClass="width-300 max-height-150">
          <ng-template let-user pTemplate="item">
            <div class="df">
              <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
              <div *ngIf="l.language == 'ru'" class="cx cy pl-10">{{user.userName}}</div>
              <div *ngIf="l.language == 'en'" class="cx cy pl-10">{{user.userNameEn}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Отдел')}}</div>
        <p-dropdown class="select" styleClass="width-300" [(ngModel)]="taskDepartment" [options]="taskDepartments">
        </p-dropdown>
      </div>
    </div>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание задачи')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy loading">
      <div class="cxy" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{lang.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>
  </div>
  <div *ngIf="taskType == 'CORRECTION'">
    <div class="df space-between">
      <div style="width: 200px">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Номер документа')}}</div>
        <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="taskDocNumber">
      </div>
      <div style="width: 450px">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Название документа')}}</div>
        <input type="text" pInputText [(ngModel)]="taskSummary">
      </div>
    </div>
    <div class="df space-between">
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Назначить ответственного')}}</div>
        <p-dropdown [options]="users" [(ngModel)]="responsibleUser" [filter]="true" [filterBy]="lang.language == 'ru' ? 'userName' : 'userNameEn'" optionValue="login" [optionLabel]="lang.language == 'ru' ? 'userName' : 'userNameEn'"
                    [showClear]="true" [placeholder]="l.tr('Назначить')" class="p-dropdown-150" styleClass="width-300 max-height-150">
          <ng-template let-user pTemplate="item">
            <div class="df">
              <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
              <div *ngIf="l.language == 'ru'" class="cx cy pl-10">{{user.userName}}</div>
              <div *ngIf="l.language == 'en'" class="cx cy pl-10">{{user.userNameEn}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Отдел')}}</div>
        <p-dropdown class="select" styleClass="width-300" [(ngModel)]="taskDepartment" [options]="taskDepartments">
        </p-dropdown>
      </div>
    </div>
    <div class="df space-between">
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Причина изменения')}}</div>
        <p-dropdown class="select" styleClass="width-300" [(ngModel)]="reasonOfModification" [options]="reasonsOfChange" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Изменение существующего')}}</div>
        <p-dropdown class="select" styleClass="width-300" [(ngModel)]="modificationOfExisting" [options]="yesNo" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
    </div>
    <div class="df space-between">
      <div class="w-100">
        <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание изменения')}}</div>
        <input (keydown.tab)="$event.preventDefault(); $event.stopPropagation(); editor.focus()" type="text" pInputText [(ngModel)]="modificationDescription">
      </div>
    </div>

    <div class="big-text-create mb-1 mt-1">{{lang.tr('Описание задачи')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text-create mb-1 mt-1">{{lang.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy">
      <div class="cxy w-100" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{lang.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>
  </div>
</div>
<div class="form-footer-create">
  <div class="mr-5 cx">
    <div tabindex="11" (click)="close()" pButton [label]="l.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
  <div tabindex="10" [class.disabled-button]="isCreateTaskDisabled()" (click)="createTask()" pButton [label]="l.tr('Создать')" class="button-ok"></div>
</div>


<div [hidden]="!showImages">
  <div class="image-preview-backdrop" (click)="closeShowImage()">

  </div>
  <div class="image-preview-scale">
    <img #img class="image-preview" data-wheel-zoom [src]="image" style="height: unset; width: unset"/>
  </div>
</div>
