<div class="pt-20" style="height: 180px; width: 400px;">
  <div class="df flex-end">
    <div class="task-button-close cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>

  <div class="mt-1 cxy">
    <div class="delete-text">{{t.tr('Вы подтверждаете статус готовности оборудования?')}}</div>
  </div>
  <div class="footer-delete mt-40">
    <div class="mr-10 cx">
      <div tabindex="10" (click)="commit()" class="button-ok cxy">{{t.tr('ОК')}}</div>
    </div>
    <div tabindex="11" (click)="close()" pButton [label]="t.tr ('Отменить')" class="button-cancel ml-1"></div>
  </div>
</div>
