/deep/.p-dialog .p-dialog-content {
  padding: 0 20px 20px 20px;
}
/deep/.p-dialog .p-dialog-header {
  padding: 10px;

}
.all-page-spy{
  background: linear-gradient(90deg, rgba(237,237,249,1) 0%, rgba(246,249,252,1) 49%, rgba(236,236,249,1) 100%);
  padding: 20px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  min-height: 100%;
  height: fit-content;
}
.view-image{
  height: auto;
  width: 32vw;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.user-title{
  font-weight: 500;
}
.user-watches{
  flex-wrap: wrap;
}
.user-watch{
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.out-work{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  border-radius: 10px;
  color: white;
  font-size: xxx-large;
}
.over-image{
  width: 70vw;
}
.full-view-image{
  width: 70vw;
}
.monitor{
  height: 144px;
  width: 256px;
  padding: 5px;
}
