.top-panel{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--navi-height);
  background-color: #0E364A;
  z-index: 9;
  display: grid;
  grid-template-columns: 1fr 11fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}
.top-panel-tablet{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--navi-height);
  background-color: #0E364A;
  z-index: 9;
  display: grid;
  grid-template-columns: 1fr 3fr 0.35fr 0.35fr 0.35fr 0.35fr 0.35fr 0.1fr;
}
.left-panel{
  position: absolute;
  left: 0;
  top: var(--navi-height);
  height: calc(100% - var(--navi-height));
  min-height: 400px;
  width: var(--navi-width);
  z-index: 8;
  box-shadow: 5px 5px 22px 0px rgba(34, 34, 34, 0.2);
  background-color: #0E364A;
}
.menu{
  padding: 8px;
  border-radius: 8px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  color: #c8ccd8;
  font-size: 0.73286em;
  cursor: pointer;
  font-weight: 500;
  width: 40px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.menu:hover{
  background-color: rgba(50, 74, 98, 0.84);
  transition: 0.2s;
}
.mt-76{
  margin-top: 76px;
}
.selected-menu{
  background-color: rgba(50, 74, 98, 0.84);
}
.hidden-menu{
  display: none;
}
.question{
  color: #fff;
}
.image-online{
  width: 38px;
  height: 38px;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #0F9443 45%,#0EA97D 60%,#6BBF8B 90%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.image-offline{
  width: 38px;
  height: 38px;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #CD5768 45%,#C00B3D 60%,#BA092A 90%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.image__src{
  position: absolute;
  border-radius: 50%;
  background-size: cover;
}
.user-menu{
  width: 500px;
}
.row-user-menu{
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  color: rgb(9, 30, 66);
  fill: rgb(255, 255, 255);
  text-decoration: none;
  width: auto;
  padding: 10px 12px 10px;
}
.all-row-user-menu:hover{
  background-color: #EBECF0;
}
.border-bottom{
  border-bottom: 1px solid #f3f2f1;
}
/deep/.p-overlaypanel .p-overlaypanel-content{
  padding: 4px 0;
}
.icon-turn{
  transform: rotate(90deg);
}
.p-overlaypanel:before{

}
.weather-descr{
  margin-top: -8px;
}
.weather{
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #c8ccd8;
}
.time{
  color: #c8ccd8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
}
