<div class="top-panel">
  <div class="cy ml-1">
    <a href="https://deep-sea.ru/"><img class="cursor-pointer" src="assets/deepsea_white.svg" height="30"></a>
  </div>
  <div></div>
  <div class="cxy">
    <div (click)="t.switchLang()">
      <img *ngIf="t.language == 'ru'" class="cursor-pointer" src="assets/icons/russia.png">
      <img *ngIf="t.language == 'en'" class="cursor-pointer" src="assets/icons/en.png">
    </div>
  </div>
  <div class="cxy">
    <div pTooltip="Cloud" tooltipPosition="bottom">
      <a href="https://cloud.nautic-rus.ru/" target="_blank"><img class="cursor-pointer" src="assets/icons/cloud.png"></a>
    </div>
  </div>
  <div class="cxy">
    <div pTooltip="NautucWiki" tooltipPosition="bottom">
      <a href="https://wiki.nautic-rus.ru/" target="_blank"><img class="cursor-pointer" src="assets/icons/question.png"></a>
    </div>
  </div>
  <div class="cxy">
    <img src="{{auth.getUserAvatar(auth.getUser().login)}}" height="32" width="32" style="border-radius: 16px">
  </div>
  <div class="exit cxy">
    <img (click)="auth.exit()" src="assets/icons/exit.png" class="cursor-pointer" [pTooltip]="t.tr('Выйти')" tooltipPosition="bottom">
  </div>
  <div></div>
</div>
<div class="left-panel">
  <div [class.hidden-menu]="auth.getUser().visibility.includes('t')" class="cy menu" routerLink="" routerLinkActive="selected-menu" [routerLinkActiveOptions]= "{exact: true}">
    <div class="cxy">
      <img src="assets/icons/home.svg" height="27">
    </div>
    <div class="cxy text-center mt-10">{{t.tr('МОЯ СТРАНИЦА')}}</div>
  </div>
  <div [class.hidden-menu]="auth.getUser().visibility.includes('t')" class="cy menu" routerLink="materials" routerLinkActive="selected-menu">
    <div class="cxy">
      <img src="assets/icons/materials.svg" height="30">
    </div>
    <div class="cxy mt-10">{{t.tr('МАТЕРИАЛЫ')}}</div>
  </div>
  <div [class.hidden-menu]="auth.getUser().visibility.includes('t')" class="cy menu" routerLink="documents" routerLinkActive="selected-menu">
    <div class="cxy">
      <img src="assets/icons/blueprint.svg" height="30">
    </div>
    <div class="cxy text-center mt-10">{{t.tr('ДОКУМЕНТЫ')}}</div>
  </div>
<!--  <div class="cy menu" routerLink="gantt" routerLinkActive="selected-menu">-->
<!--    <div class="cxy">-->
<!--      <img src="assets/icons/chart-gantt.svg" height="27">-->
<!--    </div>-->
<!--    <div class="cxy text-center mt-10">ГАНТ</div>-->
<!--  </div>-->
  <div *ngIf="auth.getUser().visibility.includes('z')" class="cy menu" routerLink="employees" routerLinkActive="selected-menu">
    <div class="cxy">
      <img src="assets/icons/group.svg" height="36">
    </div>
    <div class="cxy text-center mt-10">{{t.tr('СОТРУДНИКИ')}}</div>
  </div>
  <div *ngIf="auth.getUser().visibility.includes('t')" class="cy menu" routerLink="doc-explorer" routerLinkActive="selected-menu" queryParamsHandling="merge">
    <div class="cxy">
      <img src="assets/icons/doc-explorer.png">
    </div>
    <div class="cxy text-center mt-10">{{t.tr('ДОКУМЕНТЫ')}}</div>
  </div>
  <div class="cy menu" routerLink="sections" routerLinkActive="selected-menu" queryParamsHandling="merge">
    <div class="cxy">
      <img src="assets/icons/sections1.png">
    </div>
    <div class="cxy text-center mt-10">{{t.tr('СЕКЦИИ')}}</div>
  </div>

  <div></div>


</div>
