<div class="top-panel">
  <div class="cy ml-1">
    <img src="assets/deepsea_white.svg" height="30">
  </div>
  <div></div>
  <div class="user">
    <div>


    </div>
    <div>

    </div>

  </div>
  <div class="exit cxy">
    <img (click)="auth.exit()" src="assets/exit.svg" height="25" class="cursor-pointer">



  </div>


</div>
<div class="left-panel">
  <div class="cy menu"  routerLink="" routerLinkActive="selected-menu" [routerLinkActiveOptions]= "{exact: true}">
    <div class="cxy">
      <img src="assets/home.svg" height="27">
    </div>
    <div class="cxy text-center mt-10">МОЯ СТРАНИЦА</div>
  </div>
  <div class="cy menu">
    <div class="cxy">
      <img src="assets/material.svg" height="30">
    </div>
    <div class="cxy mt-10">МАТЕРИАЛЫ</div>
  </div>
  <div class="cy menu">
    <div class="cxy">
      <img src="assets/materialPDSP.svg" height="30">
    </div>
    <div class="cxy text-center mt-10">МАТЕРИАЛЫ ПДСП</div>
  </div>
  <div class="cy menu">
    <div class="cxy">
      <img src="assets/rooms.svg" height="27">
    </div>
    <div class="cxy text-center mt-10">ДОКУМЕНТЫ</div>
  </div>
  <div class="cy menu">
    <div class="cxy">
      <img src="assets/reports.svg" height="27">
    </div>
    <div class="cxy text-center mt-10">ВЕДОМОСТИ</div>
  </div>
  <div class="cy menu" routerLink="bpmn" routerLinkActive="selected-menu">
    <div class="cxy">
      <img src="assets/bpmn.svg" height="28">
    </div>
    <div class="cxy text-center mt-10">BPMN</div>
  </div>
  <div></div>


</div>
