.top-panel{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--navi-height);
  background-color: #0E364A;
  z-index: 9;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.left-panel{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: var(--navi-width);
  z-index: 8;
  box-shadow: 5px 5px 22px 0px rgba(34, 34, 34, 0.2);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
}
.menu{
  display: grid;
  grid-template-rows: 50px 30px;
  font-family: TTRoundsNeue-CompRegular, serif;
  color: #262626;
  font-size: 13px;
}
.menu:hover{
  background-color: #efefef;
  transition: 0.2s;
}
.mt-76{
  margin-top: 76px;
}
