<div class="top-panel">
  <div class="cy ml-1">
    <img src="assets/deepsea_white.svg" height="30">
  </div>
  <div></div>


</div>
<div class="left-panel">
  <div class="mt-76 cxy menu px-10">
    <div class="cxy">
      <img src="assets/materials.svg" height="40">
    </div>
    <div class="cxy">МАТЕРИАЛЫ</div>
  </div>
  <div class="cxy menu px-10">
    <div class="cxy">
      <img src="assets/materialsPDSP.svg" height="40">
    </div>
    <div class="cxy text-center">МАТЕРИАЛЫ ПДСП</div>
  </div>
  <div class="cxy menu px-10">
    <div class="cxy">
      <img src="assets/rooms.svg" height="40">
    </div>
    <div class="cxy text-center">ДОКУМЕНТЫ</div>
  </div>
  <div class="cxy menu px-10">
    <div class="cxy">
      <img src="assets/reports.svg" height="40">
    </div>
    <div class="cxy text-center">ВЕДОМОСТИ</div>
  </div>
  <div></div>


</div>
