<div>
  <div class="user-header">
    <div>
      <div class="id">{{lang.tr('ID')}}</div>
      <p-inputNumber inputId="id" [(ngModel)]="id"></p-inputNumber>
    </div>
    <div>
      <div class="avatar">{{lang.tr('Аватар')}}</div>
      <input type="text" id="avatar" pInputText [(ngModel)]="avatar">
    </div>
    <div>
      <div class="name">{{lang.tr('Имя')}}</div>
      <input type="text" id="name" pInputText [(ngModel)]="name">
    </div>
    <div>
      <div class="surname">{{lang.tr('Фамилия')}}</div>
      <input type="text" id="surname" pInputText [(ngModel)]="surname">
    </div>
    <div class="login">
      <div class="login">{{lang.tr('Логин')}}</div>
      <input type="text" id="login" pInputText [(ngModel)]="login">
    </div>
    <div class="password">
      <div class="password">{{lang.tr('Пароль')}}</div>
      <input type="text" id="password" pInputText [(ngModel)]="password">
    </div>
    <div class="profession">
      <div class="profession">{{lang.tr('Должность')}}</div>
      <input type="text" id="profession" pInputText [(ngModel)]="profession">
    </div>
    <div class="department">
      <div class="department">{{lang.tr('Отдел')}}</div>
      <input type="text" id="department" pInputText [(ngModel)]="department">
    </div>
    <div class="birthday">
      <div class="birthday">{{lang.tr('День рождения')}}</div>
      <p-calendar appendTo="body" id="birthday" [(ngModel)]="birthday"></p-calendar>
    </div>
    <div class="email">
      <div class="email">{{lang.tr('Почта')}}</div>
      <input type="text" id="email" pInputText [(ngModel)]="email">
    </div>
    <div class="phone">
      <div class="phone">{{lang.tr('Телефон')}}</div>
      <input type="text" id="phone" pInputText [(ngModel)]="phone">
    </div>
    <div class="tcid">
      <div class="tcid">{{lang.tr('TcId')}}</div>
      <p-inputNumber inputId="tcid" [(ngModel)]="tcid"></p-inputNumber>
    </div>
    <div class="rocketLogin">
      <div class="rocketLogin">{{lang.tr('Рокет логин')}}</div>
      <input type="text" id="rocketLogin" pInputText [(ngModel)]="rocket_login">
    </div>
    <div class="gender">
      <div class="gender">{{lang.tr('Гендер')}}</div>
      <p-dropdown appendTo="body" id="gender" [options]="genders" [(ngModel)]="gender" optionLabel="name" optionValue="name"></p-dropdown>
    </div>
    <div class="visibility">
      <div class="visibility">{{lang.tr('Видимость')}}</div>
      <input type="text" id="visibility" pInputText [(ngModel)]="visibility">
    </div>
    <div class="sharedAccess">
      <div class="sharedAccess">{{lang.tr('Shared Access')}}</div>
      <p-multiSelect appendTo="body" id="sharedAccess" [options]="shared_access" [(ngModel)]="shared_access" optionLabel="name" optionValue="name"></p-multiSelect>
    </div>
    <div class="visible_projects">
      <div class="visible_projects">{{lang.tr('Доступные проекты')}}</div>
      <p-multiSelect appendTo="body" id="visible_projects" [options]="projects" [(ngModel)]="visible_projects" optionLabel="name" optionValue="name"></p-multiSelect>
    </div>
    <div class="groups">
      <div class="groups">{{lang.tr('Группа')}}</div>
      <p-multiSelect appendTo="body" id="groups" [options]="groups" [(ngModel)]="groups" optionLabel="name" optionValue="name"></p-multiSelect>
    </div>
    <div class="permissions">
      <div class="permissions">{{lang.tr('Права')}}</div>
      <p-multiSelect appendTo="body" id="permissions" [options]="roles" [(ngModel)]="permissions" optionLabel="name" optionValue="name"></p-multiSelect>
    </div>
    <div class="token">
      <div class="token">{{lang.tr('Токен')}}</div>
      <input type="text" id="token" pInputText [(ngModel)]="token">
    </div>
  </div>
  <div class="form-create">
    <div (click)="close()" pButton [label]="lang.tr('Отмена')" class="button-cancel"></div>
    <div (click)="createUser()" pButton [label]="lang.tr('Создать')" class="button-create"></div>
  </div>
</div>
