<div style="width: 460px;">
  <div class="header-parts">
    <div class="header-parts-text">{{t.tr('Создать новую группу')}}</div>
    <div class="df">
      <div class="parts-button-close cxy" (click)="close()">
        <i class="pi pi-times"></i>
      </div>
    </div>
  </div>


  <form style="height: 430px; width: 460px;" [formGroup]="groupForm" class="form-container">
    <div class="big-text-create mb-1">{{'SFI'}}</div>
    <p-dropdown formControlName="sfi" class="select" optionLabel="code" optionValue="code" [options]="sfis" (onChange)="changeSFI()"
                placeholder="SFI number" appendTo = "body" styleClass="w-100 font-13" [filter]="true" filterBy="code,ru,en">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2">
          {{sfiAndName}}
        </div>
      </ng-template>
      <ng-template let-sfi pTemplate="item">
        <div class="df user-select">
          <div class="pr-10">{{sfi.code}}</div>
          <div>
            <div class="">{{sfi.ru}}</div>
            <div class="text-gray">{{sfi.eng}}</div>
          </div>
        </div>
      </ng-template>
    </p-dropdown>
    <div class="df space-between mt-1">
      <div>
        <div class="big-text-create mb-1">{{t.tr('Проект')}}</div>
        <p-dropdown formControlName="project" class="select"  [options]="equipmentProjects" appendTo = "body" styleClass="width-220 font-13"></p-dropdown>
      </div>
      <div>
        <div class="big-text-create mb-1">{{t.tr('Отдел')}}</div>
        <p-dropdown formControlName="department" class="select" [options]="equipmentDepartments" appendTo = "body" styleClass="width-220 font-13"></p-dropdown>
      </div>
    </div>


    <label class="big-text-create mb-1 mt-1" for="name">{{t.tr('Наименование')}} </label>
    <input pInputText id="name" type="text" formControlName="name">


    <label class="big-text-create mb-1 mt-1" for="commentText">{{t.tr('Комментарий')}} </label>
    <input class="" pInputText id="commentText" type="text" formControlName="commentText">


    <div *ngIf="equipmentFiles.length != 0" class="big-text mt-1">{{t.tr('Вложения')}}</div>
    <div class="mb-15 width-400 position-relative" *ngFor="let file of equipmentFiles">
      <div class="df mb-6 cursor-pointer">
        <div class="df w-90 space-between">
          <div class="df">
            <div class="cxy">
              <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>
            </div>
            <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>
          </div>
          <div (click)="deleteFile(file)">
            <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-20 df">
      <div tabindex="10"  [class.disabled-button]="!groupForm.valid" (click)="addFiles()" class="button-ok ml-1">{{t.tr('Добавить файлы')}}</div>
    </div>



    <div class="mr-5 mt-20 mb-50 df justify-content-end">
      <div tabindex="10" [class.disabled-button]="!groupForm.valid" (click)="createGroup()" class="button-ok cxy">{{t.tr('Создать')}}</div>
      <div tabindex="10" (click)="close()" class="button-cancel cxy ml-20">{{t.tr('Отмена')}}</div>
    </div>
  </form>
</div>

