<div class="col-3 h-100 page">
  <div class="h-sp2 mr-20">
    <div class="padding-10 h-top border mb-20">
      <div class="head-text mb-10">{{t.tr('Выберите период')}}</div>
      <div class="df mb-20">
        <p-calendar [disabled]="loading" (ngModelChange)="dateChanged()"  class="mr-10" [showWeek]="true" [firstDayOfWeek]="1" appendTo = "body" [showIcon]="true" [(ngModel)]="dateFrom" dateFormat="dd.mm.yy" styleClass="width-200"></p-calendar>
        <p-calendar [disabled]="loading" (ngModelChange)="dateChanged()" [showWeek]="true" [firstDayOfWeek]="1" [minDate]="dateFrom" appendTo = "body" [showIcon]="true" [(ngModel)]="dateTo" dateFormat="dd.mm.yy" styleClass="width-200"></p-calendar>
      </div>
      <div class="buttons-grid mb-15">
        <div [class.disabled-button]="loading" [class.materials-button-selected]="selectedPeriod == 'today'" (click)="setPeriod('today')" class="materials-button-chart mr-10 mb-10 current-button cxy">{{t.tr('Сегодня')}}</div>
        <div [class.disabled-button]="loading" [class.materials-button-selected]="selectedPeriod == 'curWeek'" (click)="setPeriod('curWeek')" class="materials-button-chart mr-10 mb-10 current-button cxy">{{t.tr('Текущая неделя')}}</div>
        <div [class.disabled-button]="loading" [class.materials-button-selected]="selectedPeriod == 'curMonth'" (click)="setPeriod('curMonth')" class="materials-button-chart mb-10 current-button cxy">{{t.tr('Текущий месяц')}}</div>
        <div [class.disabled-button]="loading" [class.materials-button-selected]="selectedPeriod == 'yesterday'" (click)="setPeriod('yesterday')" class="materials-button-chart mr-10 current-button cxy">{{t.tr('Вчера')}}</div>
        <div [class.disabled-button]="loading" [class.materials-button-selected]="selectedPeriod == 'prevWeek'" (click)="setPeriod('prevWeek')" class="materials-button-chart mr-10 current-button cxy">{{t.tr('Прошлая неделя')}}</div>
        <div [class.disabled-button]="loading" [class.materials-button-selected]="selectedPeriod == 'prevMonth'" (click)="setPeriod('prevMonth')" class="materials-button-chart current-button cxy">{{t.tr('Прошлый месяц')}}</div>
      </div>
      <div class="head-text mb-10">{{t.tr('Выберите отделы')}}</div>
      <div class="df">
        <p-multiSelect styleClass="width-220" appendTo="body" id="rights" [options]="departments" [(ngModel)]="selectedDepartments" (ngModelChange)="filterChanged()"></p-multiSelect>
        <div class="align-end df ml-20">
          <label class="container mb-5">
            <span class="text-checkbox">{{t.tr('Только инженеры')}}</span>
            <input (change)="filterChanged()" type="checkbox" [(ngModel)]="showOnlyEngineers">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="padding-10 h-sp2-c border">
      <div class="head-text mb-10">{{t.tr('Выберите сотрудника')}}</div>
      <p-table *ngIf="users.length != 0" #table [value]="users"
               [scrollable]="true"
               scrollHeight="calc(70vh - 240px)"
               [virtualScroll]="true"
               [virtualRowHeight]="40"
               styleClass="p-datatable-striped"
               responsiveLayout="scroll"
               [globalFilterFields]="['id','doc_number','name','status']">
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 30px; max-width: 30px"></th>
            <th pSortableColumn="userName" class="">{{t.tr('Сотрудник')}}
              <p-sortIcon field="userName"></p-sortIcon>
            </th>
            <th pSortableColumn="department" class="">{{t.tr('Отдел')}}
              <p-sortIcon field="department"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr class="cursor-pointer row-table-user-hover" (click)="selectUser(user)">
            <td style="min-width: 30px; max-width: 30px">
              <img  src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
            </td>
            <td class="text-14 break-word">{{user.userName}}</td>
            <td class="text-14 break-word">{{user.department}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="padding-15 border mr-20">
    <div class="head-text mb-10">{{t.tr('Временные графики')}}</div>
    <div class="mb-10 legend-time">
      <div class="df align-center">
        <div class="square gray-square"></div>
        <div class="ml-10">{{t.tr('План')}}</div>
      </div>
      <div class="df align-center">
        <div class="square pink-square"></div>
        <div class="ml-10">{{t.tr('Офис')}}</div>
      </div>
      <div class="df align-center">
        <div class="square blue-square"></div>
        <div class="ml-10">{{t.tr('Задачи')}}</div>
      </div>
    </div>
    <div class="time-chart" *ngIf="loading">
      <div class="cxy loading">
        <div class="cxy flex-column">
          <img src="assets/whale.gif" height="120">
          <div class="cx loading-text">PLEASE WAIT...</div>
        </div>
      </div>
<!--      <p-skeleton width="100%" height="calc(100vh - 200px)" borderRadius="16px"></p-skeleton>-->

    </div>
    <div class="time-chart cursor-pointer" *ngIf="users.length > 0 && !loading">
      <p-chart type="bar" [data]="data" [options]="options" [height]="usersHeight" [plugins]="chartPlugins" (click)="chartClick($event)"></p-chart>
    </div>
  </div>
  <div class="padding-15 border">
    <div class="head-text mb-10">{{t.tr('Отчет пользователя')}}</div>
    <div class="time-chart" *ngIf="loading">
      <div class="df">
        <p-skeleton width="120px" height="120px" borderRadius="16px"></p-skeleton>
        <div class="ml-20">
          <div class="big-text-username mb-10">
            <p-skeleton width="320px" height="35px"></p-skeleton>
          </div>
          <div class="mt-5 n-text-username">
            <p-skeleton width="250px" height="20px"></p-skeleton>
          </div>
          <div class="mt-5 df n-text-username">
            <p-skeleton width="250px" height="20px"></p-skeleton>
          </div>
        </div>
      </div>
      <div class="pt-8">
        <p-skeleton width="80%" height="120px" borderRadius="16px"></p-skeleton>
      </div>
    </div>
    <div *ngIf="selectedUser != null && !loading">
      <div class="df">
        <div class="df w-48">
          <img src="{{selectedUser.avatar_full}}" width="126px" height="126px" style="border-radius: 16px"/>
          <div class="ml-20">
            <div class="big-text-username mb-10">{{selectedUser.userName}}</div>
            <div class="n-text-username">{{selectedUser.profession}}</div>
            <div class="df n-text-username">
              <div class="mr-10">{{t.tr('Отдел')}}:</div>
              <div>{{selectedUser.department}}</div>
            </div>
            <a [href]="sanitize('rocketchat://room?host=rocket.nautic-rus.ru&path=direct/' + selectedUser.rocket_login)" class="materials-button-chart mt-10 current-button cxy width-150">{{t.tr('Написать')}}</a>
          </div>
        </div>
        <div class="w-52 df flex-column flex-end" *ngIf="userStats != null">
          <div class="text-end n-text-username mr-20 mb-10">{{t.tr('За выбранный период')}}:</div>
          <div class="text-end grid-three mr-20 mb-10 font-14">
            <div>{{t.tr('План')}}:{{' '+ userStats.plan}}{{t.tr('ч.')}}</div>
            <div>{{t.tr('Офис')}}:{{' '+ userStats.office}}{{t.tr('ч.')}}</div>
            <div>{{t.tr('Задачи')}}:{{' '+ userStats.tasks}}{{t.tr('ч.')}}</div>
          </div>
          <div class="text-end grid-four mb-10 mr-20 font-14">
            <div class="df align-center mr-15">
              <div class="square vacation-square mr-5"></div>
              <div>{{t.tr('Отпуск')}}:</div>
              <div class="ml-5">{{userStats.vacation}}{{t.tr('д.')}}</div>
            </div>
            <div class="df align-center mr-15">
              <div class="square sick-square mr-5"></div>
              <div>{{t.tr('Больнич.')}}:</div>
              <div class="ml-5">{{userStats.medical}}{{t.tr('д.')}}</div>
            </div>
            <div class="df align-center mr-15">
              <div class="square off-square mr-5"></div>
              <div>{{t.tr('Отгул')}}:</div>
              <div class="ml-5">{{userStats.dayOff}}{{t.tr('д.')}}</div>
            </div>
            <div class="df align-center">
              <div class="square study-square mr-5"></div>
              <div>{{t.tr('Учёба')}}:</div>
              <div class="ml-5">{{userStats.study}}{{t.tr('ч.')}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-all ovf-auto mt-20 cursor-pointer" *ngIf="userStats != null">
        <div class="df table-all-head">
          <div class="mx-5 w-10 padding-10">{{t.tr('Date')}}</div>
          <div class="mx-5 w-10 padding-10">{{t.tr('Time')}}</div>
          <div class="mx-5 w-80 df">
            <div class="mx-5 w-10 padding-10">{{t.tr('ID')}}</div>
            <div class="mx-5 w-10 padding-10">{{t.tr('Type')}}</div>
            <div class="mx-5 w-40 padding-10">{{t.tr('Name')}}</div>
            <div class="mx-5 w-30 padding-10">{{t.tr('Document')}}</div>
            <div class="mx-5 w-10 padding-10">{{t.tr('Hours')}}</div>
          </div>
        </div>
        <div class="df border-bottom-t row-table-user-hover" *ngFor="let statDay of userStats.details">
          <div class="position-relative">
            <div *ngIf="statDay.special != ''" [ngStyle]="getSpecial(statDay.special)" class="special"></div>
            <div class="mx-5 w-10 padding-10 ">{{getDate(statDay.dateLong)}}</div>
          </div>
          <div class="mx-5 w-10 padding-10">{{statDay.officeTimeStr}}</div>
          <div class="mx-5 w-80">
            <div class="df row-table-user-hover" *ngFor="let task of statDay.tasks">
              <div class="mx-5 w-10 padding-10"><a [href]="'/?taskId=' + task.id" target="_blank">{{task.id}}</a></div>
              <div class="mx-5 w-10 padding-10">{{task.issueType}}</div>
              <div class="mx-5 w-40 padding-10">{{task.name}}</div>
              <div class="mx-5 w-30 padding-10">{{task.docNumber}}</div>
              <div class="mx-5 w-10 padding-10">{{task.hours}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
