<div class="col-3 h-100 page">
  <div class="mx-cols h-sp2">
    <div class="padding-10 h-sp2-c border head-text">{{t.tr('Выберите период')}}
      <div class="df">
        <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [showIcon]="true" [(ngModel)]="startDate" dateFormat="dd.mm.yy" styleClass="width-200"></p-calendar>
        <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [showIcon]="true" [(ngModel)]="startDate" dateFormat="dd.mm.yy" styleClass="width-200"></p-calendar>


      </div>
    </div>
    <div class="padding-10 h-sp2-c border">CHOOSE THE USER</div>
  </div>
  <div class="padding-15 border mx-cols">
    TIME CHARTS
    <div class="time-chart">
      <p-chart type="bar" [data]="data" [options]="options" [height]="usersHeight"></p-chart>
    </div>
  </div>
  <div class="padding-15 border mx-cols">
    USER REPORT
  </div>
</div>
