<div class="col-3 h-100 page">
  <div class="mx-cols h-sp2">
    <div class="padding-10 h-sp2-c border">
      <div class="head-text mb-20">{{t.tr('Выберите период')}}</div>
      <div class="df mb-20">
        <p-calendar class="mr-10" [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [showIcon]="true" [(ngModel)]="startDate" dateFormat="dd.mm.yy" styleClass="width-200"></p-calendar>
        <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [showIcon]="true" [(ngModel)]="startDate" dateFormat="dd.mm.yy" styleClass="width-200"></p-calendar>
      </div>
      <div class="buttons-grid">
        <div class="materials-button mr-10 mb-10 current-button cxy">{{t.tr('Сегодня')}}</div>
        <div class="materials-button mr-10 mb-10 current-button cxy">{{t.tr('Текущая неделя')}}</div>
        <div class="materials-button mb-10 current-button cxy">{{t.tr('Текущий месяц')}}</div>
        <div class="materials-button mr-10 current-button cxy">{{t.tr('Вчера')}}</div>
        <div class="materials-button mr-10 current-button cxy">{{t.tr('Прошлая неделя')}}</div>
        <div class="materials-button current-button cxy">{{t.tr('Прошлый месяц')}}</div>
      </div>

    </div>
    <div class="padding-10 h-sp2-c border">CHOOSE THE USER</div>
  </div>
  <div class="padding-15 border mx-cols">
    TIME CHARTS
    <div class="time-chart">
      <p-chart type="bar" [data]="data" [options]="options" [height]="usersHeight" [plugins]="chartPlugins"></p-chart>
    </div>
  </div>
  <div class="padding-15 border mx-cols">
    USER REPORT
  </div>
</div>
