.col-3{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 10px;
}
.mx-cols{
  margin: 0 10px 0 10px;
}
.h-sp2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h-sp2-c{
  height: calc(50% - 10px);
}
.user-chart{
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.time-chart{
  height: 85vh;
  overflow: auto;
}
