<div class="header-storage cy pl-20">
  НОРЕБО
</div>
<div class="all-page">
  <div class="df">
    <div class="card-warehouse w-17 mr-15">
      <div class="left-menu-text cursor-pointer my-10 cy" [class.select-text]="selectedFileGroup == 'Недавно загруженные'" (click)="selectFileGroup('Недавно загруженные')">
        Все файлы
        <span class="count-files">{{getFilesOfGroup('Недавно загруженные').length}}</span>
      </div>
      <div class="left-menu-text cursor-pointer my-10 cy" *ngFor="let fileGroup of fileGroups">
        <div class="left-menu-text cursor-pointer my-10 cy w-100" [class.select-text]="selectedFileGroup == fileGroup" (click)="selectFileGroup(fileGroup)">{{fileGroup}}
          <span class="count-files">{{getFilesOfGroup(fileGroup).length}}</span>
        </div>
      </div>
    </div>
    <div class="card-warehouse w-83">
      <div class="pb-15 text-head">Информация о поставке</div>
      <div class="delivery" *ngIf="storageUnit != null">
        <div class="border-right">
          <div class="df pb-15">
            <div class="parameter min-text">Наименование
              <i *ngIf="edit != 'name'" [class.disabled-button]="edit != ''" (click)="startEdit('name', storageUnit.name)" class="pi pi-pencil cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'name'" (click)="applyEdit()" class="pi pi-check-circle cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'name'" (click)="cancelEdit()" class="pi pi-times-circle cursor-pointer ml-5" style="font-size: 12px"></i>
            </div>
            <div *ngIf="edit != 'name'" class="value normal-text">{{storageUnit.name}}</div>
            <div *ngIf="edit == 'name'" class="">
              <input pInputText type="text" class="change normal-text" [(ngModel)]="storageUnit.name" />
            </div>
          </div>
          <div class="df pb-15">
            <div class="parameter min-text">Номер
              <i *ngIf="edit != 'code'" [class.disabled-button]="edit != ''" (click)="startEdit('code', storageUnit.code)" class="pi pi-pencil cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'code'" (click)="applyEdit()" class="pi pi-check-circle cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'code'" (click)="cancelEdit()" class="pi pi-times-circle cursor-pointer ml-5" style="font-size: 12px"></i>
            </div>
            <div *ngIf="edit != 'code'" class="value normal-text">{{storageUnit.code}}</div>
            <div *ngIf="edit == 'code'" class="">
              <input pInputText type="text" class="change normal-text" [(ngModel)]="storageUnit.code" />
            </div>
          </div>
          <div class="df pb-15">
            <div class="parameter min-text">Заказ
              <i *ngIf="edit != 'order'" [class.disabled-button]="edit != ''" (click)="startEdit('order', storageUnit.order)" class="pi pi-pencil cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'order'" (click)="applyEdit()" class="pi pi-check-circle cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'order'" (click)="cancelEdit()" class="pi pi-times-circle cursor-pointer ml-5" style="font-size: 12px"></i>
            </div>
            <div *ngIf="edit != 'order'" class="value normal-text">{{storageUnit.order}}</div>
            <div *ngIf="edit == 'order'" class="normal-text">
              <p-dropdown [options]="orders" [(ngModel)]="storageUnit.order"></p-dropdown>
            </div>
          </div>
          <div class="df pb-15">
            <div class="parameter min-text">Поставщик
              <i *ngIf="edit != 'supplier'" [class.disabled-button]="edit != ''" (click)="startEdit('supplier', storageUnit.supplier)" class="pi pi-pencil cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'supplier'" (click)="applyEdit()" class="pi pi-check-circle cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'supplier'" (click)="cancelEdit()" class="pi pi-times-circle cursor-pointer ml-5" style="font-size: 12px"></i>
            </div>
            <div *ngIf="edit != 'supplier'" class="value normal-text">{{storageUnit.supplier}}</div>
            <div *ngIf="edit == 'supplier'" class="normal-text">
              <p-dropdown [options]="suppliers" [(ngModel)]="storageUnit.supplier"></p-dropdown>
            </div>
          </div>
          <div class="df pb-15">
            <div class="parameter min-text">Дата поставки
              <i *ngIf="edit != 'date_supply'" [class.disabled-button]="edit != ''" (click)="startEdit('date_supply', storageUnit.date_supply)" class="pi pi-pencil cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'date_supply'" (click)="applyEdit()" class="pi pi-check-circle cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'date_supply'" (click)="cancelEdit()" class="pi pi-times-circle cursor-pointer ml-5" style="font-size: 12px"></i>
            </div>
            <div *ngIf="edit != 'date_supply'" class="value normal-text">{{getDateOnly(storageUnit.date_supply)}}</div>
            <div *ngIf="edit == 'date_supply'" class="normal-text">
              <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="minDate" appendTo = "body" [(ngModel)]="date_supply" dateFormat="dd.mm.yy" styleClass="width-270"></p-calendar>
            </div>
          </div>
          <div class="df pb-15">
            <div class="parameter min-text">Статус
              <i *ngIf="edit != 'status'" [class.disabled-button]="edit != ''" (click)="startEdit('status', storageUnit.status)" class="pi pi-pencil cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'status'" (click)="applyEdit()" class="pi pi-check-circle cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'status'" (click)="cancelEdit()" class="pi pi-times-circle cursor-pointer ml-5" style="font-size: 12px"></i>
            </div>
            <div *ngIf="edit != 'status'" class="value normal-text">{{storageUnit.status}}</div>
            <div *ngIf="edit == 'status'" class="normal-text">
              <p-dropdown [options]="statuses" [(ngModel)]="storageUnit.status"></p-dropdown>
            </div>
          </div>
          <div class="df pb-15">
            <div class="parameter min-text">Комментарий
              <i *ngIf="edit != 'comment'" [class.disabled-button]="edit != ''" (click)="startEdit('comment', storageUnit.comment)" class="pi pi-pencil cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'comment'" (click)="applyEdit()" class="pi pi-check-circle cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'comment'" (click)="cancelEdit()" class="pi pi-times-circle cursor-pointer ml-5" style="font-size: 12px"></i>
            </div>
            <div *ngIf="edit != 'comment'" class="value normal-text">{{storageUnit.comment}}</div>
            <div *ngIf="edit == 'comment'" class="normal-text">
              <input pInputText type="text" class="change normal-text" [(ngModel)]="storageUnit.comment" />
            </div>
          </div>
        </div>
        <div class="border-right pl-30">
          <div class="df pb-15">
            <div class="parameter min-text">Дата создания</div>
            <div class="value normal-text">{{getDateOnly(storageUnit.date_created)}}</div>
          </div>
          <div class="df pb-15">
            <div class="parameter min-text">Упаковочный лист №
              <i *ngIf="edit != 'pack_list'" [class.disabled-button]="edit != ''" (click)="startEdit('pack_list', storageUnit.pack_list)" class="pi pi-pencil cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'pack_list'" (click)="applyEdit()" class="pi pi-check-circle cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'pack_list'" (click)="cancelEdit()" class="pi pi-times-circle cursor-pointer ml-5" style="font-size: 12px"></i>
            </div>
            <div *ngIf="edit != 'pack_list'" class="value normal-text">{{storageUnit.pack_list}}</div>
            <div *ngIf="edit == 'pack_list'" class="normal-text">
              <input pInputText type="text" class="change normal-text" [(ngModel)]="storageUnit.pack_list" />
            </div>
          </div>
          <div class="df pb-15">
            <div class="parameter min-text">Кол-во товаров
              <i *ngIf="edit != 'count'" [class.disabled-button]="edit != ''" (click)="startEdit('count', storageUnit.count)" class="pi pi-pencil cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'count'" (click)="applyEdit()" class="pi pi-check-circle cursor-pointer ml-5" style="font-size: 12px"></i>
              <i *ngIf="edit == 'count'" (click)="cancelEdit()" class="pi pi-times-circle cursor-pointer ml-5" style="font-size: 12px"></i>
            </div>
            <div *ngIf="edit != 'count'" class="value normal-text">{{storageUnit.count}} шт.</div>
            <div *ngIf="edit == 'count'" class="normal-text">
              <p-inputNumber class="change-number normal-text" [(ngModel)]="storageUnit.count"></p-inputNumber>  шт.
            </div>
          </div>
          <div class="df pb-15">
            <div class="parameter min-text">Кол-во коробок</div>
            <div class="value normal-text">{{getStorageCount()}} шт.</div>
          </div>
          <div class="df pb-15">
            <img src="assets/barcode.png" height="60">
          </div>
        </div>
        <div class="pl-30 storage">
          <div class="text-head df">Расположение на складе: <div class="ml-15 cursor-pointer" (click)="openFile('/assets/storage/locations.pdf')"><i class="pi pi-print"></i></div></div>
          <div class="storage-location min-text mt-15 mb-10 text-bold">
            <div>Название</div>
            <div>Место</div>
            <div>Шт.</div>
            <div class="cursor-pointer transparent-button-w cxy" (click)="addLocation()">+</div>
          </div>
          <div *ngFor="let loc of storageLocations; let i = index" class="storage-location min-text">
            <div class="my-5" *ngIf="editLoc != i">{{loc.name}}</div>
            <div class="my-5" *ngIf="editLoc != i">{{loc.place}}</div>
            <div class="my-5" *ngIf="editLoc != i">{{loc.count}}</div>
            <div class="my-5" *ngIf="editLoc == i"><input pInputText type="text" class="change-loc normal-text" [(ngModel)]="loc.name" /></div>
            <div class="my-5" *ngIf="editLoc == i"><input pInputText type="text" class="change-loc normal-text" [(ngModel)]="loc.place" /></div>
            <div class="my-5" *ngIf="editLoc == i"><input pInputText type="text" class="change-loc normal-text" [(ngModel)]="loc.count" /></div>
            <div class="my-5 df">
              <i *ngIf="editLoc == -1" (click)="startEditLoc(i, loc)" class="pi pi-pencil cursor-pointer" style="font-size: 12px"></i>
              <i *ngIf="editLoc == -1" (click)="deleteLoc(loc)" class="pi pi-trash cursor-pointer ml-15" style="font-size: 12px"></i>
              <i *ngIf="editLoc == i" (click)="applyLocEdit(loc)" class="pi pi-check-circle cursor-pointer" style="font-size: 12px"></i>
              <i *ngIf="editLoc == i " (click)="cancelLocEdit()" class="pi pi-times-circle cursor-pointer ml-15" style="font-size: 12px"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="my-20">
        <div class="materials-button-warehouse blue-button cxy" (click)="actControlOpen('')">
          <div class="cxy">Акт входного контроля</div>
        </div>
      </div>
      <div class="mt-5">
         <div class="pb-10 text-head hidden">Файлы</div>
         <div class="pb-15 norm-text hidden">Загрузите отсканированные документы</div>
         <div class="files">
           <div class="max-width-150" *ngFor="let fileGroup of fileGroups">
             <div class="cx mx-20">
               <div [class.drag-over]="dragOver == fileGroup" (dragleave)="dragOver = ''" class="empty-file mb-5 cxy" (dragenter)="dragOver = fileGroup" (mouseenter)="dragOver = fileGroup" (mouseleave)="dragOver = ''" (click)="selectFileGroup(fileGroup); selectFiles.click()" (drop)="selectFileGroup(fileGroup); $event.preventDefault(); onFilesDrop($event); dragOver = ''" (dragover)="$event.stopPropagation(); $event.preventDefault()">
                 <div class="no-events" *ngIf="fileGroup == 'Фото'">
                   <qr-code size="60"  [value]="getQrCode()"></qr-code>
                 </div>
                 <div class="no-events" *ngIf="fileGroup != 'Фото'">
                   <img src="assets/icons/plus-grey.svg" height="50">
                 </div>
                 <input hidden #selectFiles type="file" multiple (change)="handleFileInput(selectFiles.files)">
               </div>
             </div>
             <div class="text-center-x min-text cx" [class.text-bold]="selectedFileGroup == fileGroup">
               <div class="width-fit max-width-100">{{fileGroup}}</div>
               <div *ngIf="getFilesOfGroup(fileGroup).length != 0" class="pl-5">({{getFilesOfGroup(fileGroup).length}})</div>
             </div>
           </div>
         </div>
      </div>
      <div class="mt-10">
        <div class="text-head pb-10">Файлы</div>
        <div class="norm-text" *ngIf="storageFiles.length == 0">Здесь будут недавно загруженные файлы</div>
        <div class="norm-text" *ngIf="storageFiles.length > 0">{{selectedFileGroup}}</div>
      </div>
      <div class="mt-10 df fw files-cont">
        <div *ngFor="let file of awaitForLoad" class="file">
          <div class="disabled-button position-relative">
            <div class="cx">
              <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="50"/>
            </div>
            <div class="file-spinner">
              <p-progressSpinner [style]="{width: '45px', height: '45px'}"></p-progressSpinner>
            </div>
            <div class="cx text-center-x text-small">
              <div>{{file}}</div>
            </div>
          </div>
        </div>
        <div *ngFor="let file of getFilesOfGroup(selectedFileGroup)" class="file" (contextmenu)="openFileMenu(file, fileContextMenu, $event)">
          <div *ngIf="file.kind == 'Фото'" (click)="openFile(file.url)">
            <img [src]="file.url" height="50px" width="50">
          </div>
          <div *ngIf="file.kind != 'Фото'" (click)="openFile(file.url)">
            <div class="cx">
              <img [src]="'assets/task/' + getFileExtensionIcon(file.name)" height="50"/>
            </div>
            <div class="cx text-center-x text-small word-break">
              <div>{{file.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="">-->
<!--    <div class="card-head mb-10 df">-->
<!--      <div class="mr-10">-->
<!--        <p-dropdown placeholder="PROJECT" class="select" [(ngModel)]="project" [options]="projects" (ngModelChange)="projectChanged()" optionLabel="name" styleClass="width-170 border">-->
<!--        </p-dropdown>-->
<!--      </div>-->
<!--      <div class="mr-10" >-->
<!--        <p-dropdown class="select" [(ngModel)]="selectedRootNode" [options]="rootNodes" (onChange)="rootNodeChanged()" optionLabel="label" optionValue="value" styleClass="width-400 border" scrollHeight="450px">-->
<!--        </p-dropdown>-->
<!--      </div>-->
<!--      <div class="mr-10">-->
<!--        <div class="materials-button green-button cxy" [class.disabled-button]="loading || selectedRootNode == ''" [pTooltip]="t.tr('Экспорт XLS')" tooltipPosition="top" (click)="exportXLS()">-->
<!--          <img src="assets/icons/xls2.svg" height="26">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="mr-10">-->
<!--        <div (click)="exportPDF()" [class.disabled-button]="loading || selectedRootNode == ''" [pTooltip]="t.tr('Экспорт PDF')" tooltipPosition="top" class="materials-button red-button cxy">-->
<!--          <img src="assets/icons/pdf2.svg" height="26">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="mr-10">-->
<!--        {{selectedNodePath}}-->
<!--      </div>-->
<!--      <div class="p-ml-auto mr-10 df">-->
<!--        <div (click)="selectedView = 'tiles'" class="cxy mr-10 cursor-pointer">-->
<!--          <img *ngIf="selectedView == 'tiles'" src="assets/icons/tile-blue.svg" height="22">-->
<!--          <img *ngIf="selectedView != 'tiles'" src="assets/icons/tile-gray.svg" height="22">-->
<!--        </div>-->
<!--        <div (click)="selectedView = 'list'" class="cxy cursor-pointer mr-10">-->
<!--          <img *ngIf="selectedView != 'list'" src="assets/icons/list-gray.svg" height="22">-->
<!--          <img *ngIf="selectedView == 'list'" src="assets/icons/list-blue.svg" height="22">-->
<!--        </div>-->
<!--        <span class="p-input-icon-left">-->
<!--          <i class="pi pi-search"></i>-->
<!--          <input pInputText type="text" [placeholder]="t.tr('Поиск...')" [(ngModel)]="search" (ngModelChange)="searchChange()" class="border" />-->
<!--        </span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<p-contextMenu #fileContextMenu [model]="fileMenu" appendTo="body"></p-contextMenu>
