<div class="all-page">
  <div class="card">

  </div>
<!--  <div class="">-->
<!--    <div class="card-head mb-10 df">-->
<!--      <div class="mr-10">-->
<!--        <p-dropdown placeholder="PROJECT" class="select" [(ngModel)]="project" [options]="projects" (ngModelChange)="projectChanged()" optionLabel="name" styleClass="width-170 border">-->
<!--        </p-dropdown>-->
<!--      </div>-->
<!--      <div class="mr-10" >-->
<!--        <p-dropdown class="select" [(ngModel)]="selectedRootNode" [options]="rootNodes" (onChange)="rootNodeChanged()" optionLabel="label" optionValue="value" styleClass="width-400 border" scrollHeight="450px">-->
<!--        </p-dropdown>-->
<!--      </div>-->
<!--      <div class="mr-10">-->
<!--        <div class="materials-button green-button cxy" [class.disabled-button]="loading || selectedRootNode == ''" [pTooltip]="t.tr('Экспорт XLS')" tooltipPosition="top" (click)="exportXLS()">-->
<!--          <img src="assets/icons/xls2.svg" height="26">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="mr-10">-->
<!--        <div (click)="exportPDF()" [class.disabled-button]="loading || selectedRootNode == ''" [pTooltip]="t.tr('Экспорт PDF')" tooltipPosition="top" class="materials-button red-button cxy">-->
<!--          <img src="assets/icons/pdf2.svg" height="26">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="mr-10">-->
<!--        {{selectedNodePath}}-->
<!--      </div>-->
<!--      <div class="p-ml-auto mr-10 df">-->
<!--        <div (click)="selectedView = 'tiles'" class="cxy mr-10 cursor-pointer">-->
<!--          <img *ngIf="selectedView == 'tiles'" src="assets/icons/tile-blue.svg" height="22">-->
<!--          <img *ngIf="selectedView != 'tiles'" src="assets/icons/tile-gray.svg" height="22">-->
<!--        </div>-->
<!--        <div (click)="selectedView = 'list'" class="cxy cursor-pointer mr-10">-->
<!--          <img *ngIf="selectedView != 'list'" src="assets/icons/list-gray.svg" height="22">-->
<!--          <img *ngIf="selectedView == 'list'" src="assets/icons/list-blue.svg" height="22">-->
<!--        </div>-->
<!--        <span class="p-input-icon-left">-->
<!--          <i class="pi pi-search"></i>-->
<!--          <input pInputText type="text" [placeholder]="t.tr('Поиск...')" [(ngModel)]="search" (ngModelChange)="searchChange()" class="border" />-->
<!--        </span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
