<div class="center-role">
  <div class="header-user-card">
    <div class="header-user-text">{{t.tr('Создать роль')}}</div>
    <div class="task-button-user cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{t.tr('Роль*')}}</div>
      <input class="width-211" type="text" id="name" pInputText [(ngModel)]="this.name">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{t.tr('Описание*')}}</div>
      <input class="width-211" type="text" id="description" pInputText [(ngModel)]="this.description">
    </div>
  </div>
  <div>
    <div class="big-text-user mb-1 mt-1">{{t.tr('Права')}}</div>
    <p-multiSelect styleClass="w-100" appendTo="body" id="rights" [options]="rights" [(ngModel)]="selectedRights" optionLabel="name" optionValue="name"></p-multiSelect>
  </div>
  <div>
    <div class="big-text-user mb-1 mt-1">{{t.tr('Доступные страницы')}}</div>
    <p-multiSelect styleClass="w-100" appendTo="body" id="pages" [options]="pages" [(ngModel)]="selectedPages"
                   optionLabel="name" optionValue="name"></p-multiSelect>
  </div>
</div>

<div class="form-footer-user">
  <div class="mr-5 cx">
    <div tabindex="11" (click)="close()" pButton [label]="t.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
  <div *ngIf="!loading" tabindex="10" (click)="createRole()" [class.disabled-button]="isRoleDisabled()" class="button-ok cxy">{{t.tr('Создать')}}</div>
  <div class="cxy height-spinner" *ngIf="loading">
    <p-progressSpinner [style]="{width: '25px', height: '25px'}" styleClass="custom-spinner" strokeWidth="6" fill="#fff" animationDuration="1s" ></p-progressSpinner>
  </div>
</div>
