<div class="center-role">
  <div class="header-user-card">
    <div class="header-user-text">{{lang.tr('Создать роль')}}</div>
    <div class="task-button-user cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Роль')}}</div>
      <input class="width-211" type="text" id="name" pInputText [(ngModel)]="this.name">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Описание')}}</div>
      <input class="width-211" type="text" id="description" pInputText [(ngModel)]="this.description">
    </div>
  </div>


  <div>
    <div class="big-text-user mb-1 mt-1">{{lang.tr('Доступные страницы')}}</div>
    <p-multiSelect styleClass="w-100" appendTo="body" id="visible_pages" [options]="pages" [(ngModel)]="selectedPages" optionLabel="name" optionValue="name"></p-multiSelect>
  </div>
</div>

<div class="form-footer-user">
  <div class="mr-5 cx">
    <div tabindex="11" (click)="close()" pButton [label]="lang.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
  <div tabindex="10" (click)="createRole()" pButton [label]="lang.tr('Создать')" class="button-ok"></div>
</div>
