<div>
  <div class="role-header">
    <div>
      <div class="name">{{lang.tr('Роль')}}</div>
      <input type="text" id="name" pInputText [(ngModel)]="this.name">
    </div>
    <div>
      <div class="description">{{lang.tr('Описание')}}</div>
      <input type="text" id="description" pInputText [(ngModel)]="this.description">
    </div>
    <div class="visible_pages">
      <div class="visible_pages">{{lang.tr('Доступные страницы')}}</div>
      <p-multiSelect appendTo="body" id="visible_pages" [options]="pages" [(ngModel)]="selectedPages" optionLabel="name" optionValue="name"></p-multiSelect>
    </div>
  </div>
  <div class="form-create">
    <div (click)="createRole()" pButton [label]="lang.tr('Создать')" class="button-create"></div>
    <div (click)="close()" pButton [label]="lang.tr('Отмена')" class="button-cancel"></div>
  </div>
</div>
