<div class="all-page">
  <div class="card">
    <div class="selectors" *ngIf="projects.length > 0">
      <p-dropdown optionLabel="label" class="select" optionValue="value" [(ngModel)]="project" (ngModelChange)="changedProject()" [options]="projects" styleClass="width-170" [placeholder]="t.tr('Проект')"></p-dropdown>
      <p-dropdown optionLabel="label" class="select" optionValue="value" [(ngModel)]="docType" (ngModelChange)="changedProject()" [options]="docTypes" styleClass="width-170" [placeholder]="t.tr('Тип документа')"></p-dropdown>
    </div>
    <div class="mt-10" *ngIf="!loading">

      <div class="df">
        <div class="man-hours-progress">
          <div class="man-hours-progress-row">
            <div class="cx">Department</div>
            <div class="cx">Plan</div>
            <div class="cx">Actual</div>
            <div class="cx">%</div>
          </div>
          <div class="man-hours-progress-row df" *ngFor="let dep of projectStats.departments">
            <div>{{dep}}</div>
            <div class="cx">{{getPlanHoursForDepartment(projectStats.manHoursProgress, dep)}}</div>
            <div class="cx">{{getActualHoursForDepartment(projectStats.manHoursProgress, dep)}}</div>
            <div class="cx">{{getPercantageHoursForDepartment(projectStats.manHoursProgress, dep)}}%</div>
          </div>
        </div>
        <div class="general-progress-chart df">
          <p-chart type="pie" [data]="generalProgressChartDataDocs" [options]="generalProgressChartOptionsDocs" [plugins]="chartPlugins"></p-chart>
          <p-chart type="pie" [data]="generalProgressChartDataManHours" [options]="generalProgressChartOptionsManHours" [plugins]="chartPlugins"></p-chart>
        </div>
        <div class="progress-by-department-chart df">
          <p-chart [height]="'350px'" [width]="'500px'" type="bar" [data]="progressByDepartmentChartDataDocuments" [options]="progressByDepartmentChartOptionsDocuments" [plugins]="chartPlugins"></p-chart>
        </div>
      </div>




      <div class="mt-10 documents-progress">
        <div class="documents-progress-row df">
          <div class="cxy documents-progress-column">Department</div>
          <div class="cxy documents-progress-column" *ngFor="let status of projectStats.statuses">{{status}}</div>
          <div class="cxy documents-progress-column">%</div>
        </div>
        <div class="documents-progress-row df" *ngFor="let dep of projectStats.departments">
          <div class="cxy documents-progress-column">{{dep}}</div>
          <div class="cxy documents-progress-column" *ngFor="let status of projectStats.statuses">
            {{getDocsWithStatus(projectStats.documentProgress, dep, status)}}
          </div>
          <div class="cxy documents-progress-column">{{getDocsWithStatusPercantage(projectStats.documentProgress, dep)}}%</div>
        </div>
      </div>
      <div class="mt-10 stage-progress">
        <div class="df">
          <div class="cxy stage-progress-column-first">Department</div>
          <div class="cxy stage-progress-column" *ngFor="let stage of projectStats.periods">{{stage}}</div>
        </div>
        <div class="df">
          <div class="cxy stage-progress-column-first"></div>
          <div class="stage-progress-column-all-delivered" *ngFor="let stage of projectStats.periods">
            <div class="">All</div>
            <div class="">Delivered</div>
          </div>
        </div>
        <div class="stage-progress-row df" *ngFor="let dep of projectStats.departments">
          <div class="cxy stage-progress-column-first">{{dep}}</div>
          <div class="stage-progress-column-all-delivered" *ngFor="let stage of projectStats.periods">
            <div class="">{{getDocsWithStage(projectStats.stageProgress, dep, stage).all}}</div>
            <div class="">{{getDocsWithStage(projectStats.stageProgress, dep, stage).delivered}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="progress-by-department-chart df">
    <p-chart [height]="'350px'" [width]="'500px'" type="bar" [data]="progressByDepartmentChartDataManHours" [options]="progressByDepartmentChartOptionsManHours" [plugins]="chartPlugins"></p-chart>
  </div>
  <div class="progress-by-department-chart df">
    <p-chart [height]="'350px'" [width]="'500px'" type="bar" [data]="stageProgressChartData" [options]="stageProgressChartOptions" [plugins]="chartPlugins"></p-chart>
  </div>
  <div>
    Внимание! Неотсортированные по этапам документы не отображены на диаграмме: {{unSortedStageProgress}}
  </div>
</div>
<div *ngIf="loading">
  <div class="cxy loading">
    <div class="cxy flex-column">
      <img src="assets/whale.gif" height="120">
      <div class="cx loading-text">PLEASE WAIT...</div>
    </div>
  </div>
</div>
