<div class="all-page">
  <div class="card">
    <div class="selectors" *ngIf="projects.length > 0">
      <p-dropdown optionLabel="label" class="select" optionValue="value" [(ngModel)]="project" (ngModelChange)="changedProject()" [options]="projects" styleClass="width-170" [placeholder]="t.tr('Проект')"></p-dropdown>
      <p-dropdown optionLabel="label" class="select" optionValue="value" [(ngModel)]="docType" (ngModelChange)="changedProject()" [options]="docTypes" styleClass="width-170" [placeholder]="t.tr('Тип документа')"></p-dropdown>
    </div>
    <div class="mt-10" *ngIf="!loading">
      <div class="man-hours-progress">
        <div class="man-hours-progress-row">
          <div class="cx">Department</div>
          <div class="cx">Plan</div>
          <div class="cx">Actual</div>
          <div class="cx">%</div>
        </div>
        <div class="man-hours-progress-row df" *ngFor="let dep of projectStats.departments">
          <div>{{dep}}</div>
          <div class="cx">{{getPlanHoursForDepartment(projectStats.manHoursProgress, dep)}}</div>
          <div class="cx">{{getActualHoursForDepartment(projectStats.manHoursProgress, dep)}}</div>
          <div class="cx">{{getPercantageHoursForDepartment(projectStats.manHoursProgress, dep)}}%</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <div class="cxy loading">
    <div class="cxy flex-column">
      <img src="assets/whale.gif" height="120">
      <div class="cx loading-text">PLEASE WAIT...</div>
    </div>
  </div>
</div>
