<div class="p-d-flex">
  <div class="mr-1">
    <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border" (ngModelChange)="projectChanged()">
    </p-dropdown>
  </div>
  <div class="mr-1">
    <p-dropdown placeholder="ИСПОЛНИТЕЛЬ" class="select" [(ngModel)]="assignee" [options]="assignees" optionValue="value" optionLabel="label" styleClass="width-170 border" (ngModelChange)="assigneeChanged()">
    </p-dropdown>
  </div>
</div>


<!--<div class="df gantt-row">-->
<!--  <div class="issues-header"></div>-->
<!--  <div [ngStyle]="getRowStyle()" class="df">-->
<!--    <div *ngFor="let day of days" class="day">{{day.name}}</div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="df gantt-row" *ngFor="let issue of issues1; let i = index">-->
<!--  <div class="issues-header">{{'Issue # ' + (i + 1)}}</div>-->
<!--  <div (dragover)="moveOverTimeline($event, issue, i)" [ngStyle]="getRowStyle()" class="df"></div>-->
<!--  <div [ngStyle]="getIssueRowStyle(issue)" class="issue-period" (dragover)="moveOverTimelineThis($event, issue, i)" (dragstart)="dragStart($event, issue, i)" draggable="true"></div>-->
<!--  <div class="cxy" (dragover)="moveResize($event, issue)" (dragstart)="dragStart($event, issue, i, 'resize')" draggable="true" [ngStyle]="getRightArrow(issue)">-->
<!--    <i class="pi pi-chevron-right"></i>-->
<!--  </div>-->

<!--</div>-->













<!--<ngx-gantt #gantt [items]="issues" [draggable]="true">-->
<!--  <ngx-gantt-table>-->
<!--    <ngx-gantt-column name="Title" width="300px">-->
<!--      <ng-template #cell let-item="item">-->
<!--        <div class="issue-details">-->
<!--          <div> {{ item.doc_number }} | {{ item.assigned_to }}</div>-->
<!--          <div> {{ item.title }}</div>-->
<!--        </div>-->

<!--      </ng-template>-->
<!--    </ngx-gantt-column>-->
<!--  </ngx-gantt-table>-->
<!--</ngx-gantt>-->
