::ng-deep .gantt-table .gantt-table-body .gantt-table-item{
  line-height: unset !important;
}
.issue-details{
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: auto;
}
.days-header{
  width: 100%;
}
.day{
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.no-border{
  border: none;
}
.timeline{
  padding-top: 20px;
  overflow-x: visible;
  width: 100vw;
}
.issues-header{
  min-width: 300px;
  position: sticky;
  left: 0;
  background: #ffffff;
  z-index: 3;
}
.issue-col{
  margin-left: 10px;
  margin-right: 10px;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 12px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.gantt-row{
  height: 30px;
  position: relative;
}
.day-busy{
  background-color: #3e875d;
}
.issue-period{
  cursor: grab;
  z-index: 1;
  width: 100%;
  height: 100%;
  resize: both;
}
.issue-period:active {
  cursor: grabbing !important;
}
.right-border{
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30px;
  z-index: 200;
  cursor: col-resize;
}
.gantt-headers{
  position: sticky;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 4;
}
.gantt-header-days{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 4;
}
.test{
  background-color: blue;
  margin: 50px;
  width: 100px;
  height: 100px;
}
.anchor{
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-color: #fff!important;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%);
  border-radius: 50%;
  top: 10px;
  margin-top: 0;
  background-color: #b9bec7;
}
.left-anchor{
  left: -20px;
}
.right-anchor{
  right: -22px;
}
.border-right{
  border-right: 1px solid #e0e0e0;
}
