<div class="all-page">
  <div class="card">
    <p-table #table [value]="issueSpentTime"
             [scrollable]="true"
             [scrollHeight]="'77vh'"
             [virtualScroll]="true"
             [virtualRowHeight]="40"
             styleClass="p-datatable-striped"
             responsiveLayout="scroll"
             [globalFilterFields]="['id','doc_number','name','status']">
      <ng-template pTemplate="caption">
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="user" class="w-15">{{l.tr('Пользователь')}}
            <p-sortIcon field="user"></p-sortIcon>
          </th>
          <th pSortableColumn="date" class="w-10">{{l.tr('Дата')}}
            <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="id" class="w-45">{{l.tr('Задача')}}
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="laboriousness" class="w-10">{{l.tr('час(а, ов)')}}
            <p-columnFilter type="laboriousness" [field]="'delivered_date'" display="menu"></p-columnFilter>
          </th>
          <th pSortableColumn="comment" class="w-20">{{l.tr('Комментарий')}}
            <p-sortIcon field="comment"></p-sortIcon>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-issue>
        <tr class="cursor-pointer">
          <td class="w-15 text-14">{{auth.getUserName(issue.user)}}</td>
          <td class="w-10 text-14">{{getDateOnly(+issue.date)}}</td>
          <td class="w-45 text-14">{{issue.id}}</td>
          <td class="w-10 text-14">{{issue.value}}</td>
          <td class="w-20 text-14">{{issue.comment}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
