.task-table{
  height: 60vh;
}
.top-menu{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.card{
  background: var(--surface-e);
  padding: 20px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
  height: calc(100vh - 116px);
}
.new-task{
  background-color: #adb7bc;
}
::ng-deep .p-datatable-scrollable-body{
  overflow-y: auto !important;
}
.filter{
  margin-left: auto;
}
.header{
  display: flex;
  text-align: center;
  align-items: center;
}
::ng-deep .p-datatable-scrollable-header-box	{
  padding: 0 !important;
}
.task-row:hover{
  background-color: #F3F2F1;
}
.hidden-column{
  width: 0;
}
.new-task-button{
  border-radius: 3px;
}
