<div *ngIf="device.isDesktop()" class="scale">
  <div class="all-page">
    <div class="card" [hidden]="!filled">
      <p-table
        #dt
        id="dt"
        dataKey="id"
        [value]="issues"
        [scrollable]="true"
        [globalFilterFields]="['id','started_by','project','department', 'name', 'assigned_to', 'status', 'doc_number']"
        [reorderableColumns]="true"
        [columns]="selectedColumns"
        (onColReorder)="saveReorderedColumns($event)"
        [virtualScroll]="false"
        [scrollHeight]="'80vh'"
        [virtualRowHeight]="1"
        stateStorage="local"
        stateKey="state"
        styleClass="p-datatable-striped"
        [customSort]="true"
        (sortFunction)="customSort($event)"
        scrollDirection="both"
        *ngIf="filled"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <div class="mr-10">
              <div class="materials-button-home blue-button cxy" (click)="newTask(null)">
                <div class="pr-10 cxy">
                  <img src="assets/icons/plus3.svg" height="18">
                </div>
                <div class="cxy">{{l.tr('Новая задача')}}</div>
              </div>
            </div>
            <p-multiSelect class="mr-10" [options]="colHeaders" [(ngModel)]="selectedCols" (ngModelChange)="saveSelectedCols()"
                           [selectedItemsLabel]="l.tr('{0} выбрано колонок')" styleClass="width-200 new-task-button p-info" [placeholder]="l.tr('Выберите колонки')">
            </p-multiSelect>
            <div class="mr-10">
              <div class="materials-button gray-button cxy" (click)="dt.clear(); dt.reset(); showStartedBy = false; showAssigned = false; showResponsible = false; showCompleted = false;" [pTooltip]="l.tr('Очистить фильтры')" tooltipPosition="top">
                <img src="assets/icons/filter-no.svg" height="18">
              </div>
            </div>
            <div class="mr-10">
              <div (click)="importXls()" [pTooltip]="l.tr('Импорт')" tooltipPosition="top" class="materials-button yellow-button cxy">
                <img src="assets/icons/import1.svg" height="18">
              </div>
            </div>
            <div class="mr-10">
              <div (click)="exportXls()" [pTooltip]="l.tr('Экспорт XLS')" tooltipPosition="top" class="materials-button green-button cxy">
                <img src="assets/icons/xls2.svg" height="26">
              </div>
            </div>
            <div class="mr-10">
              <div (click)="exportPDF()" [pTooltip]="l.tr('Экспорт PDF')" tooltipPosition="top" class="materials-button red-button cxy">
                <img src="assets/icons/pdf2.svg" height="26">
              </div>
            </div>
            <div class="mr-10">
              <div class="materials-button transparent-button cxy" [class.clicked]="showAssigned" (click)="showAssigned = !showAssigned" [pTooltip]="l.tr('Исполнитель')" tooltipPosition="top">
                <img *ngIf="showAssigned" src="assets/icons/user-assigned-white.svg" height="18">
                <img *ngIf="!showAssigned" src="assets/icons/user-assigned-gray.svg" height="18">
              </div>
            </div>
            <div class="mr-10">
              <div class="materials-button transparent-button cxy" [class.clicked]="showResponsible" (click)="showResponsible = !showResponsible" [pTooltip]="l.tr('Ответственный')" tooltipPosition="top">
                <img *ngIf="showResponsible" src="assets/icons/user-responsible-white.svg" height="18">
                <img *ngIf="!showResponsible" src="assets/icons/user-responsible-gray.svg" height="18">
              </div>
            </div>
            <div class="mr-10">
              <div class="materials-button transparent-button cxy" [class.clicked]="showStartedBy" (click)="showStartedBy = !showStartedBy" [pTooltip]="l.tr('Автор')" tooltipPosition="top">
                <img *ngIf="showStartedBy" src="assets/icons/user-author-white.svg" height="18">
                <img *ngIf="!showStartedBy" src="assets/icons/user-author-gray.svg" height="18">
              </div>
            </div>
            <div class="mr-10">
              <div class="materials-button transparent-button cxy" [class.clicked]="showCompleted" (click)="showCompleted = !showCompleted" [pTooltip]="l.tr(showCompleted ? 'Скрыть исполненные' : 'Показать исполненные')" tooltipPosition="top">
                <img *ngIf="showCompleted" src="assets/icons/check-white.svg" height="18">
                <img *ngIf="!showCompleted" src="assets/icons/check-gray.svg" height="18">
              </div>
            </div>

            <div class="mr-10 cxy">
              {{l.tr('Количество задач:')}}
              <div class="px-10" *ngIf="dt != null && dt.filteredValue != null && !this.showCompleted">{{dt.filteredValue != null ? dt.filteredValue.length - getCompletedLength(dt.filteredValue) : dt.value.length}}</div>
              <div class="px-10" *ngIf="(this.showAssigned || this.showResponsible || this.showCompleted || dt != null && dt.filteredValue == null)">{{getIssuesLength()}}</div>
              {{l.tr('(Всего:')}} {{dt.value.length}})
            </div>

            <div class="df c p-ml-auto">
              <div class="df c y cursor-pointer" (click)="saveFilters(dt)">
                SAVE
              </div>
              <div class="mx-10">
                <p-dropdown [options]="savedFilters" [(ngModel)]="selectedFilter" (ngModelChange)="loadFilter(dt)" [editable]="true"></p-dropdown>
              </div>
            </div>

            <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input #search pInputText type="text" (input)="dt.filterGlobal(search.value, 'contains')" [placeholder]="l.tr('Поиск...')" class="border" />
          </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width:26px"></th>
            <th style="width:148px"  *ngFor="let col of columns" [pSortableColumn]="col.field">
              <div class="header">
                {{l.tr(col.header)}}
                <p-sortIcon [style]="{display: 'inline-flex'}" *ngIf="col.sort == true" [field]="col.field"></p-sortIcon>
                <p-columnFilter class="filter" type="date" [field]="col.field" display="menu" *ngIf="col.date == true"></p-columnFilter>
                <p-columnFilter class="filter" *ngIf="col.filter == true && col.date == false" [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect styleClass="width-220" [displaySelectedLabel]="false" [ngModel]="value" [options]="col.filters" optionValue="value" optionLabel="label" display="chip" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-issue>
          <tr *ngIf="showIssue(issue)" [class.task-update]="isTaskUpdated(issue.id, issue.last_update)" [class.task-new]="isTaskNew(issue.id)" class="task-row" (click)="viewTask(issue.id, issue.issue_type)">
            <td style="width:26px" class="cursor-pointer">
              <div class="update-task" *ngIf="isTaskUpdated(issue.id, issue.last_update)"></div>
              <div class="new-task" *ngIf="isTaskNew(issue.id)"></div>
            </td>
            <td style="width:148px" class="cursor-pointer" *ngFor="let col of columns">
              <div *ngIf="col.skip == false && col.field != 'ready'"><div [innerHTML]="localeColumn(this.issue[col.field], col.field, this.issue) | safeHtml"></div></div>
<!--              <div *ngIf="col.skip && col.field != 'ready'" [innerHTML]="col.defaultValue"></div>-->
              <div *ngIf="col.field == 'ready'">
                <div *ngFor="let r of defineReadyState(issue); let i = index">
                  <div class="df cy" *ngIf="i == 0">
                    <div class="text-progress mr-2px">{{'M' + ' ' + r + '%'}}</div>
                    <div class="progress-empty">
                      <div class="model-progress" [ngStyle]="getWidth(r)"></div>
                    </div>
                  </div>
                  <div class="df cy" *ngIf="i == 1">
                    <div class="text-progress mr-2px">{{'D' + ' ' + r + '%'}}</div>
                    <div class="progress-empty">
                      <div class="drawing-progress" [ngStyle]="getWidth(r)"></div>
                    </div>
                  </div>
                  <div class="df cy" *ngIf="i == 2">
                    <div class="text-progress mr-2px">{{'N' + ' ' + r + '%'}}</div>
                    <div class="progress-empty">
                      <div class="nesting-progress" [ngStyle]="getWidth(r)"></div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="card cxy" *ngIf="issues.length == 0">
      <div class="cxy loading">
        <div class="cxy flex-column">
          <img src="assets/whale.gif" height="120">
          <div class="cx loading-text">PLEASE WAIT...</div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-center" key="home"></p-toast>
