.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem!important;
}
/deep/.p-datatable-resizable .p-datatable-tbody>tr>td{
  white-space: break-spaces!important;
}
/deep/.p-multiselect-filter-container .p-inputtext {
  min-width: 150px;
}
.top-menu{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.new-task{
  background-color: #adb7bc;
}
::ng-deep .p-datatable-scrollable-body{
  overflow-y: auto !important;
}
.filter{
  margin-left: auto;
}
.loading-text{
  color: #323130a8;
  font-weight: 500;
}
.header{
  display: flex;
  text-align: center;
  align-items: center;
}
::ng-deep .p-datatable-scrollable-header-box	{
  padding: 0 !important;
}
.task-row{

}
.task-row:hover{
  background-color: #F3F2F1!important;
}
.hidden-column{
  width: 0;
}
.icon-categories{
  border-radius: 3px;
  padding: 6px;
  border: 1px solid #605e5c;
  height: 35px;
  width: 35px;
}
.new-task-button{
  background-color: rgba(50, 49, 48, 0.07);
  width: max-content;
}
.new-task-button:hover{
  background-color: rgba(50, 49, 48, 0.18)!important;
}
.new-task-button-tablet{
  background-color: rgba(50, 49, 48, 0.07);
  padding: 8px 6px 8px 6px;
}
.normal-button:hover{
  background-color: rgba(50, 49, 48, 0.07) !important;
}
/deep/.p-component{
  font-size: 14px!important;
}

element.style {
}
.p-button-label {
  transition: all .2s;
}
.p-button-label {
  flex: 1 1 auto;
}
.p-component, .p-component * {
  box-sizing: border-box;
}
.p-button-label {
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
.p-component {
  font-size: 14px!important;
}
/deep/.p-button {
  padding: 8px 10px 8px 10px;
}
/deep/.p-inputtext{
  font-size: 14px!important;
  padding: 8px 10px 8px 10px;
}
/deep/.p-multiselect .p-multiselect-label {
  padding: 8px 10px 8px 10px;
}
/deep/.pi{
  font-size: 14px;
}
/deep/.p-datatable .p-datatable-header {
  padding: 0.75rem 0 0.75rem 0;
  border-top: none;
  background-color: white;
}
.materials-button{
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 6px;
}
.materials-button-home{
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 10px;
  color: white;
}
.row-user-menu-tablet{
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  fill: rgb(255, 255, 255);
  width: auto;
  padding: 10px 12px 10px;
}
.border-bottom{
  border-bottom: 1px solid #f3f2f1;
}
.buttons-pick{
  color: white;
  background-color: #ae5e9b;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.icon{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #79426c;
}
.button-text{
  padding-right: 8px;
  padding-left: 8px;
}
/*/deep/.p-multiselect-header {*/
/*  display: none!important;*/
/*}*/
.new-task{
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: rgba(1, 177, 105, 0.71);
}
.update-task{
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #af79c4;
}
.task-update{
  font-weight: 500;
  font-size: 14px;
}
.task-new{
  font-weight: 500;
  font-size: 14px;
  background-color: rgba(134, 151, 203, 0.15) !important;
}
.task-update{
  font-weight: 500;
  font-size: 14px;
  background-color: rgba(134, 151, 203, 0.15) !important;
}
::ng-deep .p-togglebutton{
  border-radius: 6px!important;
  height: 35px;
  width: 35px!important;
}
/deep/.p-button.p-button-icon-only {
  padding: 0;
}
/deep/.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.focus-button:focus{
  background-color: rgba(50, 49, 48, 0.07);
}
/deep/.p-togglebutton.p-button.p-highlight{
  background: #DEEBFF !important;
  border: 1px solid #32597852 !important;
  box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.2) !important
}
/deep/.p-datatable .p-datatable-tbody > tr > td{
  padding: 12px;
}
/deep/.p-datatable .p-datatable-thead > tr > th{
  padding: 12px;
}
.sub-menu{
  position: inherit;
}
/deep/.p-tooltip .p-tooltip-text {
  font-size: 12px!important;
  padding: 6px 8px!important;
}
.clicked{
  background-color: #3B82F6;
}
.progress-empty{
  width: 100px;
  background-color: #F2F4F6;
}
.model-progress{
  height: 8px;
  border-radius: 1px;
  opacity: 0.6;
}
.drawing-progress{
  height: 8px;
  border-radius: 1px;
  opacity: 0.6;
}
.nesting-progress{
  height: 8px;
  border-radius: 1px;
  opacity: 0.6;
}
.text-progress{
  font-weight: 600;
  color: #3a3a3a;
  font-size: 11px;
  width: 40px;
}
