<div class="all-page">
  <div class="card">
    <div class="wh100">
      <div class="list-and-details h100">
        <div class="issues-header">
          <div class="issue-list-control-header pl-10">List of Issues</div>
        </div>
        <div class="issues-header">
          <div class="cxy ml-30">
            <p-dropdown placeholder="PROJECT" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border">
            </p-dropdown>
          </div>
        </div>
        <div class="issues-header">
          <div class="p-ml-auto">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input #search pInputText type="text" placeholder="Search..." class="border width-200" />
              </span>
          </div>
        </div>
        <div class="issue-list cxy fw ovf">
          <div class="issue-list-item w-100" *ngFor="let issue of issues">
            <div class="issues cursor-pointer" (click)="selectIssue(issue)">{{issue.docNumber}} {{issue.name}}</div>
          </div>
        </div>
        <div class="cy">
          <div class="issues-pic-end">
            <div *ngIf="selectedIssue.docNumber == ''" class="">
              <div class="confirm-text-issues">Select issue to view its files</div>
              <div class="cx">
                <img src="assets/icons/message.png">
              </div>
            </div>
          </div>
          <div class="issues-two-pic-end">
            <div *ngIf="selectedIssue.docNumber == ''" class="pt-100">
              <div class="confirm-text-issues">Select issue to view its history and messages</div>
              <div class="cx">
                <img src="assets/icons/chat.png">
              </div>
            </div>
          </div>
        </div>
        <div class="issue-details ovf-auto">
          <div class="issue-files cxy">

          </div>
          <div class="pl-10 w-100 ovf-auto">

            <div class="w-100" *ngIf="selectedIssue.docNumber != ''">
              <div class="activity-issues">
                <div class="big-text-issues mb-1">Activity</div>
                <div class="df">
                  <div class="description-issues mt-5 mr-1">Show:</div>
                  <div [class.check-button-issues]="messageFilter == 'all'" class="button-new-issues mr-10 ml-10" (click)="messageFilter = 'all'">
                    <span>All</span>
                  </div>
                  <div [class.check-button-issues]="messageFilter == 'human'" class="button-new-issues mr-10" (click)="messageFilter = 'human'">
                    <span>Messages</span>
                  </div>
                  <div [class.check-button-issues]="messageFilter == 'camunda'" class="button-new-issues" (click)="messageFilter = 'camunda'">
                    <span>History</span>
                  </div>
                </div>
                <div class="big-text pb-10 pt-10">
                  <input [style]="{'width':'100%'}" [hidden]="comment" (click)="showComment()" type="text" class="border" pInputText placeholder="Post your message here..."  />
                </div>
                <div [hidden]="!comment" class="pb-10 comment-issues">
                  <quill-editor (keydown)="onEditorPressed($event)" (onEditorCreated)="editorInit($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" id="editor" [(ngModel)]="message">
                    <div quill-editor-toolbar>
                      <p-header>
                      <span class="ql-formats">
                        <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
                        <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
                        <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
                      </span>
                        <span class="ql-formats">
                        <select class="ql-color" tabindex="-1"></select>
                        <select class="ql-background" tabindex="-1"></select>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
                        <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
                        <select class="ql-align" tabindex="-1">
                          <option selected tabindex="-1"></option>
                          <option value="center" tabindex="-1"></option>
                          <option value="right" tabindex="-1"></option>
                          <option value="justify" tabindex="-1"></option>
                        </select>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
                        <button (click)="selectImage.click()">
                          <i class="pi pi-image"></i>
                        </button>
                        <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
                        <button (click)="selectFiles.click()">
                          <i class="pi pi-file"></i>
                        </button>
                        <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
                        <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
                      </span>
                      </p-header>
                    </div>
                  </quill-editor>
                  <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
                    <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
                    <div class="cy">{{file}}</div>
                    <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
                    <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
                  </div>
                  <div class="df mt-5">
                    <div class="mr-5">
                      <div (click)="sendMessage()" pButton label="Сохранить" class="button"></div>
                    </div>
                    <div>
                      <div (click)="comment = false" pButton label="Отменить" class="button-cancel"></div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="issue-message w-100" *ngFor="let msg of getMessages(selectedIssue)">
                <div *ngIf="(messageFilter == 'all' || messageFilter == 'human') && msg.owner == 'human'">
                  <div class="df pb-20">
                    <div class="pt-5 mr-10">
                      <img src="{{auth.getUserAvatar(msg.author)}}" height="32" width="32" style="border-radius: 16px">
                    </div>
                    <div>
                      <div class="">
                        <span class="bold-text-issues">{{auth.getUserName(msg.author)}}</span>
                        <span class="text-descr-issues"> posted message </span>
                        <span class="text-date-issues"> {{getDate(msg.date)}} </span>
                        <quill-view [content]="msg.content"></quill-view>
                        <div class="attachments-issues">
                          <div *ngFor="let file of msg.fileAttachments">
                            <div (click)="openFile(file.url)" class="attachment-issues">
                              <div class="cxy attachment-center">
                                <img [src]="'assets/task/' + getFileExtensionIcon(file.name)" height="45"/>
                              </div>
                              <div class="attachment-footer">
                                <div [pTooltip]="file.name">{{trimFileName(file.name)}}</div>
                                <div>{{getDate(msg.date)}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="(messageFilter == 'all' || messageFilter == 'camunda') && msg.owner == 'camunda'">
          <span class="" *ngFor="let varMap of filterVariables(msg.variables)">
            <div class="df pb-30">
              <div class="pt-5 mr-10">
                <img src="{{auth.getUserAvatar(msg.author)}}" height="32" width="32" style="border-radius: 16px">
              </div>
              <div>
                <span class="bold-text-issues">{{getAuthor(msg.author)}}</span>
                <span class="text-descr-issues px-5"> changed </span>
                <span class="bold-text-issues">{{issueManager.localeHistoryEn(varMap.name)}}</span>
                <span class="text-date-issues pl-5">{{getDate(msg.date)}} </span>
              <div class="df pt-5">
                <div class="" [innerHTML]="issueManager.localeStatusEn(getPrevValue(selectedIssue.messages, varMap.name, msg.date)) | safeHtml"></div>
                <span class="px-10">
                  <img src="assets/icons/right-arrow.svg" height="13">
                </span>
                <div [innerHTML]="issueManager.localeStatusEn(varMap.value) | safeHtml"></div>
              </div>
              </div>
            </div>
          </span>
                </div>
              </div>
              <div class="issue-message" *ngIf="(messageFilter == 'all' || messageFilter == 'camunda')">
                <div class="df">
                  <div class="pt-5 mr-10">
                    <img src="{{auth.getUserAvatar(selectedIssue.startedBy)}}" height="32" width="32" style="border-radius: 16px">
                  </div>
                  <div class="">
                    <span class="bold-text-issues">{{auth.getUserName(selectedIssue.startedBy)}}</span>
                    <span class="text-descr-issues"> created issue </span>
                    <span class="text-date-issues"> {{getDate(selectedIssue.startedDate)}} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!showImages">
  <div class="image-preview-backdrop" (click)="closeShowImage()">
  </div>
  <div class="image-preview-scale">
    <img #img class="image-preview" data-wheel-zoom [src]="image" style="height: unset; width: unset"/>
  </div>
</div>
