.dialog{
  width: 595px;
  height: 520px;
}
.double-row{
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.single-row{
  display: flex;
}
.left-text{
  width: 50px;
}
.right-text{
  width: 80px;
}
.left-text-one-row{
  width: 100px;
}
:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  padding: 0.5rem 0.5rem;
}
.form-footer{
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  position: relative;
}
.button{
  border: none;
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #fff;
  background: #17a2b8;
  transition: background .1s;
  width: 100px;
}
