<div class="h-100">
  <div class="all-page">
    <div class="card-sections">
      <div class="mr-1 project-number">
        <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" (ngModelChange)="changeProject()" styleClass="width-170 border">
        </p-dropdown>
      </div>
      <div *ngIf="project == 'NR004'" class="legend">
        <div class="df mt-20">
          <div class="number-card-send cxy"></div>
          <div class="mx-5 status-text">-</div>
          <div class="status-text cx">{{t.tr('В работе')}}</div>
        </div>
        <div class="cxy mt-20">
          <div class="number-card-work cxy"></div>
          <div class="mx-5 status-text">-</div>
          <div class="status-text cx">{{t.tr('Отправлен на верфь')}}</div>
        </div>
      </div>
      <div *ngIf="project == 'NR002'" class="legend-002">
        <div class="cy">
          <div class="status-002 mt-5 cy assigned-status">{{t.tr('Назначен')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy in-work-status">{{t.tr('В работе')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy paused-status">{{t.tr('Приостановлено')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy checkup-status">{{t.tr('На проверке')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy rework-status">{{t.tr('На доработке')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy check-status">{{t.tr('На согласовании')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy not-approved-status">{{t.tr('Не согласован')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy ready-to-send-status">{{t.tr('Готов к отправке')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy sent-to-yard-status">{{t.tr('Отправлен на верфь')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy ready-to-delivery-status">{{t.tr('Готов к поставке')}}</div>
        </div>
        <div class="cy">
          <div class="status-002 mt-5 cy close-status">{{t.tr('Поставлен')}}</div>
        </div>
      </div>
      <div class="h-100" *ngIf="project == 'NR002'">
        <div class="picture h-100">
          <div class="ship-002">

          </div>
          <div class="sections-002 h-100">
            <div class="cxy"></div>
            <div class="cxy number"></div>
            <div class="cxy number"></div>
            <div class="cxy number">
              <div (click)="viewTask(96)" [ngStyle]="getStyle('615')" class="number-card cxy">615</div>
            </div>
            <div class="number text-end-center">
              <div (click)="viewTask(94)" [ngStyle]="getStyle('613')" class="number-card cxy">613</div>
            </div>
            <div class="cxy number"></div>
            <div class="cxy number"></div>
            <div class="seven number">
              <div (click)="viewTask(91)" [ngStyle]="getStyle('512')" class="number-card cxy">512</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy number">
              <div (click)="viewTask(97)" [ngStyle]="getStyle('616')" class="number-card cxy">616</div>
            </div>
            <div class="cxy"></div>
            <div class="number cy">
              <div (click)="viewTask(95)" [ngStyle]="getStyle('614')" class="number-card cxy">614</div>
            </div>
            <div class="cxy number">
              <div (click)="viewTask(93)" [ngStyle]="getStyle('612')" class="number-card cxy">612</div>
            </div>
            <div class="cxy number">
              <div (click)="viewTask(92)" [ngStyle]="getStyle('611')" class="number-card cxy">611</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy number">
              <div (click)="viewTask(90)" [ngStyle]="getStyle('511')" class="number-card cxy">511</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy fifth-y">
              <div></div>
              <div (click)="viewTask(84)" [ngStyle]="getStyle('443')" class="number-card cxy">443</div>
              <div (click)="viewTask(570)" [ngStyle]="getStyle('415')" class="number-card cxy">415P</div>
              <div (click)="viewTask(572)" [ngStyle]="getStyle('425')" class="number-card cxy">425S</div>
              <div></div>
            </div>
            <div class="cxy"></div>
            <div class="cxy double-y">
              <div class="cxy">
                <div (click)="viewTask(80)" [ngStyle]="getStyle('442')" class="number-card cxy">442</div>
              </div>
              <div class="double-x">
                <div (click)="viewTask(77)" [ngStyle]="getStyle('412')" class="number-card cxy mr-5">412P</div>
                <div (click)="viewTask(78)" [ngStyle]="getStyle('422')" class="number-card cxy ml-5">422S</div>
              </div>
            </div>
            <div class="cxy double-y">
              <div class="cxy">
                <div (click)="viewTask(76)" [ngStyle]="getStyle('441')" class="number-card cxy">441</div>
              </div>
              <div class="double-x">
                <div (click)="viewTask(73)" [ngStyle]="getStyle('411')" class="number-card cxy mr-5">411P</div>
                <div (click)="viewTask(74)" [ngStyle]="getStyle('421')" class="number-card cxy ml-5">421S</div>
              </div>
            </div>
            <div class="cxy double-y">
              <div class="cxy">
                <div (click)="viewTask(72)" [ngStyle]="getStyle('345')" class="number-card cxy">345</div>
              </div>
              <div class="double-x">
                <div (click)="viewTask(69)" [ngStyle]="getStyle('315')" class="number-card cxy mr-5">315P</div>
                <div (click)="viewTask(70)" [ngStyle]="getStyle('325')" class="number-card cxy ml-5">325S</div>
              </div>
            </div>
            <div class="cxy double-y">
              <div class="cxy">
                <div (click)="viewTask(68)" [ngStyle]="getStyle('344')" class="number-card cxy">344</div>
              </div>
              <div class="double-x">
                <div (click)="viewTask(65)" [ngStyle]="getStyle('314')" class="number-card cxy mr-5">314P</div>
                <div (click)="viewTask(66)" [ngStyle]="getStyle('324')" class="number-card cxy ml-5">324S</div>
              </div>
            </div>
            <div class="cxy double-y">
              <div class="cxy">
                <div (click)="viewTask(64)" [ngStyle]="getStyle('343')" class="number-card cxy">343</div>
              </div>
              <div class="double-x">
                <div (click)="viewTask(61)" [ngStyle]="getStyle('313')" class="number-card cxy mr-5">313P</div>
                <div (click)="viewTask(62)" [ngStyle]="getStyle('323')" class="number-card cxy ml-5">323S</div>
              </div>
            </div>
            <div class="double-x">
              <div class="text-xy mb-10">
                <div (click)="viewTask(58)" [ngStyle]="getStyle('312')" class="number-card cxy mr-5">312P</div>
              </div>
              <div class="text-bottom mb-10">
                <div (click)="viewTask(59)" [ngStyle]="getStyle('322')" class="number-card cxy ml-5">322S</div>
              </div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy double-y">
              <div class="cxy">
                <div (click)="viewTask(87)" [ngStyle]="getStyle('434')" class="number-card cxy">434</div>
              </div>
              <div class="double-x">
                <div (click)="viewTask(85)" [ngStyle]="getStyle('414')" class="number-card cxy">414P</div>
                <div (click)="viewTask(86)" [ngStyle]="getStyle('424')" class="number-card cxy ml-5">424S</div>
              </div>
            </div>
            <div class="cxy double-y">
              <div class="cxy">
                <div (click)="viewTask(83)" [ngStyle]="getStyle('433')" class="number-card cxy">433</div>
              </div>
              <div class="double-x">
                <div (click)="viewTask(81)" [ngStyle]="getStyle('413')" class="number-card cxy">413P</div>
                <div (click)="viewTask(82)" [ngStyle]="getStyle('423')" class="number-card cxy ml-5">423S</div>
              </div>
            </div>
            <div class="cx">
              <div (click)="viewTask(79)" [ngStyle]="getStyle('432')" class="number-card cxy mt-10">432</div>
            </div>
            <div class="cx">
              <div (click)="viewTask(75)" [ngStyle]="getStyle('431')" class="number-card cxy mt-10">431</div>
            </div>
            <div class="cx">
              <div (click)="viewTask(71)" [ngStyle]="getStyle('335')" class="number-card cxy mt-10">335</div>
            </div>
            <div class="cx">
              <div (click)="viewTask(67)" [ngStyle]="getStyle('334')" class="number-card cxy mt-10">334</div>
            </div>
            <div class="cx">
              <div (click)="viewTask(63)" [ngStyle]="getStyle('333')" class="number-card cxy mt-10">333</div>
            </div>
            <div class="cx">
              <div (click)="viewTask(60)" [ngStyle]="getStyle('332')" class="number-card cxy mt-10">332</div>
            </div>
            <div class="ml-10">
              <div (click)="viewTask(57)" [ngStyle]="getStyle('301')" class="number-card cxy mt-10">301</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cx">
              <div (click)="viewTask(56)" [ngStyle]="getStyle('244')" class="number-card cxy mt-10">244</div>
            </div>
            <div class="cx">
              <div (click)="viewTask(55)" [ngStyle]="getStyle('243')" class="number-card cxy mt-10">243</div>
            </div>
            <div class="cxy">
              <div (click)="viewTask(54)" [ngStyle]="getStyle('242')" class="number-card cxy">242</div>
            </div>
            <div class="cxy">
              <div (click)="viewTask(50)" [ngStyle]="getStyle('241')" class="number-card cxy">241</div>
            </div>
            <div class="cxy">
              <div (click)="viewTask(42)" [ngStyle]="getStyle('145')" class="number-card cxy">145</div>
            </div>
            <div class="cxy">
              <div (click)="viewTask(38)" [ngStyle]="getStyle('144')" class="number-card cxy">144</div>
            </div>
            <div class="cxy">
              <div (click)="viewTask(34)" [ngStyle]="getStyle('143')" class="number-card cxy">143</div>
            </div>
            <div class="cxy">
              <div (click)="viewTask(30)" [ngStyle]="getStyle('142')" class="number-card cxy">142</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy">
              <div (click)="viewTask(46)" [ngStyle]="getStyle('204')" class="number-card cxy">204</div>
            </div>
            <div class="cxy">
              <div (click)="viewTask(45)" [ngStyle]="getStyle('203')" class="number-card cxy">203</div>
            </div>
            <div class="double-y">
              <div class="double-x">
                <div class="text-end">
                  <div (click)="viewTask(51)" [ngStyle]="getStyle('212')" class="number-card cxy mr-5">212P</div>
                </div>
                <div class="mb-10">
                  <div (click)="viewTask(52)" [ngStyle]="getStyle('222')" class="number-card cxy ml-5">222S</div>
                </div>
              </div>
              <div class="cxy">
                <div (click)="viewTask(53)" [ngStyle]="getStyle('232')" class="number-card cxy">232</div>
              </div>
            </div>
            <div class="double-y">
              <div class="double-x">
                <div class="text-end">
                  <div (click)="viewTask(47)" [ngStyle]="getStyle('211')" class="number-card cxy mr-5">211P</div>
                </div>
                <div class="mb-10">
                  <div (click)="viewTask(48)" [ngStyle]="getStyle('221')" class="number-card cxy ml-5">221S</div>
                </div>
              </div>
              <div class="cxy">
                <div (click)="viewTask(49)" [ngStyle]="getStyle('231')" class="number-card cxy">231</div>
              </div>
            </div>
            <div class="double-y">
              <div class="double-x">
                <div class="text-end">
                  <div (click)="viewTask(39)" [ngStyle]="getStyle('115')" class="number-card cxy mr-5">115P</div>
                </div>
                <div class="mb-10">
                  <div (click)="viewTask(40)" [ngStyle]="getStyle('125')" class="number-card cxy ml-5">125S</div>
                </div>
              </div>
              <div class="cxy">
                <div (click)="viewTask(41)" [ngStyle]="getStyle('135')" class="number-card cxy">135</div>
              </div>
            </div>
            <div class="double-y">
              <div class="double-x">
                <div class="text-end">
                  <div (click)="viewTask(35)" [ngStyle]="getStyle('114')" class="number-card cxy mr-5">114P</div>
                </div>
                <div class="mb-10">
                  <div (click)="viewTask(36)" [ngStyle]="getStyle('124')" class="number-card cxy ml-5">124S</div>
                </div>
              </div>
              <div class="cxy">
                <div (click)="viewTask(37)" [ngStyle]="getStyle('134')" class="number-card cxy">134</div>
              </div>
            </div>
            <div class="double-y">
              <div class="double-x">
                <div class="text-end">
                  <div (click)="viewTask(31)" [ngStyle]="getStyle('113')" class="number-card cxy mr-5">113P</div>
                </div>
                <div class="mb-10">
                  <div (click)="viewTask(32)" [ngStyle]="getStyle('123')" class="number-card cxy ml-5">123S</div>
                </div>
              </div>
              <div class="cxy">
                <div (click)="viewTask(33)" [ngStyle]="getStyle('133')" class="number-card cxy">133</div>
              </div>
            </div>
            <div class="double-y">
              <div class="double-x">
                <div class="text-end">
                  <div (click)="viewTask(26)" [ngStyle]="getStyle('112')" class="number-card cxy mr-5">112P</div>
                </div>
                <div class="mb-10">
                  <div (click)="viewTask(28)" [ngStyle]="getStyle('122')" class="number-card cxy ml-5">122S</div>
                </div>
              </div>
              <div class="cxy">
                <div (click)="viewTask(29)" [ngStyle]="getStyle('132')" class="number-card cxy">132</div>
              </div>
            </div>
            <div class="cxy">
              <div (click)="viewTask(25)" [ngStyle]="getStyle('101')" class="number-card cxy">101</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy mt-10">
              <div (click)="viewTask(44)" [ngStyle]="getStyle('202')" class="number-card cxy">202</div>
            </div>
            <div class="cxy mt-10">
              <div (click)="viewTask(43)" [ngStyle]="getStyle('201')" class="number-card cxy">201</div>
            </div>
            <div class="cxy mt-10">
              <div (click)="viewTask(27)" [ngStyle]="getStyle('105')" class="number-card cxy">105</div>
            </div>
            <div class="cxy mt-10">
              <div (click)="viewTask(24)" [ngStyle]="getStyle('104')" class="number-card cxy">104</div>
            </div>
            <div class="cxy mt-10">
              <div (click)="viewTask(23)" [ngStyle]="getStyle('103')" class="number-card cxy">103</div>
            </div>
            <div class="cxy mt-10">
              <div (click)="viewTask(22)" [ngStyle]="getStyle('102')" class="number-card cxy">102</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="project == 'NR004'">
        <div class="picture">
          <div class="ship">
            <img src="assets/NR004.png">
          </div>
          <div class="sections-one">
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="number">
              <div class="number-card mt-20 ml-30 cxy" (click)="viewTask(620)" [ngStyle]="getIssueStyle(620)">702</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="number number-right">
              <div class="number-card cxy mr-20" (click)="viewTask(621)" [ngStyle]="getIssueStyle(621)">703</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="number-bottom">
              <div class="number-card cxy mb-20" (click)="viewTask(618)" [ngStyle]="getIssueStyle(618)">601</div>
            </div>
            <div class="number text-end">
              <div class="number-card cxy mt-15" (click)="viewTask(619)" [ngStyle]="getIssueStyle(619)">701</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cy">
              <div class="number-card cxy" (click)="viewTask(617)" [ngStyle]="getIssueStyle(617)">502</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(616)" [ngStyle]="getIssueStyle(616)">501</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(615)" [ngStyle]="getIssueStyle(615)">406</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(614)" [ngStyle]="getIssueStyle(614)">405</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(613)" [ngStyle]="getIssueStyle(613)">404</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(612)" [ngStyle]="getIssueStyle(612)">403</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(610)" [ngStyle]="getIssueStyle(610)">401</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(609)" [ngStyle]="getIssueStyle(609)">306</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(608)" [ngStyle]="getIssueStyle(608)">305</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(607)" [ngStyle]="getIssueStyle(607)">304</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(606)" [ngStyle]="getIssueStyle(606)">303</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(605)" [ngStyle]="getIssueStyle(605)">302</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cx">
              <div class="number-card cxy mt-20" (click)="viewTask(604)" [ngStyle]="getIssueStyle(604)">206</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(603)" [ngStyle]="getIssueStyle(603)">205</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(598)" [ngStyle]="getIssueStyle(598)">204</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(599)" [ngStyle]="getIssueStyle(599)">203</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(597)" [ngStyle]="getIssueStyle(597)">102</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(600)" [ngStyle]="getIssueStyle(600)">101</div>
            </div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy"></div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(622)" [ngStyle]="getIssueStyle(622)">105</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(602)" [ngStyle]="getIssueStyle(602)">104</div>
            </div>
            <div class="cxy">
              <div class="number-card cxy" (click)="viewTask(601)" [ngStyle]="getIssueStyle(601)">103</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


