.all-page-tablet{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.card-sections{
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  position: relative;
  height: calc(100vh - 116px);
}
.project-number{
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
}
.picture{
  position: relative;
}
.ship{
  position: absolute;
}
.sections{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  padding-top: 260px;
  display: grid;
  grid-template-columns: 5.7% 7.3% 8.9% 11.3% 11.3% 11.4% 11.4% 11.7% 10.1% 8.1% 0.1%;
  grid-template-rows: 70px 50px 80px 55px 60px 70px 120px;
  position: relative;
  width: 1650px;
}
.sections-tablet{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  padding-top: 214px;
  display: grid;
  grid-template-columns: 10px 75px 85px 110px 115px 115px 110px 115px 110px 70px 2px;
  grid-template-rows: 45px 38px 34px 40px 34px 46px 60px;
  position: relative;
}
.sections-one{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  padding-top: 120px;
  display: grid;
  grid-template-columns: 11% 16% 17% 13% 13% 10% 10% 8%;
  grid-template-rows: 150px 110px 60px 75px 75px 110px 70px;
  position: relative;
  width: 1650px;
}
.sections-one-tablet{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  padding-top: 6px;
  display: grid;
  grid-template-columns: 110px 170px 170px 140px 130px 100px 100px 53px;
  grid-template-rows: 150px 70px 30px 45px 50px 60px 50px;
  position: relative;
  width: calc(100vw - 120px);
}
.number {
  position: relative;
}
.circle{
  position: absolute;
}
.number-card{
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #333;
  cursor: pointer;
  color: #333;
}
.number-card-tablet{
  width: 36px;
  height: 16px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #333;
  cursor: pointer;
  color: #333;
  font-size: 13px;
}
.number-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.text-end-center{
  display: flex;
  justify-content: end;
  align-items: center;
}
.seven{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 80px;
}
.fifth-y{
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 0.2fr;
}
.triple-y{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.double-y{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.double-x{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text-xy{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.text-end{
  display: flex;
  justify-content: flex-end;
}
.green{
  background-color: #e7ecca;
  border: 1px solid #606a26;
  color: #606a26;
}
.yellow{
  background-color: #feeccd;
  border: 1px solid #d78a16;
  color: #d78a16;
}
.red{
  background-color: #f7cecd;
  border: 1px solid #aa1f1c;
  color: #aa1f1c;
}
.number-bottom{
  display: flex;
  align-items: flex-end;
}
.legend{
  padding-right: 10px;
  position: absolute;
  right: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 14px;
  color: #333;
  z-index: 1;
}
.new-status{
  color: #23547b;
  background-color: #b3e5fc;
}
.check-status{
  color: #805b36;
  background-color: #ffd8b2;
}
.sent-status{
  color: #686e46;
  background-color: #e1efa1;
}
.close-status{
  color: #454955;
  background-color: #dae4ff;
}
.in-work-status{
  color: #256029;
  background-color: #c8e6c9;
}
.checkup-status{
  color: #694382;
  background-color: #eccfff;
}
.rework-status{
  color: #3f6b73;
  background-color: #cbebf1;
}
.ready-to-send-status{
  color: #4A7863;
  background-color: #DCEFED;
}
.ready-to-delivery-status{
  color: #393346;
  background-color: #cbc4d7;
}
.sent-to-yard-status{
  color: #895169;
  background-color: #f8c1d5;
}
.approved-status{
  color: #2e604b;
  background-color: #ceede1;
}
.not-approved-status{
  color: #a3392b;
  background-color: #F5BBB2;
}
.paused-status{
  color: #8a5340;
  background-color: #feedaf;
}
.assigned-status{
  color: #606a33;
  background-color: #dbe9a0;
}
.status{
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  width: fit-content;
}
.status-tablet{
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: .3px;
  width: fit-content;
}

