<div class="all-page">
  <div class="card">
    <div class="mr-1 project-number">
      <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border">
      </p-dropdown>
    </div>
    <div class="legend">
      <div class="cxy">
        <div class="number-card cxy new-status"></div>
      </div>
      <div class="cy">
        <div>Новый</div>
      </div>
      <div class="cxy">
        <div class="number-card cxy in-work-status"></div>
      </div>
      <div class="cy">
        <div>В работе</div>
      </div>
      <div class="cxy">
        <div class="number-card cxy check-status"></div>
      </div>
      <div class="cy">
        <div>На согласовании</div>
      </div>
      <div class="cxy">
        <div class="number-card cxy sent-status"></div>
      </div>
      <div class="cy">
        <div>Отправлен заказчику</div>
      </div>
      <div class="cxy">
        <div class="number-card cxy close-status"></div>
      </div>
      <div class="cy">
        <div>Поставлен</div>
      </div>
    </div>
    <div *ngIf="project == 'NR-002'">
      <div class="picture">
        <div class="ship">
          <img src="assets/63m.png">
        </div>
        <div class="sections">
          <div class="cxy"></div>
          <div class="cxy number"></div>
          <div class="cxy number"></div>
          <div class="cxy number">
            <div (click)="viewTask('615')" [ngStyle]="getStyle('615')" class="number-card cxy">615</div>
          </div>
          <div class="number text-end-center">
            <div (click)="viewTask('613')" [ngStyle]="getStyle('613')" class="number-card cxy">613</div>
          </div>
          <div class="cxy number"></div>
          <div class="cxy number"></div>
          <div class="seven number">
            <div (click)="viewTask('512')" [ngStyle]="getStyle('512')" class="number-card cxy">512</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy number">
            <div (click)="viewTask('616')" [ngStyle]="getStyle('616')" class="number-card cxy">616</div>
          </div>
          <div class="cxy"></div>
          <div class="number cy">
            <div (click)="viewTask('614')" [ngStyle]="getStyle('614')" class="number-card cxy">614</div>
          </div>
          <div class="cxy number">
            <div (click)="viewTask('612')" [ngStyle]="getStyle('612')" class="number-card cxy">612</div>
          </div>
          <div class="cxy number">
            <div (click)="viewTask('611')" [ngStyle]="getStyle('611')" class="number-card cxy">611</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy number">
            <div (click)="viewTask('511')" [ngStyle]="getStyle('511')" class="number-card cxy">511</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy fifth-y">
            <div></div>
            <div (click)="viewTask('443')" [ngStyle]="getStyle('443')" class="number-card cxy">443</div>
            <div (click)="viewTask('415')" [ngStyle]="getStyle('415')" class="number-card cxy">415P</div>
            <div (click)="viewTask('425')" [ngStyle]="getStyle('425')" class="number-card cxy">425S</div>
            <div></div>
          </div>
          <div class="cxy"></div>
          <div class="cxy double-y">
            <div class="cxy">
              <div (click)="viewTask('442')" [ngStyle]="getStyle('442')" class="number-card cxy">442</div>
            </div>
            <div class="double-x">
              <div (click)="viewTask('412')" [ngStyle]="getStyle('412')" class="number-card cxy mr-5">412P</div>
              <div (click)="viewTask('422')" [ngStyle]="getStyle('422')" class="number-card cxy ml-5">422S</div>
            </div>
          </div>
          <div class="cxy double-y">
            <div class="cxy">
              <div (click)="viewTask('441')" [ngStyle]="getStyle('441')" class="number-card cxy">441</div>
            </div>
            <div class="double-x">
              <div (click)="viewTask('411')" [ngStyle]="getStyle('411')" class="number-card cxy mr-5">411P</div>
              <div (click)="viewTask('421')" [ngStyle]="getStyle('421')" class="number-card cxy ml-5">421S</div>
            </div>
          </div>
          <div class="cxy double-y">
            <div class="cxy">
              <div (click)="viewTask('345')" [ngStyle]="getStyle('345')" class="number-card cxy">345</div>
            </div>
            <div class="double-x">
              <div (click)="viewTask('315')" [ngStyle]="getStyle('315')" class="number-card cxy mr-5">315P</div>
              <div (click)="viewTask('325')" [ngStyle]="getStyle('325')" class="number-card cxy ml-5">325S</div>
            </div>
          </div>
          <div class="cxy double-y">
            <div class="cxy">
              <div (click)="viewTask('344')" [ngStyle]="getStyle('344')" class="number-card cxy">344</div>
            </div>
            <div class="double-x">
              <div (click)="viewTask('314')" [ngStyle]="getStyle('314')" class="number-card cxy mr-5">314P</div>
              <div (click)="viewTask('324')" [ngStyle]="getStyle('324')" class="number-card cxy ml-5">324S</div>
            </div>
          </div>
          <div class="cxy double-y">
            <div class="cxy">
              <div (click)="viewTask('343')" [ngStyle]="getStyle('343')" class="number-card cxy">343</div>
            </div>
            <div class="double-x">
              <div (click)="viewTask('313')" [ngStyle]="getStyle('313')" class="number-card cxy mr-5">313P</div>
              <div (click)="viewTask('323')" [ngStyle]="getStyle('323')" class="number-card cxy ml-5">323S</div>
            </div>
          </div>
          <div class="double-x">
            <div class="text-xy mb-10">
              <div (click)="viewTask('312')" [ngStyle]="getStyle('312')" class="number-card cxy mr-5">312P</div>
            </div>
            <div class="text-bottom mb-10">
              <div (click)="viewTask('322')" [ngStyle]="getStyle('322')" class="number-card cxy ml-5">322S</div>
            </div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy double-y">
            <div class="cxy">
              <div (click)="viewTask('434')" [ngStyle]="getStyle('434')" class="number-card cxy">434</div>
            </div>
            <div class="double-x">
              <div (click)="viewTask('414')" [ngStyle]="getStyle('414')" class="number-card cxy">414P</div>
              <div (click)="viewTask('424')" [ngStyle]="getStyle('424')" class="number-card cxy ml-5">424S</div>
            </div>
          </div>
          <div class="cxy double-y">
            <div class="cxy">
              <div (click)="viewTask('433')" [ngStyle]="getStyle('433')" class="number-card cxy">433</div>
            </div>
            <div class="double-x">
              <div (click)="viewTask('413')" [ngStyle]="getStyle('413')" class="number-card cxy">413P</div>
              <div (click)="viewTask('423')" [ngStyle]="getStyle('423')" class="number-card cxy ml-5">423S</div>
            </div>
          </div>
          <div class="cx">
            <div (click)="viewTask('432')" [ngStyle]="getStyle('432')" class="number-card cxy mt-10">432</div>
          </div>
          <div class="cx">
            <div (click)="viewTask('431')" [ngStyle]="getStyle('431')" class="number-card cxy mt-10">431</div>
          </div>
          <div class="cx">
            <div (click)="viewTask('335')" [ngStyle]="getStyle('335')" class="number-card cxy mt-10">335</div>
          </div>
          <div class="cx">
            <div (click)="viewTask('334')" [ngStyle]="getStyle('334')" class="number-card cxy mt-10">334</div>
          </div>
          <div class="cx">
            <div (click)="viewTask('333')" [ngStyle]="getStyle('333')" class="number-card cxy mt-10">333</div>
          </div>
          <div class="cx">
            <div (click)="viewTask('332')" [ngStyle]="getStyle('332')" class="number-card cxy mt-10">332</div>
          </div>
          <div class="ml-10">
            <div (click)="viewTask('301')" [ngStyle]="getStyle('301')" class="number-card cxy mt-10">301</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cx">
            <div (click)="viewTask('244')" [ngStyle]="getStyle('244')" class="number-card cxy mt-10">244</div>
          </div>
          <div class="cx">
            <div (click)="viewTask('243')" [ngStyle]="getStyle('243')" class="number-card cxy mt-10">243</div>
          </div>
          <div class="cxy">
            <div (click)="viewTask('242')" [ngStyle]="getStyle('242')" class="number-card cxy">242</div>
          </div>
          <div class="cxy">
            <div (click)="viewTask('241')" [ngStyle]="getStyle('241')" class="number-card cxy">241</div>
          </div>
          <div class="cxy">
            <div (click)="viewTask('145')" [ngStyle]="getStyle('145')" class="number-card cxy">145</div>
          </div>
          <div class="cxy">
            <div (click)="viewTask('144')" [ngStyle]="getStyle('144')" class="number-card cxy">144</div>
          </div>
          <div class="cxy">
            <div (click)="viewTask('143')" [ngStyle]="getStyle('143')" class="number-card cxy">143</div>
          </div>
          <div class="cxy">
            <div (click)="viewTask('142')" [ngStyle]="getStyle('142')" class="number-card cxy">142</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy">
            <div (click)="viewTask('204')" [ngStyle]="getStyle('204')" class="number-card cxy">204</div>
          </div>
          <div class="cxy">
            <div (click)="viewTask('203')" [ngStyle]="getStyle('203')" class="number-card cxy">203</div>
          </div>
          <div class="double-y">
            <div class="double-x">
              <div class="text-end">
                <div (click)="viewTask('212')" [ngStyle]="getStyle('212')" class="number-card cxy mr-5">212P</div>
              </div>
              <div class="mb-10">
                <div (click)="viewTask('222')" [ngStyle]="getStyle('222')" class="number-card cxy ml-5">222S</div>
              </div>
            </div>
            <div class="cxy">
              <div (click)="viewTask('232')" [ngStyle]="getStyle('232')" class="number-card cxy">232</div>
            </div>
          </div>
          <div class="double-y">
            <div class="double-x">
              <div class="text-end">
                <div (click)="viewTask('211')" [ngStyle]="getStyle('211')" class="number-card cxy mr-5">211P</div>
              </div>
              <div class="mb-10">
                <div (click)="viewTask('221')" [ngStyle]="getStyle('221')" class="number-card cxy ml-5">221S</div>
              </div>
            </div>
            <div class="cxy">
              <div (click)="viewTask('231')" [ngStyle]="getStyle('231')" class="number-card cxy">231</div>
            </div>
          </div>
          <div class="double-y">
            <div class="double-x">
              <div class="text-end">
                <div (click)="viewTask('115')" [ngStyle]="getStyle('115')" class="number-card cxy mr-5">115P</div>
              </div>
              <div class="mb-10">
                <div (click)="viewTask('125')" [ngStyle]="getStyle('125')" class="number-card cxy ml-5">125S</div>
              </div>
            </div>
            <div class="cxy">
              <div (click)="viewTask('135')" [ngStyle]="getStyle('135')" class="number-card cxy">135</div>
            </div>
          </div>
          <div class="double-y">
            <div class="double-x">
              <div class="text-end">
                <div (click)="viewTask('114')" [ngStyle]="getStyle('114')" class="number-card cxy mr-5">114P</div>
              </div>
              <div class="mb-10">
                <div (click)="viewTask('124')" [ngStyle]="getStyle('124')" class="number-card cxy ml-5">124S</div>
              </div>
            </div>
            <div class="cxy">
              <div (click)="viewTask('134')" [ngStyle]="getStyle('134')" class="number-card cxy">134</div>
            </div>
          </div>
          <div class="double-y">
            <div class="double-x">
              <div class="text-end">
                <div (click)="viewTask('113')" [ngStyle]="getStyle('113')" class="number-card cxy mr-5">113P</div>
              </div>
              <div class="mb-10">
                <div (click)="viewTask('123')" [ngStyle]="getStyle('123')" class="number-card cxy ml-5">123S</div>
              </div>
            </div>
            <div class="cxy">
              <div (click)="viewTask('133')" [ngStyle]="getStyle('133')" class="number-card cxy">133</div>
            </div>
          </div>
          <div class="double-y">
            <div class="double-x">
              <div class="text-end">
                <div (click)="viewTask('112')" [ngStyle]="getStyle('112')" class="number-card cxy mr-5">112P</div>
              </div>
              <div class="mb-10">
                <div (click)="viewTask('122')" [ngStyle]="getStyle('122')" class="number-card cxy ml-5">122S</div>
              </div>
            </div>
            <div class="cxy">
              <div (click)="viewTask('132')" [ngStyle]="getStyle('132')" class="number-card cxy">132</div>
            </div>
          </div>
          <div class="cxy">
            <div (click)="viewTask('101')" [ngStyle]="getStyle('101')" class="number-card cxy">101</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy mt-10">
            <div (click)="viewTask('202')" [ngStyle]="getStyle('202')" class="number-card cxy">202</div>
          </div>
          <div class="cxy mt-10">
            <div (click)="viewTask('201')" [ngStyle]="getStyle('201')" class="number-card cxy">201</div>
          </div>
          <div class="cxy mt-10">
            <div (click)="viewTask('105')" [ngStyle]="getStyle('105')" class="number-card cxy">105</div>
          </div>
          <div class="cxy mt-10">
            <div (click)="viewTask('104')" [ngStyle]="getStyle('104')" class="number-card cxy">104</div>
          </div>
          <div class="cxy mt-10">
            <div (click)="viewTask('103')" [ngStyle]="getStyle('103')" class="number-card cxy">103</div>
          </div>
          <div class="cxy mt-10">
            <div (click)="viewTask('102')" [ngStyle]="getStyle('102')" class="number-card cxy">102</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="project == 'NR-004'">
      <div class="picture">
        <div class="ship">
          <img src="assets/NR004.png">
        </div>
        <div class="sections-one">
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="number">
            <div class="number-card mt-20 ml-30 cxy" [ngStyle]="getStyle('100')">100</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="number number-right">
            <div class="number-card cxy mr-20">101</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="number-bottom">
            <div class="number-card cxy mb-20">102</div>
          </div>
          <div class="number text-end">
            <div class="number-card cxy mt-15">103</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cy">
            <div class="number-card cxy">104</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">105</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy">
            <div class="number-card cxy">106</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">107</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">108</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">109</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">110</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy">
            <div class="number-card cxy">111</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">112</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">113</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">114</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">115</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cx">
            <div class="number-card cxy mt-20">116</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">117</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">118</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">119</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">120</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">121</div>
          </div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy"></div>
          <div class="cxy">
            <div class="number-card cxy">122</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">123</div>
          </div>
          <div class="cxy">
            <div class="number-card cxy">124</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



