.card-sections{
  background: var(--surface-e);
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  border-radius: 4px;
  position: relative;
  height: calc(100vh - 116px);
}
.project-number{
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
}
.picture{
  width: 1794px;
  height: 828px;
  position: relative;
}
.ship{
  position: absolute;
}
.sections{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  padding-top: 260px;
  display: grid;
  grid-template-columns: 5.7% 7.2% 8.6% 11.2% 11.2% 11.2% 11.2% 11.2% 10.2% 8% 4.3%;
  grid-template-rows: 80px 65px 80px 70px 60px 70px 120px;
  position: relative;
}
.sections-one{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  padding-top: 120px;
  display: grid;
  grid-template-columns: 15% 14% 15.5% 12.2% 12.2% 9.5% 10% 11.6%;
  grid-template-rows: 150px 110px 60px 75px 75px 110px 70px;
  position: relative;
}
.number {
  position: relative;
}
.circle{
  position: absolute;
}
.number-card{
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #333;
  cursor: pointer;
  color: #333;
}
.number-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.text-end-center{
  display: flex;
  justify-content: end;
  align-items: center;
}
.seven{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 80px;
}
.fifth-y{
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 0.2fr;
}
.triple-y{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.double-y{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.double-x{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text-xy{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.text-end{
  display: flex;
  justify-content: flex-end;
}
.green{
  background-color: #e7ecca;
  border: 1px solid #606a26;
  color: #606a26;
}
.yellow{
  background-color: #feeccd;
  border: 1px solid #d78a16;
  color: #d78a16;
}
.red{
  background-color: #f7cecd;
  border: 1px solid #aa1f1c;
  color: #aa1f1c;
}
.number-bottom{
  display: flex;
  align-items: flex-end;
}
.legend{
  height: 183px;
  width: 300px;
  position: absolute;
  right: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 14px;
  color: #333;
}
.new-status{
  color: #23547b;
  background-color: #b3e5fc;
}
.check-status{
  color: #805b36;
  background-color: #ffd8b2;
}
.sent-status{
  color: #686e46;
  background-color: #e1efa1;
}
.close-status{
  color: #454955;
  background-color: #dae4ff;
}
.in-work-status{
  color: #256029;
  background-color: #c8e6c9;
}
.checkup-status{
  color: #694382;
  background-color: #eccfff;
}
.rework-status{
  color: #3f6b73;
  background-color: #cbebf1;
}
.ready-to-send-status{
  color: #4A7863;
  background-color: #DCEFED;
}
.ready-to-delivery-status{
  color: #393346;
  background-color: #cbc4d7;
}
.sent-to-yard-status{
  color: #895169;
  background-color: #f8c1d5;
}
.approved-status{
  color: #2e604b;
  background-color: #ceede1;
}
.not-approved-status{
  color: #a3392b;
  background-color: #F5BBB2;
}
.paused-status{
  color: #8a5340;
  background-color: #feedaf;
}
.assigned-status{
  color: #606a33;
  background-color: #dbe9a0;
}
.status{
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  width: fit-content;
}
