<div class="picture">
  <div class="ship">
    <img src="assets/63m.png">
  </div>
  <div class="sections">
    <div class="cxy"></div>
    <div class="cxy number"></div>
    <div class="cxy number"></div>
    <div class="cxy number">
      <div [ngStyle]="getStyle('615')" class="number-card cxy">615</div>
    </div>
    <div class="number text-end-center">
      <div class="number-card cxy">613</div>
    </div>
    <div class="cxy number"></div>
    <div class="cxy number"></div>
    <div class="seven number">
      <div class="number-card cxy">512</div>
    </div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy number">
      <div class="number-card cxy">616</div>
    </div>
    <div class="cxy"></div>
    <div class="number cy">
      <div class="number-card cxy">614</div>
    </div>
    <div class="cxy number">
      <div class="number-card cxy">612</div>
    </div>
    <div class="cxy number">
      <div class="number-card cxy">611</div>
    </div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy number">
      <div class="number-card cxy">511</div>
    </div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy fifth-y">
      <div></div>
      <div class="number-card cxy">443</div>
      <div class="number-card cxy">415P</div>
      <div class="number-card cxy">425S</div>
      <div></div>
    </div>
    <div class="cxy"></div>
    <div class="cxy double-y">
      <div class="cxy">
        <div class="number-card cxy">442</div>
      </div>
      <div class="double-x">
        <div class="number-card cxy mr-5">412P</div>
        <div class="number-card cxy ml-5">422S</div>
      </div>
    </div>
    <div class="cxy double-y">
      <div class="cxy">
        <div class="number-card cxy">441</div>
      </div>
      <div class="double-x">
        <div class="number-card cxy mr-5">411P</div>
        <div class="number-card cxy ml-5">421S</div>
      </div>
    </div>
    <div class="cxy double-y">
      <div class="cxy">
        <div class="number-card cxy">345</div>
      </div>
      <div class="double-x">
        <div class="number-card cxy mr-5">315P</div>
        <div class="number-card cxy ml-5">325S</div>
      </div>
    </div>
    <div class="cxy double-y">
      <div class="cxy">
        <div class="number-card cxy">344</div>
      </div>
      <div class="double-x">
        <div class="number-card cxy mr-5">314P</div>
        <div class="number-card cxy ml-5">324S</div>
      </div>
    </div>
    <div class="cxy double-y">
      <div class="cxy">
        <div class="number-card cxy">343</div>
      </div>
      <div class="double-x">
        <div class="number-card cxy mr-5">313P</div>
        <div class="number-card cxy ml-5">323S</div>
      </div>
    </div>
    <div class="double-x">
      <div class="text-xy mb-10">
        <div class="number-card cxy mr-5">312P</div>
      </div>
      <div class="text-bottom mb-10">
        <div class="number-card cxy ml-5">322S</div>
      </div>
    </div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy double-y">
      <div class="cxy">
        <div class="number-card cxy">434</div>
      </div>
      <div class="double-x">
        <div class="number-card cxy">414P</div>
        <div class="number-card cxy ml-5">424S</div>
      </div>
    </div>
    <div class="cxy double-y">
      <div class="cxy">
        <div class="number-card cxy">433</div>
      </div>
      <div class="double-x">
        <div class="number-card cxy">413P</div>
        <div class="number-card cxy ml-5">423S</div>
      </div>
    </div>
    <div class="cx">
      <div class="number-card cxy mt-10">432</div>
    </div>
    <div class="cx">
      <div class="number-card cxy mt-10">431</div>
    </div>
    <div class="cx">
      <div class="number-card cxy mt-10">335</div>
    </div>
    <div class="cx">
      <div class="number-card cxy mt-10">334</div>
    </div>
    <div class="cx">
      <div class="number-card cxy mt-10">333</div>
    </div>
    <div class="cx">
      <div class="number-card cxy mt-10">332</div>
    </div>
    <div class="ml-10">
      <div class="number-card cxy mt-10">301</div>
    </div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cx">
      <div class="number-card cxy mt-10">244</div>
    </div>
    <div class="cx">
      <div class="number-card cxy mt-10">243</div>
    </div>
    <div class="cxy">
      <div class="number-card cxy">242</div>
    </div>
    <div class="cxy">
      <div class="number-card cxy">241</div>
    </div>
    <div class="cxy">
      <div class="number-card cxy">145</div>
    </div>
    <div class="cxy">
      <div class="number-card cxy">144</div>
    </div>
    <div class="cxy">
      <div class="number-card cxy">143</div>
    </div>
    <div class="cxy">
      <div class="number-card cxy">142</div>
    </div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy">
      <div class="number-card cxy">204</div>
    </div>
    <div class="cxy">
      <div class="number-card cxy">203</div>
    </div>
    <div class="double-y">
      <div class="double-x">
        <div class="text-end">
          <div class="number-card cxy mr-5">212P</div>
        </div>
        <div class="mb-10">
          <div class="number-card cxy ml-5">222S</div>
        </div>
      </div>
      <div class="cxy">
        <div class="number-card cxy">232</div>
      </div>
    </div>
    <div class="double-y">
      <div class="double-x">
        <div class="text-end">
          <div class="number-card cxy mr-5">211P</div>
        </div>
        <div class="mb-10">
          <div class="number-card cxy ml-5">221S</div>
        </div>
      </div>
      <div class="cxy">
        <div class="number-card cxy">231</div>
      </div>
    </div>
    <div class="double-y">
      <div class="double-x">
        <div class="text-end">
          <div class="number-card cxy mr-5">115P</div>
        </div>
        <div class="mb-10">
          <div class="number-card cxy ml-5">125S</div>
        </div>
      </div>
      <div class="cxy">
        <div class="number-card cxy">135</div>
      </div>
    </div>
    <div class="double-y">
      <div class="double-x">
        <div class="text-end">
          <div class="number-card cxy mr-5">114P</div>
        </div>
        <div class="mb-10">
          <div class="number-card cxy ml-5">124S</div>
        </div>
      </div>
      <div class="cxy">
        <div class="number-card cxy">134</div>
      </div>
    </div>
    <div class="double-y">
      <div class="double-x">
        <div class="text-end">
          <div class="number-card cxy mr-5">113P</div>
        </div>
        <div class="mb-10">
          <div class="number-card cxy ml-5">123S</div>
        </div>
      </div>
      <div class="cxy">
        <div class="number-card cxy">133</div>
      </div>
    </div>
    <div class="double-y">
      <div class="double-x">
        <div class="text-end">
          <div class="number-card cxy mr-5">112P</div>
        </div>
        <div class="mb-10">
          <div class="number-card cxy ml-5">122S</div>
        </div>
      </div>
      <div class="cxy">
        <div class="number-card cxy">132</div>
      </div>
    </div>
    <div class="cxy">
      <div class="number-card cxy">101</div>
    </div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy"></div>
    <div class="cxy mt-10">
      <div class="number-card cxy">202</div>
    </div>
    <div class="cxy mt-10">
      <div class="number-card cxy">201</div>
    </div>
    <div class="cxy mt-10">
      <div class="number-card cxy">105</div>
    </div>
    <div class="cxy mt-10">
      <div class="number-card cxy">104</div>
    </div>
    <div class="cxy mt-10">
      <div class="number-card cxy">103</div>
    </div>
    <div class="cxy mt-10">
      <div class="number-card cxy">102</div>
    </div>
  </div>
</div>

