<div class="all-page">
  <div class="min-height-card">
    <div class="card-head df sticky-card">
      <div class="mr-10">
        <p-dropdown [disabled]="loading" placeholder="ПРОЕКТ" [(ngModel)]="project" [options]="projects" (ngModelChange)="projectChanged()" styleClass="width-170 border">
        </p-dropdown>
      </div>
      <div class="mr-10">
        Total weight: {{round(summ)}}
<!--        <div (click)="exportXls()" class="materials-button xls-button cxy">-->
<!--          <img src="assets/icons/xls2.svg" height="26">-->
<!--        </div>-->
      </div>

      <div class="p-ml-auto df">
<!--        <span class="p-input-icon-left p-ml-auto">-->
<!--            <i class="pi pi-search"></i>-->
<!--            <input [(ngModel)]="searchProfiles" (ngModelChange)="searchChanged()" pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border width-170" />-->
<!--          </span>-->
      </div>
    </div>
    <div class="empty-card-bottom"></div>
    <div class="card-weight">

      <div *ngIf="loading" class="cxy h-100">
        <div class="cxy">
          <div class="cy">
            <img src="assets/whale.gif" height="120">
            <div class="cx loading-text">PLEASE WAIT...</div>
          </div>
        </div>
      </div>
      <p-treeTable *ngIf="!loading" [value]="nodes" (onNodeExpand)="onNodeExpand($event)"
                   [scrollable]="true" [rows]="100" scrollHeight="calc(100vh - 260px)" [virtualScroll]="true" [virtualRowHeight]="15">
        <ng-template pTemplate="header">
          <tr>
            <th [ttSortableColumn]="'NAME'" style="width: 60%">Name <p-treeTableSortIcon [field]="'NAME'"></p-treeTableSortIcon></th>
            <th [ttSortableColumn]="'WEIGHT'">Weight <p-treeTableSortIcon [field]="'WEIGHT'"></p-treeTableSortIcon></th>
            <th>COG (xyz)</th>
            <th>Moment (xyz)</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr class="cursor-default row-table-doc-hover">
            <td style="width: 60%">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.NAME}} {{rowData.DESCRIPTION != '' ? (' - ' + rowData.DESCRIPTION) : ''}} {{rowData.DNA != null && rowData.DNA != '' ? ('[' + rowData.DNA + ']') : ''}}
              <img class="margin-attention" *ngIf="rowData.WARN" src="assets/icons/attention.svg" height="20">
            </td>
            <td style="width: 10%">
              <div *ngIf="rowData.WEIGHT != 0">{{round(rowData.WEIGHT)}}</div>
            </td>
            <td>
              <div class="w-100 cxy" *ngIf="rowData.X_COG != 0">
                <div class="w-26">
                  <div class="mr-5 x-label">{{round(rowData.X_COG)}}</div>
                </div>
                <div  class="w-26">
                  <div class="mr-5 y-label">{{round(rowData.Y_COG)}}</div>
                </div>
                <div  class="w-26">
                  <div class="z-label">{{round(rowData.Z_COG)}}</div>
                </div>
              </div>
            </td>
            <td>
              <div class="w-100 cxy" *ngIf="rowData.X_COG != 0 && rowData.WEIGHT != 0">
                <div class="w-26">
                  <div class="mr-5 x-label">{{round(rowData.X_COG * rowData.WEIGHT)}}</div>
                </div>
                <div  class="w-26">
                  <div class="mr-5 y-label">{{round(rowData.Y_COG * rowData.WEIGHT)}}</div>
                </div>
                <div  class="w-26">
                  <div class="z-label">{{round(rowData.Z_COG * rowData.WEIGHT)}}</div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
</div>

