/deep/.p-dialog .p-dialog-content {
  border-radius: 5px!important;
}
/deep/.p-dialog .p-dialog-content{
  padding-bottom: 1rem;
}
/deep/.p-component{
  font-size: 13px!important;
}
/deep/.p-inputtext{
  font-size: 13px!important;
  padding: 8px 10px;
}
/deep/.p-dialog .p-dialog-content{
  border-radius: 5px!important;
}
/deep/.p-multiselect-items-wrapper{
  max-height: 300px !important;
}
/deep/.p-multiselect .p-multiselect-label{
  padding: 8px 10px;
}
/deep/.p-inputnumber-input {
  width: 300px !important;
}
.task-header-assign{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.task-button{
  padding: 5px;
  border-radius: 3px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 2rem;
  height: 2rem;
}
.task-button:hover{
  background-color: rgb(235, 236, 240);
}
.big-text{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
.space{
  height: 150px;
}
.form-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button-ok{
  border: none;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #fff;
  background: #3B94D6;
  transition: background .1s
}
.button-ok:hover{
  background-color: #2C7BB6;
}
.button-cancel{
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #2E3E4E;
  background: #fff;
  transition: background .1s;
  border: none;
}
.button-cancel:hover{
  background-color: #ECEDF0;
}
.task-name{
  font-size: x-large;
  font-weight: 600;
}
.p-inputswitch:focus{
  outline: none;
}
/deep/.p-dialog .p-dialog-content{
  padding-bottom: 1rem;
}
.disabled-button{
  opacity: 0.5;
  pointer-events: none;
}
.min-text{
  color: #7b7e85d4;
  font-size: 12px;
}
