<div style="height: 510px; width: 300px;">
  <div class="task-header-assign">
    <div class="task-name">{{t.tr('Назначить исполнителя')}}</div>
    <div class="task-button cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="big-text mb-1 mt-1">{{t.tr('Исполнитель')}}</div>
  <p-dropdown appendTo = "body" [options]="users" [(ngModel)]="selectedUser" [filter]="true" filterBy="userName" optionValue="login" optionLabel="userName"
              [showClear]="true" [placeholder]="t.tr('Назначить')" class="p-dropdown-150" styleClass="width-300">
    <ng-template let-user pTemplate="item">
      <div class="df">
        <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
        <div class="cx cy pl-10">{{user.userName}}</div>
      </div>
    </ng-template>
  </p-dropdown>
  <div>
    <div class="big-text mb-1 mt-1">{{t.tr('Дата начала')}}</div>
    <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [(ngModel)]="startDate" dateFormat="dd.mm.yy" styleClass="width-300"></p-calendar>
    <div class="big-text mb-1 mt-1">{{t.tr('Срок завершения')}}</div>
    <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [(ngModel)]="dueDate" dateFormat="dd.mm.yy" styleClass="width-300"></p-calendar>
    <div class="big-text mb-1 mt-1">{{t.tr('Плановая трудоёмкость')}}</div>
    <div class="cursor-pointer mr-15 width-300">
      <p-inputNumber [(ngModel)]="labor" mode="decimal"></p-inputNumber>
    </div>
    <div class="big-text mb-1 mt-1">{{t.tr('Связанные задачи')}}</div>

    <p-multiSelect appendTo = "body" [options]="issues" [(ngModel)]="selectedIssues" [filter]="true" filterBy="name,doc_number" optionValue="id" optionLabel="doc_number"
                [placeholder]="t.tr('Выберите')" class="p-dropdown-150 width-200" styleClass="width-300" [virtualScroll]="true" [itemSize]="60">
      <ng-template let-issue pTemplate="item">
        <div>
          <div class="min-text">{{issue.issue_type}}</div>
          <div>{{issue.doc_number}}</div>
          <div>{{issue.name}}</div>
        </div>
      </ng-template>
    </p-multiSelect>


<!--    <p-multiSelect appendTo="body" class="mr-10" [options]="issues" [(ngModel)]="selectedIssues" filterBy="name,doc_number"-->
<!--                   styleClass="width-300 new-task-button p-info" [placeholder]="t.tr('Выберите')" [virtualScroll]="true" [itemSize]="44" optionValue="id">-->
<!--      <ng-template let-issue pTemplate="item">-->
<!--        <div class="country-item">-->
<!--          <div>{{issue.doc_number}}</div>-->
<!--          <div>{{issue.name}}</div>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </p-multiSelect>-->



  </div>
  <div class="form-footer pt-10">
    <div class="mr-5 cx">
      <div [class.disabled-button]="selectedUser == '' || dueDate.getTime() == 0" tabindex="10" (click)="commit()" class="button-ok cxy">{{t.tr('Назначить')}}</div>
    </div>
    <div tabindex="11" (click)="close()" pButton [label]="t.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
</div>






