<div class="all-page">
  <div class="card">
    <p-table #table [value]="issues"
             [scrollable]="true"
             [scrollHeight]="'70vh'"
             [virtualScroll]="true"
             [virtualRowHeight]="40"
             styleClass="p-datatable-striped"
             responsiveLayout="scroll"
             [globalFilterFields]="['id','doc_number','name','status']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <div class="mr-1">
            <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border" (ngModelChange)="projectChanged()">
            </p-dropdown>
          </div>
          <div class="cxy mr-1">
            <div class="icon-categories cursor-pointer" tooltipPosition="top" [pTooltip]="l.tr('Экспорт XLS')">
              <img src="assets/icons/xls-file.svg" height="24">
            </div>
          </div>
          <div class="cxy mr-1">
            <div class="icon-categories cursor-pointer" tooltipPosition="top" [pTooltip]="l.tr('Экспорт PDF')">
              <img src="assets/icons/pdf_2.png" height="24">
            </div>
          </div>
          <div class="p-ml-auto">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input (input)="table.filterGlobal(search.value, 'contains')" #search pInputText type="text" [placeholder]="l.tr('Поиск...')" class="border" />
          </span>
        </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="doc_number" class="w-15 ">{{l.tr('Номер чертежа')}}
            <p-sortIcon field="doc_number"></p-sortIcon>
          </th>
          <th pSortableColumn="name" class="w-40">{{l.tr('Название')}}
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="department" class="w-15">{{l.tr('Отдел')}}
            <p-sortIcon field="department"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'department'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.department" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="revision" class="w-15">{{l.tr('Ревизия')}}
            <p-sortIcon field="revision"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'revision'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.revision" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="status" class="w-15">{{l.tr('Статус')}}
            <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'status'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.status" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="delivered_date" class="w-15">{{l.tr('Дата поставки')}}
            <p-sortIcon field="delivered_date"></p-sortIcon>
            <p-columnFilter class="filter" type="date" [field]="'delivered_date'" display="menu"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-issue>
        <tr class="cursor-pointer" (click)="viewTask(issue.id, issue.project, issue.doc_number, issue.department)">
          <td class="w-15 text-14">{{issue.doc_number}}</td>
          <td class="w-40 text-14">{{issue.name}}</td>
          <td class="w-15 text-14">{{issue.department}}</td>
          <td class="w-15 text-14">{{issue.revision}}</td>
          <td class="w-15 text-14"><span [innerHTML]="getDeliveredStatus(issue.status) | safeHtml"></span></td>
          <td class="w-15 text-14">{{getDate(+issue.delivered_date)}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
