/deep/.p-multiselect-header {
  display: none!important;
}
/deep/.p-component{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
}
.icon-categories{
  border-radius: 3px;
  padding: 6px;
  border: 1px solid #605e5c;
  height: 36px;
  width: 36px;
}
.icon-categories:hover{
  background-color: rgba(50, 49, 48, 0.07);
}
.text-14{
  font-size: 13px;
}
/deep/.pi{
  font-size: 14px;
}
.filter{
  margin-left: auto;
}
.header{
  display: flex;
  text-align: center;
  align-items: center;
}
/deep/.p-datatable .p-datatable-tbody > tr > td{
  padding: 12px;
}
/deep/.p-datatable .p-datatable-thead > tr > th{
  padding: 12px;
}
.task-button{
  color: #605e5c;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  padding: 5px;
}
.task-button:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
