<div *ngIf="!device.isDesktop()" class="">
  <div class="card-tablet">
    <p-table #table [value]="issues"
             [scrollable]="true"
             scrollHeight="calc(100vh - 210px)"
             scrollDirection="both"
             [virtualScroll]="true"
             [virtualRowHeight]="40"
             styleClass="p-datatable-striped"
             responsiveLayout="scroll"
             [globalFilterFields]="['id','doc_number','name','status']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <div class="mr-1">
            <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border" (ngModelChange)="projectChanged()">
            </p-dropdown>
          </div>
          <div class="p-ml-auto">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input (input)="table.filterGlobal(search.value, 'contains')" #search pInputText type="text" [placeholder]="l.tr('Поиск...')" class="border" />
          </span>
        </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="df">
          <th pSortableColumn="doc_number" style="width: 136px" class="lxy font-13">{{l.tr('Чертеж')}}
            <p-sortIcon field="doc_number"></p-sortIcon>
          </th>
          <th pSortableColumn="name" style="width: 225px" class="lxy font-13">{{l.tr('Название')}}
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="department" style="width: 136px" class="cxy font-13">{{l.tr('Отдeл')}}
            <p-sortIcon field="department"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'department'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.department" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="revision" style="width: 118px" class="cxy font-13">{{l.tr('Рев.')}}
            <p-sortIcon field="revision"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'revision'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.revision" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="status" style="width: 136px" class="cxy font-13">{{l.tr('Статус')}}
            <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'status'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.status" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="delivered_date" style="width: 155px" class="cxy font-13">{{l.tr('Поставлен')}}
            <p-sortIcon field="delivered_date"></p-sortIcon>
            <p-columnFilter class="filter" type="date" [field]="'delivered_date'" display="menu"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-issue>
        <tr class="cursor-pointer" (click)="viewTask(issue.id, issue.project, issue.doc_number, issue.department)">
          <td style="width: 136px" class="text-12">{{issue.doc_number}}</td>
          <td style="width: 225px" class="text-12">{{issue.name}}</td>
          <td style="width: 136px" class="text-12">{{issue.department}}</td>
          <td style="width: 118px" class="text-12">{{issue.revision}}</td>
          <td style="width: 136px" class="text-12"><span [innerHTML]="getDeliveredStatus(issue.status) | safeHtml"></span></td>
          <td style="width: 155px" class="text-12">{{getDate(+issue.delivered_date)}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div *ngIf="device.isDesktop()" class="all-page">
  <div class="card-overflow">
    <p-table #table [value]="issues"
             [scrollable]="true"
             scrollHeight="calc(100vh - 265px)"
             [virtualScroll]="true"
             [virtualRowHeight]="40"
             styleClass="p-datatable-striped"
             responsiveLayout="scroll"
             [globalFilterFields]="['id','doc_number','name','status']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <div class="mr-1">
            <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border" (ngModelChange)="projectChanged()">
            </p-dropdown>
            <div class="mr-1">
              <label>Show only with files
                <input type="checkbox" [(ngModel)]="showWithFilesOnly" (ngModelChange)="projectChanged()">
              </label>
            </div>
          </div>
          <div class="p-ml-auto">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input (input)="table.filterGlobal(search.value, 'contains')" #search pInputText type="text" [placeholder]="l.tr('Поиск...')" class="border" />
          </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="df">
          <th pSortableColumn="doc_number" class="lxy w-15">{{l.tr('Номер чертежа')}}
            <p-sortIcon field="doc_number"></p-sortIcon>
          </th>
          <th pSortableColumn="name" class="lxy w-27">{{l.tr('Название')}}
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="department" class="cxy w-17">{{l.tr('Отдел')}}
            <p-sortIcon field="department"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'department'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.department" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="revision" class="cxy w-10 min-width-120">{{l.tr('Ревизия')}}
            <p-sortIcon field="revision"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'revision'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.revision" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="status" class="cxy w-13">{{l.tr('Статус')}}
            <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'status'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.status" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="delivered_date" class="cxy w-14">{{l.tr('Дата поставки')}}
            <p-sortIcon field="delivered_date"></p-sortIcon>
            <p-columnFilter class="filter" type="date" [field]="'delivered_date'" display="menu"></p-columnFilter>
          </th>
          <th class="w-3"></th>
          <th class="w-3"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-issue>
        <tr class="cursor-pointer" (click)="viewTask(issue.id, issue.project, issue.doc_number, issue.department)">
          <td class="w-15 text-14">{{issue.doc_number}}</td>
          <td class="w-27 text-14">{{issue.name}}</td>
          <td class="w-17 text-14">{{issue.department}}</td>
          <td class="w-10 text-14">{{issue.revision}}</td>
          <td class="w-13 text-14"><span [innerHTML]="getDeliveredStatus(issue.status) | safeHtml"></span></td>
          <td class="w-14 text-14">{{getDate(+issue.delivered_date)}}</td>
          <td class="w-3 text-14">
            <div  class="">
              <img pTooltip="Download" tooltipPosition="top" src="assets/icons/download-arrow.png" (click)="downloadDocFiles(issue); $event.stopPropagation()">
            </div>
          </td>
          <td class="w-3 text-14">
            <div (click)="copyUrl(issue.id, issue.project, issue.doc_number, issue.department); $event.stopPropagation()" class="">
              <img pTooltip="Copy link" tooltipPosition="top" src="assets/icons/link3.png">
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-toast key="task" position="bottom-center"></p-toast>

<div class="progress-spinner" *ngIf="waitForZipFiles">
  <div class="image-preview-backdrop">
  </div>
  <div class="image-preview-scale">
    <img src="assets/whale.gif" height="120">
    <div class="cx wait-text">PLEASE WAIT...</div>
  </div>
</div>
