<div style="width: 460px;">
  <div class="header-parts">
    <div class="header-parts-text">{{t.tr('Создать новое оборудование')}}</div>
    <div class="df">
      <div class="parts-button-close cxy" (click)="close()">
        <i class="pi pi-times"></i>
      </div>
    </div>
  </div>


  <form style="width: 460px;" [formGroup]="equipmentForm" class="form-container">
    <div class="sfi-name">
      <div class="df flex-column space-between width-150">
        <label class="big-text-create mb-1" for="sfi_unit">{{t.tr('SFI')}}</label>
        <input pInputText id="sfi_unit"  type="text" formControlName="sfi_unit" placeholder="SFI-Unit" class="sfi-name-input">
      </div>

      <div class="df flex-column space-between">
        <label class="big-text-create mb-1" for="name">{{t.tr('Наименование')}} </label>
        <input pInputText id="name" type="text" formControlName="name" class="sfi-name-input">
      </div>
    </div>
    <div class="sfi-error">
      <span class="error cx" *ngIf="equipmentForm.get('sfi_unit')?.hasError('invalidSfiFormat') && equipmentForm.get('sfi_unit')?.value">
        Введите корректный SFI
      </span>
    </div>



    <label class="big-text-create mb-1 mt-1" for="commentText">{{t.tr('Комментарий')}} </label>
    <input class="" pInputText id="commentText" type="text" formControlName="commentText">


    <div *ngIf="equipmentFiles.length != 0" class="big-text mt-1">{{t.tr('Вложения')}}</div>
    <div class="mb-15 width-400 position-relative" *ngFor="let file of equipmentFiles">
      <div class="df mb-6 cursor-pointer">
        <div class="df w-90 space-between">
          <div class="df">
            <div class="cxy">
              <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>
            </div>
            <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>
          </div>
          <div (click)="deleteFile(file)">
            <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-20 df">
      <div tabindex="10"  [class.disabled-button]="!equipmentForm.valid" (click)="addFiles()" class="button-ok">{{t.tr('Добавить файлы')}}</div>
    </div>

    <div class="mr-5 mt-20 df justify-content-end">
      <div tabindex="10" [class.disabled-button]="!equipmentForm.valid" (click)="createEquipment()" class="button-ok cxy">{{t.tr('Создать')}}</div>
      <div tabindex="10" (click)="close()" class="button-cancel cxy ml-20">{{t.tr('Отмена')}}</div>
    </div>
  </form>
</div>

