<div class="mr-1">

</div>

<form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">
  <div class="big-text-create mb-1">{{'Проект'}}</div>
  <p-dropdown formControlName="project" class="select" [options]="equipmentProjects" appendTo = "body" styleClass="width-220 font-14"></p-dropdown>
  <p-dropdown formControlName="department" class="select" [options]="equipmentDepartments" appendTo = "body" styleClass="width-220 font-14"></p-dropdown>

  <label for="sfi">SFI: </label>
  <input id="sfi" type="text" formControlName="sfi">

  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name">

  <label for="description">description </label>
  <input id="description" type="text" formControlName="description">

  <div [class.file-drag]="dragOver" class="upload cx cy">
    <div class="cxy w-100" (dragenter)="dragOver = true" (dragleave)="dragOver = false"  (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
      <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
      <span class="normal-text no-actions">{{('Перетащите файлы для загрузки')}}</span>
    </div>
  </div>

<!--  <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>-->
<!--  <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">-->
<!--    <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>-->
<!--    <div class="cy">{{file}}</div>-->
<!--    <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>-->
<!--    <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>-->
<!--  </div>-->
<!--  </div>-->



  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!equipmentForm.valid">Submit</button>
</form>

<hr>

<p>Form Value: {{ equipmentForm.value | json }}</p>

<p>Form Status: {{ equipmentForm.status }}</p>

<!--<button type="button" (click)="updateProfile()">Update Profile</button>-->
