<div class="upload-multiple-files">
  <div class="header-upload">
    <div class="cx title">{{t.tr('Загрузка файлов')}}</div>
    <div class="upload-button-close cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="">{{t.tr('Ревизия')}}
    <!--          <p-dropdown [disabled]="changeRev" appendTo = "body" [(ngModel)]="rev" [options]="revs" styleClass="w-100 h-32 cxy">-->
    <!--          </p-dropdown> -->
    <p-dropdown appendTo = "body" [(ngModel)]="rev" [options]="revs" styleClass="width-220 h-32 cxy">
    </p-dropdown>
  </div>

  <div class="file-groups">
    <div class="mb-15" *ngFor="let fileGroup of fileGroups">
      <p-fieldset legend="{{fileGroup.name}}" [toggleable]="true" [collapsed]="getRevisionFilesOfGroup(fileGroup.name).length == 0 || fileGroup.collapsed">
        <div>
          <div class="df">
            <div class="button-details df cursor-pointer mb-15 mr-10" (click)="addFilesToGroup(fileGroup.name)">
              <div class="cxy">
                <img src="assets/icons/plus1.svg" height="16">
              </div>
              <div class="cy ml-1">{{t.tr('Добавить файлы')}}</div>
            </div>
            <div class="button-details df cursor-pointer mb-15" (click)="clearFilesOfGroup(fileGroup.name)">
              <div class="cxy">
                <img src="assets/icons/trash-3.svg" height="16">
              </div>
              <div class="cy ml-1">{{t.tr('Очистить всё')}}</div>
            </div>
          </div>
          <div *ngIf="getRevisionFilesOfGroup(fileGroup.name).length != 0">
            <div *ngFor="let file of getRevisionFilesOfGroup(fileGroup.name)">
              <div class="attachment-files df mb-6 cursor-pointer space-between">
                <div class="df">
                  <div class="cxy">
                    <img [src]="'assets/task/' + getFileExtensionIcon(file.name)" height="25"/>
                  </div>
                  <span class="file-name-esp mx-10 cy">{{trimFileName(file.name, 22) + ' '}}</span>
                  <span class="cy">{{' ' + getDate(file.upload_date)}}</span>
                </div>
                <div class="df">
                  <div class="cxy" (click)="openFile(file)">
                    <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                      <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                    </svg>
                  </div>
                  <div class="cxy" (click)="deleteFile(file)">
                    <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                      <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
  <div class="df comment-footer">
    <div>
      <div class="mr-10 cy my-5">
        <label class="container margin-bottom-none">
          <span class="text-checkbox">{{t.tr('Оперативное решение')}}</span>
          <input type="checkbox" [(ngModel)]="isCorrection">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="mr-10 cy my-5">
        <label class="container margin-bottom-none">
          <span class="text-checkbox">{{t.tr('Отправить уведомление на e-mail')}}</span>
          <input type="checkbox" [(ngModel)]="isSendNotification">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="mr-10 cy my-5">
        <label class="container margin-bottom-none">
          <span class="text-checkbox">{{t.tr('Закрыть задачу (установить статус "Поставлен")')}}</span>
          <input type="checkbox" [(ngModel)]="closeTask">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="my-5">
        <div class="pb-5">{{t.tr('Комментарий')}}</div>
        <div class="">
          <textarea [(ngModel)]="comment" rows="3" cols="35" pInputTextarea [autoResize]="true"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="df footer">
    <div class="mr-1 cx">
      <div tabindex="10" (click)="commit()" [class.disabled-button]="loaded.length == 0" pButton [label]="t.tr('Отправить')" class="button-ok"></div>
    </div>
    <div tabindex="11" (click)="close()" pButton [label]="t.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
</div>
