.body-approval{
  height: fit-content;
  max-height: 300px;
  overflow-y: auto;
}
.task-header-assign{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.task-name{
  font-size: x-large;
  font-weight: 600;
}
.task-button{
  width: 2rem;
  height: 2rem;
  padding: 5px;
  border-radius: 3px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.task-button:hover{
  background-color: rgb(235, 236, 240);
}
.big-text{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
.form-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button-cancel{
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #2E3E4E;
  background: #fff;
  transition: background .1s;
  border: none;
}
.button-cancel:hover{
  background-color: #ECEDF0;
}
.upload{
  width: 100%;
  height: 50px;
  border: 1px dashed #ccc;
  cursor: pointer;
}
.normal-text{
  color: #5e6c84;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
}
.button-disabled{
  opacity: 0.5;
  pointer-events: none;
}
/deep/.p-multiselect-items-wrapper {
  max-height: 150px !IMPORTANT;
}
