<div style="width: 480px;">
  <div class="task-header-assign">
    <div class="task-name">{{t.tr('Отправить на согласование')}}</div>
    <div class="task-button cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>

  <div class="body-approval">
    <div class="big-text mb-1 mt-1">{{t.tr('Описание')}}</div>
    <quill-editor (onEditorCreated)="quillCreated($event)" [modules]="quillModules" (contextmenu)="editorClicked($event)" placeholder="" (dragover)="$event.stopPropagation(); $event.preventDefault();" (drop)="onEditorDrop($event)" [(ngModel)]="taskDetails">
      <div quill-editor-toolbar>
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
            <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
            <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" tabindex="-1"></select>
            <select class="ql-background" tabindex="-1"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
            <select class="ql-align" tabindex="-1">
              <option selected tabindex="-1"></option>
              <option value="center" tabindex="-1"></option>
              <option value="right" tabindex="-1"></option>
              <option value="justify" tabindex="-1"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
            <button (click)="selectImage.click()">
              <i class="pi pi-image"></i>
            </button>
            <input hidden #selectImage type="file" accept="image/*" (change)="handleImageInput(selectImage.files)" multiple>
            <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
          </span>
        </p-header>
      </div>
    </quill-editor>
    <div class="big-text mb-1 mt-1">{{t.tr('Вложение')}}</div>
    <div [class.file-drag]="dragOver" class="upload cx cy loading">
      <div class="cxy" (dragenter)="dragOver = true" (dragleave)="dragOver = false" (click)="selectFiles.click()" (drop)="$event.preventDefault(); onFilesDrop($event); dragOver = false" (dragover)="$event.stopPropagation(); $event.preventDefault()">
        <img class="mr-1 image no-actions" src="assets/icons/upload.svg" height="28">
        <span class="normal-text no-actions">{{t.tr('Перетащите файлы или нажмите для загрузки')}}</span>
      </div>
    </div>
    <input hidden #selectFiles type="file" (change)="handleFileInput(selectFiles.files)" multiple>
    <div class="file-loading file-name mt-5" *ngFor="let file of awaitForLoad">
      <img [src]="'assets/task/' + getFileExtensionIcon(file)" height="30"/>
      <div class="cy">{{file}}</div>
      <div class="cxy"><i *ngIf="!isLoaded(file)" class="pi pi-spin pi-spinner"></i><i *ngIf="isLoaded(file)" class="pi pi-check"></i></div>
      <div class="cxy" (click)="remove(file)"><i class="pi pi-times cursor-pointer"></i></div>
    </div>

  </div>
  <div class="big-text mb-1 mt-1">{{t.tr('На согласование:')}}</div>
  <p-multiSelect appendTo = "body" optionValue="login" optionLabel="userName" [options]="users" styleClass="width-480 border max-height-150" [maxSelectedLabels]="4" [selectedItemsLabel]="t.tr('{0} выбрано')" [(ngModel)]="selectedUsers" (onChange)="sortUsers()"></p-multiSelect>
  <div class="form-footer pt-50">
    <div class="mr-5 cx">
      <div [class.button-disabled]="isDisabled()" tabindex="10" (click)="commit()" class="button-ok cxy">{{t.tr('Отправить')}}</div>
    </div>
    <div tabindex="11" (click)="close()" pButton [label]="t.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
</div>
<div [hidden]="!showImages">
  <div class="image-preview-backdrop" (click)="closeShowImage()">

  </div>
  <div class="image-preview-scale">
    <img #img class="image-preview" data-wheel-zoom [src]="image" style="height: unset; width: unset"/>
  </div>
</div>
