.body-approval{
  height: fit-content;
  max-height: 300px;
  overflow-y: auto;
}
.task-header-assign{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.task-name{
  font-size: x-large;
  font-weight: 600;
}
.task-button{
  padding: 5px;
  border-radius: 3px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.task-button:hover{
  background-color: rgb(235, 236, 240);
}
.big-text{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
/deep/.ql-container{
  height: auto;
}
.form-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button{
  border: none;
  margin-right: 4px;
  height: 39px;
  min-width: 120px;
  border-radius: 3px;
  text-shadow: none;
  padding: 0 10px;
  color: #fff;
  background: #17a2b8;
  transition: background .1s
}
.button:hover{
  background: #1598ac;
}
.button-cancel{
  margin-right: 4px;
  height: 39px;
  min-width: 120px;
  border-radius: 3px;
  text-shadow: none;
  padding: 0 10px;
  color: #17a2b8;
  background: #fff;
  border: 1px solid #17a2b8;
  transition: background .1s
}
.button-cancel:hover{
  background: #f6f6f6;
}
