.card-head{
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 8px;
  height: 65px;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}
.card-page{
  position: relative;
  overflow: auto;
}
.card-nest{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: calc(100vh - 201px);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.normal-button:hover{
  background-color: rgba(50, 49, 48, 0.07) !important;
}
/deep/.p-component{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
}
/deep/.pi{
  font-size: 14px;
}
.card-sp{
  width: 68%;
  height: calc(100vh - 197px);
  background: #ffffff;
  margin-top: 20px;
  border-radius: 8px;
  padding: 0 12px 12px 12px;
  overflow: hidden;
}
.top-line{
  height: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
.loading-text{
  color: #323130a8;
  font-weight: 500;
}
.card-height{
  height: calc(100vh - 202px);
  flex-direction: column;
}
.dash-card{
  padding: 10px;
  margin-bottom: 20px;
  height: 230px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}
.dash-card-tile{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 452px;
  height: 208px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}
.dash-card-tile-tablet{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 380px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}
.tile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-card{
  padding: 20px;
  width: 100%;
  min-width: 220px;
  height: calc(100vh - 200px);
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 3fr 0.8fr 3fr 0.8fr;
}
.top-row{
  height: 120px;
  border-bottom: 1px solid #f3f2f1;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 4fr;
}
.top-row-tile{
  height: 100px;
  border-bottom: 1px solid #f3f2f1;
  display: grid;
  grid-template-columns: 1.8fr 4.2fr 3fr;
}
.top-row-tile-tablet{
  height: 100px;
  border-bottom: 1px solid #f3f2f1;
  display: grid;
  grid-template-columns: 1fr auto 3fr;
}
.min-width-300{
  min-width: 300px;
}
.title-bold{
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #3a3a3a;
}
.title-bold-tablet{
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #3a3a3a;
}
.title-name{
  font-size: 18px;
  color: #3a3a3ade;
  line-height: 1em;
  margin-bottom: 5px;
}
.text-center-y{
  display: flex;
  align-items: center;
}
.gray-text{
  color: #a4a4a4;
  font-size: 14px;
}
.gray-text-tile{
  color: #a4a4a4;
  font-size: 13px;
}
.file{
  background-color: #62b6cb;
  color: #ffffff;
  font-size: 20px;
  border-radius: 30px;
  padding: 2px 10px;
}
.bottom-row{
  --height: 156px;
  height: calc(95% - 120px);
}
.dxf-view{
  position: absolute;
  height: 52vh;
  width: calc(100% - 85px - 25px);
  bottom: 0;
  right: 25px;
  left: 85px;
  z-index: 1000;
}
.dxf-open-button{
  position: absolute;
  top: 10px;
  z-index: 1001;
  color: white !important;
}
.dxf-open-new-window{
  right: 56px;
}
.dxf-download-window{
  right: 106px;
}
.dxf-exit{
  right: 8px;
}
.table-header-column{
  padding: 10px;
  font-weight: 600;
  color: #a4a4a4;
  background: #ffffff;
  font-size: 14px;
  border-bottom: 1px solid #f3f2f1;
}
.table-header-column-tablet{
  padding: 10px;
  font-weight: 600;
  color: #a4a4a4;
  background: #ffffff;
  font-size: 13px;
  border-bottom: 1px solid #f3f2f1;
}
.table-header-column:hover {
  background-color: #F3F2F1;
}
.info-row{
  border-bottom: 1px solid #f3f2f1;
  display: flex;
}
.info-row:hover{
  background-color: #f1f1f1;
}
.table-body{
  height: 48px;
  padding: 5px;
  color: #323130;
  font-size: 14px;
}
.table-body-tablet{
  height: 48px;
  padding: 5px;
  color: #323130;
  font-size: 13px;
}
.unlock{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #c8e6c961;
}
.lock{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffcdd275;
}
.small-button{
  height: 10px;
  width: 18px;
}
.left-tile{
  height: 26px;
  width: 26px;
  background-color: #D8DADC;
  border-radius: 4px;
}
.usage-tile{
  height: 26px;
  width: 26px;
  background-color: #f9c851;
  border-radius: 4px;
}
.left{
  padding: 2px 8px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  background-color: #BE78A2;
  border-radius: 30px;
}
.usage{
  padding: 2px 8px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  background-color: #f9c851;
  border-radius: 30px;
}
.eye-file{
  height: 32px;
  width: 32px;
  border-radius: 30px;
  background-color: #BBE0E9;
  position: relative;
}
.eye-file:hover{
  background-color: #b0dfea;
}
.eye-file-tile{
  height: 26px;
  width: 26px;
  border-radius: 4px;
  background-color: #62B6CB;
  position: relative;
}
.eye-file-tile:hover{
  background-color: #5dabbe;
}
.eye-tooltip{
  position: absolute;
  top: -30px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 13px 0px rgba(34, 60, 80, 0.16);
  font-size: 12px;
  padding: 4px 6px;
  color: #3a3a3ade;
}
.option{
  display: block;
  margin-bottom: 0.25rem;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #3a3a3a;
  height: 16px;
  margin-left: 2px;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #00000042;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #62b6cb;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.text-checkbox{
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}
.button-fetch{
  font-weight: 600;
  height: 48px;
  width: 80%;
  background-color: #f9c851;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.button-fetch:hover{
  background-color: #efc24f;
}
.cards{
  overflow: auto;
  height: calc(100vh - 202px);
}
.min-height{
  height: calc(100vh - 76px);
}
.button-cont{
  position: absolute;
  bottom: 0;
}
.head-checkbox{
  background-color: white;
}
:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}
@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #62b6cb;
  }
  40% {
    stroke: #62b6cb;
  }
  66% {
    stroke: #62b6cb;
  }
  80%,
  90% {
    stroke: #62b6cb;
  }
}
@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
.files-tile{
  display: grid;
  grid-template-rows: 0.8fr 1fr;
}
.mt-minus15{
  margin-top: -15px;
}
.donut-text {
  top: 20px;
  left: 154px;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 14px;
}
.donut-text-tablet{
  top: 17px;
  left: 106px;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 12px;
}
.usage-left-text{
  color: #3a3a3a;
  font-weight: 500;
  font-size: 12px;
}
.usage-left-percent{
  color: rgba(58, 58, 58, 0.75);
  font-weight: 500;
  font-size: 12px;
}
.usage-left-info{
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  margin-left: -10px;
}
.hidden-card{
  opacity: 0;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 10px 0 10px !important;
}
.mb-1px{
  margin-bottom: 1px;
}
.eye-cut-tile{
  height: 26px;
  width: 26px;
  border-radius: 4px;
  background-color: #C03995;
  position: relative;
}
.eye-cut-tile:hover{
  background-color: #a93283;
}
.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}
.image-preview-scale{
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1002;
  overflow: hidden;
}

.wait-text{
  background-color: white;
}
