<div *ngIf="isDesktop()" class="all-page min-height">
  <div class="">
    <div class="card-head mb-20 df">
      <div class="mr-10">
        <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border" (ngModelChange)="projectChanged()">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <div (click)="exportXls()" class="materials-button xls-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="mr-10">
        <div [pTooltip]="l.tr('Download')" tooltipPosition="top" (click)="downloadFiles()" class="materials-button add-button cxy">
          <img src="assets/icons/download-file.svg" height="22">
        </div>
      </div>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [placeholder]="l.tr('Поиск...')" [(ngModel)]="search" (ngModelChange)="searchChanged()" class="border" />
      </span>
    </div>
    <div class="w-100 df">
      <div class="w-100 df">
        <div class="w-15">
          <div class="menu-card">
            <div class="ovf-auto mb-10">
              <div class="df sticky back-white">
                <div class="title-bold-left head-checkbox">Blocks:</div>
              </div>

              <div class="gray-text" *ngIf="blocks.length == 0 && !loadingBlocks">
                There is no blocks for selected project there. Try to specify another project.
              </div>
              <div class="all-checkbox" *ngFor="let block of blocks">
                <div class="check-button" [class.checked-button]="block.selected" (click)="selectBlock(block)">
                  {{block.name}}
                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="button-fetch cxy cursor-pointer mt-10 mb-20" (click)="fetchMaterials()">Fetch materials</div>
            </div>
            <div class="ovf-auto">
              <div class="df sticky back-white">
                <div class="title-bold-left head-checkbox">Materials:</div>
              </div>
              <div class="cxy height-spinner" *ngIf="loadingMaterials">
                <p-progressSpinner [style]="{width: '70px', height: '70px'}" styleClass="custom-spinner" strokeWidth="3" fill="#fff" animationDuration="1s"></p-progressSpinner>
              </div>
              <div class="gray-text" *ngIf="materials.length == 0 && !loadingMaterials">
                There are no plate dimensions. You need to specify blocks from top column.
              </div>
              <div class="all-checkbox" *ngFor="let material of materials">
                <div class="check-button" [class.checked-button]="material.selected" (click)="selectMaterial(material)">
                  {{material.name}}
                </div>
              </div>
            </div>
            <div>
              <div class="button-fetch cxy cursor-pointer mt-1" *ngIf="materials.length > 0" (click)="fetchNesting()">Fetch nesting</div>
            </div>
          </div>
        </div>
        <div class="w-85 cards">
          <div class="cxy card-height" *ngIf="noResult">
            <div class="cx loading-text">No data fetched from server with selected options. Try to select another one.</div>
          </div>
          <div *ngIf="loading && !noResult">
            <div class="cxy loading ">
              <div class="cxy card-height">
                <img src="assets/whale.gif" height="120">
                <div class="cx loading-text">PLEASE WAIT...</div>
              </div>
            </div>
          </div>
          <div *ngIf="noResult && nesting.length == 0">
            <div class="cxy card-height">
              <div class="cx loading-text">There is no data there. You need to specify blocks and dimensions from left column.</div>
            </div>
          </div>

          <div *ngIf="currentView == 'tile'" class="tile">
            <div [class.hidden-card]="nest == null" class="dash-card-tile" *ngFor="let nest of nesting; let i = index">
              <div *ngIf="nest != null" class="top-row-tile">
                <div class="cy">
                  <div class="cxy">
                    <div class="cxy lock cursor-pointer" *ngIf="nest.isLock" (click)="insertLock(nest)" [class.disabled-button]="!auth.hasPerms('lock-nest')">
                      <img src="assets/icons/lock.svg" height="22">
                    </div>
                    <div class="cxy unlock cursor-pointer" *ngIf="!nest.isLock" (click)="insertLock(nest)" [class.disabled-button]="!auth.hasPerms('lock-nest')">
                      <img src="assets/icons/unlock.svg" height="22">
                    </div>
                    <div class="pl-10" *ngIf="nest.isLock">
                      <div class="lock-name">{{this.auth.getUserTrimName(nest.lockInfo.user)}}</div>
                      <div class="lock-date">{{getDate(nest.lockInfo.date)}}</div>
                    </div>
                  </div>
                  <div class="">
                    <div class="cy h-100">
                      <div class="cx mb-10 mt-10">
                        <div class="title-bold px-10">{{nest.ID}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column-chart">
                  <div class="position-relative mt-minus15">
                    <div class="chart-area df">
                      <div [ngStyle]="getWidth(nest.USAGE)" class="h-100 chart-usage"></div>
                      <div [ngStyle]="getWidth(100 - nest.USAGE)" class="h-100 chart-left"></div>
                    </div>
                    <div class="donut-text">{{round(nest.USAGE)}}%</div>
                  </div>
                  <div class="df mt-10">
                    <div class="text-center-y">
                      <div class="usage-tile cxy">
                        <img src="assets/icons/usage.svg" height="16">
                      </div>
                      <div class="ml-5">
                        <div class="usage-left-text">Usage</div>
                        <div class="usage-left-percent">{{round(nest.USAGE)}}%</div>
                      </div>
                    </div>
                    <div class="text-center-y ml-5">
                      <div class="left-tile cxy">
                        <img src="assets/icons/recycle.svg" height="16">
                      </div>
                      <div class="ml-5">
                        <div class="usage-left-text">Left</div>
                        <div class="usage-left-percent">{{round(100 - nest.USAGE)}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="files-tile">
                    <div class="">
                      <div class="gray-text-tile cx mb-1px">Nesting:</div>
                      <div class="cxy">
                        <div *ngIf="!isDisabledNestTemplate(nest)" class="cxy eye-file-tile cursor-pointer mr-10" (click)="showNestingTemplate(nest); $event.stopPropagation()" [pTooltip]="l.tr('Show nesting file')" tooltipPosition="top">
                          <img src="assets/icons/eyelashes.svg" height="24">
                        </div>
                        <div *ngIf="!isDisabledNestTemplate(nest)" class="cxy eye-file-tile cursor-pointer" (click)="downloadNestingFile(nest); $event.stopPropagation()" [pTooltip]="l.tr('Download nesting file')" tooltipPosition="top">
                          <img src="assets/icons/download-file.svg" height="18">
                        </div>
                      </div>

                    </div>
                    <div class="">
                      <div class="gray-text cx mb-1px">Cutting:</div>
                      <div class="cxy">
                        <div *ngIf="!isDisabledCuttingMap(nest)" class="cxy eye-cut-tile cursor-pointer mr-10" (click)="showCuttingFile(nest); $event.stopPropagation()" [pTooltip]="l.tr('Show cutting file')" tooltipPosition="top">
                          <img src="assets/icons/eyelashes2.svg" height="24">
                        </div>
                        <div *ngIf="!isDisabledCuttingMap(nest)" class="cxy eye-cut-tile cursor-pointer" (click)="downloadCuttingFile(nest); $event.stopPropagation()" [pTooltip]="l.tr('Download cutting file')" tooltipPosition="top">
                          <img src="assets/icons/download-file-blue-see.svg" height="18">
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
              <div *ngIf="nest != null" class="mt-5 ">
                <div class="ovf-auto table-bottom">
                  <div class="df cursor-pointer sticky">
                    <div class="w-30 table-header-column cy">{{l.tr('Block')}}</div>
                    <div class="w-35 table-header-column cy">{{l.tr('LxWxT')}}</div>
                    <div class="w-15 table-header-column cy">{{l.tr('Mat.')}}</div>
                    <div class="w-30 table-header-column cy">{{l.tr('Weight')}}</div>
                    <div class="w-15 table-header-column cy">{{l.tr('Num')}}</div>
                  </div>
                  <div class="text-center-y info-row cursor-pointer">
                    <div class="w-30 table-body cy">{{nest.BLOCKS}}</div>
                    <div class="w-35 table-body cy">{{nest.THICKNESS + 'x'}}{{nest.NEST_LENGTH + 'x'}}{{nest.NEST_WIDTH}}</div>
                    <div class="w-15 table-body cy">{{nest.MATERIAL}}</div>
                    <div class="w-30 table-body cy">{{nest.PARTS_WEIGHT}}</div>
                    <div class="w-15 table-body cy">{{nest.NUM_EQ_NEST}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5 dxf-view" *ngIf="dxfEnabled">
        <button pButton [pTooltip]="l.tr('Download')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-download-window" icon="pi pi-download" (click)="downloadOpenedDxf()"></button>
        <button pButton [pTooltip]="l.tr('Open in new window')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-open-new-window" icon="pi pi-external-link" (click)="openDxf()"></button>
        <button pButton [pTooltip]="l.tr('Exit viewer')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-exit" icon="pi pi-sign-out" (click)="exitDxf()"></button>
        <app-dxf-view></app-dxf-view>
      </div>
      <div class="pt-5 dxf-view" *ngIf="cutEnabled">
        <button pButton [pTooltip]="l.tr('Download')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-download-window" icon="pi pi-download" (click)="downloadOpenedCMAP()"></button>
        <button pButton [pTooltip]="l.tr('Open in new window')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-open-new-window" icon="pi pi-external-link" (click)="openCMAP()"></button>
        <button pButton [pTooltip]="l.tr('Exit viewer')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-exit" icon="pi pi-sign-out" (click)="exitDxf()"></button>
        <app-g-code></app-g-code>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isDesktop()" class="all-page-tablet min-height-tablet">

    <div class="card-head-tablet mb-10 df">
      <div class="mr-10">
        <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border" (ngModelChange)="projectChanged()">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <div (click)="exportXls()" class="materials-button xls-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="mr-10">
        <div (click)="downloadFiles()" class="materials-button add-button cxy">
          <img src="assets/icons/download-file.svg" height="22">
        </div>
      </div>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [placeholder]="l.tr('Поиск...')" [(ngModel)]="search" (ngModelChange)="searchChanged()" class="border" />
      </span>
    </div>
    <div class="w-100 df">
      <div class="w-100 df">
        <div class="w-15 min-width-220">
          <div class="menu-card-tablet">
            <div class="left-block-materials">
              <div class="ovf-auto max-height-185">
                <div class="df sticky back-white">
                  <div class="title-bold-tablet pb-10 sticky head-checkbox">Blocks:</div>
                </div>

                <div class="gray-text" *ngIf="blocks.length == 0 && !loadingBlocks">
                  There is no blocks for selected project there. Try to specify another project.
                </div>
                <div class="all-checkbox" *ngFor="let block of blocks">
                  <div class="check-button-tablet" [class.checked-button]="block.selected" (click)="selectBlock(block)">
                    {{block.name}}
                  </div>
                </div>
              </div>
              <div class="w-100">
                <div class="button-fetch-tablet cxy cursor-pointer mt-10 mb-20" (click)="fetchMaterials()">Fetch materials</div>
              </div>
            </div>
            <div class="left-block-materials">
              <div class="ovf-auto max-height-185">
                <div class="title-bold-tablet pb-10 sticky head-checkbox">Materials:</div>
                <div class="cxy height-spinner" *ngIf="loadingMaterials">
                  <p-progressSpinner [style]="{width: '70px', height: '70px'}" styleClass="custom-spinner" strokeWidth="3" fill="#fff" animationDuration="1s"></p-progressSpinner>
                </div>
                <div class="gray-text" *ngIf="materials.length == 0 && !loadingMaterials">
                  There are no plate dimensions. You need to specify blocks from top column.
                </div>
                <div class="all-checkbox" *ngFor="let material of materials">
                  <div class="check-button-tablet" [class.checked-button]="material.selected" (click)="selectMaterial(material)">
                    {{material.name}}
                  </div>
                </div>
              </div>
              <div>
                <div class="button-fetch-tablet cxy cursor-pointer mt-1" *ngIf="materials.length > 0" (click)="fetchNesting()">Fetch nesting</div>
              </div>
            </div>


          </div>
        </div>
        <div class="w-85 cards-tablet min-width-400">
          <div class="cxy card-height" *ngIf="noResult">
            <div class="cx loading-text">No data fetched from server with selected options. Try to select another one.</div>
          </div>
          <div *ngIf="loading && !noResult">
            <div class="cxy loading">
              <div class="cxy card-height">
                <img src="assets/whale.gif" height="120">
                <div class="cx loading-text">PLEASE WAIT...</div>
              </div>
            </div>
          </div>
          <div *ngIf="noResult && nesting.length == 0">
            <div class="cxy card-height">
              <div class="cx loading-text">There is no data there. You need to specify blocks and dimensions from left column.</div>
            </div>
          </div>
          <div *ngIf="currentView == 'tile'" class="tile">
            <div [class.hidden-card-tablet]="nest == null" class="dash-card-tile-tablet" *ngFor="let nest of nesting; let i = index">
              <div *ngIf="nest != null" class="top-row-tile-tablet">
                <div class="cy">
                  <div class="cxy flex-col">
                    <div class="cxy lock cursor-pointer" *ngIf="nest.isLock" (click)="insertLock(nest)" [class.disabled-button]="!auth.hasPerms('lock-nest')">
                      <img src="assets/icons/lock.svg" height="22">
                    </div>
                    <div class="cxy unlock cursor-pointer" *ngIf="!nest.isLock" (click)="insertLock(nest)" [class.disabled-button]="!auth.hasPerms('lock-nest')">
                      <img src="assets/icons/unlock.svg" height="22">
                    </div>
                    <div class="" *ngIf="nest.isLock">
                      <div class="lock-name-tablet">{{this.auth.getUserTrimName(nest.lockInfo.user)}}</div>
                      <div class="lock-date-tablet">{{getDate(nest.lockInfo.date)}}</div>
                    </div>
                  </div>
                  <div class="">
                    <div class="cy h-100">
                      <div class="cx mt-5">
                        <div class="title-bold-tablet">{{nest.ID}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column-chart-tablet ml-5">
                  <div class="position-relative mt-minus15">
                    <div class="chart-area-tablet df">
                      <div [ngStyle]="getWidth(nest.USAGE)" class="h-100 chart-usage"></div>
                      <div [ngStyle]="getWidth(100 - nest.USAGE)" class="h-100 chart-left"></div>
                    </div>
                    <div class="donut-text">{{round(nest.USAGE)}}%</div>
                  </div>
                  <div class="df mt-5">
                    <div class="text-center-y">
                      <div class="usage-tile-tablet cxy">
                        <img src="assets/icons/usage.svg" height="16">
                      </div>
                      <div class="ml-2px">
                        <div class="usage-left-text-tablet">Usage</div>
                        <div class="usage-left-percent-tablet">{{round(nest.USAGE)}}%</div>
                      </div>
                    </div>
                    <div class="text-center-y ml-2px">
                      <div class="left-tile-tablet cxy">
                        <img src="assets/icons/recycle.svg" height="16">
                      </div>
                      <div class="ml-2px">
                        <div class="usage-left-text-tablet">Left</div>
                        <div class="usage-left-percent-tablet">{{round(100 - nest.USAGE)}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="files-tile">
                    <div class="">
                      <div class="gray-text-tile-tablet cx mb-3px">Nesting:</div>
                      <div class="cxy">
                        <div *ngIf="!isDisabledNestTemplate(nest)" class="cxy eye-file-tile-tablet cursor-pointer mr-10" (click)="showNestingTemplate(nest); $event.stopPropagation()">
                          <img src="assets/icons/eyelashes.svg" height="16">
                        </div>
                        <div *ngIf="!isDisabledNestTemplate(nest)" class="cxy eye-file-tile-tablet cursor-pointer" (click)="downloadNestingFile(nest); $event.stopPropagation()">
                          <img src="assets/icons/download-file.svg" height="18">
                        </div>
                      </div>

                    </div>
                    <div class="">
                      <div class="gray-text-tile-tablet cx mb-3px">Cutting:</div>
                      <div class="cxy">
                        <div *ngIf="!isDisabledCuttingMap(nest)" class="cxy eye-cut-tile-tablet cursor-pointer mr-10" (click)="showCuttingFile(nest); $event.stopPropagation()">
                          <img src="assets/icons/eyelashes2.svg" height="18">
                        </div>
                        <div *ngIf="!isDisabledCuttingMap(nest)" class="cxy eye-cut-tile-tablet cursor-pointer" (click)="downloadCuttingFile(nest); $event.stopPropagation()">
                          <img src="assets/icons/download-file-blue-see.svg" height="18">
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
              <div *ngIf="nest != null" class="bottom-row">
                <div class="ovf-auto table-bottom">
                  <div class="df cursor-pointer sticky">
                    <div class="w-30 table-header-column-tablet cy">{{l.tr('Block')}}</div>
                    <div class="w-35 table-header-column-tablet cy">{{l.tr('LxWxT')}}</div>
                    <div class="w-15 table-header-column-tablet cy">{{l.tr('Mat.')}}</div>
                    <div class="w-30 table-header-column-tablet cy">{{l.tr('Weight')}}</div>
                    <div class="w-15 table-header-column-tablet cy">{{l.tr('Num')}}</div>
                  </div>
                  <div class="text-center-y info-row cursor-pointer">
                    <div class="w-30 table-body-tablet cy">{{nest.BLOCKS}}</div>
                    <div class="w-35 table-body-tablet cy">{{nest.THICKNESS + 'x'}}{{nest.NEST_LENGTH + 'x'}}{{nest.NEST_WIDTH}}</div>
                    <div class="w-15 table-body-tablet cy">{{nest.MATERIAL}}</div>
                    <div class="w-30 table-body-tablet cy">{{nest.PARTS_WEIGHT}}</div>
                    <div class="w-15 table-body-tablet cy">{{nest.NUM_EQ_NEST}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5 dxf-view-tablet" *ngIf="dxfEnabled">
        <button pButton [pTooltip]="l.tr('Download')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-download-window" icon="pi pi-download" (click)="downloadOpenedDxf()"></button>
        <button pButton [pTooltip]="l.tr('Open in new window')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-open-new-window" icon="pi pi-external-link" (click)="openDxf()"></button>
        <button pButton [pTooltip]="l.tr('Exit viewer')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-exit" icon="pi pi-sign-out" (click)="exitDxf()"></button>
        <app-dxf-view></app-dxf-view>
      </div>
      <div class="pt-5 dxf-view-tablet" *ngIf="cutEnabled">
        <button pButton [pTooltip]="l.tr('Download')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-download-window" icon="pi pi-download" (click)="downloadOpenedCMAP()"></button>
        <button pButton [pTooltip]="l.tr('Open in new window')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-open-new-window" icon="pi pi-external-link" (click)="openCMAP()"></button>
        <button pButton [pTooltip]="l.tr('Exit viewer')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-exit" icon="pi pi-sign-out" (click)="exitDxf()"></button>
        <app-g-code></app-g-code>
      </div>
    </div>
</div>

<div class="progress-spinner" *ngIf="waitForZipFiles">
  <div class="image-preview-backdrop" (click)="closeShowImage()">
  </div>
  <div class="image-preview-scale">
    <img src="assets/whale.gif" height="120">
    <div class="cx wait-text-tablet">PLEASE WAIT...</div>
  </div>
</div>

<div [hidden]="!showImages">
  <div class="image-preview-backdrop" (click)="closeShowImage()">
  </div>
  <div class="image-preview-scale">
    <img #img class="image-preview" data-wheel-zoom [src]="image" style="height: unset; width: unset"/>
  </div>
</div>


<!--    <div *ngIf="parts.length == 0 && !noResult">-->
<!--      <div class="cxy">-->
<!--        <div>-->
<!--          <img src="assets/whale.gif" height="120">-->
<!--          <div class="cx ">PLEASE WAIT...</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


