<div *ngIf="device.isDesktop()" class="all-page min-height">
  <div class="">
    <div class="card-head mb-20 df">
      <div class="mr-1">
        <button pButton [pTooltip]="l.tr('Export Nesting')" tooltipPosition="top" class="border normal-button p-button-outlined" icon="pi pi-file-excel" (click)="exportXls()"></button>
      </div>
      <div class="mr-1">
        <button pButton [pTooltip]="l.tr('Download Files for Nestings in table')" tooltipPosition="top" class="border normal-button p-button-outlined" icon="pi pi-download" (click)="downloadFiles()"></button>
      </div>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [placeholder]="l.tr('Поиск...')" [(ngModel)]="search" (ngModelChange)="searchChanged()" class="border" />
      </span>
    </div>
    <div class="w-100 df">
      <div class="w-100 df">
        <div class="w-20 mr-20">
          <div class="menu-card">
            <div class="title-bold mb-15">BLOCKS:</div>
            <div *ngIf="blocks.length == 0 && !loadingBlocks">
              There is no blocks for selected project there. Try to specify another project.
            </div>
            <div *ngFor="let block of blocks">
              <label class="container">
                <input (change)="selectBlock(block)" type="checkbox" [checked]="block.selected">
                <span class="checkmark"></span>
                {{block.name}}
              </label>
            </div>
            <div class="button-fetch cxy cursor-pointer mt-20 mb-50" (click)="fetchMaterials()">FETCH MATERIALS</div>
            <div class="title-bold mb-15">MATERIALS:</div>
            <div *ngIf="loadingMaterials">
              <img src="assets/whale.gif" height="120">
              <div class="cx loading-text">PLEASE WAIT...</div>
            </div>
            <div class="gray-text" *ngIf="materials.length == 0 && !loadingMaterials">
              There are no plate dimensions. You need to specify blocks from top column.
            </div>
            <div *ngFor="let material of materials">
              <label class="container">
                <input (change)="material.selected = !material.selected" type="checkbox" [checked]="material.selected">
                <span class="checkmark"></span>
                {{material.name}}
              </label>
            </div>
            <div class="button-fetch cxy cursor-pointer mt-20 mb-50" *ngIf="materials.length > 0" (click)="fetchNesting()">FETCH NESTING</div>
          </div>
        </div>
        <div class="w-80">
          <div class="cxy card-height" *ngIf="noResult">
            <div class="cx loading-text">No data fetched from server with selected options. Try to select another one.</div>
          </div>
          <div *ngIf="loading && !noResult">
            <div class="cxy loading">
              <div class="cxy card-height">
                <img src="assets/whale.gif" height="120">
                <div class="cx loading-text">PLEASE WAIT...</div>
              </div>
            </div>
          </div>
          <div *ngIf="!noResult && nesting.length == 0">
            <div class="cxy card-height">
              <div class="cx loading-text">There is no data there. You need to specify blocks and dimensions from left column.</div>
            </div>
          </div>
          <div class="dash-card" *ngFor="let nest of nesting; let i = index">
            <div class="top-row">
              <div class="cxy">
                <div class="cxy lock cursor-pointer" *ngIf="nest.LOCKED" (click)="nest.LOCKED = !nest.LOCKED">
                  <img src="assets/icons/lock.svg" height="26">
                </div>
                <div class="cxy unlock cursor-pointer" *ngIf="!nest.LOCKED" (click)="nest.LOCKED = !nest.LOCKED">
                  <img src="assets/icons/unlock.svg" height="26">
                </div>
              </div>
              <div class="">
                <div class="cy h100">
                  <div class="cx mb-10 mt-10">
                    <div class="title-bold px-10">{{nest.ID}}</div>
                  </div>
                </div>
              </div>
              <div class="text-center-y">
                <div class="title-name">
                  <div *ngIf="nest.USAGE > 100">WARNING</div>
                  <ngx-charts-pie-chart [view]="[120, 120]" [customColors]="[{name: 'Usage', value: '#f9c851'}, {name: 'Left', value: '#BE78A2'}]" [results]="nest.doughnut" [gradient]="false" [legend]="false" [labels]="false" [doughnut]="false"></ngx-charts-pie-chart>
                </div>
                <div class="title-name">
                  <div class="my-5 usage">Usage: {{round(nest.USAGE)}}%</div>
                  <div class="my-5 left">Left: {{round(100 - nest.USAGE)}}%</div>
                </div>
              </div>
              <div class="text-center-y">
                <div class="gray-text mr-10">File</div>
                <div class="file">{{nest.FILE}}</div>
                <div *ngIf="!isDisabledNestTemplate(nest)" class="ml-10 cxy eye-file cursor-pointer" (click)="showNestingTemplate(nest); $event.stopPropagation()" [pTooltip]="l.tr('Show file')" tooltipPosition="top">
                  <img src="assets/icons/eye-file.svg" height="22">
                  <div class="eye-tooltip" *ngIf="showTooltip('t' + i)">Show file</div>
                </div>
                <div *ngIf="!isDisabledNestTemplate(nest)" class="ml-10 cxy eye-file cursor-pointer" (click)="downloadNestingFile(nest); $event.stopPropagation()" [pTooltip]="l.tr('Download file')" tooltipPosition="top">
                  <img src="assets/icons/download-file.svg" height="22">
                  <div class="eye-tooltip" *ngIf="showTooltip('t' + i)">Show file</div>
                </div>

              </div>
            </div>
            <div class="bottom-row">
              <div class="ovf-auto pl-20">
                <div class="df cursor-pointer sticky">
                  <div class="w-25 table-header-column cy">{{l.tr('BLOCK')}}</div>
                  <div class="w-25 table-header-column cy">{{l.tr('LENGTHxWIDTHxTHICKNESS')}}</div>
                  <div class="w-25 table-header-column cy">{{l.tr('MATERIAL')}}</div>
                  <div class="w-25 table-header-column cy">{{l.tr('WEIGHT')}}</div>
                  <div class="w-25 table-header-column cy">{{l.tr('NUMBER EQUAL NESTING')}}</div>
                </div>
                <div class="text-center-y info-row cursor-pointer">
                  <div class="w-25 table-body cy">{{nest.BLOCKS}}</div>
                  <div class="w-25 table-body cy">{{nest.THICKNESS + 'x'}}{{nest.NEST_LENGTH + 'x'}}{{nest.NEST_WIDTH}}</div>
                  <div class="w-25 table-body cy">{{nest.MATERIAL}}</div>
                  <div class="w-25 table-body cy">{{nest.PARTS_WEIGHT}}</div>
                  <div class="w-25 table-body cy">{{nest.NUM_EQ_NEST}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5 dxf-view" *ngIf="dxfEnabled">
        <button pButton [pTooltip]="l.tr('Open in new window')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-open-new-window" icon="pi pi-external-link" (click)="openDxf()"></button>
        <button pButton [pTooltip]="l.tr('Exit viewer')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-exit" icon="pi pi-sign-out" (click)="exitDxf()"></button>
        <app-dxf-view></app-dxf-view>
      </div>
    </div>
  </div>
</div>


<div class="progress-spinner" *ngIf="waitForZipFiles">
  <div class="image-preview-backdrop" (click)="closeShowImage()">
  </div>
  <div class="image-preview-scale">
    <img src="assets/whale.gif" height="120">
    <div class="cx wait-text">PLEASE WAIT...</div>
  </div>
</div>

<div [hidden]="!showImages">
  <div class="image-preview-backdrop" (click)="closeShowImage()">
  </div>
  <div class="image-preview-scale">
    <img #img class="image-preview" data-wheel-zoom [src]="image" style="height: unset; width: unset"/>
  </div>
</div>


<!--    <div *ngIf="parts.length == 0 && !noResult">-->
<!--      <div class="cxy">-->
<!--        <div>-->
<!--          <img src="assets/whale.gif" height="120">-->
<!--          <div class="cx ">PLEASE WAIT...</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


