<div *ngIf="isDesktop()" class="all-page min-height">
  <div class="">
    <div class="card-head mb-20 df">
      <div class="mr-10">
        <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border" (ngModelChange)="projectChanged()">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <div (click)="exportXls()" class="materials-button xls-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="mr-10">
        <div [pTooltip]="l.tr('Download selected')" tooltipPosition="top" (click)="downloadFiles()" class="materials-button add-button cxy">
          <img src="assets/icons/download-file.svg" height="22">
        </div>
      </div>
      <div class="mr-10">
        <div (click)="showVacantWastages()" [pTooltip]="l.tr('Vacant wastage')" tooltipPosition="top"  class="materials-button blue-button cxy position-relative">
          <img src="assets/icons/rest-white.svg" height="22">
          <div class="count cursor-pointer">{{getWastageCount()}}</div>
        </div>
      </div>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [placeholder]="l.tr('Поиск...')" [(ngModel)]="search" (ngModelChange)="searchChanged()" class="border" />
      </span>
    </div>
    <div class="w-100 df">
      <div class="w-100 df">
        <div class="w-15">
          <div class="menu-card">
            <div class="ovf-auto mr-minus20">
              <div class="sticky back-white">
                <div class="row-one-back mb-15">
                  <div class="df lxy">
                    <div class="icon-back-orange cxy">
                      <img src="assets/icons/sections.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10">Blocks</div>
                  </div>
                  <div class="flex-end text-y">
                    <label pTooltip="Select all" tooltipPosition="top" *ngIf="blocks.length > 0" class="container margin-bottom-none">
                      <span class="text-checkbox"></span>
                      <input (ngModelChange)="selectAllBlocks()" type="checkbox" [(ngModel)]="selectedAllBlocks">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="gray-text" *ngIf="blocks.length == 0 && !loadingBlocks">
                There is no blocks for selected project there. Try to specify another project.
              </div>
              <div class="all-checkbox" *ngFor="let block of blocks">
                <div class="checks-button" [class.checked-button]="block.selected" (click)="selectBlock(block)">
                  {{block.name}}
                </div>
              </div>
            </div>
            <div class="ovf-auto mr-minus20 mb-20 mt-20">
              <div class="sticky back-white pb-15">
                <div class="row-one-back">
                  <div class="df lxy pt-10">
                    <div class="icon-back-blue cxy">
                      <img src="assets/icons/mat-root.svg" height="24">
                    </div>
                    <div class="title-medium-bold tab-title ml-10 cursor-pointer" [class.selected-title]="selectedTitle == 'Plates'" (click)="selectTitle('Plates')">Plates</div>
                    <div class="title-medium-bold tab-title ml-10 cursor-pointer" [class.selected-title]="selectedTitle == 'Profiles'" (click)="selectTitle('Profiles')">Profiles</div>
                  </div>
                  <div [class.disabled-area]="selectedTitle == 'Profiles'" class="flex-end text-y">
                    <label pTooltip="Select all" tooltipPosition="top" *ngIf="materialsRoot.length > 0" class="container margin-bottom-none">
                      <span class="text-checkbox"></span>
                      <input (ngModelChange)="selectAllMaterialsRoot()" type="checkbox" [(ngModel)]="selectedAllMaterialsRoot">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedTitle == 'Plates'">
                <div class="cxy height-spinner" *ngIf="loadingMaterials">
                  <p-progressSpinner [style]="{width: '70px', height: '60px'}" styleClass="custom-spinner" strokeWidth="3" fill="#fff" animationDuration="1s"></p-progressSpinner>
                </div>
                <div class="gray-text" *ngIf="materialsRoot.length == 0 && !loadingMaterials">
                  There are no plate dimensions. You need to specify blocks from top column.
                </div>
                <div class="all-checkbox" *ngFor="let material of materialsRoot">
                  <div class="checks-button" [class.checked-button]="material.selected" (click)="selectMaterial(material)">
                    {{material.name}}
                    <span [class.checked-mini-text-gray]="material.selected" class="ml-5 text-mini">{{getMaterialsCount(material.count)}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedTitle == 'Profiles'">
                <div class="cxy height-spinner" *ngIf="loadingNestProfiles">
                  <p-progressSpinner [style]="{width: '70px', height: '60px'}" styleClass="custom-spinner" strokeWidth="3" fill="#fff" animationDuration="1s"></p-progressSpinner>
                </div>
                <div class="gray-text" *ngIf="nestingProfiles.length == 0 && !loadingNestProfiles">
                  There are no nesting profiles.
                </div>
                <div class="all-checkbox" *ngFor="let nest of nestingProfiles">
                  <div class="checks-button">
                    {{nest}}
                  </div>
                </div>
              </div>

            </div>
            <div class="ovf-auto mr-minus20" [class.disabled-area]="selectedTitle == 'Profiles'">
              <div class="sticky back-white pb-15">
                <div class="row-one-back">
                  <div class="df lxy">
                    <div class="icon-back-violet cxy">
                      <img src="assets/icons/rest.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10">Wastage</div>
                  </div>
                  <div class="flex-end text-y">
                    <label pTooltip="Select all" tooltipPosition="top" *ngIf="materialsRest.length > 0" class="container margin-bottom-none">
                      <span class="text-checkbox"></span>
                      <input (ngModelChange)="selectAllMaterialsRest()" type="checkbox" [(ngModel)]="selectedAllMaterialsRest">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="cxy height-spinner" *ngIf="loadingMaterials">
                <p-progressSpinner [style]="{width: '70px', height: '60px'}" styleClass="custom-spinner" strokeWidth="3" fill="#fff" animationDuration="1s"></p-progressSpinner>
              </div>
              <div class="gray-text" *ngIf="materialsRest.length == 0 && !loadingMaterials">
                There are no plate dimensions. You need to specify blocks from top column.
              </div>
              <div class="all-checkbox" *ngFor="let material of materialsRest">
                <div class="checks-button flex-column" [class.checked-button]="material.selected" (click)="selectMaterial(material)">
                  <div>{{material.name}}</div>
<!--                  <span class="ml-5">{{getMaterialsCount(material.count)}}</span>-->

                  <div [class.checked-mini-text-gray]="material.selected" class="mini-text-gray">{{'KPL' + ' ' + material.parent}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-85 cards" [class.shorten-nesting]="dxfEnabled || cutEnabled">
          <div class="cxy card-height" *ngIf="noResult && nestingPlates.length != 0">
            <div class="cx loading-text">No data fetched from server with selected options. Try to select another one.</div>
          </div>
          <div *ngIf="loading && !noResult">
            <div class="cxy loading ">
              <div class="cxy card-height">
                <img src="assets/whale.gif" height="120">
                <div class="cx loading-text">PLEASE WAIT...</div>
              </div>
            </div>
          </div>
          <div *ngIf="noResult && nestingPlates.length == 0">
            <div class="cxy card-height">
              <div class="cx loading-text">There is no data there. You need to specify blocks and dimensions from left column. Probably nesting files of selected sections were not been uploaded.</div>
            </div>
          </div>

          <div *ngIf="currentView == 'tile'" class="tile" [class.disabled-area]="selectedTitle == 'Profiles'">
            <div [ngClass]="{'hidden-card': nest == null}" class="dash-card-tile cursor-default" *ngFor="let nest of nestingPlates; let i = index">
              <div class="" *ngIf="nest != null">
                <div class="parent-plate" *ngIf="nest.PARENTNESTID != ''">WASTAGE</div>
                <div class="one-row pb-8">
                  <div class="">
                    <div class="cy flex-column pl-10">
                      <div class="cxy lock cursor-pointer" *ngIf="nest.isLock" (click)="insertLock(nest)" [class.disabled-button]="!auth.hasPerms('lock-nesting')">
                        <img src="assets/icons/lock.svg" height="22">
                      </div>
                      <div class="cxy unlock cursor-pointer" *ngIf="!nest.isLock" (click)="insertLock(nest)" [class.disabled-button]="!auth.hasPerms('lock-nesting')">
                        <img src="assets/icons/unlock.svg" height="22">
                      </div>
                      <div class="" *ngIf="nest.isLock">
                        <div class="lock-name">{{this.auth.getUserTrimName(nest.lockInfo.user)}}</div>
                        <div class="lock-date">{{getDate(nest.lockInfo.date)}}</div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="">
                      <div class="title-bold">{{nest.NESTID}}</div>
                    </div>
                    <div class="text-parent-plate ">{{nest.PARENTNESTID}}</div>
                    <div class="df">
                      <div class="qty-text mr-10">
                        <div class="kpl-flag cxy">
                          <span class="pr-5">KPL</span>
                          <span>{{nest.KPL}}</span>
                        </div>
                      </div>
                      <div class="qty-text">
                        <div class="qty-flag cxy">
                          <span class="pr-2">QTY</span>
                          <span>{{nest.NUMEQNEST}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div class="pt-8 pb-8">
                  <div class="">
                    <div>
                      <span class="text-mini-gray pr-5">{{'PL' + nest.THICKNESS + 'x' + round((nest.LENGTH) / 1000) + 'x' + round((nest.WIDTH) / 1000)}}</span>
                      <span class="text-mini-gray pr-5">{{nest.MAT}}</span>
                      <span class="text-gray-mini">{{'(' + round(nest.GROSSWEIGHT, 1) + 'kg)'}}</span>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div class="pt-8 pb-8">
                  <div>
                    <span class="text-mini-gray pr-5">{{nest.BLOCKS}}</span>
                    <span class="usage-left-text pr-5">Parts:</span>
                    <span class="text-mini-gray">{{round(nest.PARTSWEIGHT, 1) + 'kg'}}</span>
                  </div>
                </div>
                <div class="line"></div>
                <div class="pb-8 pt-8">
                  <div class="df">
                    <div class="usage-left-text pr-20">Usage:</div>
                    <div class="column-chart w-100">
                      <div class="chart-area df">
                        <div [ngStyle]="getWidth(nest.USAGE)" class="h-100 chart-usage"></div>
                        <div [ngStyle]="getWidth(100 - nest.USAGE)" class="h-100 chart-left"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="df pb-8">
                  <div class="text-center-y w-50 df">
                    <div class="usage-left-text mr-10">Usage</div>
                    <div class="usage-left-percent">{{round(nest.USAGE)}}%</div>
                  </div>
                  <div class="text-center-y w-50">
                    <div *ngIf="nest.CHILDKPL == 0" class="df">
                      <div class="usage-left-text mr-10">Left</div>
                      <div class="usage-left-percent">{{round(100 - nest.USAGE)}}%</div>
                    </div>
                    <div *ngIf="nest.CHILDKPL != 0 && nest.CHILDNESTID == 0" class="df">
                      <div class="usage-left-text mr-10">KPL</div>
                      <div class="usage-left-percent">{{nest.CHILDKPL}}</div>
                    </div>
                    <div *ngIf="nest.CHILDKPL != 0 && nest.CHILDNESTID != 0" class="df">
                      <div class="usage-left-text mr-10">Nest ID</div>
                      <div class="usage-left-percent cursor-pointer" (click)="selectWastage(nest.NESTID)">{{nest.CHILDNESTID}}</div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div>
                  <div class="cursor-default mt-8">
                    <div class="df space-between pb-5">
                      <span class="text-parent-plate pr-5">Nesting files:</span>
                      <div class="df">
                        <div *ngIf="!isDisabledNestTemplate(nest)" (click)="showNestingTemplate(nest, 'nest' + i); $event.stopPropagation()" class="cxy mr-15 cursor-pointer">
                          <svg class="icon-nest" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.25909 11.6021C3.94254 8.32689 6.79437 6 10 6C13.2057 6 16.0574 8.32688 16.7409 11.6021C16.7974 11.8725 17.0622 12.0459 17.3325 11.9895C17.6029 11.933 17.7763 11.6682 17.7199 11.3979C16.9425 7.67312 13.6934 5 10 5C6.3066 5 3.05742 7.67311 2.28017 11.3979C2.22377 11.6682 2.39718 11.933 2.6675 11.9895C2.93782 12.0459 3.20268 11.8725 3.25909 11.6021Z"/>
                            <path d="M9.98953 8C11.9225 8 13.4895 9.567 13.4895 11.5C13.4895 13.433 11.9225 15 9.98953 15C8.05653 15 6.48953 13.433 6.48953 11.5C6.48953 9.567 8.05653 8 9.98953 8Z"/>
                          </svg>
                        </div>
                        <div *ngIf="!isDisabledNestTemplate(nest)" (click)="downloadNestingFile(nest); $event.stopPropagation()" class="cxy cursor-pointer">
                          <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="df space-between">
                      <span class="text-parent-plate pr-5">Cutting files:</span>
                      <div class="df">
                        <div *ngIf="!isDisabledCuttingMap(nest)" (click)="showCuttingFile(nest, 'cut' + i); $event.stopPropagation()" class="cxy mr-15 cursor-pointer">
                          <svg class="icon-nest" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.25909 11.6021C3.94254 8.32689 6.79437 6 10 6C13.2057 6 16.0574 8.32688 16.7409 11.6021C16.7974 11.8725 17.0622 12.0459 17.3325 11.9895C17.6029 11.933 17.7763 11.6682 17.7199 11.3979C16.9425 7.67312 13.6934 5 10 5C6.3066 5 3.05742 7.67311 2.28017 11.3979C2.22377 11.6682 2.39718 11.933 2.6675 11.9895C2.93782 12.0459 3.20268 11.8725 3.25909 11.6021Z"/>
                            <path d="M9.98953 8C11.9225 8 13.4895 9.567 13.4895 11.5C13.4895 13.433 11.9225 15 9.98953 15C8.05653 15 6.48953 13.433 6.48953 11.5C6.48953 9.567 8.05653 8 9.98953 8Z"/>
                          </svg>
                        </div>
                        <div *ngIf="!isDisabledCuttingMap(nest)" (click)="download.toggle($event)" class="cxy cursor-pointer">
                          <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                          </svg>
                        </div>
                        <p-overlayPanel #download [style]="{width: '50px', 'border-radius': '4px', 'z-index': 11}">
                          <ng-template pTemplate>
                            <div class="df border-bottom all-row-user-menu cursor-pointer">
                              <div class="row-download">.MPG</div>
                            </div>
                            <div class="df all-row-user-menu cursor-pointer">
                              <div class="row-download">.ESI</div>
                            </div>
                          </ng-template>
                        </p-overlayPanel>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5 dxf-view" *ngIf="dxfEnabled">
        <button pButton [pTooltip]="l.tr('Download')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-download-window" icon="pi pi-download" (click)="downloadOpenedDxf()"></button>
        <button pButton [pTooltip]="l.tr('Open in new window')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-open-new-window" icon="pi pi-external-link" (click)="openDxf()"></button>
        <button pButton [pTooltip]="l.tr('Exit viewer')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-exit" icon="pi pi-sign-out" (click)="exitDxf()"></button>
        <app-dxf-view></app-dxf-view>
      </div>
      <div class="pt-5 dxf-view" *ngIf="cutEnabled">
        <button pButton [pTooltip]="l.tr('Download')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-download-window" icon="pi pi-download" (click)="downloadOpenedCMAP()"></button>
        <button pButton [pTooltip]="l.tr('Open in new window')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-open-new-window" icon="pi pi-external-link" (click)="openCMAP()"></button>
        <button pButton [pTooltip]="l.tr('Exit viewer')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-exit" icon="pi pi-sign-out" (click)="exitDxf()"></button>
        <app-g-code></app-g-code>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isDesktop()" class="all-page-tablet min-height-tablet">

    <div class="card-head-tablet mb-10 df">
      <div class="mr-10">
        <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border" (ngModelChange)="projectChanged()">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <div (click)="exportXls()" class="materials-button xls-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="mr-10">
        <div (click)="downloadFiles()" class="materials-button add-button cxy">
          <img src="assets/icons/download-file.svg" height="22">
        </div>
      </div>
      <div class="mr-10">
        <div (click)="showVacantWastages()" [pTooltip]="l.tr('Vacant wastage')" tooltipPosition="top"  class="materials-button blue-button cxy position-relative">
          <img src="assets/icons/rest-white.svg" height="22">
          <div class="count cursor-pointer">{{getWastageCount()}}</div>
        </div>
      </div>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [placeholder]="l.tr('Поиск...')" [(ngModel)]="search" (ngModelChange)="searchChanged()" class="border" />
      </span>
    </div>
    <div class="w-100 df">
      <div class="w-100 df">
        <div class="w-10 min-width-200">
          <div class="menu-card-tablet">

              <div class="ovf-auto max-height-112 mr-minus15">
                <div class="sticky back-white">
                  <div class="row-one-back mb-15">
                    <div class="df lxy">
                      <div class="icon-back-orange cxy">
                        <img src="assets/icons/sections.svg" height="18">
                      </div>
                      <div class="title-medium-bold ml-10">Blocks</div>
                    </div>
                    <div class="flex-end text-y">
                      <label pTooltip="Select all" tooltipPosition="top" *ngIf="blocks.length > 0" class="container margin-bottom-none">
                        <span class="text-checkbox"></span>
                        <input (ngModelChange)="selectAllBlocks()" type="checkbox" [(ngModel)]="selectedAllBlocks">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="gray-text" *ngIf="blocks.length == 0 && !loadingBlocks">
                  There is no blocks for selected project there. Try to specify another project.
                </div>
                <div class="all-checkbox" *ngFor="let block of blocks">
                  <div class="check-button-tablet" [class.checked-button]="block.selected" (click)="selectBlock(block)">
                    {{block.name}}
                  </div>
                </div>
              </div>
              <div class="w-100 cxy">
                <div class="button-fetch-tablet cxy cursor-pointer" (click)="fetchMaterials()">Fetch materials</div>
              </div>
              <div class="ovf-auto max-height-170 mr-minus15">
                <div class="sticky back-white pb-15">
                  <div class="row-one-back">
                    <div class="df lxy">
                      <div class="icon-back-blue cxy">
                        <img src="assets/icons/mat-root.svg" height="24">
                      </div>
                      <div class="title-medium-bold ml-10">Materials</div>
                    </div>
                    <div class="flex-end text-y">
                      <label pTooltip="Select all" tooltipPosition="top" *ngIf="materialsRoot.length > 0" class="container margin-bottom-none">
                        <span class="text-checkbox"></span>
                        <input (ngModelChange)="selectAllMaterialsRoot()" type="checkbox" [(ngModel)]="selectedAllMaterialsRoot">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="cxy height-spinner" *ngIf="loadingMaterials">
                  <p-progressSpinner [style]="{width: '70px', height: '60px'}" styleClass="custom-spinner" strokeWidth="3" fill="#fff" animationDuration="1s"></p-progressSpinner>
                </div>
                <div class="gray-text" *ngIf="materials.length == 0 && !loadingMaterials">
                  There are no plate dimensions. You need to specify blocks from top column.
                </div>
                <div class="all-checkbox" *ngFor="let material of materialsRoot">
                  <div class="checks-button" [class.checked-button]="material.selected" (click)="selectMaterial(material)">
                    {{material.name + ' ' + getMaterialsCount(material.count)}}
                  </div>
                </div>
              </div>
              <div class="ovf-auto max-height-170 mr-minus15">
                <div class="sticky back-white pb-15">
                  <div class="row-one-back">
                    <div class="df lxy">
                      <div class="icon-back-violet cxy">
                        <img src="assets/icons/rest.svg" height="18">
                      </div>
                      <div class="title-medium-bold ml-10">Wastage</div>
                    </div>
                    <div class="flex-end text-y">
                      <label pTooltip="Select all" tooltipPosition="top" *ngIf="materialsRest.length > 0" class="container margin-bottom-none">
                        <span class="text-checkbox"></span>
                        <input (ngModelChange)="selectAllMaterialsRest()" type="checkbox" [(ngModel)]="selectedAllMaterialsRest">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="cxy height-spinner" *ngIf="loadingMaterials">
                  <p-progressSpinner [style]="{width: '70px', height: '60px'}" styleClass="custom-spinner" strokeWidth="3" fill="#fff" animationDuration="1s"></p-progressSpinner>
                </div>
                <div class="gray-text" *ngIf="materialsRest.length == 0 && !loadingMaterials">
                  There are no plate dimensions. You need to specify blocks from top column.
                </div>
                <div class="all-checkbox" *ngFor="let material of materialsRest">
                  <div class="checks-button flex-column" [class.checked-button]="material.selected" (click)="selectMaterial(material)">
                    <div>{{material.name}}</div>
                    <div [class.checked-mini-text-gray]="material.selected" class="mini-text-gray">{{'KPL' + ' ' + material.parent}}</div>

                  </div>
                </div>
              </div>
            <div class="w-100 cxy">
<!--              <div class="button-fetch-tablet cxy cursor-pointer" *ngIf="materials.length > 0" (click)="fetchNesting()">Fetch nesting</div>-->
            </div>




          </div>
        </div>
        <div class="w-90 cards-tablet min-width-400">
          <div class="cxy card-height" *ngIf="noResult && nestingPlates.length != 0">
            <div class="cx loading-text">No data fetched from server with selected options. Try to select another one.</div>
          </div>
          <div *ngIf="loading && !noResult">
            <div class="cxy loading">
              <div class="cxy card-height">
                <img src="assets/whale.gif" height="120">
                <div class="cx loading-text">PLEASE WAIT...</div>
              </div>
            </div>
          </div>
          <div *ngIf="noResult && nestingPlates.length == 0">
            <div class="cxy card-height">
              <div class="cx loading-text">There is no data there. You need to specify blocks and dimensions from left column.</div>
            </div>
          </div>
          <div *ngIf="currentView == 'tile'" class="tile">
            <div [ngClass]="{'hidden-card': nest == null}" class="dash-card-tile-tablet" *ngFor="let nest of nestingPlates; let i = index">
              <div *ngIf="nest != null">
                <div class="parent-plate-tablet" *ngIf="nest.PARENTNESTID != ''">WASTAGE</div>
                <div class="one-row-tablet mt-minus5">
                  <div [class.margin-minus-5]="nest.PARENTNESTID == ''" class="ml-5">
                    <div class="title-bold-tablet">{{nest.NESTID}}</div>
                  </div>
                  <div class="">
                    <div>
                      <span class="text-mini-gray-tablet pr-5">{{'PL' + nest.THICKNESS + 'x' + round((nest.LENGTH) / 1000) + 'x' + round((nest.WIDTH) / 1000)}}</span>
                      <span class="text-mini-gray-tablet pr-5">{{nest.MAT}}</span>
                      <span class="text-gray-mini-tablet">{{'(' + round(nest.GROSSWEIGHT) + 'kg)'}}</span>
                    </div>
                  </div>
                  <div>
                    <div class="qty-text">
                      <div class="kpl-flag-tablet cxy">
                        <span class="pr-5">QTY</span>
                        <span>{{nest.NUMEQNEST}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="two-row-tablet">
                  <div class="text-parent-plate pl-15">{{nest.PARENTNESTID}}</div>
                  <div>
                    <span class="usage-left-text pr-5">Block:</span>
                    <span class="text-mini-gray pr-20">{{nest.BLOCKS}}</span>
                    <span class="usage-left-text pr-5">Parts:</span>
                    <span class="text-mini-gray-tablet pr-20">{{round(nest.PARTSWEIGHT, 1) + 'kg'}}</span>
                  </div>
                </div>
                <div class="three-row-tablet">
                  <div class="">
                    <div class="cxy flex-column ml-minus10">
                      <div class="cxy lock cursor-pointer" *ngIf="nest.isLock" (click)="insertLock(nest)" [class.disabled-button]="!auth.hasPerms('lock-nesting')">
                        <img src="assets/icons/lock.svg" height="22">
                      </div>
                      <div class="cxy unlock cursor-pointer" *ngIf="!nest.isLock" (click)="insertLock(nest)" [class.disabled-button]="!auth.hasPerms('lock-nesting')">
                        <img src="assets/icons/unlock.svg" height="22">
                      </div>
                      <div class="" *ngIf="nest.isLock">
                        <div class="lock-name pb-5">{{this.auth.getUserTrimName(nest.lockInfo.user)}}</div>
                        <div class="lock-date">{{getDate(nest.lockInfo.date)}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="column-chart">
                    <div class="position-relative mt-minus15">
                      <div class="chart-area-tablet df">
                        <div [ngStyle]="getWidth(nest.USAGE)" class="h-100 chart-usage"></div>
                        <div [ngStyle]="getWidth(100 - nest.USAGE)" class="h-100 chart-left"></div>
                      </div>
                      <div class="donut-text-tablet">{{round(nest.USAGE)}}%</div>
                    </div>
                    <div class="df mt-10">
                      <div class="text-center-y">
                        <div class="usage-tile-tablet cxy">
                          <img src="assets/icons/usage.svg" height="14">
                        </div>
                        <div class="ml-5">
                          <div class="usage-left-text-tablet">Usage</div>
                          <div class="usage-left-percent-tablet">{{round(nest.USAGE)}}%</div>
                        </div>
                      </div>
                      <div class="text-center-y ml-5">
                        <div class="left-tile-tablet cxy">
                          <img src="assets/icons/recycle-blue.svg" height="14">
                        </div>
                        <div *ngIf="nest.CHILDKPL == 0" class="ml-5">
                          <div class="usage-left-text-tablet">Left</div>
                          <div class="usage-left-percent-tablet">{{round(100 - nest.USAGE)}}%</div>
                        </div>
                        <div *ngIf="nest.CHILDKPL != 0 && nest.CHILDNESTID == 0" class="ml-5">
                          <div class="usage-left-text-tablet">KPL</div>
                          <div class="usage-left-percent-tablet">{{nest.CHILDKPL}}</div>
                        </div>
                        <div *ngIf="nest.CHILDKPL != 0 && nest.CHILDNESTID != 0" class="ml-5">
                          <div class="usage-left-text-tablet">Nest ID</div>
                          <div class="usage-left-percent-tablet cursor-pointer" (click)="selectWastage(nest.NESTID)">{{nest.CHILDNESTID}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cursor-default mt-8">
                    <div class="nesting-cutting-tablet w-90 ml-5 df space-between mb-10">
                      <div class="mini-gray-text">nesting</div>
                      <div class="df">
                        <div *ngIf="!isDisabledNestTemplate(nest)" (click)="showNestingTemplate(nest, 'nest' + i); $event.stopPropagation()" class="eye-nesting cxy mr-5 cursor-pointer">
                          <i class="pi pi-eye icon-cutting"></i>
                        </div>
                        <div *ngIf="!isDisabledNestTemplate(nest)" (click)="downloadNestingFile(nest); $event.stopPropagation()" class="download-nesting cxy cursor-pointer">
                          <i class="pi pi-download icon-cutting"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nesting-cutting-tablet w-90 ml-5 df space-between">
                      <div class="mini-gray-text">cutting</div>
                      <div class="df">
                        <div *ngIf="!isDisabledCuttingMap(nest)" (click)="showCuttingFile(nest, 'cut' + i); $event.stopPropagation()" class="eye-nesting cxy mr-5 cursor-pointer">
                          <i class="pi pi-eye icon-cutting"></i>
                        </div>
                        <div *ngIf="!isDisabledCuttingMap(nest)" (click)="downloadCuttingFile(nest); $event.stopPropagation()" class="download-nesting cxy cursor-pointer">
                          <i class="pi pi-download icon-cutting"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="pt-5 dxf-view-tablet" *ngIf="dxfEnabled">
        <button pButton [pTooltip]="l.tr('Download')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-download-window" icon="pi pi-download" (click)="downloadOpenedDxf()"></button>
        <button pButton [pTooltip]="l.tr('Open in new window')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-open-new-window" icon="pi pi-external-link" (click)="openDxf()"></button>
        <button pButton [pTooltip]="l.tr('Exit viewer')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-exit" icon="pi pi-sign-out" (click)="exitDxf()"></button>
        <app-dxf-view></app-dxf-view>
      </div>
      <div class="pt-5 dxf-view-tablet" *ngIf="cutEnabled">
        <button pButton [pTooltip]="l.tr('Download')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-download-window" icon="pi pi-download" (click)="downloadOpenedCMAP()"></button>
        <button pButton [pTooltip]="l.tr('Open in new window')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-open-new-window" icon="pi pi-external-link" (click)="openCMAP()"></button>
        <button pButton [pTooltip]="l.tr('Exit viewer')" tooltipPosition="top" class="border normal-button p-button-outlined dxf-open-button dxf-exit" icon="pi pi-sign-out" (click)="exitDxf()"></button>
        <app-g-code></app-g-code>
      </div>
    </div>
</div>

<div class="progress-spinner" *ngIf="waitForZipFiles">
  <div class="image-preview-backdrop" (click)="closeShowImage()">
  </div>
  <div class="image-preview-scale">
    <img src="assets/whale.gif" height="120">
    <div class="cx wait-text-tablet">PLEASE WAIT...</div>
  </div>
</div>

<div [hidden]="!showImages">
  <div class="image-preview-backdrop" (click)="closeShowImage()">
  </div>
  <div class="image-preview-scale">
    <img #img class="image-preview" data-wheel-zoom [src]="image" style="height: unset; width: unset"/>
  </div>
</div>


<!--    <div *ngIf="parts.length == 0 && !noResult">-->
<!--      <div class="cxy">-->
<!--        <div>-->
<!--          <img src="assets/whale.gif" height="120">-->
<!--          <div class="cx ">PLEASE WAIT...</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


