/deep/.p-inputtext{
  font-size: 14px!important;
  padding: 8px 10px 8px 10px;
}
/deep/.p-component{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
}
/deep/.pi{
  font-size: 14px;
}
.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem!important;
}
.card-head{
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 8px;
  height: 65px;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}
.card-head-tablet{
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 8px;
  height: 55px;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}
.card-page{
  position: relative;
  overflow: auto;
}
.card-nest{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: calc(100vh - 201px);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.normal-button:hover{
  background-color: rgba(50, 49, 48, 0.07) !important;
}
.card-sp{
  width: 68%;
  height: calc(100vh - 197px);
  background: #ffffff;
  margin-top: 20px;
  border-radius: 8px;
  padding: 0 12px 12px 12px;
  overflow: hidden;
}
.top-line{
  height: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
.loading-text{
  color: #323130a8;
  font-weight: 500;
}
.card-height{
  height: calc(100vh - 202px);
  flex-direction: column;
}
.height-spinner{
  height: calc(100% - 86px);
}
.lock-name{
  font-size: 0.8em;
  font-style: inherit;
  font-weight: 500;
  letter-spacing: -0.003em;
  color: #3a3a3a;
}
.lock-date{
  color: rgba(66, 82, 110, 0.82);
  font-size: 11px;
  white-space: nowrap;
}
.lock-name-tablet{
  font-size: 10px;
  font-style: inherit;
  font-weight: 500;
  letter-spacing: -0.003em;
  color: #3a3a3a;
}
.lock-date-tablet{
  color: rgba(66, 82, 110, 0.82);
  font-size: 9px;
  white-space: nowrap;
}
.flex-col{
  flex-direction: column;
}
.dash-card{
  padding: 10px;
  margin-bottom: 20px;
  height: 230px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}
.dash-card-tile{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 400px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
  border-left: 3px solid #fff;
}
.dash-card-tile-tablet{
  padding: 8px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 340px;
  height: 130px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
  border-left: 3px solid #fff;
}
.text-gray-mini{
  font-weight: 700;
  color: #A8A7A6;
  font-size: 12px;
}
.text-gray-mini-tablet{
  font-weight: 700;
  color: #A8A7A6;
  font-size: 11px;
}
.text-mini{
  color: rgba(58, 58, 58, 0.75);
  font-size: 11px;
}
.text-mini-gray{
  color: rgba(58, 58, 58, 0.75);
  font-weight: 500;
  font-size: 14px;
}
.text-mini-gray-tablet{
  color: rgba(58, 58, 58, 0.75);
  font-weight: 500;
  font-size: 12px;
}
.tile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.menu-card{
  padding: 20px;
  width: 100%;
  min-width: 250px;
  height: calc(100vh - 200px);
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 1.5fr 2.5fr 2.5fr;
}
.menu-card-tablet{
  padding: 15px;
  width: 100%;
  min-width: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
  height: 100%;
  display: grid;
  grid-template-rows: 1.5fr 50px 2.5fr 2.5fr 50px;
}
.left-block-materials{
  display: grid;
  grid-template-rows: 2.75fr auto;
}
.top-row{
  height: 120px;
  border-bottom: 1px solid #f3f2f1;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 4fr;
}
.three-row{
  height: 100px;
  display: grid;
  grid-template-columns: 95px 155px 110px;
}
.three-row-tablet{
  height: 100px;
  display: grid;
  grid-template-columns: 80px 140px 110px;
}
.top-row-tile-tablet{
  height: 110px;
  display: grid;
  grid-template-columns: 85px 130px 85px;
}
.one-row{
  height: 20px;
  display: grid;
  grid-template-columns: 95px 220px auto;
}
.one-row-tablet{
  height: 25px;
  display: grid;
  grid-template-columns: 80px 205px auto;
}
.two-row{
  height: 20px;
  display: grid;
  grid-template-columns: 95px 240px auto;
}
.weight-row{
  height: 20px;
  display: grid;
  grid-template-columns: 95px auto;
}
.two-row-tablet{
  height: 20px;
  display: grid;
  grid-template-columns: 80px 275px;
}
.right-column-tablet{
  display: grid;
  grid-template-rows: 20px auto;
}
.nesting-cutting{
  border: 1px solid rgba(145, 153, 169, 0.3);
  padding: 4px;
  border-radius: 4px;
}
.nesting-cutting-tablet{
  border: 1px solid rgba(145, 153, 169, 0.3);
  padding: 2px;
  border-radius: 4px;
}
.icon-cutting{
  color: #757575;
  font-size: 12px;
}
.icon-cutting:hover{
  color: #88C0D0;
}
.eye-nesting{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.download-nesting{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.mini-gray-text{
  font-size: 12px;
  color: #9199a9;
}
.kpl-flag{
  padding: 1px 3px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  background-color: #39B8B6;
  width: fit-content;
  min-width: 20px;
}
.qty-flag{
  padding: 1px 3px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  background-color: #EDC87F;
  width: fit-content;
  min-width: 20px;
}
.kpl-flag-tablet{
  padding: 1px 3px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  color: #fff;
  background-color: #EDC87F;
  width: fit-content;
  min-width: 20px;
  height: 20px;
}
.qty-text-tablet{
  display: flex;
  margin-left: auto;
  margin-top: -5px;
  margin-right: -5px;
}
.qty-text-tablet{
  display: flex;
  margin-left: auto;
}
.min-width-300{
  min-width: 300px;
}
.title-bold{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #3a3a3a;
}
.title-bold-left{
  font-weight: 700;
  color: #3a3a3a;
  padding-bottom: 1rem;
  font-size: 16px;
  line-height: 1.25rem;
}
.title-bold-tablet{
  font-weight: 500;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1.25rem;
  text-align: center;
}
.title-name{
  font-size: 18px;
  color: #3a3a3ade;
  line-height: 1em;
  margin-bottom: 5px;
}
.text-center-y{
  display: flex;
  align-items: center;
}
.gray-text{
  color: #a4a4a4;
  font-size: 12px;
}
.white-text-count{
  color: #fff;
  font-size: 12px;
}
.gray-text-tile{
  color: #4c566a;
  font-weight: 500;
  font-size: 12px;
}
.gray-text-tile-tablet{
  color: #a4a4a4;
  font-size: 12px;
}
.file{
  background-color: #62b6cb;
  color: #ffffff;
  font-size: 20px;
  border-radius: 30px;
  padding: 2px 10px;
}
.bottom-row{

}
.dxf-view{
  position: absolute;
  height: 52vh;
  width: calc(100% - 85px - 25px);
  bottom: 0;
  right: 25px;
  left: 85px;
  z-index: 1000;
}
.dxf-view-tablet{
  position: absolute;
  height: 52vh;
  width: calc(100% - 85px - 25px);
  bottom: -70px;
  right: 25px;
  left: 85px;
  z-index: 1000;
}
.dxf-open-button{
  position: absolute;
  top: 10px;
  z-index: 1001;
  color: white !important;
}
.dxf-open-new-window{
  right: 56px;
}
.dxf-download-window{
  right: 106px;
}
.dxf-exit{
  right: 8px;
}
.table-bottom{
  border: 1px solid #e1eaf4;
  border-radius: 0.75rem;
  cursor: pointer;
}
.table-header-column{
  border-bottom: 1px solid #f3f2f1;
  display: flex;
  font-weight: 700;
  text-align: center;
  color: #3a3a3a;
  padding: 8px 0;
  font-size: 12px;
  line-height: 1.25rem;
}
.table-header-column-tablet{
  padding: 8px;
  font-weight: 600;
  color: #a4a4a4;
  background: #ffffff;
  font-size: 12px;
  border-bottom: 1px solid #f3f2f1;
}
.info-row{
  display: flex;
}
.table-body{
  padding: 6px 10px;
  color: #64686a;
  font-size: 14px;
  text-align: center;
}
.table-body-tablet{
  height: 32px;
  padding: 5px;
  color: #323130;
  font-size: 13px;
}
.unlock{
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-color: #E9FAEC;
}
.lock{
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-color: #FFF5F5;
}
.small-button{
  height: 10px;
  width: 18px;
}
.left-tile{
  height: 24px;
  width: 24px;
  background-color: #EBF4FD;
  border-radius: 4px;
}
.usage-tile{
  height: 24px;
  width: 24px;
  background-color: #83BDCE;
  border-radius: 4px;
}
.usage-tile-tablet{
  height: 22px;
  width: 22px;
  background-color: #83BDCE;
  border-radius: 4px;
}
.left-tile-tablet{
  height: 22px;
  width: 22px;
  background-color: #EBF4FD;
  border-radius: 4px;
}
.ml-2px{
  margin-left: 2px;
}
.eye-file{
  height: 32px;
  width: 32px;
  border-radius: 30px;
  background-color: #BBE0E9;
  position: relative;
}
.eye-file:hover{
  background-color: #b0dfea;
}
.eye-file-tile{
  height: 26px;
  width: 26px;
  border-radius: 8px;
  background-color: #0073E6;
  position: relative;
}
.eye-file-tile:hover{
  background-color: #2788e9;
}
.eye-file-tile-tablet{
  height: 26px;
  width: 26px;
  border-radius: 8px;
  background-color: #0073E6;
  position: relative;
}
.eye-cut-tile-tablet{
  height: 28px;
  width: 28px;
  border-radius: 8px;
  background-color: #EBF4FD;
  position: relative;
}
.eye-tooltip{
  position: absolute;
  top: -30px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 13px 0px rgba(34, 60, 80, 0.16);
  font-size: 12px;
  padding: 4px 6px;
  color: #3a3a3ade;
}
.option{
  display: block;
  margin-bottom: 0.25rem;
}
.text-checkbox{
  display: flex;
  align-items: flex-start;
  font-size: 13px;
  color: #495057;
}
.p-ml-auto{
  margin-left: auto!important;
}
.container input:checked ~ .checkmark {
  background-color: #39B8B6;
}
.button-fetch{
  height: 44px;
  width: 90%;
  font-weight: 500;
  color: #4c566a;
  border-radius: 10px;
  padding: 10px;
  font-size: .875rem;
  border: 1px solid rgba(108, 117, 125, 0.44);
}
.button-fetch:hover{
  background-color: #F9FAFB;
}
.button-fetch-tablet{
  height: 38px;
  width: 100%;
  border: 1px solid rgba(108, 117, 125, 0.44);
  color: #4c566a;
  border-radius: 10px;
  padding: 10px;
  font-size: .875rem;
}
.cards{
  overflow: auto;
  height: calc(100vh - 202px);
}
.cards-tablet{
  overflow: auto;
  height: calc(100vh - 160px);
}
.min-height-150{
  min-height: 150px;
}
.min-height{
  height: calc(100vh - 76px);
}
.min-height-tablet{
  height: 100%;
}
.button-cont{
  position: absolute;
  bottom: 0;
}
.head-checkbox{
  background-color: white;
}
:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}
@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #39B8B6;
  }
  40% {
    stroke: #39B8B6;
  }
  66% {
    stroke: #39B8B6;
  }
  80%,
  90% {
    stroke: #39B8B6;
  }
}
@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
.files-tile{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.mt-minus15{
  margin-top: -15px;
}
.mini-text-gray{
  font-size: 11px;
  color: #757575;
}
.checked-mini-text-gray{
  color: rgba(255, 255, 255, 0.85);
}
.donut-text {
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Circe,sans-serif;
}
.donut-text-tablet{
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: Circe,sans-serif;
}
.usage-left-text{
  color: #3a3a3a;
  font-weight: 500;
  font-size: 12px;
}
.usage-left-text-tablet{
  color: #3a3a3a;
  font-weight: 500;
  font-size: 11px;
}
.usage-left-percent{
  color: rgba(58, 58, 58, 0.75);
  font-weight: 500;
  font-size: 12px;
}
.usage-left-percent-tablet{
  color: rgba(58, 58, 58, 0.75);
  font-weight: 500;
  font-size: 11px;
}
.usage-left-info{

}
.hidden-card{
  opacity: 0;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 10px 0 10px !important;
}
.hidden-card-tablet{
  opacity: 0;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 5px 0 5px !important;
}
.mb-1px{
  margin-bottom: 1px;
}
.eye-cut-tile{
  height: 28px;
  width: 28px;
  border-radius: 8px;
  background-color: #EBF4FD;
  position: relative;
}
.eye-cut-tile:hover{
  background-color: #E0EEFC;
}
.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}
.image-preview-scale{
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1002;
  overflow: hidden;
}

.wait-text{
  background-color: white;
}
.wait-text-tablet{
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.min-width-400{
  min-width: 400px;
}
.min-width-220{
  min-width: 220px;
}
.max-height-185{
  max-height: 185px;
}
.max-height-175{
  max-height: 175px;
}
.max-height-170{
  max-height: 170px;
}
.max-height-112{
  max-height: 112px;
}
.max-height-105{
  max-height: 105px;
}
.mb-3px{
  margin-bottom: 3px;
}
.materials-button{
  height: 37px;
  width: 37px;
  cursor: pointer;
  border-radius: 6px;
}
.xls-button{
  background-color: #22C55E;
}
.xls-button:hover{
  background-color: #16A34A;
}
.add-button{
  background-color: #E424BD;
}
.add-button:hover{
  background-color: #c800a3;
}
.eye-show-button{
  color: #9199a9;
}
.eye-show-button:hover{
  color: #88c0d0;
}
.pi-size{
  font-size: 16px;
}
.eye-download{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.check-button{
  border-radius: 8px;
  padding: 6px;
  background-color: hsla(0,0%,100%,0);
  display: flex;
  align-items: center;
  width: auto;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow .2s,color .2s,background-color .2s;
  font-size: 12px;
  box-shadow: inset 0 0 0 1px #ccdbeb;
  line-height: 1rem;
  color: #172029;
}
.check-button-tablet{
  border-radius: 8px;
  padding: 4px;
  background-color: hsla(0,0%,100%,0);
  display: flex;
  align-items: center;
  width: auto;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow .2s,color .2s,background-color .2s;
  font-size: 12px;
  box-shadow: inset 0 0 0 1px rgba(108, 117, 125, 0.44);
  line-height: 1rem;
  color: #172029;
}
.check-button:hover{
  box-shadow: inset 0 0 0 1px #88C0D0;
}
.all-checkbox{
  margin: 0 0.5rem 0.5rem 0;
  display: inline-block;
}
.checked-button{
  color: #fff;
  background-color: #88C0D0;
  box-shadow: inset 0 0 0 1px #88C0D0;
}
.checked-button:hover{
  background-color: #a3cad5;
  box-shadow: inset 0 0 0 1px #a3cad5;
}
.chart-area{
  height: 30px;
  border-radius: 8px;
}
.chart-area-tablet{
  width: 99%;
  height: 25px;
  border-radius: 8px;
}
.chart-usage{
  background-color: #83BDCE;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.chart-left{
  background-color: #EBF4FD;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.column-chart{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column-chart-tablet{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.disabled-button{
  cursor: auto;
  pointer-events: none;
}
.margin-minus-5{
  margin-left: -5px;
}
.margin-minus-10{
  margin-left: -10px;
}
.row-one-back{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.icon-back-violet{
  font-size: 16px;
  background-color: rgba(126, 141, 205, 0.3);
  color: #7e8dcd;
  border-radius: 4px;
  height: 32px;
  width: 32px;
}
.icon-back-blue{
  font-size: 16px;
  background-color: rgba(57, 184, 182, 0.3);
  color: #39b8b6;
  border-radius: 4px;
  height: 32px;
  width: 32px;
}
.icon-back-orange{
  font-size: 16px;
  background-color: rgba(246, 172, 43, 0.3);
  color: #f6ac2b;
  border-radius: 4px;
  height: 32px;
  width: 32px;
}
.title-medium-bold{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.parent-plate{
  width: 18px;
  height: 100%;
  background-color: #D8DDF0;
  position: absolute;
  top: 0;
  left: -3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-align: center;
  letter-spacing: 2px;
  font-size: 14px;
  color: #7e8dcd;
  font-weight: 600;
}
.parent-plate-tablet{
  width: 18px;
  height: 100%;
  background-color: #D8DDF0;
  position: absolute;
  top: 0;
  left: -3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-align: center;
  letter-spacing: 2px;
  color: #7e8dcd;
  font-size: 13px;
}
.text-parent-plate{
  font-size: 12px;
  color: #757575;
}
.text-parent-plate-tablet{
  text-align: center;
  font-size: 12px;
  color: #757575;
}
.over-top-row{
  height: 25px;
}
.shorten-nesting{
  height: calc(52vh - 202px);
}
.count{
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 6px;
  font-size: 11px;
  padding: 2px 3px;
  top: -10px;
  right: -10px;
  min-width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-title{
  background-color: red;
}
.disabled-area{
  opacity: 0.5;
  pointer-events: none;
}
