<div class="all-page-billing">
  <div class="min-height-card">
    <div class="empty-card"></div>
    <div class="card-head df sticky-card">
      <div class="mr-10">
        <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" (ngModelChange)="projectChanged()" styleClass="width-170 border">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <div (click)="exportXls()" class="materials-button xls-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="ml-10 df tabs-header">
        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Plates'" [class.selectedTab]="selectedHeadTab ==  'Plates'">{{t.tr('Листы')}}</div>
        <div class="line-between"></div>
        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Profiles'" [class.selectedTab]="selectedHeadTab ==  'Profiles'">{{t.tr('Профили')}}</div>
<!--        <div class="line-between"></div>-->
<!--        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Pipes'" [class.selectedTab]="selectedHeadTab ==  'Pipes'">{{t.tr('Трубы')}}</div>-->
<!--        <div class="line-between"></div>-->
<!--        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Valves'" [class.selectedTab]="selectedHeadTab ==  'Valves'">{{t.tr('Клапаны')}}</div>-->
<!--        <div class="line-between"></div>-->
<!--        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Cables'" [class.selectedTab]="selectedHeadTab ==  'Cables'">{{t.tr('Кабели')}}</div>-->
      </div>
      <div class="p-ml-auto df">
        <div (click)="selectedView = 'tiles'" class="cxy mr-10 cursor-pointer">
          <img *ngIf="selectedView == 'tiles'" src="assets/icons/tile-blue.svg" height="22">
          <img *ngIf="selectedView != 'tiles'" src="assets/icons/tile-gray.svg" height="22">
        </div>
        <div (click)="selectedView = 'list'" class="cxy cursor-pointer">
          <img *ngIf="selectedView != 'list'" src="assets/icons/list-gray.svg" height="22">
          <img *ngIf="selectedView == 'list'" src="assets/icons/list-blue.svg" height="22">
        </div>
        <div *ngIf="selectedHeadTab == 'Plates'" class="df">
          <div class="mr-10 ml-10">
            <p-dropdown class="select" [(ngModel)]="sortPlatesValue" [options]="sortPlatesValues" (ngModelChange)="sortPlatesChanged()" styleClass="width-170 border">
            </p-dropdown>
          </div>
          <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input [(ngModel)]="searchPlates" (ngModelChange)="searchChanged()" pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border width-170" />
        </span>
        </div>
        <div *ngIf="selectedHeadTab == 'Profiles'" class="df">
          <div class="mr-10 ml-10">
            <p-dropdown class="select" [(ngModel)]="sortProfilesValue" [options]="sortProfilesValues" (ngModelChange)="sortProfilesChanged()" styleClass="width-170 border">
            </p-dropdown>
          </div>
          <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input [(ngModel)]="searchProfiles" (ngModelChange)="searchChanged()" pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border width-170" />
        </span>
        </div>
      </div>
    </div>
    <div class="empty-card-bottom"></div>


    <div *ngIf="selectedView == 'tiles'">
      <div *ngIf="selectedHeadTab == 'Plates'" class="tile">
        <div *ngFor="let plate of plates; let i = index" class="dash-card cursor-pointer" [class.hidden-card]="plate == null">
          <div *ngIf="plate != null" class="dash-card-tile" [class.flip-card]="plate.side == 'back'">
            <div class="dash-card-tile-side-front" (click)="handleBackClick($event, plate)" [class.block-card]="plate != null && plate.isDisabled">
              <div *ngIf="plate != null">
                <div class="top-row-tile">
                  <div class="pulse">
                    <div *ngIf="plate.plateForecast > plate.stock && abs(getForecastValue(plate) - getStockValue(plate)) >= 3" class="dot red"></div>
                    <div *ngIf="plate.plateForecast > plate.stock && abs(getForecastValue(plate) - getStockValue(plate)) < 3" class="dot orange"></div>
                  </div>
                  <div class="">
                    <div class="cx">
                      <div class="mm-text">mm x m x m</div>
                    </div>
                    <div class="cxy title-bold">
                      <div class="text-center-x" [innerHTML]="('PL' + plate.scantling.toString()) | highLight: searchPlates"></div>
                    </div>
                    <div class="text-mini-gray">
                      <div class="text-center-x">
                        <span class="mr-5" [innerHTML]="(plate.mat.toString()) | highLight: searchPlates"></span>
                        <span *ngIf="plate.oneSheetWeight != 0">
                          <span class="text-gray-mini">(</span>
                          <span class="text-gray-mini">{{roundDecimal(plate.oneSheetWeight)}}</span>
                          <span class="text-gray-mini">kg</span>
                          <span class="text-gray-mini">)</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="mt-minus5">
                    <div class="text-center-x mb-5">
                      <div class="all-numbers">
                        <span class="text-black-mini mr-5">{{plate.stock}}</span>
                        <span>/</span>
                        <span class="text-black-mini mx-5">{{plate.plateForecast}}</span>
                        <span>/</span>
                        <span class="text-black-mini ml-5">{{plate.count}}</span>
                      </div>
                      <div>
                        <span class="text-gray-mini mr-5">stock</span>
                        <span class="text-gray-mini">/</span>
                        <span class="text-gray-mini mx-5">forecast</span>
                        <span class="text-gray-mini">/</span>
                        <span class="text-gray-mini ml-5">usage</span>
                      </div>
                    </div>



                    <div class="cxy">
                      <div class="chart-area df">
                        <div [ngStyle]="getStock(plate)" [class.null-stock]="plate.stock == 0" class="h-100 chart-stock-usage"></div>
                        <div [ngStyle]="getForecast(plate)" [class.null-stock]="plate.plateForecast == 0" class="h-100 chart-forecast-usage"></div>
                        <div [ngStyle]="getCount(plate)" [class.null-stock]="plate.count == 0" class="h-100 chart-count-usage"></div>

                        <!--                    <div [ngStyle]="getStock(plate.stock / plate.count * 100)" class="h-100 chart-stock-usage"></div>-->
                        <!--                    <div [ngStyle]="getCount(100 - plate.stock / plate.count * 100)" class="h-100 chart-count-left"></div>-->
                      </div>
                    </div>
                  </div>
                  <div class="flex-end-top">
                    <div class="kpl-flag cxy">
                      <div class="text-center-x pr-5">
                        KPL
                      </div>
                      <div class="text-center-x">
                        <span [innerHTML]="plate.KPL.toString() | highLight: searchPlates"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="df mb-10">
                  <div class="left-label-nest cxy">NEST</div>
                  <div class="w-100">
                    <div class="table-bottom">
                      <div class="df">
                        <div class="w-25 table-header-column cy">{{t.tr('Wastage')}}</div>
                        <div class="w-20 table-header-column df">{{t.tr('Scrap')}}</div>
                        <div class="w-20 table-header-column cy">{{t.tr('Parts')}}</div>
                        <div class="w-35 table-header-column cy">{{t.tr('Weight')}}</div>
                      </div>
                      <div class="text-center-y info-row">
                        <div class="w-25 table-body cy">
                          <span [innerHTML]="round(plate.wastages, 10).toString() | highLight: searchPlates"></span>
                        </div>
                        <div class="w-20 table-body df">
                          <span [innerHTML]="round(plate.scrap, 10).toString() | highLight: searchPlates"></span>
                          <span class="mr-5">%</span>
                        </div>
                        <div class="w-20 table-body cy">
                          <span [innerHTML]="plate.nestedParts.toString() | highLight: searchPlates"></span>
                        </div>
                        <div class="w-35 table-body">
                          <span [innerHTML]="round(plate.nestedPartsWeight, 1).toString() | highLight: searchPlates"></span>
                          <span class="pl-2">kg</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="df mb-10">
                  <div class="left-label-model cxy">MODEL</div>
                  <div class="w-100">
                    <div class="table-bottom">
                      <div class="df">
                        <div class="w-50 table-header-column cy">{{t.tr('Parts Weight')}}</div>
                        <div class="w-50 table-header-column cy">{{t.tr('Parts QTY')}}</div>
                      </div>
                      <div class="text-center-y info-row">
                        <div class="w-50 table-body">
                          <span [innerHTML]="round(plate.realWeight, 1).toString() | highLight: searchPlates"></span>
                          <span class="pl-2">kg</span>
                        </div>
                        <div class="w-50 table-body cy">
                          <span [innerHTML]="plate.realPartsCount.toString() | highLight: searchPlates"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dash-card-tile-side-back" (click)="handleFrontClick($event, plate)" >
              <div class="cxy title-bold mb-30 h-20" >
                <div class="text-center-x">{{'PL' + plate.scantling + ' ' + plate.mat}}</div>
              </div>
              <div class="all-back-tile">
                <div class="row-one-back background-gray">
                  <div class="df lxy">
                    <div class="icon-back-blue cxy ml-10">
                      <img src="assets/icons/parts.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10 mr-7">Parts QTY</div>
                    <span class="text-gray-mini">{{'(' + plate.realPartsCount + ')'}}</span>
                  </div>
                  <div class="cxy">
                    <div class="button-show cursor-pointer" (click)="showPartsQty(plate); $event.stopPropagation();">Show</div>
                  </div>
                </div>
                <div class="row-one-back">
                  <div class="df lxy">
                    <div class="icon-back-orange cxy ml-10">
                      <img src="assets/icons/sections.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10">Blocks</div>
                  </div>
                  <div class="cxy">
                    <div class="button-show cursor-pointer" (click)="showBlocks(plate); $event.stopPropagation();">Show</div>
                  </div>
                </div>
                <div [class.opacity]="plate.wastagesTotal.length == 0" class="row-one-back background-gray">
                  <div class="df lxy">
                    <div class="icon-back-violet cxy ml-10">
                      <img src="assets/icons/rest.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10 mr-7">Wastage</div>
                    <span class="text-gray-mini">{{'(' + plate.wastagesTotal.length + ')'}}</span>
                  </div>
                  <div class="cxy">
                    <div class="button-show cursor-pointer" (click)="showWastage(plate); $event.stopPropagation();">Show</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedHeadTab == 'Profiles'" class="tile">
        <div *ngFor="let profile of profiles; let i = index" class="dash-card cursor-pointer" [class.hidden-card]="profile == null">
          <div *ngIf="profile != null" class="dash-card-tile" [class.flip-card]="profile.side == 'back'">
            <div class="dash-card-tile-side-front" (click)="handleBackClickProfile($event, profile)" [class.block-card]="profile != null && profile.isDisabled">
              <div *ngIf="profile != null">
                <div class="top-row-tile">
                  <div class="pulse">
                    <div *ngIf="profile.profileForecast > profile.stock && abs(getForecastValueProfile(profile) - getStockValueProfile(profile)) >= 3" class="dot red"></div>
                    <div *ngIf="profile.profileForecast > profile.stock && abs(getForecastValueProfile(profile) - getStockValueProfile(profile)) < 3" class="dot orange"></div>
                  </div>
                  <div class="">
                    <div class="cx">
                      <div class="mm-text">length
                        <span [innerHTML]="profile.grossLenght.toString() | highLight: search"></span>
                      </div>
                    </div>
                    <div class="cxy title-bold ml-minus5">
                      <div class="text-center-x" [innerHTML]="(profDecode(profile.section.toString()) + ' ' + profile.scantling.toString()) | highLight: searchPlates"></div>
                    </div>
                    <div class="text-mini-gray">
                      <div class="text-center-x">
                        <span class="mr-5" [innerHTML]="(profile.mat.toString()) | highLight: searchPlates"></span>
                      </div>
                    </div>
                  </div>
                  <div class="mt-minus5">
                    <div class="text-center-x mb-5">
                      <div class="all-numbers">
                        <span class="text-black-mini mr-5">{{profile.stock}}</span>
                        <span>/</span>
                        <span class="text-black-mini mx-5">{{profile.profileForecast}}</span>
                        <span>/</span>
                        <span class="text-black-mini ml-5">{{profile.count}}</span>
                      </div>
                      <div>
                        <span class="text-gray-mini mr-5">stock</span>
                        <span class="text-gray-mini">/</span>
                        <span class="text-gray-mini mx-5">forecast</span>
                        <span class="text-gray-mini">/</span>
                        <span class="text-gray-mini ml-5">usage</span>
                      </div>
                    </div>



                    <div class="cxy">
                      <div class="chart-area df">
                        <div [ngStyle]="getStockProfile(profile)" [class.null-stock]="profile.stock == 0" class="h-100 chart-stock-usage"></div>
                        <div [ngStyle]="getForecastProfile(profile)" [class.null-stock]="profile.profileForecast == 0" class="h-100 chart-forecast-usage"></div>
                        <div [ngStyle]="getCountProfile(profile)" [class.null-stock]="profile.count == 0" class="h-100 chart-count-usage"></div>

                        <!--                    <div [ngStyle]="getStock(plate.stock / plate.count * 100)" class="h-100 chart-stock-usage"></div>-->
                        <!--                    <div [ngStyle]="getCount(100 - plate.stock / plate.count * 100)" class="h-100 chart-count-left"></div>-->
                      </div>
                    </div>
                  </div>
                  <div class="flex-end-top">
                    <div class="kpl-flag cxy">
                      <div class="text-center-x pr-5">
                        KSE
                      </div>
                      <div class="text-center-x">
                        <span [innerHTML]="profile.KSE.toString() | highLight: searchPlates"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="df mb-10">
                  <div class="left-label-nest cxy">NEST</div>
                  <div class="w-100">
                    <div class="table-bottom">
                      <div class="df">
                        <div class="w-50 table-header-column cy">{{t.tr('Profile QTY')}}</div>
                        <div class="w-50 table-header-column cy">{{t.tr('Profiles Forecast')}}</div>
                      </div>
                      <div class="text-center-y info-row">
                        <div class="w-50 table-body cy">
                          <span [innerHTML]="profile.count.toString() | highLight: search"></span>
                        </div>
                        <div class="w-50 table-body cy">
                          <span [innerHTML]="profile.profileForecast.toString() | highLight: search"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="df mb-10">
                  <div class="left-label-model cxy">MODEL</div>
                  <div class="w-100">
                    <div class="table-bottom">
                      <div class="df">
                        <div class="w-33 table-header-column cy">{{t.tr('Parts Weight')}}</div>
                        <div class="w-33 table-header-column cy">{{t.tr('Sum Length')}}</div>
                        <div class="w-33 table-header-column cy">{{t.tr('Parts QTY')}}</div>
                      </div>
                      <div class="text-center-y info-row">
                        <div class="w-50 table-body">
                          <span [innerHTML]="round(profile.partsweight, 1).toString() | highLight: search"></span>
                        </div>
                        <div class="w-50 table-body cy">
                          <span [innerHTML]="round(profile.realLenght, 1).toString() | highLight: search"></span>
                        </div>
                        <div class="w-50 table-body cy">
                          <span [innerHTML]="profile.realPartsCount.toString() | highLight: search"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dash-card-tile-side-back" (click)="handleFrontClickProfile($event, profile)" >
              <div class="cxy title-bold mb-30 h-20" >
                <div class="text-center-x">{{profDecode(profile.section) + ' ' + profile.scantling + ' ' + profile.mat}}</div>
              </div>
              <div class="all-back-tile">
                <div class="row-one-back background-gray">
                  <div class="df lxy">
                    <div class="icon-back-blue cxy ml-10">
                      <img src="assets/icons/parts.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10 mr-7">Parts QTY</div>
                    <span class="text-gray-mini">{{'(' + profile.realPartsCount + ')'}}</span>
                  </div>
                  <div class="cxy">
                    <div class="button-show cursor-pointer" (click)="showPartsQtyProfile(profile); $event.stopPropagation();">Show</div>
                  </div>
                </div>
                <div class="row-one-back opacity">
                  <div class="df lxy">
                    <div class="icon-back-orange cxy ml-10">
                      <img src="assets/icons/sections.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10">Blocks</div>
                  </div>
                  <div class="cxy">
                    <div class="button-show cursor-default ">Show</div>
                  </div>
                </div>
                <div class="row-one-back background-gray opacity">
                  <div class="df lxy">
                    <div class="icon-back-violet cxy ml-10">
                      <img src="assets/icons/rest.svg" height="18">
                    </div>
                    <div class="title-medium-bold ml-10">Rest</div>
                  </div>
                  <div class="cxy">
                    <div class="button-show cursor-default">Show</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedHeadTab == 'Pipes'" class="cards">
        <div class="cxy card-height">
          <div class="loading-text">{{t.tr('Раздел находится в разработке.')}}</div>
          <div class="loading-text-mini">{{t.tr('Приносим свои извинения.')}}</div>
        </div>
      </div>
      <div *ngIf="selectedHeadTab == 'Valves'" class="cards">
        <div class="cxy card-height">
          <div class="loading-text">{{t.tr('Раздел находится в разработке.')}}</div>
          <div class="loading-text-mini">{{t.tr('Приносим свои извинения.')}}</div>
        </div>
      </div>
      <div *ngIf="selectedHeadTab == 'Cables'" class="cards">
        <div class="cxy card-height">
          <div class="loading-text">{{t.tr('Раздел находится в разработке.')}}</div>
          <div class="loading-text-mini">{{t.tr('Приносим свои извинения.')}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedView == 'list'">
      <div *ngIf="selectedHeadTab == 'Plates'" class="list">
        <div [class.hidden-card]="plate == null"  *ngFor="let plate of plates; let i = index">
          <div *ngIf="plate != null" class="dash-card-list" [class.block-card]="plate != null && plate.isDisabled">
            <div class="pulse-list">
              <div *ngIf="plate.plateForecast > plate.stock && abs(getForecastValue(plate) - getStockValue(plate)) >= 3" class="dot red"></div>
              <div *ngIf="plate.plateForecast > plate.stock && abs(getForecastValue(plate) - getStockValue(plate)) < 3" class="dot orange"></div>
            </div>
            <div class="df flex-column min-width-105">
              <div class="mini-extra-gray-text text-center-x">Material</div>
              <div class="cxy title-bold">
                <span class="text-center-x" [innerHTML]="('PL' + plate.scantling.toString()) | highLight: searchPlates"></span>
              </div>
              <div class="cxy">
                <div class="mm-text">mm x m x m</div>
              </div>
            </div>
            <div class="df flex-column min-width-90">
              <div class="mini-extra-gray-text text-center-x">Stell Grade</div>
              <div class="cxy title-bold">
                <span class="text-center-x" [innerHTML]="(plate.mat.toString()) | highLight: searchPlates"></span>
              </div>
            </div>
            <div class="df flex-column min-width-90">
              <div class="mini-extra-gray-text text-center-x">Plate Weight</div>
              <div class="cxy title-bold">
                <span *ngIf="plate.oneSheetWeight != 0">
                  <span class="text-gray-mini">(</span>
                  <span class="text-gray-mini">{{roundDecimal(plate.oneSheetWeight)}}</span>
                  <span class="text-gray-mini">kg</span>
                  <span class="text-gray-mini">)</span>
                </span>
              </div>
            </div>
            <div class="df flex-column">
              <div class="mini-extra-gray-text text-center-x">
                <span class="mr-5">stock</span>
                <span class="">/</span>
                <span class="mx-5">forecast</span>
                <span class="">/</span>
                <span class="ml-5">usage</span>
              </div>
              <div class="cx">
                <span class="text-black-mini mr-5 width-30 text-center-x">{{plate.stock}}</span>
                <span class="text-black-mini text-center-x">/</span>
                <span class="text-black-mini mx-5 width-30 text-center-x">{{plate.plateForecast}}</span>
                <span class="text-black-mini text-center-x">/</span>
                <span class="text-black-mini ml-5 width-30 text-center-x">{{plate.count}}</span>
              </div>
              <div class="cx">
                <div class="chart-area-list df">
                  <div [ngStyle]="getStock(plate)" [class.null-stock]="plate.stock == 0" class="h-100 chart-stock-usage"></div>
                  <div [ngStyle]="getForecast(plate)" [class.null-stock]="plate.plateForecast == 0" class="h-100 chart-forecast-usage"></div>
                  <div [ngStyle]="getCount(plate)" [class.null-stock]="plate.count == 0" class="h-100 chart-count-usage"></div>
                </div>
              </div>
            </div>
            <div class="df w-99">
              <div class="left-label-nest-list h-62 cxy">NEST</div>
              <div class="df flex-column w-100">
                <div class="df">
                  <div class="w-33 table-header-column border-top-list padding-5">{{t.tr('Rest')}}</div>
                  <div class="w-33 table-header-column border-top-list padding-5">{{t.tr('Scrap')}}</div>
                  <div class="w-34 table-header-column border-top-list padding-5">{{t.tr('Nested Parts')}}</div>
                </div>
                <div class="df">
                  <div class="w-33 table-body-list df">
                    <span [innerHTML]="round(plate.wastages, 10).toString() | highLight: searchPlates"></span>
                  </div>
                  <div class="w-33 table-body-list df">
                    <span [innerHTML]="round(plate.scrap, 10).toString() | highLight: searchPlates"></span>
                    <span class="mr-5">%</span>
                  </div>
                  <div class="w-34 table-body-list">
                    <span [innerHTML]="plate.nestedParts.toString() | highLight: searchPlates"></span>
                  </div>
                </div>
              </div>

              <div class="left-label-model-list h-62 cxy">MODEL</div>
              <div class="df flex-column w-100">
                <div class="df">
                  <div class="w-50 table-header-column border-top-list padding-5">{{t.tr('Parts Weight')}}</div>
                  <div class="w-50 table-header-column border-top-list padding-5 border-right-list">{{t.tr('Parts QTY')}}</div>
                </div>
                <div class="df">
                  <div class="w-50 table-body-list df">
                    <span [innerHTML]="round(plate.realWeight, 10).toString() | highLight: searchPlates"></span>
                    <span class="pl-2">kg</span>
                  </div>
                  <div class="w-50 table-body-list border-right-list">
                    <span [innerHTML]="plate.realPartsCount.toString() | highLight: searchPlates"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-end-top">
              <div class="kpl-flag cxy">
                <div class="text-center-x pr-5">
                  KPL
                </div>
                <div class="text-center-x">
                  <span [innerHTML]="plate.KPL.toString() | highLight: searchPlates"></span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="empty-card-list"></div>
      </div>
      <div *ngIf="selectedHeadTab == 'Profiles'" class="tile">
        <div [class.hidden-card]="profile == null" class="dash-card-tile" *ngFor="let profile of profiles; let i = index">
          <div *ngIf="profile != null">
            <div class="top-row-tile">
              <div class="">
                <div class="cx">
                  <div class="mm-text">length
                    <span [innerHTML]="profile.grossLenght.toString() | highLight: search"></span>
                  </div>
                </div>
                <div class="cxy title-bold">
                  <div class="text-center-x" [innerHTML]="(profile.section.toString() + ' ' + profile.scantling.toString()) | highLight: search"></div>

                </div>
                <div class="text-mini-gray">
                  <div class="text-center-x" [innerHTML]="(profile.mat.toString()) | highLight: search"></div>
                </div>
              </div>



              <div class="mt-minus5">
                <div class="text-center-x mb-2px">
                  <span class="text-mini-gray mr-10">scrap</span>
                  <span class="text-mini mr-2px" [innerHTML]="round(profile.scrap).toString() | highLight: search"></span>
                  <span class="text-mini">%</span>
                </div>
                <div class="cxy">
                  <div class="chart-area df">
                    <div [ngStyle]="getWidthRightRadius(100 - profile.scrap)" class="h-100 chart-usage"></div>
                    <div [ngStyle]="getWidthLeftRadius(profile.scrap)" class="h-100 chart-left"></div>
                  </div>
                </div>
              </div>
              <div class="flex-end-top">
                <div class="kpl-flag cxy">
                  <div class="text-center-x pr-5">
                    KSE
                  </div>
                  <div class="text-center-x">
                    <span [innerHTML]="profile.KSE.toString() | highLight: search"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="df mb-10">
              <div class="left-label-nest cxy">NEST</div>
              <div class="w-100">
                <div class="table-bottom">
                  <div class="df">
                    <div class="w-50 table-header-column cy">{{t.tr('Profile QTY')}}</div>
                    <div class="w-50 table-header-column cy">{{t.tr('Profiles Forecast')}}</div>
                  </div>
                  <div class="text-center-y info-row">
                    <div class="w-50 table-body cy">
                      <span [innerHTML]="profile.count.toString() | highLight: search"></span>
                    </div>
                    <div class="w-50 table-body cy">
                      <span [innerHTML]="profile.profileForecast.toString() | highLight: search"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="df mb-10">
              <div class="left-label-model cxy">MODEL</div>
              <div class="w-100">
                <div class="table-bottom">
                  <div class="df">
                    <div class="w-33 table-header-column cy">{{t.tr('Parts Weight')}}</div>
                    <div class="w-33 table-header-column cy">{{t.tr('Sum Length')}}</div>
                    <div class="w-33 table-header-column cy">{{t.tr('Parts QTY')}}</div>
                  </div>
                  <div class="text-center-y info-row">
                    <div class="w-50 table-body">
                      <span [innerHTML]="round(profile.partsweight).toString() | highLight: search"></span>
                    </div>
                    <div class="w-50 table-body cy">
                      <span [innerHTML]="round(profile.realLenght).toString() | highLight: search"></span>
                    </div>
                    <div class="w-50 table-body cy">
                      <span [innerHTML]="profile.realPartsCount.toString() | highLight: search"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





        <!--      <p-table #table [value]="profiles"-->
        <!--               [scrollable]="true"-->
        <!--               scrollHeight="calc(100vh - 230px)"-->
        <!--               [virtualScroll]="false"-->
        <!--               [virtualRowHeight]="40"-->
        <!--               [reorderableColumns]="false"-->
        <!--               [resizableColumns]="false"-->
        <!--               styleClass="p-datatable-striped"-->
        <!--               scrollDirection="both"-->
        <!--               [globalFilterFields]="['KSE','count','mat','scantling']">-->
        <!--        <ng-template pTemplate="header">-->
        <!--          <tr class="df">-->
        <!--            <th pSortableColumn="KSE" class="lxy w-9">{{t.tr('KSE')}}-->
        <!--              <p-sortIcon field="KSE"></p-sortIcon>-->
        <!--            </th>-->
        <!--            <th pSortableColumn="count" class="lxy w-9">{{t.tr('Count')}}-->
        <!--              <p-sortIcon field="count"></p-sortIcon>-->
        <!--            </th>-->
        <!--            <th pSortableColumn="grossLenght" class="lxy w-9">{{t.tr('Gross length')}}-->
        <!--              <p-sortIcon field="grossLenght"></p-sortIcon>-->
        <!--            </th>-->
        <!--            <th pSortableColumn="partsWeight" class="lxy w-9">{{t.tr('Parts weight')}}-->
        <!--              <p-sortIcon field="partsWeight"></p-sortIcon>-->
        <!--            </th>-->
        <!--            <th pSortableColumn="mat" class="cxy w-9">{{t.tr('Material')}}-->
        <!--              <p-sortIcon field="mat"></p-sortIcon>-->
        <!--              <p-columnFilter class="filter" [field]="'mat'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">-->
        <!--                <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
        <!--                  <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filtersProfiles.material" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">-->
        <!--                  </p-multiSelect>-->
        <!--                </ng-template>-->
        <!--              </p-columnFilter>-->
        <!--            </th>-->
        <!--            <th pSortableColumn="profileForecast" class="lxy w-9">{{t.tr('Profile Forecast')}}-->
        <!--              <p-sortIcon field="profileForecast"></p-sortIcon>-->
        <!--            </th>-->
        <!--            <th pSortableColumn="realLenght" class="lxy w-9">{{t.tr('Real length')}}-->
        <!--              <p-sortIcon field="realLenght"></p-sortIcon>-->
        <!--            </th>-->
        <!--            <th pSortableColumn="realPartsCount" class="lxy w-9">{{t.tr('Real parts count')}}-->
        <!--              <p-sortIcon field="realPartsCount"></p-sortIcon>-->
        <!--            </th>-->
        <!--            <th class="lxy w-9 cursor-pointer head-hover">{{t.tr('Scantling')}}-->
        <!--            </th>-->
        <!--            <th pSortableColumn="scrap" class="lxy w-9">{{t.tr('Scrap')}}-->
        <!--              <p-sortIcon field="scrap"></p-sortIcon>-->
        <!--            </th>-->
        <!--            <th pSortableColumn="section" class="lxy w-9">{{t.tr('Section')}}-->
        <!--              <p-sortIcon field="section"></p-sortIcon>-->
        <!--              <p-columnFilter class="filter" [field]="'section'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">-->
        <!--                <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
        <!--                  <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filtersProfiles.section" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">-->
        <!--                  </p-multiSelect>-->
        <!--                </ng-template>-->
        <!--              </p-columnFilter>-->
        <!--            </th>-->
        <!--          </tr>-->
        <!--        </ng-template>-->
        <!--        <ng-template pTemplate="body" let-profile let-i="rowIndex">-->
        <!--          <tr class="cursor-pointer row-table-doc-hover">-->
        <!--            <td class="w-9 text-14">-->
        <!--              <span [innerHTML]="profile.KSE | highLight: search"></span>-->
        <!--            </td>-->
        <!--            <td class="w-9 text-14">{{profile.count}}</td>-->
        <!--            <td class="w-9 text-14">{{profile.grossLenght}}</td>-->
        <!--            <td class="w-9 text-14">{{round(profile.partsweight)}}</td>-->
        <!--            <td class="w-9 text-14">{{profile.mat}}</td>-->
        <!--            <td class="w-9 text-14">{{profile.profileForecast}}</td>-->
        <!--            <td class="w-9 text-14">{{round(profile.realLenght)}}</td>-->
        <!--            <td class="w-9 text-14">{{profile.realPartsCount}}</td>-->
        <!--            <td class="w-9 text-14">{{profile.scantling}}</td>-->
        <!--            <td class="w-9 text-14">{{round(profile.scrap)}}</td>-->
        <!--            <td class="w-9 text-14">{{profile.section}}</td>-->
        <!--          </tr>-->
        <!--        </ng-template>-->
        <!--      </p-table>-->
      </div>
      <div *ngIf="selectedHeadTab == 'Pipes'" class="cards">
        <div class="cxy card-height">
          <div class="loading-text">{{t.tr('Раздел находится в разработке.')}}</div>
          <div class="loading-text-mini">{{t.tr('Приносим свои извинения.')}}</div>
        </div>
      </div>
      <div *ngIf="selectedHeadTab == 'Valves'" class="cards">
        <div class="cxy card-height">
          <div class="loading-text">{{t.tr('Раздел находится в разработке.')}}</div>
          <div class="loading-text-mini">{{t.tr('Приносим свои извинения.')}}</div>
        </div>
      </div>
      <div *ngIf="selectedHeadTab == 'Cables'" class="cards">
        <div class="cxy card-height">
          <div class="loading-text">{{t.tr('Раздел находится в разработке.')}}</div>
          <div class="loading-text-mini">{{t.tr('Приносим свои извинения.')}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
<p-toast position="bottom-center"></p-toast>
