<div class="all-page-billing">
  <div class="min-height-card">
    <div class="empty-card"></div>
    <div class="card-head df sticky-card">
      <div class="mr-10">
        <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" (ngModelChange)="projectChanged()" styleClass="width-170 border">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <div (click)="exportXls()" class="materials-button xls-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="ml-10 df tabs-header">
        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Plates'" [class.selectedTab]="selectedHeadTab ==  'Plates'">{{t.tr('Листы')}}</div>
        <div class="line-between"></div>
        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Profiles'" [class.selectedTab]="selectedHeadTab ==  'Profiles'">{{t.tr('Профили')}}</div>
<!--        <div class="line-between"></div>-->
<!--        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Pipes'" [class.selectedTab]="selectedHeadTab ==  'Pipes'">{{t.tr('Трубы')}}</div>-->
<!--        <div class="line-between"></div>-->
<!--        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Valves'" [class.selectedTab]="selectedHeadTab ==  'Valves'">{{t.tr('Клапаны')}}</div>-->
<!--        <div class="line-between"></div>-->
<!--        <div class="all-tabs cursor-pointer" (click)="selectedHeadTab = 'Cables'" [class.selectedTab]="selectedHeadTab ==  'Cables'">{{t.tr('Кабели')}}</div>-->
      </div>
      <div *ngIf="selectedHeadTab == 'Plates'" class="p-ml-auto df">
        <div class="mr-10 ml-10">
          <p-dropdown class="select" [(ngModel)]="sortPlatesValue" [options]="sortPlatesValues" (ngModelChange)="sortPlatesChanged()" styleClass="width-170 border">
          </p-dropdown>
        </div>
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input [(ngModel)]="searchPlates" (ngModelChange)="searchChanged()" pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border width-170" />
        </span>
      </div>
      <div *ngIf="selectedHeadTab == 'Profiles'" class="p-ml-auto df">
        <div class="mr-10 ml-10">
          <p-dropdown class="select" [(ngModel)]="sortProfilesValue" [options]="sortProfilesValues" (ngModelChange)="sortProfilesChanged()" styleClass="width-170 border">
          </p-dropdown>
        </div>
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input [(ngModel)]="searchProfiles" (ngModelChange)="searchChanged()" pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border width-170" />
        </span>
      </div>
    </div>
    <div class="empty-card-bottom"></div>

    <div *ngIf="selectedHeadTab == 'Plates'" class="tile">
      <div [class.hidden-card]="plate == null" class="dash-card-tile" *ngFor="let plate of plates; let i = index">
        <div *ngIf="plate != null" >
          <div class="top-row-tile">
            <div class="">
              <div class="cx">
                <div class="mm-text">mm x m x m</div>
              </div>

              <div class="cxy title-bold">
                <div class="text-center-x" [innerHTML]="('S' + plate.scantling.toString() + ' ' + plate.mat.toString()) | highLight: searchPlates"></div>
              </div>
            </div>
            <div class="mt-minus5">
              <div class="text-center-x mb-2px">
                <span class="text-mini-gray mr-10">scrap</span>
                <span class="text-mini mr-2px" [innerHTML]="round(plate.scrap).toString() | highLight: searchPlates"></span>
                <span class="text-mini">%</span>
              </div>
              <div class="cxy">
                <div class="chart-area df">
                  <div [ngStyle]="getWidthRightRadius(100 - plate.scrap)" class="h-100 chart-usage"></div>
                  <div [ngStyle]="getWidthLeftRadius(plate.scrap)" class="h-100 chart-left"></div>
                </div>
              </div>
            </div>
            <div class="flex-end-top">
              <div class="kpl-flag cxy">
                <div class="text-center-x pr-5">
                  KPL
                </div>
                <div class="text-center-x">
                  <span  [innerHTML]="plate.KPL.toString() | highLight: searchPlates"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="df mb-10">
            <div class="left-label-nest cxy">NEST</div>
            <div class="w-100">
              <div class="table-bottom">
                <div class="df">
                  <div class="w-33 table-header-column cy">{{t.tr('Sheet QTY')}}</div>
                  <div class="w-33 table-header-column cy">{{t.tr('Sheet Forecast')}}</div>
                  <div class="w-33 table-header-column cy">{{t.tr('Nested Parts')}}</div>
                </div>
                <div class="text-center-y info-row">
                  <div class="w-33 table-body cy">
                    <span [innerHTML]="plate.count.toString() | highLight: searchPlates"></span>
                  </div>
                  <div class="w-33 table-body cy">
                    <span [innerHTML]="plate.plateForecast.toString() | highLight: searchPlates"></span>
                  </div>
                  <div class="w-33 table-body cy">
                    <span [innerHTML]="plate.nestedParts.toString() | highLight: searchPlates"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="df mb-10">
            <div class="left-label-model cxy">MODEL</div>
            <div class="w-100">
              <div class="table-bottom">
                <div class="df">
                  <div class="w-50 table-header-column cy">{{t.tr('Parts Weight')}}</div>
                  <div class="w-50 table-header-column cy">{{t.tr('Parts QTY')}}</div>
                </div>
                <div class="text-center-y info-row">
                  <div class="w-50 table-body">
                    <span [innerHTML]="round(plate.realWeight).toString() | highLight: searchPlates"></span>
                    <span class="pl-2">kg</span>
                  </div>
                  <div class="w-50 table-body cy">
                    <span [innerHTML]="plate.realPartsCount.toString() | highLight: searchPlates"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



<!--      <p-table #table [value]="plates"-->
<!--               [scrollable]="true"-->
<!--               scrollHeight="calc(100vh - 268px)"-->
<!--               [virtualScroll]="false"-->
<!--               [virtualRowHeight]="40"-->
<!--               [reorderableColumns]="false"-->
<!--               [resizableColumns]="false"-->
<!--               styleClass="p-datatable-striped"-->
<!--               scrollDirection="both"-->
<!--               [globalFilterFields]="['id','doc_number','name','status']">-->
<!--        <ng-template pTemplate="header">-->
<!--          <tr class="df">-->
<!--            <th pSortableColumn="KPL" class="lxy w-13">{{t.tr('KPL')}}-->
<!--              <p-sortIcon field="KPL"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="count" class="cxy w-12">{{t.tr('Sheet QTY')}}-->
<!--              <p-sortIcon field="count"></p-sortIcon>-->
<!--              <p-columnFilter class="filter" [field]="'count'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">-->
<!--                <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
<!--                  <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filtersPlates.count" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">-->
<!--                  </p-multiSelect>-->
<!--                </ng-template>-->
<!--              </p-columnFilter>-->
<!--            </th>-->
<!--            <th pSortableColumn="mat" class="cxy w-15">{{t.tr('Material')}}-->
<!--              <p-sortIcon field="mat"></p-sortIcon>-->
<!--              <p-columnFilter class="filter" [field]="'mat'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">-->
<!--                <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
<!--                  <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filtersPlates.material" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">-->
<!--                  </p-multiSelect>-->
<!--                </ng-template>-->
<!--              </p-columnFilter>-->
<!--            </th>-->
<!--            <th pSortableColumn="nestedParts" class="lxy w-12">{{t.tr('Nested Parts')}}-->
<!--              <p-sortIcon field="nestedParts"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="plateForecast" class="lxy w-12">{{t.tr('Sheet Forecast')}}-->
<!--              <p-sortIcon field="plateForecast"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="realPartsCount" class="lxy w-12">{{t.tr('Real Parts Count')}}-->
<!--              <p-sortIcon field="realPartsCount"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="realWeight" class="lxy w-12">{{t.tr('Weight')}}-->
<!--              <p-sortIcon field="realWeight"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="scrap" class="lxy w-12">{{t.tr('Scrap')}}-->
<!--              <p-sortIcon field="scrap"></p-sortIcon>-->
<!--            </th>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-plate let-i="rowIndex">-->
<!--          <tr class="cursor-pointer row-table-doc-hover">-->
<!--            <td class="w-13 text-14">-->
<!--              <span [innerHTML]="plate.KPL.toString() | highLight: search"></span>-->
<!--            </td>-->
<!--            <td class="w-12 text-14">-->
<!--              <span [innerHTML]="plate.count.toString() | highLight: search"></span>-->
<!--            </td>-->
<!--            <td class="w-15 text-14">-->
<!--              <span [innerHTML]="('S' + plate.scantling.toString() + ' ' + plate.mat.toString()) | highLight: search"></span>-->
<!--            </td>-->
<!--            <td class="w-12 text-14">-->
<!--              <span [innerHTML]="plate.nestedParts.toString() | highLight: search"></span>-->
<!--            </td>-->
<!--            <td class="w-12 text-14">-->
<!--              <span [innerHTML]="plate.plateForecast.toString() | highLight: search"></span>-->
<!--            </td>-->
<!--            <td class="w-12 text-14">-->
<!--              <span [innerHTML]="plate.realPartsCount.toString() | highLight: search"></span>-->
<!--            </td>-->
<!--            <td class="w-12 text-14">-->
<!--              <span [innerHTML]="round(plate.realWeight).toString() | highLight: search"></span>-->
<!--            </td>-->
<!--            <td class="w-12 text-14">-->
<!--              <span [innerHTML]="round(plate.scrap).toString() | highLight: search"></span>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--      </p-table>-->
    </div>
    <div *ngIf="selectedHeadTab == 'Profiles'" class="tile">
      <div [class.hidden-card]="profile == null" class="dash-card-tile" *ngFor="let profile of profiles; let i = index">
        <div *ngIf="profile != null">
          <div class="top-row-tile">
            <div class="cy">
              <div class="cxy title-bold">
                <div class="text-center-x" [innerHTML]="(profile.section.toString() + ' ' + profile.scantling.toString() + ' ' + profile.mat.toString()) | highLight: search"></div>
              </div>
              <div class="cx text-mini-gray">
                <span [innerHTML]="profile.grossLenght.toString() | highLight: search"></span>
              </div>
            </div>
            <div class="mt-minus5">
              <div class="text-center-x mb-2px">
                <span class="text-mini-gray mr-10">scrap</span>
                <span class="text-mini mr-2px" [innerHTML]="round(profile.scrap).toString() | highLight: search"></span>
                <span class="text-mini">%</span>
              </div>
              <div class="cxy">
                <div class="chart-area df">
                  <div [ngStyle]="getWidthRightRadius(100 - profile.scrap)" class="h-100 chart-usage"></div>
                  <div [ngStyle]="getWidthLeftRadius(profile.scrap)" class="h-100 chart-left"></div>
                </div>
              </div>
            </div>
            <div class="flex-end-top">
              <div class="kpl-flag cxy">
                <div class="text-center-x pr-5">
                  KSE
                </div>
                <div class="text-center-x">
                  <span [innerHTML]="profile.KSE.toString() | highLight: search"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="df mb-10">
            <div class="left-label-nest cxy">NEST</div>
            <div class="w-100">
              <div class="table-bottom">
                <div class="df">
                  <div class="w-50 table-header-column cy">{{t.tr('Profile QTY')}}</div>
                  <div class="w-50 table-header-column cy">{{t.tr('Profiles Forecast')}}</div>
                </div>
                <div class="text-center-y info-row">
                  <div class="w-50 table-body cy">
                    <span [innerHTML]="profile.count.toString() | highLight: search"></span>
                  </div>
                  <div class="w-50 table-body cy">
                    <span [innerHTML]="profile.profileForecast.toString() | highLight: search"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="df mb-10">
            <div class="left-label-model cxy">MODEL</div>
            <div class="w-100">
              <div class="table-bottom">
                <div class="df">
                  <div class="w-33 table-header-column cy">{{t.tr('Parts Weight')}}</div>
                  <div class="w-33 table-header-column cy">{{t.tr('Sum Length')}}</div>
                  <div class="w-33 table-header-column cy">{{t.tr('Parts QTY')}}</div>
                </div>
                <div class="text-center-y info-row">
                  <div class="w-50 table-body">
                    <span [innerHTML]="round(profile.partsweight).toString() | highLight: search"></span>
                  </div>
                  <div class="w-50 table-body cy">
                    <span [innerHTML]="round(profile.realLenght).toString() | highLight: search"></span>
                  </div>
                  <div class="w-50 table-body cy">
                    <span [innerHTML]="profile.realPartsCount.toString() | highLight: search"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





<!--      <p-table #table [value]="profiles"-->
<!--               [scrollable]="true"-->
<!--               scrollHeight="calc(100vh - 230px)"-->
<!--               [virtualScroll]="false"-->
<!--               [virtualRowHeight]="40"-->
<!--               [reorderableColumns]="false"-->
<!--               [resizableColumns]="false"-->
<!--               styleClass="p-datatable-striped"-->
<!--               scrollDirection="both"-->
<!--               [globalFilterFields]="['KSE','count','mat','scantling']">-->
<!--        <ng-template pTemplate="header">-->
<!--          <tr class="df">-->
<!--            <th pSortableColumn="KSE" class="lxy w-9">{{t.tr('KSE')}}-->
<!--              <p-sortIcon field="KSE"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="count" class="lxy w-9">{{t.tr('Count')}}-->
<!--              <p-sortIcon field="count"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="grossLenght" class="lxy w-9">{{t.tr('Gross length')}}-->
<!--              <p-sortIcon field="grossLenght"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="partsWeight" class="lxy w-9">{{t.tr('Parts weight')}}-->
<!--              <p-sortIcon field="partsWeight"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="mat" class="cxy w-9">{{t.tr('Material')}}-->
<!--              <p-sortIcon field="mat"></p-sortIcon>-->
<!--              <p-columnFilter class="filter" [field]="'mat'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">-->
<!--                <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
<!--                  <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filtersProfiles.material" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">-->
<!--                  </p-multiSelect>-->
<!--                </ng-template>-->
<!--              </p-columnFilter>-->
<!--            </th>-->
<!--            <th pSortableColumn="profileForecast" class="lxy w-9">{{t.tr('Profile Forecast')}}-->
<!--              <p-sortIcon field="profileForecast"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="realLenght" class="lxy w-9">{{t.tr('Real length')}}-->
<!--              <p-sortIcon field="realLenght"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="realPartsCount" class="lxy w-9">{{t.tr('Real parts count')}}-->
<!--              <p-sortIcon field="realPartsCount"></p-sortIcon>-->
<!--            </th>-->
<!--            <th class="lxy w-9 cursor-pointer head-hover">{{t.tr('Scantling')}}-->
<!--            </th>-->
<!--            <th pSortableColumn="scrap" class="lxy w-9">{{t.tr('Scrap')}}-->
<!--              <p-sortIcon field="scrap"></p-sortIcon>-->
<!--            </th>-->
<!--            <th pSortableColumn="section" class="lxy w-9">{{t.tr('Section')}}-->
<!--              <p-sortIcon field="section"></p-sortIcon>-->
<!--              <p-columnFilter class="filter" [field]="'section'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">-->
<!--                <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
<!--                  <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filtersProfiles.section" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">-->
<!--                  </p-multiSelect>-->
<!--                </ng-template>-->
<!--              </p-columnFilter>-->
<!--            </th>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-profile let-i="rowIndex">-->
<!--          <tr class="cursor-pointer row-table-doc-hover">-->
<!--            <td class="w-9 text-14">-->
<!--              <span [innerHTML]="profile.KSE | highLight: search"></span>-->
<!--            </td>-->
<!--            <td class="w-9 text-14">{{profile.count}}</td>-->
<!--            <td class="w-9 text-14">{{profile.grossLenght}}</td>-->
<!--            <td class="w-9 text-14">{{round(profile.partsweight)}}</td>-->
<!--            <td class="w-9 text-14">{{profile.mat}}</td>-->
<!--            <td class="w-9 text-14">{{profile.profileForecast}}</td>-->
<!--            <td class="w-9 text-14">{{round(profile.realLenght)}}</td>-->
<!--            <td class="w-9 text-14">{{profile.realPartsCount}}</td>-->
<!--            <td class="w-9 text-14">{{profile.scantling}}</td>-->
<!--            <td class="w-9 text-14">{{round(profile.scrap)}}</td>-->
<!--            <td class="w-9 text-14">{{profile.section}}</td>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--      </p-table>-->
    </div>
    <div *ngIf="selectedHeadTab == 'Pipes'" class="cards">
      <div class="cxy card-height">
        <div class="loading-text">{{t.tr('Раздел находится в разработке.')}}</div>
        <div class="loading-text-mini">{{t.tr('Приносим свои извинения.')}}</div>
      </div>
    </div>
    <div *ngIf="selectedHeadTab == 'Valves'" class="cards">
      <div class="cxy card-height">
        <div class="loading-text">{{t.tr('Раздел находится в разработке.')}}</div>
        <div class="loading-text-mini">{{t.tr('Приносим свои извинения.')}}</div>
      </div>
    </div>
    <div *ngIf="selectedHeadTab == 'Cables'" class="cards">
      <div class="cxy card-height">
        <div class="loading-text">{{t.tr('Раздел находится в разработке.')}}</div>
        <div class="loading-text-mini">{{t.tr('Приносим свои извинения.')}}</div>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>

