<div class="center-user">
  <div class="header-user-card">
    <div class="header-user-text">{{lang.tr('Проекты')}}</div>
    <div class="task-button-user cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>

  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1">{{lang.tr('ID')}}</div>
      <p-inputNumber inputStyleClass="width-211" inputId="id" [(ngModel)]="project.id"></p-inputNumber>
    </div>
    <div>
      <div class="big-text-user mb-1">{{lang.tr('Проект')}}</div>
      <input class="width-211" type="text" id="name" pInputText [(ngModel)]="project.name">
    </div>
    <div>
      <div class="big-text-user mb-1">{{lang.tr('Foran')}}</div>
      <input class="width-211" type="text" id="foran" pInputText [(ngModel)]="project.foran">
    </div>
  </div>

  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('РКД')}}</div>
      <input class="width-211" type="text" id="RKD" pInputText [(ngModel)]="project.rkd">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('ПДСП')}}</div>
      <input class="width-211" type="text" id="PDSP" pInputText [(ngModel)]="project.pdsp">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Завод')}}</div>
      <input class="width-211" type="text" id="factory" pInputText [(ngModel)]="project.factory">
    </div>

  </div>
  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Менеджеры')}}</div>
      <p-dropdown styleClass="width-211" appendTo="body" id="managers" [options]="users" [(ngModel)]="project.managers"
                  optionLabel="login" optionValue="login"></p-dropdown>
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Статус')}}</div>
      <input class="width-211" type="text" id="status" pInputText [(ngModel)]="project.status">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Пользователи')}}</div>
      <p-multiSelect styleClass="width-211" appendTo="body" id="users" [options]="users" [(ngModel)]="selectedUsers"
                     [filter]="true" filterBy="name,login,surname,department" optionValue="login" optionLabel="login">
        <ng-template let-users pTemplate="item">
          <div class="df">
            <div class="table-body cy" [innerHTML]="setAvatar(users.avatar) | safeHtml"></div>
            <div class="table-body cy">{{users.name}}</div>
            <div class="table-body cy">{{users.surname}}</div>
            <div class="table-body cy">{{users.profession}}</div>
            <div class="table-body cy">{{users.department}}</div>
          </div>
        </ng-template>
      </p-multiSelect>
    </div>
  </div>
</div>

<div class="form-footer-user">
  <div class="mr-5 cx">
    <div tabindex="11" (click)="deleteProject()" pButton [label]="lang.tr('Удалить')" class="button-cancel ml-1"></div>
  </div>
  <div tabindex="10" (click)="saveProject()" pButton [label]="lang.tr('Сохранить')" class="button-ok"></div>
</div>






