<div class="center-user">
  <div class="header-user-card">
    <div class="header-user-text">{{t.tr('Проекты')}}</div>
    <div class="task-button-user cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>

  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1">{{t.tr('Проект')}}</div>
      <input class="width-211" type="text" id="name" pInputText [(ngModel)]="project.name">
    </div>
    <div>
      <div class="big-text-user mb-1">{{t.tr('Foran')}}</div>
      <input class="width-211" type="text" id="foran" pInputText [(ngModel)]="project.foran">
    </div>
    <div>
      <div class="big-text-user mb-1">{{t.tr('РКД')}}</div>
      <input class="width-211" type="text" id="RKD" pInputText [(ngModel)]="project.rkd">
    </div>
  </div>

  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{t.tr('ПДСП')}}</div>
      <input class="width-211" type="text" id="PDSP" pInputText [(ngModel)]="project.pdsp">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{t.tr('Завод')}}</div>
      <input class="width-211" type="text" id="factory" pInputText [(ngModel)]="project.factory">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{t.tr('Менеджеры')}}</div>
      <p-multiSelect appendTo = "body" [options]="users" [(ngModel)]="managers" [filter]="true"  filterBy="login,profession,department,role" optionValue="login" optionLabel="login" [maxSelectedLabels]="2" [selectedItemsLabel]="t.tr('{0} выбрано')"
                     [placeholder]="'Users'" class="p-dropdown-150" [virtualScroll]="true" [itemSize]="35" styleClass="width-211">
        <ng-template let-user pTemplate="item">
          <div class="df user-select">
            <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
            <div class="cx cy pl-10 width-200">{{auth.getUserName(user.login)}}</div>
            <div class="cx cy pl-10 width-200">{{user.profession}}</div>
            <div class="cx cy pl-10 width-150">{{user.department}}</div>
            <div class="cx cy pl-10 width-80">{{user.role}}</div>
          </div>
        </ng-template>
      </p-multiSelect>
    </div>
  </div>
  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{t.tr('Пользователи')}}</div>
      <p-multiSelect appendTo = "body" [options]="users" [(ngModel)]="selectedUsers" [filter]="true"  filterBy="login,profession,department,role" optionValue="login" optionLabel="login" [maxSelectedLabels]="2" [selectedItemsLabel]="t.tr('{0} выбрано')"
                     [placeholder]="'Users'" class="p-dropdown-150" [virtualScroll]="true" [itemSize]="35" styleClass="width-211">
        <ng-template let-user pTemplate="item">
          <div class="df user-select">
            <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
            <div class="cx cy pl-10 width-200">{{auth.getUserName(user.login)}}</div>
            <div class="cx cy pl-10 width-200">{{user.profession}}</div>
            <div class="cx cy pl-10 width-150">{{user.department}}</div>
            <div class="cx cy pl-10 width-80">{{user.role}}</div>
          </div>
        </ng-template>
      </p-multiSelect>
    </div>
  </div>
</div>

<div class="form-footer-user">
  <div class="mr-5 cx">
    <div *ngIf="!loading" tabindex="11" (click)="deleteProject()" pButton [label]="t.tr('Удалить')" class="button-cancel ml-1"></div>
  </div>
  <div *ngIf="!loading" tabindex="10" (click)="saveProject()" class="button-ok cxy">{{t.tr('Сохранить')}}</div>
  <div class="cxy height-spinner" *ngIf="loading">
    <p-progressSpinner [style]="{width: '25px', height: '25px'}" styleClass="custom-spinner" strokeWidth="6" fill="#fff" animationDuration="1s" ></p-progressSpinner>
  </div>
</div>






