.dialog{
  width: 630px;
  height: 500px;
}
.double-row{
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.single-row{
  display: flex;
}
.left-text{
  width: 50px;
}
.right-text{
  width: 80px;
}
.left-text-one-row{
  width: 100px;
}
:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  padding: 0.5rem 0.5rem;
}
