<div class="dialog pt-5">
  <div class="df width-600">
    <div class="cy left-text-one-row mr-20">Код материала:</div>
<!--    <div class="cx df pt-5">-->
<!--      <p-dropdown class="mx-5" *ngFor="let select of codeSelectors" [options]="select.layer" [(ngModel)]="select.code" (ngModelChange)="selectorChanged()"  [filter]="true" filterBy="info" [showClear]="true">-->
<!--        <ng-template pTemplate="selectedItem">-->
<!--          <div class="country-item country-item-value" *ngIf="select.code">-->
<!--            <div>{{select.code.data}}</div>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--        <ng-template let-code pTemplate="item">-->
<!--          <div class="country-item">-->
<!--            <div>{{code.data + ' ' + code.label}}</div>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--      </p-dropdown>-->
<!--    </div>-->
    <div class="cx pt-5">
      <input [(ngModel)]="material.code" type="text" pInputText class="width-440 border-material">
    </div>
  </div>


  <div class="double-row mt-1">
<!--    <div class="df">-->
<!--      <div class="cy left-text">Проект:</div>-->
<!--      <div class="ml-1">-->
<!--        <p-dropdown placeholder="ПРОЕКТ" [(ngModel)]="project" [options]="projects" styleClass="width-200 border-material">-->
<!--        </p-dropdown>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="df">-->
<!--      <div class="cy left-text">КВЗ:</div>-->
<!--      <div class="ml-1">-->
<!--        <p-dropdown placeholder="" class="select" [(ngModel)]="material.category" [options]="categories" styleClass="width-200 border-material">-->
<!--        </p-dropdown>-->
<!--      </div>-->
<!--    </div>-->
    <div class="df">
      <div class="cy left-text">КЕИ:</div>
      <div class="ml-1">
        <p-dropdown styleClass="width-190 border-material" (onChange)="unitsChanged()" [(ngModel)]="material.units" [options]="units" optionLabel="label" optionValue="value" placeholder="">
        </p-dropdown>
      </div>
    </div>
    <div class="df">
      <div class="cy right-text">Коэф. доп.:</div>
      <div class="ml-1">
        <p-inputNumber [(ngModel)]="material.coefficient" mode="decimal" [minFractionDigits]="2" inputStyleClass="width-190" locale="en-US"></p-inputNumber>
      </div>
    </div>
  </div>


  <div class="double-row mt-1">
    <div class="df">
      <div class="cy right-text">{{getUnitsText()}}</div>
      <div class="ml-1">
        <p-inputNumber [disabled]="material.units == '166'" [(ngModel)]="material.singleWeight" mode="decimal" [minFractionDigits]="2" inputStyleClass="width-190" locale="en-US"></p-inputNumber>
      </div>
    </div>
    <div class="df">
      <div class="cy right-text">Density</div>
      <div class="ml-1">
        <p-inputNumber [disabled]="material.units == '166'" [(ngModel)]="material.singleWeight" mode="decimal" [minFractionDigits]="2" inputStyleClass="width-190" locale="en-US"></p-inputNumber>
      </div>
    </div>
  </div>

  <div class="quad-row mt-1">
    <div class="df">
      <div class="cy left-text">ИТТ:</div>
      <div class="ml-1">
        <p-checkbox name="itt" [binary]="true" [(ngModel)]="itt"></p-checkbox>
      </div>
    </div>
    <div class="df">
      <div class="cy left-text">TP620:</div>
      <div class="ml-1">
        <p-checkbox name="itt" [binary]="true" [(ngModel)]="tp620"></p-checkbox>
      </div>
    </div>
    <div class="df">
      <div class="cy left-text">CertRS:</div>
      <div class="ml-1">
        <p-checkbox name="itt" [binary]="true" [(ngModel)]="certRS"></p-checkbox>
      </div>
    </div>
    <div class="df">
      <div class="cy right-text">Согласовано:</div>
      <div class="ml-1">
        <p-checkbox name="approved" [binary]="true" [(ngModel)]="approved"></p-checkbox>
      </div>
    </div>
  </div>


  <div class="df w-100 mt-1">
    <div class="cy left-text-one-row mr-20">Поставщик:</div>
    <div class="cx pt-5">
      <input [(ngModel)]="material.provider" type="text" pInputText class="width-440 border-material">
    </div>
  </div>
  <div class="df w-100 mt-1">
    <div class="cy left-text-one-row mr-20">Производитель:</div>
    <div class="cx pt-5">
      <input [(ngModel)]="material.manufacturer" type="text" pInputText class="width-440 border-material">
    </div>
  </div>

  <div class="df w-100 mt-1 mb-1">
    <div class="cy left-text-one-row mr-20">Примечание:</div>
    <div class="cx pt-5">
      <input [(ngModel)]="material.note" type="text" pInputText class="width-440 border-material">
    </div>
  </div>





  <p-tabView>
    <p-tabPanel header="Primary" [selected]="true">
      <div class="df w-100 mt-1 mb-1">
        <div class="cy left-text-one-row mr-20">Наименование:</div>
        <div class="cx pt-5">
          <input [(ngModel)]="material.name" type="text" pInputText class="width-440 border-material">
        </div>
      </div>
      <div class="df w-100 mt-1 mb-1">
        <div class="cy left-text-one-row mr-20">Обозначение:</div>
        <div class="cx pt-5">
          <input [(ngModel)]="material.description" type="text" pInputText class="width-440 border-material">
        </div>
      </div>
    </p-tabPanel>


    <p-tabPanel header="Secondary" [disabled]="true">
      <div class="df w-100 mt-1 mb-1">
        <div class="cy left-text-one-row mr-20">Наименование:</div>
        <div class="cx pt-5">
          <input [(ngModel)]="materialTranslationRu.name" type="text" pInputText class="width-440 border-material">
        </div>
      </div>
      <div class="df w-100 mt-1 mb-1">
        <div class="cy left-text-one-row mr-20">Обозначение:</div>
        <div class="cx pt-5">
          <input [(ngModel)]="materialTranslationRu.description" type="text" pInputText class="width-440 border-material">
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
  <div class="form-footer cxy">
    <div class="mr-1 cx">
      <div tabindex="10" pButton [label]="getLabel(action)" class="button-ok" (click)="createMaterial()"></div>
    </div>
    <div tabindex="11" pButton [label]="t.tr('Отмена')" (click)="ref.close()" class="button-cancel ml-1"></div>
  </div>
</div>
