<div class="all-page">
  <div class="df">
    <div class="tray_manager">
      <div class="card">
        <div class="tools-card cursor-pointer">
            <div class="body-card">
              <div class="head-text-card">Tray Manager</div>
              <div class="df">
                <div>
                  <div class="big-text-card mb-1">{{l.tr('Проект')}}</div>
                  <p-dropdown class="select" styleClass="width-156 font-14">
                  </p-dropdown>
                </div>
                <div class="p-ml-auto">
                  <div class="big-text-card mb-1">{{l.tr('Комплект')}}</div>
                  <p-dropdown class="select" optionLabel="drawingId" optionValue="drawingId"
                              styleClass="width-176 font-14">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="body-button-card my-15 cx">
              <div tabindex="10" pButton [label]="l.tr ('Открыть')" class="button-ok"></div>
              <div class="pl-10">
                <div tabindex="10" pButton [label]="l.tr ('Fix Bundle')" class="button-ok"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>


