.card-overflow{
  background: rgba(255, 255, 255, 0.9);
  padding: 0 20px 20px 20px;
  border-radius: 8px;
  height: calc(100vh - 116px);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
/deep/.p-datatable .p-datatable-header {
  padding: 0.75rem 0 0.75rem 0;
}
/deep/.p-inputtext {
  font-size: 14px!important;
}
.text-header{
  text-align: left;
  padding: 12px;
  border: 1px solid #f3f2f1;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #323130;
  background: #ffffff;
  transition: box-shadow 0.2s;
}
.text-table{
  text-align: left;
  border: 1px solid #f3f2f1;
  border-width: 0 0 1px 0;
  padding: 12px;
}
.border-table{
  border: 1px solid #0000001a;
}
