<div *ngIf="!isDesktop()" class="h-100">
  <div class="all-page-elec min-height-100">
    <div class="empty-card"></div>
    <div class="sticky-card">
      <div class="card-tabs">
        <div class="df cards-wrap">
          <div class="mr-10 mt-10">
            <p-dropdown class="select" [(ngModel)]="trayBundlesProject" [options]="trayBundlesProjects" (ngModelChange)="trayBundleProjectChanged()" styleClass="width-140 border">
            </p-dropdown>
          </div>
          <div class="mr-10 mt-10">
            <p-dropdown class="select" [(ngModel)]="selectedTrayBundle" [options]="trayBundles" optionLabel="drawingId" optionValue="drawingId" styleClass="width-170 border">
            </p-dropdown>
          </div>
          <div class="df text-y mt-10">
            <div (click)="getCables()" class="df cursor-pointer mr-10">
              <div class="load-button-tablet cxy">
                <img src="assets/icons/usb.svg" height="20">
              </div>
              <div class="cxy load-button-two-tablet">Cables</div>
            </div>
            <div (click)="getCables(1)" class="df cursor-pointer mr-10">
              <div class="load-button-tablet cxy">
                <img src="assets/icons/magistral.svg" height="21">
              </div>
              <div class="cxy load-button-two-tablet">Magistrals</div>
            </div>
            <!--          <p-inputSwitch [(ngModel)]="productionView" (onChange)="changeView()"></p-inputSwitch>-->
          </div>
          <div class="p-ml-auto df">
            <div class="mt-10 mr-10">
              <p-dropdown class="select" [(ngModel)]="sortValue" [options]="sortValues" (ngModelChange)="sortChanged()" styleClass="width-140 border">
              </p-dropdown>
            </div>
            <span class="p-input-icon-left p-ml-auto mt-10">
            <i class="pi pi-search"></i>
            <input [(ngModel)]="search" (ngModelChange)="searchChanged()" pInputText type="text" [placeholder]="t.tr('Поиск...')" class="width-150 border" />
          </span>
          </div>

        </div>
      </div>
    </div>
    <div class="empty-card-bottom"></div>
    <div *ngIf="loading">
      <div class="cxy loading">
        <div class="cxy card-height">
          <img src="assets/whale.gif" height="120">
          <div class="cx loading-text">PLEASE WAIT...</div>
        </div>
      </div>
    </div>
    <div *ngIf="!loading && cables.length == 0">
      <div class="cxy card-height">
        <div class="cx loading-text">There is no data there. You need to specify bundle or select another one.</div>
      </div>
    </div>
    <div class="all-wrap">
      <div  *ngFor="let cable of cables; let i = index">
        <div class="hidden-card" *ngIf="cable == null"></div>
        <div class="df" *ngIf="cable != null">
          <div [class.closed-path-dash]="!openedPath.includes('cab-' + i)" class="dash-card">
            <div class="top-row">
              <div class="left-top-row">
                <!--              <div class="flag yellow-flag"></div>-->
                <div class="cx mt-10">
                  <div class="title-bold">
                    <span [innerHTML]="cable.CODE | highLight: search"></span>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="title-medium-bold">
                  <span [innerHTML]="cable.ws.name | highLight: search"></span>
                </div>
                <div class="trm-code-cont pt-10">
                  <div class="df">
                    <div class="trm">
                      <span [innerHTML]="cable.STOCKCODE | highLight: search"></span>
                    </div>
                    <div (click)="copyTrmCode(cable.STOCKCODE, 't' + i)" class="trm-copy cursor-pointer cxy">
                      <img src="assets/icons/trm.svg" height="16">
                      <div class="copy-tooltip" [hidden]="!showTooltip('t' + i)">Copied!</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="all-bottom-row mt-20">
              <div class="left-from">FROM</div>
              <div class="bottom-row">
                <div class="df hover-row mb-10 pl-8" (mouseenter)="hoverPoint('N-' + i)" (mouseleave)="hoverPoint('N-' + i)">
                  <div class="df flex-end">
                    <div class="count-from-to mr-10">
                      <span [innerHTML]="cable.FROM_N | highLight: search"></span>
                    </div>
                  </div>
                  <div class="df">
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('N-' + i, '#E91E63')" class="point gray-point"></div>
                    </div>
                    <div class="all-line mt-minus6">
                      <div class="cx">
                        <div class="text-from-to">Node</div>
                      </div>
                      <div>
                        <div class="line-point-horizontal"></div>
                      </div>
                    </div>
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('N-' + i, '#E91E63')" class="point gray-point"></div>
                    </div>
                  </div>
                  <div class="df">
                    <div class="count-from-to ml-10">
                      <span [innerHTML]="cable.TO_N | highLight: search"></span>
                    </div>
                  </div>
                </div>
                <div class="df hover-row mb-10 pl-8" (mouseenter)="hoverPoint('Nroom-' + i)" (mouseleave)="hoverPoint('Nroom-' + i)">
                  <div class="df flex-end">
                    <div class="count-from-to mr-10">
                      <span [innerHTML]="cable.FROM_N_ROOM | highLight: search"></span>
                    </div>
                  </div>
                  <div class="df">
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('Nroom-' + i, '#00BCD4')" class="point gray-point"></div>
                    </div>
                    <div class="all-line mt-minus6">
                      <div class="cx">
                        <div class="text-from-to">Node rooms</div>
                      </div>
                      <div>
                        <div class="line-point-horizontal"></div>
                      </div>
                    </div>
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('Nroom-' + i, '#00BCD4')" class="point gray-point"></div>
                    </div>
                  </div>
                  <div class="df">
                    <div class="count-from-to ml-10">
                      <span [innerHTML]="cable.TO_N_ROOM | highLight: search"></span>
                    </div>
                  </div>
                </div>
                <div class="df hover-row mb-10 pl-8" (mouseenter)="hoverPoint('Eroom-' + i)" (mouseleave)="hoverPoint('Eroom-' + i)">
                  <div class="df flex-end">
                    <div class="count-from-to mr-10">
                      <span [innerHTML]="cable.FROM_E_ROOM | highLight: search"></span>
                    </div>
                  </div>
                  <div class="df">
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('Eroom-' + i, '#FFB300')" class="point gray-point"></div>
                    </div>
                    <div class="all-line mt-minus6">
                      <div class="cx">
                        <div class="text-from-to">EQP rooms</div>
                      </div>
                      <div>
                        <div class="line-point-horizontal"></div>
                      </div>
                    </div>
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('Eroom-' + i, '#FFB300')" class="point gray-point"></div>
                    </div>
                  </div>
                  <div class="df">
                    <div class="count-from-to ml-10">
                      <span [innerHTML]="cable.TO_E_ROOM | highLight: search"></span>
                    </div>
                  </div>
                </div>
                <div class="df hover-row mb-10 pl-8" (mouseenter)="hoverPoint('EuserID-' + i)" (mouseleave)="hoverPoint('EuserID-' + i)">
                  <div class="df flex-end">
                    <div class="count-from-to mr-10">
                      <span [innerHTML]="cable.FROM_E_USERID | highLight: search"></span>
                    </div>
                  </div>
                  <div class="df">
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('EuserID-' + i, '#52A756')" class="point gray-point"></div>
                    </div>
                    <div class="all-line mt-minus6">
                      <div class="cx">
                        <div class="text-from-to">EQP index</div>
                      </div>
                      <div>
                        <div class="line-point-horizontal"></div>
                      </div>
                    </div>
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('EuserID-' + i, '#52A756')" class="point gray-point"></div>
                    </div>
                  </div>
                  <div class="df">
                    <div class="count-from-to ml-10">
                      <span [innerHTML]="cable.TO_E_USERID | highLight: search"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-to">TO</div>



            </div>
            <div>
              <div class="top-line-card mb-10"></div>
              <div class="text-medium">
                <span [innerHTML]="cable.SCHEME | highLight: search"></span>
              </div>
            </div>

          </div>
          <div class="position-relative mr-20" [class.closed-path-margin]="openedPath.includes('cab-' + i)">
            <div [class.closed-path]="!openedPath.includes('cab-' + i)" class="cable-path-container">
              <div class="pl-20" *ngIf="openedPath.includes('cab-' + i)">
                <div class="head-cable-path py-10">Cable path</div>
                <div class="df cards-wrap">
                  <div class="df" *ngFor="let path of getPath(cable.CABLEPATH)">
                    <div class="cxy">
                      <div class="line-path"></div>
                      <div class="point-path"></div>
                      <div class="line-path"></div>
                    </div>
                    <div class="cable-path">{{path}}</div>
                  </div>
                </div>


              </div>

            </div>
            <div (click)="openPath('cab-' + i)" [class.closed-path-button]="!openedPath.includes('cab-' + i)" class="cable-path-button cxy">
              <img src="assets/icons/path-w.svg" height="24">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<div *ngIf="isDesktop()" class="h-100">
  <div class="all-page-elec min-height-100">
    <div class="empty-card"></div>
    <div class="sticky-card">
      <div class="card-tabs">
        <div class="df cards-wrap">
          <div class="mr-1 mt-10">
            <p-dropdown class="select" [(ngModel)]="trayBundlesProject" [options]="trayBundlesProjects" (ngModelChange)="trayBundleProjectChanged()" styleClass="width-150 border">
            </p-dropdown>
          </div>
          <div class="mr-1 mt-10">
            <p-dropdown class="select" [(ngModel)]="selectedTrayBundle" [options]="trayBundles" optionLabel="drawingId" optionValue="drawingId" styleClass="width-180 border">
            </p-dropdown>
          </div>
          <div class="df text-y mt-10">
            <div (click)="getCables()" class="df cursor-pointer mr-1">
              <div class="load-button cxy">
                <img src="assets/icons/usb.svg" height="22">
              </div>
              <div class="cxy load-button-two">Load cables</div>
            </div>
            <div (click)="getCables(1)" class="df cursor-pointer mr-1">
              <div class="load-button cxy">
                <img src="assets/icons/magistral.svg" height="24">
              </div>
              <div class="cxy load-button-two">Load magistrals</div>
            </div>
            <!--          <p-inputSwitch [(ngModel)]="productionView" (onChange)="changeView()"></p-inputSwitch>-->
          </div>
          <div class="p-ml-auto df">
            <div class="mt-10 mr-1">
              <p-dropdown class="select" [(ngModel)]="sortValue" [options]="sortValues" (ngModelChange)="sortChanged()" styleClass="width-150 border">
              </p-dropdown>
            </div>
            <span class="p-input-icon-left p-ml-auto mt-10">
            <i class="pi pi-search"></i>
            <input [(ngModel)]="search" (ngModelChange)="searchChanged()" pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border" />
          </span>
          </div>

        </div>
      </div>
    </div>
    <div class="empty-card-bottom"></div>
    <div *ngIf="loading">
      <div class="cxy loading">
        <div class="cxy card-height">
          <img src="assets/whale.gif" height="120">
          <div class="cx loading-text">PLEASE WAIT...</div>
        </div>
      </div>
    </div>
    <div *ngIf="!loading && cables.length == 0">
      <div class="cxy card-height">
        <div class="cx loading-text">There is no data there. You need to specify bundle or select another one.</div>
      </div>
    </div>
    <div class="all-wrap">
      <div  *ngFor="let cable of cables; let i = index">
        <div class="hidden-card" *ngIf="cable == null"></div>
        <div class="df" *ngIf="cable != null">
          <div [class.closed-path-dash]="!openedPath.includes('cab-' + i)" class="dash-card">
            <div class="top-row">
              <div class="left-top-row">
                <!--              <div class="flag yellow-flag"></div>-->
                <div class="cx mt-10">
                  <div class="title-bold">
                    <span [innerHTML]="cable.CODE | highLight: search"></span>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="title-medium-bold">
                  <span [innerHTML]="cable.ws.name | highLight: search"></span>
                </div>
                <div class="trm-code-cont pt-10">
                  <div class="df">
                    <div class="trm">
                      <span [innerHTML]="cable.STOCKCODE | highLight: search"></span>
                    </div>
                    <div (click)="copyTrmCode(cable.STOCKCODE, 't' + i)" class="trm-copy cursor-pointer cxy">
                      <img src="assets/icons/trm.svg" height="16">
                      <div class="copy-tooltip" [hidden]="!showTooltip('t' + i)">Copied!</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="all-bottom-row mt-20">
              <div class="left-from">FROM</div>
              <div class="bottom-row">
                <div class="df hover-row mb-10 pl-8" (mouseenter)="hoverPoint('N-' + i)" (mouseleave)="hoverPoint('N-' + i)">
                  <div class="df flex-end">
                    <div class="count-from-to mr-10">
                      <span [innerHTML]="cable.FROM_N | highLight: search"></span>
                    </div>
                  </div>
                  <div class="df">
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('N-' + i, '#E91E63')" class="point gray-point"></div>
                    </div>
                    <div class="all-line mt-minus6">
                      <div class="cx">
                        <div class="text-from-to">Node</div>
                      </div>
                      <div>
                        <div class="line-point-horizontal"></div>
                      </div>
                    </div>
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('N-' + i, '#E91E63')" class="point gray-point"></div>
                    </div>
                  </div>
                  <div class="df">
                    <div class="count-from-to ml-10">
                      <span [innerHTML]="cable.TO_N | highLight: search"></span>
                    </div>
                  </div>
                </div>
                <div class="df hover-row mb-10 pl-8" (mouseenter)="hoverPoint('Nroom-' + i)" (mouseleave)="hoverPoint('Nroom-' + i)">
                  <div class="df flex-end">
                    <div class="count-from-to mr-10">
                      <span [innerHTML]="cable.FROM_N_ROOM | highLight: search"></span>
                    </div>
                  </div>
                  <div class="df">
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('Nroom-' + i, '#00BCD4')" class="point gray-point"></div>
                    </div>
                    <div class="all-line mt-minus6">
                      <div class="cx">
                        <div class="text-from-to">Node rooms</div>
                      </div>
                      <div>
                        <div class="line-point-horizontal"></div>
                      </div>
                    </div>
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('Nroom-' + i, '#00BCD4')" class="point gray-point"></div>
                    </div>
                  </div>
                  <div class="df">
                    <div class="count-from-to ml-10">
                      <span [innerHTML]="cable.TO_N_ROOM | highLight: search"></span>
                    </div>
                  </div>
                </div>
                <div class="df hover-row mb-10 pl-8" (mouseenter)="hoverPoint('Eroom-' + i)" (mouseleave)="hoverPoint('Eroom-' + i)">
                  <div class="df flex-end">
                    <div class="count-from-to mr-10">
                      <span [innerHTML]="cable.FROM_E_ROOM | highLight: search"></span>
                    </div>
                  </div>
                  <div class="df">
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('Eroom-' + i, '#FFB300')" class="point gray-point"></div>
                    </div>
                    <div class="all-line mt-minus6">
                      <div class="cx">
                        <div class="text-from-to">EQP rooms</div>
                      </div>
                      <div>
                        <div class="line-point-horizontal"></div>
                      </div>
                    </div>
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('Eroom-' + i, '#FFB300')" class="point gray-point"></div>
                    </div>
                  </div>
                  <div class="df">
                    <div class="count-from-to ml-10">
                      <span [innerHTML]="cable.TO_E_ROOM | highLight: search"></span>
                    </div>
                  </div>
                </div>
                <div class="df hover-row mb-10 pl-8" (mouseenter)="hoverPoint('EuserID-' + i)" (mouseleave)="hoverPoint('EuserID-' + i)">
                  <div class="df flex-end">
                    <div class="count-from-to mr-10">
                      <span [innerHTML]="cable.FROM_E_USERID | highLight: search"></span>
                    </div>
                  </div>
                  <div class="df">
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('EuserID-' + i, '#52A756')" class="point gray-point"></div>
                    </div>
                    <div class="all-line mt-minus6">
                      <div class="cx">
                        <div class="text-from-to">EQP index</div>
                      </div>
                      <div>
                        <div class="line-point-horizontal"></div>
                      </div>
                    </div>
                    <div class="text-center-y">
                      <div [ngStyle]="getPointStyle('EuserID-' + i, '#52A756')" class="point gray-point"></div>
                    </div>
                  </div>
                  <div class="df">
                    <div class="count-from-to ml-10">
                      <span [innerHTML]="cable.TO_E_USERID | highLight: search"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-to">TO</div>



            </div>
            <div>
              <div class="top-line-card mb-10"></div>
              <div class="text-medium">
                <span [innerHTML]="cable.SCHEME | highLight: search"></span>
              </div>
            </div>

          </div>
          <div class="position-relative mr-20" [class.closed-path-margin]="openedPath.includes('cab-' + i)">
            <div [class.closed-path]="!openedPath.includes('cab-' + i)" class="cable-path-container">
              <div class="pl-20" *ngIf="openedPath.includes('cab-' + i)">
                <div class="head-cable-path py-10">Cable path</div>
                <div class="df cards-wrap">
                  <div class="df" *ngFor="let path of getPath(cable.CABLEPATH)">
                    <div class="cxy">
                      <div class="line-path"></div>
                      <div class="point-path"></div>
                      <div class="line-path"></div>
                    </div>
                    <div class="cable-path">{{path}}</div>
                  </div>
                </div>


              </div>

            </div>
            <div (click)="openPath('cab-' + i)" [class.closed-path-button]="!openedPath.includes('cab-' + i)" class="cable-path-button cxy">
              <img src="assets/icons/path-w.svg" height="24">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


