<div class="all-page-doc">
  <div class="min-height-card">
    <div class="empty-card"></div>
    <div class="card-head df sticky-card" *ngIf="projects.length > 0">
      <div class="mr-10">
        <p-multiSelect styleClass="width-200" [options]="projects" [(ngModel)]="selectedProjects" (ngModelChange)="projectChanged()" optionLabel="name" optionValue="name"></p-multiSelect>
      </div>
      <div class="mr-10">
        <p-multiSelect styleClass="width-200" [options]="departments" [(ngModel)]="selectedDepartments" (ngModelChange)="departmentChanged()" optionLabel="name" optionValue="name"></p-multiSelect>
      </div>
      <div class="mr-10">
        <p-multiSelect styleClass="width-200" [options]="taskTypes" [(ngModel)]="selectedTaskTypes" (ngModelChange)="taskTypeChanged()" optionLabel="label" optionValue="value"></p-multiSelect>
      </div>
      <div class="mr-10">
        <p-multiSelect styleClass="width-200" [options]="taskStages" [(ngModel)]="selectedTaskStages" (ngModelChange)="taskStagesChanged()" optionLabel="label" optionValue="value"></p-multiSelect>
      </div>
<!--      <div class="mr-10">-->
<!--        <p-dropdown placeholder="Type" [(ngModel)]="taskType" [options]="taskTypes" (ngModelChange)="taskTypeChanged()" styleClass="width-170 border">-->
<!--        </p-dropdown>-->
<!--      </div>-->
      <div class="mr-10 cy">
        <label class="container margin-bottom-none">
          <span class="text-checkbox">Show only with files</span>
          <input (change)="projectChanged()" type="checkbox" [(ngModel)]="showWithFilesOnly">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="mr-10">
        <div *ngIf="auth.getUser().permissions.includes('visible_doc_comment')" class="materials-button green-button cxy" [pTooltip]="l.tr('Экспорт XLS')" tooltipPosition="top" (click)="exportXLS()">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div>
        <span>Number of tasks {{issues.length}}</span>
        <span>(Всего: {{issuesSrc.length}})</span>
      </div>
      <div class="p-ml-auto mr-10 df">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input (input)="table.filterGlobal(search.value, 'contains')" #search pInputText type="text" [placeholder]="l.tr('Поиск...')" class="border width-170" />
        </span>
      </div>
    </div>
    <div class="empty-card-bottom"></div>
    <div class="card-overflow">
      <div *ngIf="loading">
        <div class="cxy loading">
          <div class="cxy flex-column">
            <img src="assets/whale.gif" height="120">
            <div class="cx loading-text">PLEASE WAIT...</div>
          </div>
        </div>
      </div>
      <p-table *ngIf="issues.length != 0" #table [value]="issues"
               [scrollable]="true"
               scrollHeight="calc(100vh - 220px)"
               [virtualScroll]="true"
               [virtualRowHeight]="40"
               [reorderableColumns]="false"
               [resizableColumns]="false"
               styleClass="p-datatable-striped"
               responsiveLayout="scroll"
               [globalFilterFields]="['id','doc_number','name','status']">
        <ng-template pTemplate="header">
          <tr class="">
            <th pSortableColumn="doc_number" class="lxy w-100">{{l.tr('Номер чертежа')}}
              <p-sortIcon field="doc_number"></p-sortIcon>
            </th>
            <th pSortableColumn="name" class="lxy w-100">{{l.tr('Название')}}
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="doc_number" class="lxy w-100">{{l.tr('Тип')}}
              <p-sortIcon field="doc_number"></p-sortIcon>
            </th>
            <th pSortableColumn="project" class="lxy w-100">{{l.tr('Проект')}}
              <p-sortIcon field="project"></p-sortIcon>
            </th>
            <th pSortableColumn="department" class="cxy w-100">{{l.tr('Отдел')}}
              <p-sortIcon field="department"></p-sortIcon>
<!--              <p-columnFilter class="filter" [field]="'department'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">-->
<!--                <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
<!--                  <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.department" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">-->
<!--                  </p-multiSelect>-->
<!--                </ng-template>-->
<!--              </p-columnFilter>-->
            </th>
            <th *ngIf="auth.getUser().permissions.includes('visible_doc_status')" pSortableColumn="status" class="cxy w-100">{{l.tr('Статус')}}
              <p-sortIcon field="status"></p-sortIcon>
<!--              <p-columnFilter class="filter" [field]="'status'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">-->
<!--                <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
<!--                  <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.status" optionValue="value" optionLabel="label" [placeholder]="l.tr('Все')" (onChange)="filter($event.value);">-->
<!--                  </p-multiSelect>-->
<!--                </ng-template>-->
<!--              </p-columnFilter>-->
            </th>
            <th pSortableColumn="revision" class="lxy w-100">{{l.tr('Ревизия')}}
              <p-sortIcon field="revision"></p-sortIcon>
            </th>
            <th pSortableColumn="stage" class="lxy w-100">{{l.tr('Этап')}}
              <p-sortIcon field="stage"></p-sortIcon>
            </th>
            <th pSortableColumn="contract_due_date" class="lxy w-100">{{l.tr('Срок исполнения')}}
              <p-sortIcon field="contract_due_date"></p-sortIcon>
            </th>
            <th pSortableColumn="last_update" class="lxy w-100">{{l.tr('Обновлено')}}
              <p-sortIcon field="last_update"></p-sortIcon>
            </th>
            <th *ngIf="auth.getUser().permissions.includes('visible_doc_comment')" class="w-5">{{l.tr('Комментарий')}}</th>
            <th class="w-5">{{l.tr('Ссылка')}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-issue>
          <tr class="cursor-pointer row-table-doc-hover" (click)="viewTask(issue.id, issue.project, issue.doc_number, issue.department, issue.assistant)">
            <td class="text-14 w-100">{{issue.doc_number}}</td>
            <td class="text-14 w-100 break-word">{{issue.name}}</td>
            <td class="text-14 w-100">{{issue.issue_type}}</td>
            <td class="text-14 w-100">{{issue.project}}</td>
            <td class="text-14 w-100">{{issue.department}}</td>
            <td *ngIf="auth.getUser().permissions.includes('visible_doc_status')" class="text-14">
              <span [innerHTML]="issueManager.localeStatus(issue.status) | safeHtml"></span>
            </td>
            <td class="text-14 w-100">{{issue.revision}}</td>
            <td class="text-14 w-100">{{issue.period}}</td>
            <td class="text-14 w-100">{{getDate(issue.contract_due_date)}}</td>
            <td class="text-14 w-100">{{getDate(issue.last_update)}}</td>
            <td *ngIf="auth.getUser().permissions.includes('visible_doc_comment')" class="text-14 w-100">{{issue.issue_comment}}</td>
            <td class="text-14 w-5">
              <div (click)="copyUrl(issue.id, issue.project, issue.doc_number, issue.department); $event.stopPropagation()" class="">
                <img pTooltip="Copy link" tooltipPosition="top" src="assets/icons/link3.png">
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
