<div class="all-parts-container" >
  <div class="header-parts">
    <div class="header-parts-text">{{'PL' + plate.scantling + ' ' + plate.mat}}</div>
    <div class="parts-button-close cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="">
    <p-table #table [value]="parts"
             [scrollable]="true"
             scrollHeight="calc(100vh - 270px)"
             [virtualScroll]="true"
             [virtualRowHeight]="40"
             [reorderableColumns]="false"
             [resizableColumns]="false"
             styleClass="p-datatable-striped"
             responsiveLayout="scroll"
             [globalFilterFields]="['code','block','name','description', 'weight']">
      <ng-template pTemplate="header">
        <tr class="df">
          <th pSortableColumn="code" class="lxy w-20">{{'Number'}}
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="block" class="lxy w-20">{{t.tr('Block')}}
            <p-sortIcon field="block"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'block'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.block" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="name" class="lxy w-20">{{t.tr('Name')}}
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'material_name'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.name" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="description" class="lxy w-20">{{t.tr('Description')}}
            <p-sortIcon field="description"></p-sortIcon>
          </th>
          <th pSortableColumn="weight" class="lxy w-20">{{t.tr('Weight')}}
            <p-sortIcon field="weight"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-part>
        <tr class="cursor-pointer row-table-doc-hover">
          <td class="w-20 text-14">{{part.code}}</td>
          <td class="w-20 text-14">{{part.block}}</td>
          <td class="w-20 text-14">{{part.name}}</td>
          <td class="w-20 text-14">{{part.description}}</td>
          <td class="w-20 text-14">{{part.weight}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
