<div class="all-page-spy">
  <div class="cx user-watches">
    <div class="user-watch cursor-pointer" *ngFor="let user of users" (click)="selectUser(user.user)">
      <div class="cx user-title">{{user.user}}</div>
      <div><img class="view-image" src="{{'data:image/jpg;base64,' + user.image}}" /></div>
      <div *ngIf="user.time != ''" class="out-work cxy">{{user.time}}</div>
    </div>
  </div>
</div>

<p-dialog [header]="selectedUser" [(visible)]="lightBox" [modal]="true">
  <div class="over-image"><img class="full-view-image" src="{{selectedUserImage}}" /></div>
</p-dialog>
