.view-image{
  height: auto;
  width: 22.5vw;
  padding: 5px;
}
.user-title{
  font-weight: 500;
}
.user-watches{
  flex-wrap: wrap;
}
.user-watch{
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}
