<div class="all-page">
  <div>
    <div class="card-head mb-20 df">
      <div class="mr-10">
        <p-dropdown placeholder="ПРОЕКТ" class="select" [(ngModel)]="project" [options]="projects" styleClass="width-170 border">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <div class="materials-button blue-button cxy" [pTooltip]="t.tr('Добавить')" tooltipPosition="top" (click)="addMaterial()">
          <img src="assets/icons/plus3.svg" height="18">
        </div>
      </div>
      <div class="mr-10">
        <div class="materials-button pink-button cxy" [pTooltip]="t.tr('Копировать')" tooltipPosition="top">
          <img src="assets/icons/copy3.svg" height="18">
        </div>
      </div>
      <div class="mr-10">
        <div class="materials-button yellow-button cxy" [pTooltip]="t.tr('Редактировать')" tooltipPosition="top" [class.disabled-button]="selectedMaterial.code == ''" (click)="addMaterial(selectedMaterial)">
          <img src="assets/icons/edit.svg" height="18">
        </div>
      </div>
      <div class="mr-10">
        <div class="materials-button green-button cxy" [pTooltip]="t.tr('Экспорт XLS')" tooltipPosition="top">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="mr-10">
        <div class="materials-button red-button cxy" [pTooltip]="t.tr('Удалить')" tooltipPosition="top" (click)="deleteMaterial(selectedMaterial)">
          <img src="assets/icons/trash-white.svg" height="22">
        </div>
      </div>
      <div class="mr-10">
        {{selectedNodePath}}
      </div>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [placeholder]="t.tr('Поиск...')" [(ngModel)]="search"  class="border" />
      </span>

    </div>
    <div class="w-100 df">
      <div class="w-100 df">
        <div class="w-15">
          <div class="menu-card">
            <p-tree class="tree" [value]="nodes" selectionMode="single" [(selection)]="selectedNode" (selectionChange)="selectNode()">
              <ng-template let-node pTemplate="default">
                <div class="df">
                  <div>{{node.label}}</div>
                  <div class="mini-notes cxy">{{node.count}}</div>
                </div>
              </ng-template>
            </p-tree>
          </div>
        </div>
        <div class="w-85">
          <div class="cards">
            <p-table #table [value]="materials"
                     [scrollable]="true"
                     scrollHeight="calc(100vh - 226px)"
                     [virtualScroll]="true"
                     [virtualRowHeight]="40"
                     [reorderableColumns]="false"
                     [resizableColumns]="false"
                     styleClass="p-datatable-striped"
                     [globalFilterFields]="['id','doc_number','name','status']">
              <ng-template pTemplate="header">
                <tr class="df">
                  <th pSortableColumn="name" class="cxy min-width-220 w-27">{{t.tr('Наименование')}}
                    <p-sortIcon field="name"></p-sortIcon>
                  </th>
                  <th pSortableColumn="description" class="cxy min-width-150 w-15">{{t.tr('Обозначение')}}
                    <p-sortIcon field="description"></p-sortIcon>
                  </th>
                  <th pSortableColumn="kvz" class="cxy min-width-75 w-7">{{t.tr('КВЗ')}}
                    <p-sortIcon field="kvz"></p-sortIcon>
                  </th>
                  <th pSortableColumn="coefficient" class="cxy min-width-75 w-7">{{t.tr('Коэф.')}}
                    <p-sortIcon field="coefficient"></p-sortIcon>
                  </th>
                  <th pSortableColumn="weight" class="cxy min-width-75 w-7">{{t.tr('Вес')}}
                    <p-sortIcon field="weight"></p-sortIcon>
                  </th>
                  <th pSortableColumn="code" class="cxy min-width-75 w-7">{{t.tr('КЕИ')}}
                    <p-sortIcon field="code"></p-sortIcon>
                  </th>
                  <th pSortableColumn="provider" class="cxy min-width-190 w-10">{{t.tr('Поставщик')}}
                    <p-sortIcon field="provider"></p-sortIcon>
                  </th>
                  <th pSortableColumn="notes" class="cxy min-width-190 w-10">{{t.tr('Примечания')}}
                    <p-sortIcon field="notes"></p-sortIcon>
                  </th>
                  <th pSortableColumn="trm" class="cxy min-width-190 w-10">{{t.tr('TRM')}}
                    <p-sortIcon field="trm"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-material let-i="rowIndex">
                <tr class="cursor-pointer row-table-doc-hover" [class.selected-material]="selectedMaterial == material" (click)="selectMaterial(material)">
                  <td class="min-width-220 w-27 text-14">{{material.name}}</td>
                  <td class="min-width-150 w-15 text-14">{{material.description}}</td>
                  <td class="min-width-75 w-7 text-14">{{material.category}}</td>
                  <td class="min-width-75 w-7 text-14">{{material.coefficient}}</td>
                  <td class="min-width-75 w-7 text-14">{{material.singleWeight}}</td>
                  <td class="min-width-75 w-7 text-14">{{material.units}}</td>
                  <td class="min-width-190 w-10 text-14">{{material.provider}}</td>
                  <td class="min-width-190 w-10 text-14">{{material.note}}</td>
                  <td class="min-width-190 w-10 text-14">
                    <div class="df">
                      <div class="trm-materials">
                        <span>{{material.code}}</span>
                      </div>
                      <div (click)="copyTrmCode('NRDDF5466D58014E2', 't' + i)" class="trm-copy-materials cursor-pointer cxy position-relative">
                        <img src="assets/icons/trm-sup.svg" height="14">
                        <div class="copy-tooltip-trm" [hidden]="!showTooltip('t' + i)">Copied!</div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
