/deep/.p-multiselect-header {
  display: none!important;
}
/deep/.p-component{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
  padding: 8px 10px 8px 40px!important;
}
/deep/.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: 1.5rem;
  height: 1.5rem;
}
/deep/.pi {
  font-size: 14px;
}
/deep/.p-tree{
  height: calc(100vh - 237px);
  overflow: auto;
  padding: 10px;
  border: none;
}
.card-head{
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 8px;
  height: 65px;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}
.cards{
  overflow: auto;
  height: calc(100vh - 202px);
}
.menu-card{
  padding: 15px 0 15px 0;
  width: 100%;
  min-width: 250px;
  height: calc(100vh - 204px);
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.1s;
}
.materials-button{
  height: 37px;
  width: 37px;

}
