/deep/.p-multiselect-header {
  display: none!important;
}
/deep/.p-component{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
}
.icon-categories{
  border-radius: 3px;
  padding: 6px;
  border: 1px solid #605e5c;
  height: 35px;
  width: 35px;
}
.icon-categories:hover{
  background-color: rgba(50, 49, 48, 0.07);
}
