<div class="all-page">
  <div>
    <div class="card-head mb-20 df">
      <div class="mr-1">
        <div class="materials-button border"></div>
      </div>
      <div class="mr-1">
        <div class="materials-button border"></div>
      </div>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [placeholder]="t.tr('Поиск...')" [(ngModel)]="search"  class="border" />
      </span>
    </div>
    <div class="w-100 df">
      <div class="w-100 df">
        <div class="w-20">
          <div class="menu-card">
            <p-tree class="tree" [value]="nodes" selectionMode="single" [(selection)]="selectedNode"></p-tree>
          </div>
        </div>
        <div class="w-80 cards">

        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
