/deep/.p-multiselect-header {
  display: none!important;
}
/deep/.p-component{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
}
/deep/.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: 1.5rem;
  height: 1.5rem;
}
.card-head{
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 8px;
  height: 65px;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}
.cards{
  overflow: auto;
  height: calc(100vh - 202px);
}
.menu-card{
  padding: 20px;
  width: 100%;
  min-width: 220px;
  height: calc(100vh - 200px);
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}
