<div class="dialog pt-5">

  <div class="df width-600">
    <div class="cy left-text-one-row mr-20">Ведомость материала:</div>
    <div class="cx pt-5">
      <p-treeSelect appendTo="body" class="width-440" [(ngModel)]="selectedStatementNode" [options]="statementNodes" placeholder="Выберите ведомость">
      </p-treeSelect>
    </div>
  </div>
  <div class="df width-600">
    <div class="cy left-text-one-row mr-20">Выберите директорию:</div>
    <div class="cx pt-5">
      <p-treeSelect appendTo="body" class="width-440" [(ngModel)]="selectedSpecDirectory" [options]="specDirectories" placeholder="Выберите директорию">
      </p-treeSelect>
    </div>
  </div>
  <div class="df width-600">
    <div class="cy left-text-one-row mr-20">Выберите поставку:</div>
    <div class="cx pt-5">
      <p-dropdown [options]="supplies" [(ngModel)]="supply" [filter]="true" filterBy="id,sfi,name,manufacturer"
                  [showClear]="true" [placeholder]="t.tr('Выбрать')" class="p-dropdown-150" styleClass="width-440" appendTo="body">
        <ng-template pTemplate="selectedItem">
          <div class="df">
            <div class="cx cy">ID {{supply.id}}</div>
            <div class="pl-5">-</div>
            <div class="cx cy pl-5">SFI {{supply. sfi}}</div>
            <div class="pl-5">-</div>
            <div class="cx cy pl-5">{{supply.name}}</div>
            <div class="pl-5">-</div>
            <div class="cx cy pl-5">{{supply.manufacturer}}</div>
          </div>
        </ng-template>
        <ng-template let-supp pTemplate="item">
          <div class="df">
            <div class="cx cy">ID {{supp.id}}</div>
            <div class="pl-5">-</div>
            <div class="cx cy pl-5">SFI {{supp. sfi}}</div>
            <div class="pl-5">-</div>
            <div class="cx cy pl-5">{{supp.name}}</div>
            <div class="pl-5">-</div>
            <div class="cx cy pl-5">{{supp.manufacturer}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="df width-600">
    <div class="cy left-text-one-row mr-20">Код материала:</div>
    <div class="cx pt-5">
      <input [disabled]="true" [(ngModel)]="material.code" type="text" pInputText class="width-440 border-material">
    </div>
  </div>
  <div class="double-row mt-1">
    <div class="df">
      <div class="cy left-text">КЕИ:</div>
      <div class="ml-1">
        <p-dropdown styleClass="width-190 border-material" (onChange)="unitsChanged()" [(ngModel)]="material.units" [options]="units" optionLabel="label" optionValue="value" placeholder="">
        </p-dropdown>
      </div>
    </div>
    <div class="df">
      <div class="cy right-text">Коэф. доп.:</div>
      <div class="ml-1">
        <p-inputNumber [(ngModel)]="material.coef" mode="decimal" [minFractionDigits]="2" inputStyleClass="width-190" locale="en-US"></p-inputNumber>
      </div>
    </div>
  </div>
  <div class="double-row mt-1">
    <div class="df">
      <div class="cy right-text">{{getUnitsText()}}</div>
      <div class="ml-1">
        <p-inputNumber [disabled]="material.units == '166'" [(ngModel)]="material.weight" mode="decimal" [minFractionDigits]="2" inputStyleClass="width-190" locale="en-US"></p-inputNumber>
      </div>
    </div>
    <div class="df">
      <div class="cy right-text">Примечание:</div>
      <div class="ml-1">
        <input [(ngModel)]="material.note" type="text" pInputText class="border-material width-190">
      </div>
    </div>
  </div>



  <div class="df w-100 mt-1 mb-1">
    <div class="cy left-text-one-row mr-20">Наименование:</div>
    <div class="cx pt-5">
      <input [(ngModel)]="material.name" type="text" pInputText class="width-440 border-material">
    </div>
  </div>
  <div class="df w-100 mt-1 mb-1">
    <div class="cy left-text-one-row mr-20">Описание:</div>
    <div class="cx pt-5">
      <input [(ngModel)]="material.descr" type="text" pInputText class="width-440 border-material">
    </div>
  </div>
  <div class="df w-100 mt-1 mb-1">
    <div class="cy left-text-one-row mr-20">Номер позиции:</div>
    <div class="cx pt-5">
      <input [(ngModel)]="material.label" type="text" pInputText class="width-440 border-material">
    </div>
  </div>



  <div class="form-footer cxy mt-20">
    <div class="mr-1 cx">
      <div tabindex="10" pButton [label]="getLabel(action)" class="button-ok" (click)="createMaterial()"></div>
    </div>
    <div tabindex="11" pButton [label]="t.tr('Отмена')" (click)="ref.close()" class="button-cancel ml-1"></div>
  </div>
</div>
