<div class="pt-25" style="height: 160px; width: 320px;">
  <div class="df flex-end">
    <div class="task-button-close cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>

  <div class="cxy flex-column">
    <div class="delete-text">{{t.tr('Вы подтверждаете удаление элемента?')}}</div>
  </div>
  <div class="footer-delete mt-35">
    <div class="mr-10 cx">
      <div tabindex="10" (click)="commit()" pButton [label]="t.tr ('ОК')" class="button-ok"></div>
    </div>
    <div tabindex="11" (click)="close()" pButton [label]="t.tr ('Отменить')" class="button-cancel ml-1"></div>
  </div>
</div>
