<div class="notification-card">
  <p-toast></p-toast>
  <div class="header-notification-card mb-1r df">
    <div class="header-notification-text">{{l.tr('Настройка уведомлений')}}</div>
    <!--    <div class="task-button-notification cxy" (click)="close()">-->
    <!--      <i class="pi pi-times"></i>-->
    <!--    </div>-->


    <div class="p-ml-auto df">
      <div class="mr-10">
        <div (click)="deleteSelectedNotifications()" [class.disabled-button]="!selectedNotifications || !selectedNotifications.length" class="save-user red-button cxy">
          <div class="pr-10 cxy">
            <img src="assets/icons/trash-white.svg" height="16">
          </div>
          <div class="cxy">{{l.tr('Удалить выбранные')}}</div>
        </div>
      </div>
      <div class="save-user blue-button cxy" (click)="createNotification()">
        <div class="pr-10 cxy">
          <img src="assets/icons/plus3.svg" height="18">
        </div>
        <div class="cxy">{{l.tr('Новое уведомление')}}</div>
      </div>
    </div>

  </div>


  <p-table
    #dt
    [value]="userNotifications"
    [scrollable]="true"
    [virtualScroll]="true"
    [scrollHeight]="'80vh'"
    [reorderableColumns]="false"
    [resizableColumns]="false"
    responsiveLayout="scroll"
    [globalFilterFields]="['project', 'department', 'type', 'method']"
    [(selection)]="selectedNotifications"
    [rowHover]="true"
  >
    <!--    <ng-template pTemplate="caption">-->
    <!--      <div class="flex align-items-center justify-content-between">-->
    <!--        <span class="p-input-icon-left">-->
    <!--                    <i class="pi pi-search"></i>-->
    <!--                    <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." />-->
    <!--                </span>-->
    <!--      </div>-->
    <!--    </ng-template>-->
    <ng-template pTemplate="header">
      <tr>
        <th style="width:20%" class="cy">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="project" style="width:20%">Project
          <p-sortIcon field="project"></p-sortIcon>
        </th>
        <th pSortableColumn="department" style="width:20%">Department
          <p-sortIcon field="department"></p-sortIcon>
        </th>
        <th pSortableColumn="type" style="width:20%">Type
          <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="method" style="width:20%">Method
          <p-sortIcon field="method"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-notification let-ri="rowIndex">
      <tr>
        <td class="cy" style="height:30px">
          <p-tableCheckbox [value]="notification"></p-tableCheckbox>
        </td>
        <td style="height:30px">
          {{notification.project}}
        </td>
        <td style="height:30px">
          {{notification.department}}
        </td>
        <td style="height:30px">
          {{notification.kind}}
        </td>
        <td style="height:30px">
          {{notification.method}}
        </td>
        <td style="height:30px">
          <div class="delete-notification cxy mr-2" tooltipPosition="top" [pTooltip]="t.tr('Удалить уведомление')"
               (click)="deleteNotification(notification)">
            <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
            </svg>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

