<div style="height: 500px; width: 400px">
  <div class="task-header">
    <div class="task-name">Назначение задачи</div>
    <div class="task-button cxy" (click)="close()">
      <img src="assets/close.svg" height="20">
    </div>
  </div>
  <div class="big-text mb-1 mt-1">Ответственный</div>
  <p-dropdown *ngIf="issue.activity == 'Assign Task'" [options]="auth.users" [(ngModel)]="selectedUser" [filter]="true" filterBy="userName" optionValue="login" optionLabel="userName"
              [showClear]="true" placeholder="Назначить" class="p-dropdown-150" styleClass="width-270">
  </p-dropdown>
  <div>
    <div class="big-text mb-1 mt-1">Дата начала</div>
    <p-calendar [minDate]="today" [(ngModel)]="startDate" dateFormat="dd.mm.yy" styleClass="width-270"></p-calendar>
    <div class="big-text mb-1 mt-1">Срок завершения</div>
    <p-calendar [minDate]="today" [(ngModel)]="dueDate" dateFormat="dd.mm.yy" styleClass="width-270"></p-calendar>
  </div>
  <div>
    <div class="big-text mb-1 mt-1">Сделать задачу сверхурочной</div>

  </div>
  <p-inputSwitch [(ngModel)]="overtime"></p-inputSwitch>
  <div class="space">
  </div>
  <div class="form-footer">
    <div class="mr-1 cx">
      <div tabindex="10" (click)="commit()" pButton label="ОК" class="button"></div>
    </div>
    <div tabindex="11" (click)="close()" pButton label="Отмена" class="button-cancel ml-1"></div>
  </div>
</div>
