<div style="height: 430px; width: 400px;">
  <div class="task-header-assign">
    <div class="task-name">Назначение задачи</div>
    <div class="task-button cxy" (click)="close()">
      <img src="assets/icons/close.svg" height="20">
    </div>
  </div>
  <div class="big-text mb-1 mt-1">Ответственный</div>
  <p-dropdown appendTo = "body" *ngIf="issue.activities.includes('Assign Task')" [options]="users" [(ngModel)]="selectedUser" [filter]="true" filterBy="userName" optionValue="login" optionLabel="userName"
              [showClear]="true" placeholder="Назначить" class="p-dropdown-150" styleClass="width-270">
    <ng-template let-user pTemplate="item">
      <div class="df">
        <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
        <div class="cx cy pl-10">{{user.userName}}</div>
      </div>
    </ng-template>
  </p-dropdown>
  <div>
    <div class="big-text mb-1 mt-1">Дата начала</div>
    <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [(ngModel)]="startDate" dateFormat="dd.mm.yy" styleClass="width-270"></p-calendar>
    <div class="big-text mb-1 mt-1">Срок завершения</div>
    <p-calendar [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [(ngModel)]="dueDate" dateFormat="dd.mm.yy" styleClass="width-270"></p-calendar>
  </div>
  <div>
    <div class="big-text mb-1 mt-1">Сделать задачу сверхурочной</div>
  </div>
  <p-inputSwitch [(ngModel)]="overtime"></p-inputSwitch>
  <div class="form-footer pt-10">
    <div class="mr-1 cx">
      <div tabindex="10" (click)="commit()" pButton label="ОК" class="button"></div>
    </div>
    <div tabindex="11" (click)="close()" pButton label="Отмена" class="button-cancel ml-1"></div>
  </div>
</div>
<div style="height: 430px; width: 400px;">
  <div class="task-header-assign">
    <div class="task-name">Назначение задачи</div>
    <div class="task-button cxy" (click)="close()">
      <img src="assets/icons/close.svg" height="20">
    </div>
  </div>
  <div class="big-text mb-1 mt-1">Ответственный</div>
  <p-dropdown appendTo = "body" *ngIf="issue.activities.includes('Assign Task')" [options]="users" [(ngModel)]="selectedUser" [filter]="true" filterBy="userName" optionValue="login" optionLabel="userName"
              [showClear]="true" placeholder="Назначить" class="p-dropdown-150" styleClass="width-270">
    <ng-template let-user pTemplate="item">
      <div class="df">
        <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
        <div class="cx cy pl-10">{{user.userName}}</div>
      </div>
    </ng-template>
  </p-dropdown>
  <div>
    <div class="big-text mb-1 mt-1">Дата начала</div>
    <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [(ngModel)]="startDate" dateFormat="dd.mm.yy" styleClass="width-270"></p-calendar>
    <div class="big-text mb-1 mt-1">Срок завершения</div>
    <p-calendar [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [(ngModel)]="dueDate" dateFormat="dd.mm.yy" styleClass="width-270"></p-calendar>
  </div>
  <div>
    <div class="big-text mb-1 mt-1">Сделать задачу сверхурочной</div>
  </div>
  <p-inputSwitch [(ngModel)]="overtime"></p-inputSwitch>
  <div class="form-footer pt-10">
    <div class="mr-1 cx">
      <div tabindex="10" (click)="commit()" pButton label="ОК" class="button"></div>
    </div>
    <div tabindex="11" (click)="close()" pButton label="Отмена" class="button-cancel ml-1"></div>
  </div>
</div>






