<div class="mt-20">
  <div class="cx">
    <p-button class="mx-10" (click)="selectFiles.click()" icon="pi pi-images"></p-button>
    <p-button class="mx-10" (click)="capturePhoto.click()" icon="pi pi-camera"></p-button>
  </div>
  <input hidden #selectFiles type="file" accept="image/*" (change)="handleFileInput(selectFiles.files)" multiple>
  <input hidden #capturePhoto type="file" accept="image/*" (change)="handleFileInput(capturePhoto.files)" multiple="multiple" capture="environment">
  <div class="cx">
    <div class="images mt-20">
      <p-virtualScroller [value]="imgs" scrollHeight="600px" [itemSize]="250">
        <ng-template pTemplate="item" let-img>
          <div class="my-10 cxy position-relative">
            <p-button class="image-delete" (click)="deleteImage(img)" icon="pi pi-trash"></p-button>
            <img height="250px" width="95%" [src]="img">
          </div>
        </ng-template>
      </p-virtualScroller>
    </div>
  </div>
</div>
