.button-upload{
  width: 220px;
  height: 60px;
  font-size: 14px;
}
.images{
  width: 80%;
}
.image{
  width: 95%;
}
.image-delete{
  height: 20px;
  width: 35px;
  position: absolute;
  right: 11%;
  top: 3%;
}
