<div style="height: 270px; width: 470px;">
  <div class="task-button-approval cxy" (click)="close()">
    <i class="pi pi-times"></i>
  </div>
  <div class="task-header-assign mt-40">
    <div class=" question cxy">
      <div class="question-icon">?</div>
    </div>
  </div>
  <div>
    <div class="confirm-text">{{t.tr('Внимание')}}</div>
  </div>
  <div class="mt-1 cxy">
    <div class="delete-text">{{t.tr('Задача уже была в статусе "Отправлен на верфь". Выберете дальнейшее действие:')}}</div>
  </div>
  <div class="footer-delete mt-2">
    <div class="mr-1 cx">
      <div (click)="yes()" tabindex="10" pButton [label]="t.tr ('Продолжить без создания задачи на согласование')" class="button-ok"></div>
    </div>
    <div (click)="no()" tabindex="11" pButton [label]="t.tr ('Создать новую задачу на согласование')" class="button-cancel ml-1"></div>
  </div>
</div>
