::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #0e364a;
  background: rgba(14,54,74,0.12);
}
::ng-deep .p-dropdown .p-inputtext {
  border: 0 none;
}
.header-create-card{
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 0 none;
  background: #ffffff;
  color: #323130;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.header-create-text{
  font-weight: 600;
  font-size: 1.5rem;
}
.task-button-create{
  color: #605e5c;
  width: 2rem;
  height: 2rem;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.task-button-create:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
.big-text-create{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
.normal-text{
  color: #5e6c84;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
}
.small-text{
  color: #6c798f;
  font-size: 12px;
  font-family: inherit;
}
.link-text{
  font-size: 15px;
  color: #0052cc;
  cursor: pointer;
  width: fit-content;
}
.link-text:hover{
  text-decoration: underline;
  color: #3572b0;
}
select{
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.38);
  min-width: 200px;
  outline: none;
  cursor: pointer;
}
select :hover{
  border: 1px solid rgba(0, 0, 0, 0.55);
}
select:focus {
  border-color: #262626;
}
/*::ng-deep.p-dropdown .p-dropdown-label{*/
/*  width: 150px;*/
/*}*/
::ng-deep .p-inputtext{
  width: 100%;
}
.upload{
  width: 100%;
  height: 50px;
  border: 1px dashed #ccc;
  cursor: pointer;
}
.center-create{
  height: fit-content;
  padding: 3px;
  width: 700px;
  min-height: 300px;
}
.form-footer-create{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
}
.button-cancel{
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #2E3E4E;
  background: #fff;
  transition: background .1s;
  border: none;
}
.button-cancel:hover{
  background-color: #ECEDF0;
}
::ng-deep.p-dialog .p-dialog-content {
  padding: 0 1.5rem 1rem 1.5rem;
}
.file-loading{
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr 0.5fr;
}
.resizable {
  display: inline-block;
  background: red;
  resize: both;
  overflow: hidden;
  line-height: 0;
}
.file-drag{
  opacity: 0.4;
  border: 2px dashed #ff6600;
}
.file-name{
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  width: 100%;
}
@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #10374b;
  }
  40% {
    stroke: #51a1c1;
  }
  66% {
    stroke: #8dd2e9;
  }
  80%,
  90% {
    stroke: #2e798e;
  }
}
.image-preview-backdrop{
  top: 0;
  left: 0;
  position: fixed;
  width: calc(100%*4);
  height: calc(100%*4);
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.25);
}
.image-preview-scale{
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1002;
  overflow: hidden;
}
.image-preview{
  max-width: 95vw;
  max-height: 95vh;
}
/deep/ quill-editor .ql-editor{
  min-height: 100px;
}
.disabled-button{
  pointer-events: none;
  opacity: 0.5;
}
/deep/.p-component{
  font-size: 13px!important;
}
/deep/.p-inputtext{
  font-size: 13px!important;
}
/deep/.p-dialog .p-dialog-content{
  border-radius: 5px!important;
}
.p-dropdown-150{
  max-height: 150px!important;
}
.multi-select{
  max-height: 300px !important;
  height: 300px !important;
}
.task{
  display: grid;
  grid-template-columns: 50px 80px 120px auto;
}
/deep/body > div > div.p-multiselect-items-wrapper > ul > cdk-virtual-scroll-viewport{
  height: 400px !important;
  z-index: 100;
}
