.task-header-assign{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.task-button{
  padding: 5px;
  border-radius: 3px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 2rem;
  height: 2rem;
}
.task-button:hover{
  background-color: rgb(235, 236, 240);
}
.big-text{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
.min-text{
  color: #7b7e85d4;
  font-size: 12px;
}
.space{
  height: 150px;
}
.form-footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 68px;
}
.button-cancel{
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #2E3E4E;
  background: #fff;
  transition: background .1s;
  border: none;
}
.button-cancel:hover{
  background-color: #ECEDF0;
}
.task-name{
  font-size: x-large;
  font-weight: 600;
}
.p-inputswitch:focus{
  outline: none;
}
/deep/.p-dialog .p-dialog-content{
  padding-bottom: 1rem;
}
.disabled-button{
  opacity: 0.5;
  pointer-events: none;
}
.task{
  display: grid;
  grid-template-columns: 50px 80px 120px auto;
}
.issue-name{
  width: 380px;
  text-wrap: wrap;
}
/deep/body > div > div.p-multiselect-items-wrapper > ul > cdk-virtual-scroll-viewport{
  height: 310px !important;
}
