<div style="height: 210px; width: 470px;">
  <div class="task-header-assign">
    <div class="task-name">{{t.tr('Связать задачи')}}</div>
    <div class="task-button cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="big-text mb-1 mt-1">{{t.tr('Выбрать задачи')}}</div>

  <div class="combine-task">
    <p-skeleton *ngIf="issues.length == 0" width="100%" height="40px"></p-skeleton>
    <p-multiSelect *ngIf="issues.length > 0" appendTo="body" class="mr-10" filterBy="id,name,doc_number" optionLabel="id" [options]="issues" [(ngModel)]="selectedIssues" [filter]="true" [selectedItemsLabel]="'{0} items selected'"
                   styleClass="w-100 task-select p-info" [virtualScroll]="true" [itemSize]="60" optionValue="id" [maxSelectedLabels]="9">
      <ng-template let-issue pTemplate="item">
        <div class="df">
          <div>
            <div class="task">
              <div class="min-text">{{issue.id}}</div>
              <div class="min-text">{{issue.issue_type}}</div>
              <div class="min-text">{{issue.project}}</div>
              <div class="min-text">{{issue.doc_number}}</div>
            </div>
            <div class="issue-name">{{trimName(issue.name)}}</div>
          </div>
        </div>
      </ng-template>
    </p-multiSelect>
  </div>


  <div class="form-footer">
    <div class="mr-5 cx">
      <div [class.disabled-button]="selectedIssues.length == 0" tabindex="10" (click)="commit()" class="button-ok cxy">{{t.tr('ОК')}}</div>
    </div>
    <div tabindex="11" (click)="close()" pButton [label]="t.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
</div>






