<div class="center-cloud">
  <div class="header-cloud-card">
    <div class="header-cloud-text">Assign new revision</div>
    <div class="task-button-create cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="df space-between"></div>
  <div>
    <div class="big-text mb-1 mt-1">{{t.tr('Выберите номер ревизии')}}</div>
  </div>
  <div class="big-text mb-1 df">
    <div class="w-45 mr-2">
      <p-dropdown appendTo = "body" [(ngModel)]="rev" [options]="revs" styleClass="w-100 h-32 cxy">
      </p-dropdown>
    </div>
  </div>
</div>
<div class="form-footer-create">
  <div class="mr-1 cx">
    <div tabindex="10" [class.disabled-button]="isDisabled()" (click)="commit()" pButton [label]="t.tr('Назначить')" class="button-ok"></div>
  </div>
  <div tabindex="11" (click)="close()" pButton [label]="t.tr('Отмена')" class="button-cancel ml-1"></div>
</div>
