.center{
  height: fit-content;
  max-height: 650px;
  min-height: 500px;
  min-width: 900px;
  display: flex;
}
.left-content{
  width: calc(1.2 * min(1680px, 100%) + -12px);
  overflow-y: auto;
}
.button-new{
  background-color: rgba(9, 30, 66, 0.04);
  border-radius: 3px;
  font-weight: 500;
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 6px;
  color: rgb(66, 82, 110) !important;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  display: flex;
  align-items: center;
}
.button-new:hover {
  background-color: rgb(235, 236, 240);
}
.buttons{
  display: flex;
}
.big-text{
  font-size: 0.8em;
  font-style: inherit;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 24px;
  color: rgb(23, 43, 77);
  overflow-wrap: break-word;
  min-width: 0px;
}
.description{
  font-size: 14px;
  line-height: 1.714;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: rgb(23, 43, 77);
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
}
.descr-task{
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: rgb(94, 108, 132);
}
.text:hover{
  background-color: rgb(235, 236, 240);
}
.right-content{
  width: calc(0.8 * min(1680px, 100%) + 12px);
  padding-left: 15px;
}
.header{
  position: relative;
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
  height: 48px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgb(223, 225, 230);
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 12px;
}
.text-head{
  color: rgb(23, 43, 77);
  font-size: 14px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  flex-shrink: 0;
}
.table{
  padding: 8px 12px;
  box-sizing: border-box;
  border-width: 0px 1px 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: rgb(223, 225, 230);
  border-bottom-color: rgb(223, 225, 230);
  border-left-color: rgb(223, 225, 230);
  border-image: initial;
  border-top-style: initial;
  border-top-color: initial;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.normal-text{
  color: rgb(23, 43, 77);
  font-size: 12px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.min-text{
  font-size: 12px;
  padding-right: 4px;
  color: rgb(107, 119, 140);
}
.issue-message{
  padding: 0px 6px;
}
.bold-text{
  font-size: 0.9em;
  font-style: inherit;
  font-weight: 500;
  letter-spacing: -0.003em;
  color: rgb(23, 43, 77);
}
.text-descr{
  color: rgb(23, 43, 77);
  font-size: 0.9em;
  white-space: nowrap;
}
.px-5{
  padding-top: 5px;
  padding-bottom: 5px;
}
.text-date{
  color: rgba(66, 82, 110, 0.82);
  font-size: 0.9em;
  white-space: nowrap;
}
::ng-deep.p-dropdown .p-dropdown-label {
  width: 120px;
}
.py-10{
  padding-right: 10px;
  padding-left: 10px;
}
.py-5{
  padding-right: 5px;
  padding-left: 5px;
}
.button{
  border: none;
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 6px;
  color: #fff;
  background: #00b7c3;
  transition: background .1s
}
.button:hover{
  background-color: #17a2b8;
}
.button-cancel{
  border: none;
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 6px;
  color: #17a2b8;
  background: #fff;
  transition: background .1s
}
.button-cancel:hover{
  background-color: rgb(235, 236, 240);
}
.attachment{
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 150px;
  height: 120px;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 11px;
}
.attachments{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 250px;
  overflow-y: auto;
}
.attachment:hover{
  background-color: #dcdcdc;
}
.attachment-footer{
  background-color: rgba(255, 255, 255, 0.8);
  height: 36px;
  padding: 4px 8px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.check-button{
  background: rgb(80, 95, 121);
  color: rgb(244, 245, 247) !important
}
.attachment-center{
  height: calc(100% - 36px);
}
