.center{
  height: 650px;
  display: flex;
}
.left-content{
  width: 65%;
  overflow-y: auto;
  padding-right: 15px;
}
.right-content{
  width: 35%;
  padding-left: 15px;
}
.button-new{
  background-color: rgba(9, 30, 66, 0.04);
  font-size: 0.9em;
  border-radius: 3px;
  font-weight: 500;
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 2px 6px;
  color: rgb(66, 82, 110) !important;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  display: flex;
  align-items: center;
}
.button-new:hover {
  background-color: rgb(235, 236, 240);
}
.button-status{
  cursor: pointer;
  margin-right: 10px;
}
.buttons{
  display: flex;
}
.big-text{
  font-size: 0.9em;
  font-style: inherit;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 24px;
  color: rgb(23, 43, 77);
  overflow-wrap: break-word;
  min-width: 0px;
}
.description{
  font-size: 14px;
  line-height: 1.714;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: rgb(23, 43, 77);
  border-radius: 3px;
  height: auto;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
}
.descr-task{
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: rgb(94, 108, 132);
}
.text:hover{
  background-color: rgb(235, 236, 240);
}

.header{
  position: relative;
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
  height: 48px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgb(223, 225, 230);
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 12px;
}
.text-head{
  color: rgb(23, 43, 77);
  font-size: 14px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  flex-shrink: 0;
}
.table{
  padding: 8px 12px;
  box-sizing: border-box;
  border-width: 0px 1px 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: rgb(223, 225, 230);
  border-bottom-color: rgb(223, 225, 230);
  border-left-color: rgb(223, 225, 230);
  border-image: initial;
  border-top-style: initial;
  border-top-color: initial;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.normal-text{
  color: rgb(23, 43, 77);
  font-size: 12px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.upload{
  width: 100%;
  height: 39px;
  border: 1px dashed #ccc;
  cursor: pointer;
}
.file-loading{
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr 0.5fr;

}
.min-text{
  font-size: 12px;
  padding-right: 4px;
  color: rgb(107, 119, 140);
}
.issue-message{

}
.bold-text{
  font-size: 0.9em;
  font-style: inherit;
  font-weight: 500;
  letter-spacing: -0.003em;
  color: rgb(23, 43, 77);
}
.text-descr{
  color: rgb(23, 43, 77);
  font-size: 0.9em;
  white-space: nowrap;
}
.px-5{
  padding-top: 5px;
  padding-bottom: 5px;
}
.text-date{
  color: rgba(66, 82, 110, 0.82);
  font-size: 0.9em;
  white-space: nowrap;
}
::ng-deep.p-dropdown .p-dropdown-label {
  width: 120px;
}
.py-10{
  padding-right: 10px;
  padding-left: 10px;
}
.py-5{
  padding-right: 5px;
  padding-left: 5px;
}
.button{
  border: none;
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 3px 6px;
  color: #fff;
  background: #00b7c3;
  transition: background .1s;
  font-size: 0.9rem;
}
.button:hover{
  background-color: #17a2b8;
}
.button-cancel{
  border: none;
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 3px 6px;
  color: #17a2b8;
  background: #fff;
  transition: background .1s;
  font-size: 0.9rem;
}
.button-cancel:hover{
  background-color: rgb(235, 236, 240);
}
.attachment{
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 135px;
  height: 120px;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 11px;
}
.attachments{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-height: 250px;
  overflow-y: auto;
}
.attachment:hover{
  background-color: #dcdcdc;
}
.attachment-footer{
  background-color: rgba(255, 255, 255, 0.8);
  height: 36px;
  padding: 4px 8px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.check-button{
  background: rgb(80, 95, 121);
  color: rgb(244, 245, 247) !important
}
.check-button:hover{
  background: rgb(80, 95, 121);
  color: rgb(244, 245, 247) !important
}
.attachment-center{
  height: calc(100% - 36px);
}
.content-task{
  height: 50%;
  overflow-y: auto;
}
.descr-task{
  width: 96%;
  text-align: justify;
  padding-right: 15px;
}
.task-header{
  display: grid;
  grid-template-columns: 7fr 1fr;
  height: 70px;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
.task-name{
  font-size: x-large;
  font-weight: 600;
}
.task-buttons{
  height: 32px;
  display: flex;
  justify-content: flex-end;
}
.task-button{
  padding: 5px;
  border-radius: 3px;
  margin-left: 8px;
  cursor: pointer;
}
.task-button:hover{
  background-color: rgb(235, 236, 240);
}
.button-disabled{
  pointer-events: none;
  opacity: 0.5;
}
.image-preview-backdrop{
  top: 0;
  left: 0;
  position: fixed;
  width: calc(100%*4);
  height: calc(100%*4);
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.25);
}
.image-preview-scale{
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1002;
  overflow: hidden;
}
.image-preview{
  max-width: 95vw;
  max-height: 95vh;
}
/deep/.ql-snow .ql-editor img{
  cursor: pointer;
}
.profession{
  margin-top: -25px;
}
/deep/ quill-editor .ql-editor{
  min-height: 100px;
}
::ng-deep.p-inputtext{
  font-size: 14px;
}
.buttons-pick-check{
  color: white;
  background-color: #ae5e9b;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-check:hover{
  background: #824774;
  transition: 0.3s;
}
.icon-check{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #864a77;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-work{
  color: white;
  background-color: #01b169;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-work:hover{
  background: #017c49;
  transition: 0.3s;
}
.icon-work{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #017c49;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-reject{
  color: white;
  background-color: #f26c63;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-reject:hover{
  background: #a94b45;
  transition: 0.3s;
}
.icon-reject{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #a94b45;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-pause{
  color: white;
  background-color: #f8b243;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-pause:hover{
  background: #ad7c2f;
  transition: 0.3s;
}
.icon-pause{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #ad7c2f;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-resolved{
  color: white;
  background-color: #80a8cc;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-resolved:hover{
  background: #59758e;
  transition: 0.3s;
}
.icon-resolved{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #59758e;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-rework{
  color: white;
  background-color: #52be7f;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-rework:hover{
  background: #398559;
  transition: 0.3s;
}
.icon-rework{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #398559;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-approval{
  color: white;
  background-color: #fc7736;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-approval:hover{
  background: #b05326;
  transition: 0.3s;
}
.icon-approval{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #b05326;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-archive{
  color: white;
  background-color: #9a6362;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-archive:hover{
  background: #6b4544;
  transition: 0.3s;
}
.icon-archive{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #6b4544;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-close{
  color: white;
  background-color: #2ecc71;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-close:hover{
  background: #208e4f;
  transition: 0.3s;
}
.icon-close{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #208e4f;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.button-text{
  padding-right: 8px;
  padding-left: 8px;
}


