<div class="center">
  <div class="left-content">
    <div class="buttons">
      <div class="button-new">
        <span class="mr-10">
          <img src="assets/paperclip.svg" height="18">
        </span>
        <span>Прикрепить</span>
      </div>
    </div>
    <div class="big-text mb-1 mt-2">Описание задачи</div>
    <div class="text description"><span [innerHTML]="issue.details"></span></div>


    <div class="big-text mb-1 mt-2">Вложения</div>

      <div class="attachments">
        <div *ngFor="let file of issue.fileAttachments">
          <div (click)="openFile(file.url)" class="attachment">
            <div class="cxy attachment-center">
              <img [src]="'assets/task/' + getFileExtensionIcon(file.name)" height="45"/>
            </div>
            <div class="attachment-footer">
              <div [pTooltip]="file.name">{{trimFileName(file.name)}}</div>
              <div>06 авг. 2021, 13:57</div>
            </div>
          </div>
        </div>
    </div>
    <div class="big-text mb-1 mt-40">Активность</div>
    <div class="df">
      <div class="description mt-5">Показать:</div>
      <div [class.check-button]="messageFilter == 'all'" class="button-new mr-10 ml-10" (click)="messageFilter = 'all'">
        <span>Все</span>
      </div>
      <div [class.check-button]="messageFilter == 'human'" class="button-new mr-10" (click)="messageFilter = 'human'">
        <span>Комментарии</span>
      </div>
      <div [class.check-button]="messageFilter == 'camunda'" class="button-new" (click)="messageFilter = 'camunda'">
        <span>История</span>
      </div>
    </div>

    <div class="mt-1 big-text">
      <input [style]="{'width':'100%'}" [hidden]="comment" (click)="showComment(editor)" type="text" pInputText placeholder="Enter comment here..." />
    </div>

    <div [hidden]="!comment">
      <p-editor #editor [(ngModel)]="message" [style]="{'height':'fit-content', 'min-height':'100px'}">
        <p-header>
        <span class="ql-formats">
          <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
          <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
          <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
        </span>
          <span class="ql-formats">
          <select class="ql-color" tabindex="-1"></select>
          <select class="ql-background" tabindex="-1"></select>
        </span>
          <span class="ql-formats">
          <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
          <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
          <select class="ql-align" tabindex="-1">
            <option selected tabindex="-1"></option>
            <option value="center" tabindex="-1"></option>
            <option value="right" tabindex="-1"></option>
            <option value="justify" tabindex="-1"></option>
          </select>
        </span>
          <span class="ql-formats">
          <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
          <button class="ql-image" aria-label="Insert Image" tabindex="-1"></button>
          <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
        </span>
          <span class="ql-formats">
          <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
        </span>
        </p-header>
      </p-editor>
      <div class="df mt-5">
        <div class="mr-5">
          <div (click)="sendMessage()" pButton label="Save" class="button"></div>
        </div>
        <div>
          <div (click)="comment = false" pButton label="Cancel" class="button-cancel"></div>
        </div>


      </div>

    </div>


    <div class="issue-message" *ngFor="let msg of getMessages(issue)">
      <div *ngIf="(messageFilter == 'all' || messageFilter == 'human') && msg.owner == 'human'">
        <div class="px-10">
          <span class="bold-text">{{msg.author}}</span><span class="text-descr"> posted message at <span class="text-date"> {{getDate(msg.date)}} </span></span>
          <div [innerHTML]="msg.content"></div>
        </div>
      </div>
      <div *ngIf="(messageFilter == 'all' || messageFilter == 'camunda') && msg.owner == 'camunda'">
        <div class="px-10 df"><span class="bold-text">{{msg.author}}</span><span class="text-descr py-5"> completed </span>  <span class="bold-text" [innerHTML]="msg.content"></span><span class="text-descr"> at </span><span class="text-date py-5"> {{getDate(msg.date)}} </span>
        </div>
        <span class="px-10" *ngFor="let varMap of msg.variables">
          <div class="px-10 df">
            <span class="bold-text">{{msg.author}}</span><span class="text-descr py-5"> changed </span><span class="bold-text">{{varMap.name}}</span><span class="py-10"><img src="assets/right-arrow.svg" height="13"></span><span [innerHTML]="varMap.value"></span>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="right-content">
    <div class="information">
      <div class="header text-head">Сведения</div>
      <div class="table">
        <div class="df mb-1 mt-1">
          <div class="normal-text w-50">Статус</div>
          <div class="descr-task">
            <p-dropdown [(ngModel)]="issue.status" [options]="getAvailableStatuses(issue)" (ngModelChange)="statusChanged()">
            </p-dropdown>
          </div>
        </div>
        <div class="df mb-2 mt-1">
          <div class="normal-text w-50">Исполнитель</div>
          <div class="descr-task w-50">{{issue.assignedTo}}</div>
        </div>
<!--        <div class="df mb-2 mt-1">-->
<!--          <div class="normal-text w-50">Срок исполнения</div>-->
<!--          <div class="descr-task w-50">01.09.2021</div>-->
<!--        </div>-->
        <div class="df mb-2 mt-1">
          <div class="normal-text w-50">Проект</div>
          <div class="descr-task w-50">{{issue.project}}</div>
        </div>
        <div class="df mb-2 mt-1">
          <div class="normal-text w-50">Отдел</div>
          <div class="descr-task w-50">{{issue.department}}</div>
        </div>
        <div class="df mb-2 mt-1">
          <div class="normal-text w-50">Автор</div>
          <div class="descr-task w-50">{{issue.startedBy}}</div>
        </div>
      </div>
    </div>
    <div class="mt-2 min-text">Создано {{getDate(issue.startedDate)}}</div>
  </div>





</div>
