<div class="center">
  <div class="left-content">
    <div class="buttons">
      <div class="button">
        <span class="mr-10">
          <img src="assets/paperclip.svg" height="18">
        </span>
        <span>Прикрепить</span>
      </div>
    </div>
    <div class="big-text mb-1 mt-2">Описание задачи</div>
    <div class="text description"><span [innerHTML]="issue.details"></span></div>


    <div class="big-text mb-1 mt-2">Вложения</div>
    <div>
      <div *ngFor="let file of issue.fileAttachments">
        <div (click)="openFile(file.url)">{{file.name}}</div>
      </div>
    </div>


    <div class="big-text mb-1 mt-40">Активность</div>
    <div class="df">
      <div class="description mt-5">Показать:</div>
      <div class="button">
        <span>Все</span>
      </div>
    </div>
    <div class="issue-message" *ngFor="let msg of getMessages(issue)">
      <div *ngIf="msg.owner == 'camunda'">
        <div class="px-10"><span class="bold-text">{{msg.author}}</span><span class="text-descr"> completed </span>  <span class="bold-text" [innerHTML]="msg.content"></span><span class="text-descr"> at </span><span class="text-date"> {{getDate(msg.date)}} </span>
        </div>
        <span class="px-10" *ngFor="let varMap of msg.variables">
          <div class="px-10">
            <span class="bold-text">{{msg.author}}</span><span class="text-descr"> changed </span><span class="bold-text">{{varMap.name}}</span><span class=""><img src="assets/right-arrow.svg" height="15"></span><span [innerHTML]="varMap.value"></span>

          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="right-content">
    <div class="information">
      <div class="header text-head">Сведения</div>
      <div class="table">
        <div class="df mb-2 mt-1">
          <div class="normal-text">Статус</div>
          <p-dropdown styleClass="descr-task" [(ngModel)]="issue.status" [options]="getAvailableStatuses(issue)" (ngModelChange)="statusChanged()">
          </p-dropdown>
        </div>
        <div class="df mb-2 mt-1">
          <div class="normal-text w-50">Исполнитель</div>
          <div class="descr-task w-50">{{issue.assignedTo}}</div>
        </div>
<!--        <div class="df mb-2 mt-1">-->
<!--          <div class="normal-text w-50">Срок исполнения</div>-->
<!--          <div class="descr-task w-50">01.09.2021</div>-->
<!--        </div>-->
        <div class="df mb-2 mt-1">
          <div class="normal-text w-50">Проект</div>
          <div class="descr-task w-50">{{issue.project}}</div>
        </div>
        <div class="df mb-2 mt-1">
          <div class="normal-text w-50">Отдел</div>
          <div class="descr-task w-50">{{issue.department}}</div>
        </div>
        <div class="df mb-2 mt-1">
          <div class="normal-text w-50">Автор</div>
          <div class="descr-task w-50">{{issue.startedBy}}</div>
        </div>
      </div>
    </div>
    <div class="mt-2 min-text">Создано {{getDate(issue.startedDate)}}</div>
  </div>





</div>
