<div class="center-viewer">
  <div class="header-user-card-lb">
    <div class="header-text">{{t.tr('Трудоемкость')}}</div>
    <span class="task-button-user cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </span>
  </div>
  <div class="cx mt-1 space-between">
    <span class="">
      <div>{{t.tr('Количество часов')}}</div>
<!--      <p-inputNumber [(ngModel)]="hoursAmount" mode="decimal" placeholder="Количество часов" [minFractionDigits]="1"></p-inputNumber>-->
      <p-inputNumber [(ngModel)]="hoursAmount" mode="decimal" [min]="0" placeholder="Количество часов"></p-inputNumber>
    </span>
    <span class="p-float-label">
      <div>{{t.tr('Дата')}}</div>
      <p-calendar [minDate]="minDate" [maxDate]="today" [showWeek]="true" [firstDayOfWeek]="1" appendTo = "body" dateFormat="dd.mm.yy" [(ngModel)]="calendarDay"></p-calendar>
    </span>
  </div>
  <div class="cxy mt-25">
    <span class="p-float-label w-100">
      <textarea id="textarea" rows="4" style="resize: none;" cols="60" [(ngModel)]="comment" pInputTextarea></textarea>
      <label for="textarea">{{t.tr('Комментарий')}}</label>
    </span>
  </div>
<!--  <div class="mt-5">-->
<!--&lt;!&ndash;    Свободных часов на сегодня: {{hoursLeft}}&ndash;&gt;-->
<!--  </div>-->
  <!--  <div class="">-->
  <!--    Количество часов задачи по плану на сегодня: {{hoursLeftByTaskToday}}-->
  <!--  </div>-->
  <!--  <div class="">-->
  <!--    Количество несписанных из плана часов на задачу: {{hoursLeftByTask}}-->
  <!--  </div>-->
<!--  <div class="mt-5" *ngIf="plannedTodayWarning">-->
<!--    Текущей задачи нет в плане на сегодня!-->
<!--    &lt;!&ndash;    Согласно плану вы должны сегодня списать часы на:&ndash;&gt;-->
<!--    &lt;!&ndash;    <div *ngFor="let plan of planTasks">&ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="df" (click)="openTask(plan.taskId)">&ndash;&gt;-->
<!--    &lt;!&ndash;        <div>{{plan.name}}</div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="ml-3">(план: {{plan.planned}}/</div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="ml-3">исп: {{plan.consumed}})</div>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
</div>
<div class="form-footer-labor">
  <div class="mr-5 cx">
    <div (click)="commit()" tabindex="10" class="button-ok cxy">{{t.tr('Сохранить')}}</div>
  </div>
  <div tabindex="11" (click)="close()" pButton [label]="t.tr('Отменить')" class="button-cancel ml-1"></div>
</div>


