.task-header-assign{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.task-button{
  width: 2rem;
  height: 2rem;
  padding: 5px;
  border-radius: 3px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.task-button:hover{
  background-color: rgb(235, 236, 240);
}
.big-text{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
.space{
  height: 150px;
}
.form-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button{
  border: none;
  margin-right: 4px;
  height: 39px;
  min-width: 120px;
  border-radius: 3px;
  text-shadow: none;
  padding: 0 10px;
  color: #fff;
  background: #17a2b8;
  transition: background .1s
}
.button:hover{
  background: #1598ac;
}
.button-cancel{
  margin-right: 4px;
  height: 39px;
  min-width: 120px;
  border-radius: 3px;
  text-shadow: none;
  padding: 0 10px;
  color: #17a2b8;
  background: #fff;
  border: 1px solid rgba(23, 162, 184, 0.5);
  transition: background .1s
}
.button-cancel:hover{
  background: #f6f6f6;
}
.task-name{
  font-size: x-large;
  font-weight: 600;
}
.p-inputswitch:focus{
  outline: none;
}
/deep/.p-dialog .p-dialog-content{
  padding-bottom: 1rem;
  border-radius: 5px!important;
}
.disabled-button{
  opacity: 0.5;
  pointer-events: none;
}
.pt-85{
  padding-top: 85px;
}
