.big-text{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
.upload-send-cloud{
  width: 100%;
  border: 1px dashed #ccc;
  cursor: pointer;
  padding: 5px;
}
.dish-line{
  border-bottom: 1px dashed #ccc;
}
.loading-files{
  height: 105px;
  overflow: auto;
}
/deep/.ql-container{
  min-height: 100px;
}
.form-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button-ok{
  border: none;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #fff;
  background: #3B94D6;
  transition: background .1s
}
.button-ok:hover{
  background-color: #2C7BB6;
}
.button-cancel{
  margin-right: 4px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #2E3E4E;
  background: #fff;
  transition: background .1s;
  border: none;
}
.button-cancel:hover{
  background-color: #ECEDF0;
}
.normal-text{
  color: #5e6c84;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
}
.button-disabled{
  opacity: 0.5;
  pointer-events: none;
}
.file-drag{
  opacity: 0.4;
  border: 2px dashed #ff6600!important;
}
.disabled-button{
  opacity: 0.5;
  pointer-events: none;
}
.center-cloud{
  height: fit-content;
  max-height: 550px;
  overflow-y: auto;
  width: 450px;
  min-height: 180px;
}
.header-cloud-card{
  border-bottom: 0 none;
  background: #ffffff;
  color: #323130;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.header-cloud-text{
  font-weight: 600;
  font-size: 1.5rem;
}
.task-button-create{
  color: #605e5c;
  width: 2rem;
  height: 2rem;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.task-button-create:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
.big-text-create{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
.upload{
  width: 100%;
  height: 50px;
  border: 1px dashed #ccc;
  cursor: pointer;
}
.file-loading{
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr 0.5fr;
}
.file-name{
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  width: 100%;
}
.form-footer-create{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 16px;
}
.all-file-loading{
  max-height: 300px;
  overflow: auto;
}
/deep/.p-dialog .p-dialog-content {
  border-radius: 5px!important;
}
.attachment-files{
  display: flex;
  font-size: 13px;
}
.load-cloud{
  width: 2rem;
  height: 2rem;
}
