<div *ngIf="!device.isDesktop()" class="">
  <div class="card-tablet">
    <div class="all-body-card-tablet">
      <div class="cy">
        <div class=""></div>
      </div>
      <div class="cy px-10">
        <div class="tools-card cursor-pointer">
          <div class="header-card">
            <div class="content-end">
              <div class="name-card hull cxy">HULL</div>
            </div>
          </div>
          <div class="body-card">
            <div class="head-text-card">Bill of Materials</div>
            <div>
              <div class="big-text-card mb-1">{{t.tr('Проект')}}</div>
              <p-dropdown class="select" [(ngModel)]="materialsProject" [options]="projects" styleClass="w-100 font-14">
              </p-dropdown>
            </div>
          </div>
          <div class="body-button-card my-15 cx">
            <div tabindex="10" (click)="getBillOfMaterials()" pButton [label]="t.tr ('Сгенерировать')" class="button-ok" *ngIf="billOfMaterials == ''" [class.button-generate]="wait.includes('bill-of-materials')"></div>
            <div tabindex="10" (click)="download(billOfMaterials)" pButton [label]="t.tr ('Скачать')" class="button-ok" *ngIf="billOfMaterials != ''"></div>
          </div>
          <div class="footer-card pt-5">
            <div class="px-10">
              <img src="assets/blue_whale.svg" height="25">
            </div>
            <div class="mini-text-card cy">{{t.tr('Сгенерируйте материалы из FORAN')}}</div>
          </div>
        </div>
      </div>
      <div class="cy px-10">
        <div class="tools-card cursor-pointer">
          <div class="header-card">
            <div class="content-end">
              <div class="name-card pipe cxy">ELECTRICAL</div>
            </div>
          </div>
          <div class="body-card">
            <div class="head-text-card">Tray Manager</div>
            <div class="df">
              <div>
                <div class="big-text-card mb-1">{{t.tr('Проект')}}</div>
                <p-dropdown class="select" [(ngModel)]="trayBundlesProject" [options]="trayBundlesProjects" (ngModelChange)="trayBundleProjectChanged()" styleClass="width-156 font-14">
                </p-dropdown>
              </div>
              <div class="p-ml-auto">
                <div class="big-text-card mb-1">{{t.tr('Комплект')}}</div>
                <p-dropdown class="select" [(ngModel)]="selectedTrayBundle" [options]="trayBundles" optionLabel="drawingId" optionValue="drawingId" styleClass="width-176 font-14">
                </p-dropdown>
              </div>
            </div>

          </div>
          <div class="body-button-card my-15 cx">
            <div tabindex="10" (click)="getTraysByZonesAndSystems()" pButton [label]="t.tr ('Открыть')" class="button-ok"></div>
            <div class="pl-10">
              <div tabindex="10" (click)="fixTrayBundle()" pButton [label]="t.tr ('Fix Bundle')" class="button-ok"></div>
            </div>
          </div>
          <div class="footer-card pt-5">
            <div class="px-10">
              <img src="assets/blue_whale.svg" height="25">
            </div>
            <div class="mini-text-card cy">{{t.tr('Создать спецификацию')}}</div>
          </div>
        </div>
      </div>
      <div class="cy">
        <div class=""></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="device.isDesktop()" class="">
  <div class="all-page">
    <div class="card">
      <div class="all-body-card">
        <div class="cy text-bottom">
          <div class="tools-card cursor-pointer">
            <div class="header-card">
              <div class="content-end">
                <div class="name-card hull cxy">HULL</div>
              </div>
            </div>
            <div class="body-card">
              <div class="head-text-card">Bill of Materials</div>
              <div>
                <div class="big-text-card mb-1">{{t.tr('Проект')}}</div>
                <p-dropdown class="select" [(ngModel)]="materialsProject" [options]="projects" styleClass="w-100 font-14">
                </p-dropdown>
              </div>
            </div>
            <div class="body-button-card my-15 cx">
              <div tabindex="10" (click)="getBillOfMaterials()" pButton [label]="t.tr ('Сгенерировать')" class="button-ok" *ngIf="billOfMaterials == ''" [class.button-generate]="wait.includes('bill-of-materials')"></div>
              <div tabindex="10" (click)="download(billOfMaterials)" pButton [label]="t.tr ('Скачать')" class="button-ok" *ngIf="billOfMaterials != ''"></div>
            </div>
            <div class="footer-card pt-5">
              <div class="px-10">
                <img src="assets/blue_whale.svg" height="25">
              </div>
              <div class="mini-text-card cy">{{t.tr('Сгенерируйте материалы из FORAN')}}</div>
            </div>
          </div>
        </div>
        <div class="cxy">
          <div class="tools-card cursor-pointer">
            <div class="header-card">
              <div class="content-end">
                <div class="name-card pipe cxy">ELECTRICAL</div>
              </div>
            </div>
            <div class="body-card">
              <div class="head-text-card">Tray Manager</div>
              <div class="df">
                <div>
                  <div class="big-text-card mb-1">{{t.tr('Проект')}}</div>
                  <p-dropdown class="select" [(ngModel)]="trayBundlesProject" [options]="trayBundlesProjects" (ngModelChange)="trayBundleProjectChanged()" styleClass="width-156 font-14">
                  </p-dropdown>
                </div>
                <div class="p-ml-auto">
                  <div class="big-text-card mb-1">{{t.tr('Комплект')}}</div>
                  <p-dropdown class="select" [(ngModel)]="selectedTrayBundle" [options]="trayBundles" optionLabel="drawingId" optionValue="drawingId" styleClass="width-176 font-14">
                  </p-dropdown>
                </div>
              </div>

            </div>
            <div class="body-button-card my-15 cx">
              <div tabindex="10" (click)="getTraysByZonesAndSystems()" pButton [label]="t.tr ('Открыть')" class="button-ok"></div>
              <div class="pl-10">
                <div tabindex="10" (click)="fixTrayBundle()" pButton [label]="t.tr ('Fix Bundle')" class="button-ok"></div>
              </div>
            </div>
            <div class="footer-card pt-5">
              <div class="px-10">
                <img src="assets/blue_whale.svg" height="25">
              </div>
              <div class="mini-text-card cy">{{t.tr('Создать спецификацию')}}</div>
            </div>
          </div>
        </div>
        <div class="cy">
          <div class=""></div>
        </div>
        <div class="cy text-bottom">
          <div class=""></div>
        </div>
        <div class="cxy">
          <div class=""></div>
        </div>
        <div class="cy">
          <div class=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast key="task" position="bottom-center"></p-toast>







