/deep/.p-inputtext{
  padding: 8px 10px 8px 10px;
}
.all-body-card{
  height: 81vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.all-body-card-tablet{
  height: 81vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tools-card{
  border: 1px solid #d6d6d6;
  height: 250px;
  width: 370px;
  border-radius: 5px;
  position: relative;
}
.tools-card:hover{
  box-shadow: 0px 2px 10px 0px rgba(93, 102, 109, 0.2);
  transition: 0.3s;
  border: 1px solid rgba(214, 214, 214, 0.76);
}
.name-card{
  width: 100px;
  font-family: "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  border-radius: 0px 3px 0px 12px;
  padding: 0px 12px 2px;
  font-size: 13px;
  word-spacing: 1px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.hull{
  background: #61D42D;
}
.electric{
  background: #6EC5FF;
}
.head-text-card{
  font-size: 1.14286em;
  font-style: inherit;
  letter-spacing: -0.006em;
  color: rgb(23, 43, 77);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 0px 8px;
  line-height: 1.42857;
  max-height: 42px;
}
.header-card{
  height: 40px;
}
.body-card{
  padding: 0 12px 0 12px;
}
.body-button-card{
}
.footer-card{
  border-top: 1px solid rgb(235, 236, 240);
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 40px;
}
.big-text-card{
  color: #5e6c84;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}
.button-ok{
  border: none;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #fff;
  background: #3B94D6;
  transition: background .1s
}
.button-ok:hover{
  background-color: #2C7BB6;
}
.button-generate{
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background: repeating-linear-gradient(
    45deg,
    #F8F8F8,
    #F8F8F8 10px,
    #E7E7E7 10px,
    #E7E7E7 20px
  );
}
.mini-text-card{
  font-size: 12px;
  color: rgb(122, 134, 154);
}
.visibility{
  opacity: 0.4!important;
  pointer-events: none;
}
/deep/.p-component{
  font-size: 13px!important;
}
/deep/.p-inputtext{
  font-size: 13px!important;
}
