.center-viewer{
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.header-user-card{
  border-bottom: 0 none;
  background: #ffffff;
  color: #323130;
  padding: 0.7rem 0;
  display: flex;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.header-text{
  font-weight: 600;
  font-size: 1.5rem;
}
.normal-text{
  color: #323130;
  font-size: 14px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}
.description-task{
  border-radius: 3px;
  transition: background-color 0.2s;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: #605e5c;
}
.description-files{
  border-radius: 3px;
  transition: background-color 0.2s;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: #605e5c;
}
.task-button-user{
  color: #605e5c;
  width: 2rem;
  height: 2rem;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.task-button-user:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
.upload{
  width: 100%;
  height: 50px;
  border: 1px dashed #ccc;
  cursor: pointer;
}
.big-text-issues{
  font-size: 0.9em;
  font-style: inherit;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 24px;
  color: rgb(23, 43, 77);
  overflow-wrap: break-word;
  min-width: 0px;
}
/deep/.p-dialog .p-dialog-content{
  border-radius: 5px!important;
}
.row-info{
  min-height: 35px;
}
.load-cloud{
  padding: 5px;
  border-radius: 3px;
}
.load-cloud:hover{
  background: #f3f2f1;
}
.attachment-files{
  display: flex;
  justify-content: space-between;
}
.underline{
  border-top: 1px solid rgb(223, 225, 230);
}
.bottom-line{
  border-bottom: 1px solid rgb(223, 225, 230);
}
