<div class="all-page-weight">
  <div class="min-height-card">
    <div class="card-head df sticky-card space-between mb-40">
      <div class="df">
        <div class="mr-10">
          <div class="new-button-weight blue-button cxy" (click)="openNew()">
            <div class="pr-10 cxy">
              <img src="assets/icons/plus3.svg" height="18">
            </div>
            <div class="cxy">Добавить строку</div>
          </div>
        </div>
        <div class="mr-10">
          <div (click)="exportExcel()" pTooltip="Выгрузить в Excel" tooltipPosition="top" class="materials-button green-button cxy">
            <img src="assets/icons/xls2.svg" height="26">
          </div>
        </div>
      </div>
      <div>
        {{'Общая масса:' + ' '}} {{totalWeight}}
      </div>
      <div>
        <div class="cx mt-minus10 mb-5">Общий центр тяжести</div>
        <div class="cxy">
          <div class="width-100">
            <div class="mr-5 x-label df space-between">
              <div class="cy name-coordinates mt-minus2">x</div>
              <div class="cy count-coordinates">{{round(totalX)}}</div>
            </div>
          </div>
          <div class="width-100">
            <div class="mr-5 y-label df space-between">
              <div class="cy name-coordinates mt-minus2">y</div>
              <div class="cy count-coordinates">{{round(totalY)}}</div>
            </div>
          </div>
          <div class="width-100">
            <div class="mr-5 z-label df space-between">
              <div class="cy name-coordinates mt-minus2">z</div>
              <div class="cy count-coordinates">{{round(totalZ)}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="cards">
      <p-table #dt [value]="controls" scrollHeight="calc(100vh - 230px)" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 45px; text-align: center; padding-right: 2px; padding-left: 10px" rowspan="2">№ п/п</th>
            <th rowspan="2">Чертёж</th>
            <th rowspan="2">Помещение</th>
            <th rowspan="2">Перемещаемый элемент</th>
            <th rowspan="2">Установка/демонтаж</th>
            <th rowspan="2">Масса, КГ</th>
            <th rowspan="1" colspan="3">Координаты М:</th>
            <th rowspan="1" colspan="3">Момент, КГ*М:</th>
            <th rowspan="2">ФИО</th>
            <th rowspan="2">Дата</th>
          </tr>
          <tr>
            <th style="text-align: center">X</th>
            <th style="text-align: center">Y</th>
            <th style="text-align: center">Z</th>
            <th style="text-align: center">Mx</th>
            <th style="text-align: center">My</th>
            <th style="text-align: center">Mz</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-control let-i="rowIndex">
          <tr style="font-size: small">
            <td>{{i + 1}}</td>
            <td>{{control.docNumber + ' - ' + control.docName}}</td>
            <td>{{control.zoneNumber + ' - ' + control.zoneName}}</td>
            <td>{{control.moveElement}}</td>
            <td>{{control.mount == 0 ? 'Установка' : 'Демонтаж'}}</td>
            <td>{{control.weight}}</td>
            <td>{{round(control.x)}}</td>
            <td>{{round(control.y)}}</td>
            <td>{{round(control.z)}}</td>
            <td>{{round(control.x * control.weight)}}</td>
            <td>{{round(control.y * control.weight)}}</td>
            <td>{{round(control.z * control.weight)}}</td>
            <td>{{auth.getUserName(control.user)}}</td>
            <td>{{getDate(control.date)}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


</div>

<p-dialog [(visible)]="addNew" header="Добавить новую строку" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="">
      <div class="big-text-create mb-1">Чертёж</div>
      <p-dropdown appendTo="body" [options]="drawings" [(ngModel)]="selectedDrawing" [filter]="true" filterBy="filter" [showClear]="true" placeholder="Выберите чертёж">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedDrawing">
            <div>{{selectedDrawing.number + ' - ' + selectedDrawing.name}}</div>
          </div>
        </ng-template>
        <ng-template let-drawing pTemplate="item">
          <div class="drawing-item">
            <div>{{drawing.number + ' - ' + drawing.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="mt-1">
      <div class="big-text-create mb-1">Помещение</div>
      <p-dropdown appendTo="body" [options]="zones" [(ngModel)]="selectedZone" [filter]="true" filterBy="filter" [showClear]="true" placeholder="Выберите помещение">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedZone">
            <div>{{selectedZone.number + ' - ' + selectedZone.name}}</div>
          </div>
        </ng-template>
        <ng-template let-drawing pTemplate="item">
          <div class="drawing-item">
            <div>{{drawing.number + ' - ' + drawing.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="mt-1">
      <div class="big-text-create mb-1">Перемещаемый элемент</div>
      <input type="text" pInputText [(ngModel)]="newControl.moveElement"/>
      <small class="p-error" *ngIf="!newControl.moveElement"></small>
    </div>

    <div class="mt-1">
      <div class="big-text-create mb-10">Установка/демонтаж</div>
      <div class="df">
        <div class="w-50">
          <p-radioButton id="mount" value="0" [(ngModel)]="newControl.mount" (ngModelChange)="checkMountChange()"></p-radioButton> Установка
        </div>
        <div class="w-50">
          <p-radioButton value="1" [(ngModel)]="newControl.mount" (ngModelChange)="checkMountChange()"></p-radioButton> Демонтаж
        </div>
      </div>

    </div>
    <div class="mt-1">
      <div class="mb-1">
        <label for="weight"><span class="big-text-create pr-5">Вес </span> <span class="red-text">КИЛОГРАММЫ</span></label>
      </div>

      <p-inputNumber [useGrouping]="false" mode="decimal" id="weight" [minFractionDigits]="1" locale="en-US" [(ngModel)]="newControl.weight"></p-inputNumber>
      <small class="p-error" *ngIf="!newControl.weight"></small>
    </div>
    <div class="mt-1">
      <div class="mb-10">
        <label for="weight"><span class="big-text-create pr-5">Координаты </span> <span class="red-text">МЕТРЫ</span></label>
      </div>
      <div class="df mb-10">
        <div class="w-50">
          <p-radioButton id="right" value="0" [(ngModel)]="newControl.side" (ngModelChange)="checkSideChange()"></p-radioButton> Правый борт
        </div>
        <div class="w-50">
          <p-radioButton id="left" value="1" [(ngModel)]="newControl.side" (ngModelChange)="checkSideChange()"></p-radioButton> Левый борт
        </div>
      </div>

      <div class="df">
        <div class="mr-5">
          <label for="x">
            <div class="text-center-x">X</div>
          </label>
          <p-inputNumber [useGrouping]="false" mode="decimal" id="x" [minFractionDigits]="1" locale="en-US" [(ngModel)]="newControl.x"></p-inputNumber>
          <small class="p-error" *ngIf="!newControl.x"></small>
        </div>
        <div class="mx-5">
          <label for="y">
            <div class="text-center-x">Y</div>
          </label>
          <p-inputNumber [useGrouping]="false" mode="decimal" id="y" [minFractionDigits]="1" locale="en-US" [(ngModel)]="newControl.y"></p-inputNumber>
          <small class="p-error" *ngIf="!newControl.y"></small>
        </div>
        <div class="ml-5">
          <label for="z">
            <div class="text-center-x">Z</div>
          </label>
          <p-inputNumber [useGrouping]="false" mode="decimal" id="z" [minFractionDigits]="1" locale="en-US" [(ngModel)]="newControl.z"></p-inputNumber>
          <small class="p-error" *ngIf="!newControl.z"></small>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="df justify-content-end">
      <div class="mr-5 cx">
        <div tabindex="11" (click)="hide()" pButton [label]="t.tr('Отмена')" class="button-cancel ml-1"></div>
      </div>
      <div tabindex="10" [class.disabled-button]="isSaveDisabled()" (click)="save()" pButton [label]="t.tr('Сохранить')" class="button-ok"></div>
    </div>

  </ng-template>
</p-dialog>
