<div class="all-page-labor">
  <div class="min-height-card">
    <div class="empty-card"></div>
    <div class="card-head df sticky-card">
      <div class="df">
        <div class="mr-10">
          <p-dropdown placeholder="Project" optionLabel="label" optionValue="name" [(ngModel)]="project" [options]="projects" (ngModelChange)="projectChanged()" styleClass="width-170 border">
          </p-dropdown>
        </div>
        <div class="mr-10">
          <p-dropdown placeholder="Department" [(ngModel)]="department" [options]="departments" (ngModelChange)="departmentChanged()" styleClass="width-170 border">
          </p-dropdown>
        </div>
        <div class="mr-10">
          <p-dropdown placeholder="Stage" [(ngModel)]="stage" [options]="stages" (ngModelChange)="stageChanged()" styleClass="width-170 border">
          </p-dropdown>
        </div>
        <div class="mr-10">
          <p-dropdown placeholder="Type" [(ngModel)]="taskType" [options]="taskTypes" (ngModelChange)="taskTypeChanged()" styleClass="width-170 border">
          </p-dropdown>
        </div>
        <div class="mr-10">
          <p-dropdown placeholder="Status" [(ngModel)]="status" [options]="statuses" (ngModelChange)="statusChanged()" styleClass="width-170 border">
          </p-dropdown>
        </div>
        <div class="mr-10" (click)="exportXls()">
          <div class="materials-button green-button cxy">
            <img src="assets/icons/xls2.svg" height="26">
          </div>
        </div>
        <div class="mr-10">
          <div [pTooltip]="t.tr('Сохранить')" tooltipPosition="top" class="materials-button yellow-button cxy" (click)="saveLabor()">
            <img src="assets/icons/diskette.svg" height="24">
          </div>
        </div>
        <div class="mr-10">
          <div [pTooltip]="t.tr('Зафиксировать все')" tooltipPosition="top" [class.disabled-button]="!auth.hasPerms('lock-labor')" class="materials-button red-button cxy" (click)="lockAll()">
            <img src="assets/icons/lock1.svg" height="24">
          </div>
        </div>
      </div>
      <div class="df text-black-mini">
        <span class="cxy width-35">{{round(getSumConsumed())}}</span>
        <span class="mx-10 cy">/</span>
        <span class="cxy width-35">{{round(getSumPlan())}}</span>
      </div>
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" [placeholder]="t.tr('Поиск...')" [(ngModel)]="search" (ngModelChange)="searchChange()" class="border" />
        </span>
    </div>
    <div class="empty-card-bottom"></div>


    <cdk-virtual-scroll-viewport autosize style="height: 79vh">
      <div class="dash-card" *cdkVirtualFor="let issue of issues">
        <div class="card-task">
          <div class="left-col mr-10 cursor-pointer" (click)="openIssue(issue)">
            <div class="df">
              <div class="title-bold mb-5 mr-10" [class.no-margin]="issue.doc_number == ''" [innerHTML]="(issue.doc_number) | highLight: search"></div>
              <div class="gray-bold">{{issue.issue_type}}</div>
            </div>

            <span class="text-mini-gray" [innerHTML]="(issue.name) | highLight: search"></span>
          </div>

          <div class="mm-text">
            <div class="mb-10">{{issue.period}}</div>
            <div>{{getDateOnly(issue.contract_due_date)}}</div>
          </div>
          <div>
            <div class="df">
              <div>
                <img src="assets/icons/flag-start.svg" height="24">
              </div>
              <div class="mm-text">start</div>
            </div>
            <div *ngIf="issue.start_date == 0"></div>
            <div class="text-black-min" *ngIf="issue.start_date != 0">{{getDateOnly(issue.start_date)}}</div>
          </div>
          <div>
            <div class="df">
              <div>
                <img src="assets/icons/flag-finish.svg" height="24">
              </div>
              <div class="mm-text">finish</div>
            </div>
            <div *ngIf="issue.due_date == 0"></div>
            <div class="text-black-mini" *ngIf="issue.due_date != 0">{{getDateOnly(issue.due_date)}}</div>
          </div>

          <div class="cy">
            <div [innerHTML]="issueManagerService.localeStatus(issue.status) | safeHtml"></div>
          </div>

          <div class="cy">
            <div class="cx text-black-mini mb-5">
              <span class="cy width-20">
                <div>{{round(getConsumedLabor(issue.id, issue.doc_number))}}</div>
              </span>
              <span class="mx-10 cy">/</span>
              <span class="cursor-pointer width-50 mr-15" *ngIf="laborUpdates[issue.id] != null">
                <p-inputNumber [disabled]="laborUpdates[issue.id].locked == 1 || !auth.hasPerms('laboriousness') || (lockedByPlan[issue.id] == true)" [(ngModel)]="laborUpdates[issue.id].planHours" mode="decimal"></p-inputNumber>
              </span>
              <div class="cxy unlock cursor-pointer" *ngIf="laborUpdates[issue.id].locked == 0" (click)="lockLabor(issue.id, 1)" [class.disabled-button]="!auth.hasPerms('lock-labor')">
                <img src="assets/icons/unlock.svg" height="22">
              </div>
              <div class="cxy lock cursor-pointer" *ngIf="laborUpdates[issue.id].locked == 1" (click)="lockLabor(issue.id, 0)" [class.disabled-button]="!auth.hasPerms('lock-labor')  || lockedByPlan[issue.id]">
                <img src="assets/icons/lock.svg" height="22">
              </div>
            </div>
          </div>
          <div class="">
            <p-progressBar [value]="issue.labor" unit="%"></p-progressBar>
          </div>
        </div>
      </div>

    </cdk-virtual-scroll-viewport>

<!--    <p-virtualScroller [value]="issues" scrollHeight="80vh" [itemSize]="105">-->
<!--      <ng-template pTemplate="item" let-issue>-->
<!--        <div class="dash-card">-->
<!--          <div class="card-task">-->
<!--            <div>-->

<!--            </div>-->
<!--&lt;!&ndash;            <div *ngIf="!issue.doc_number.includes('5') "></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div *ngIf="issue.doc_number.includes('5') " class="deadline cxy">deadline</div>&ndash;&gt;-->
<!--            <div class="left-col">-->
<!--              <div class="title-bold mb-5">{{issue.doc_number}}</div>-->
<!--              <div class="text-mini-gray">{{issue.name}}</div>-->
<!--            </div>-->
<!--            <div>{{issue.period}}</div>-->
<!--            <div>-->
<!--              <div class="mm-text cx mb-5">Трудоемкость</div>-->
<!--              <div class="cx text-black-mini mb-5">-->
<!--                <span>-->
<!--                  <div>{{getConsumedLabor(issue.id, issue.doc_number)}}</div>-->
<!--                </span>-->
<!--                <span class="mx-10">/</span>-->
<!--                <span class="cursor-pointer" *ngIf="laborUpdates[issue.id] != null">-->
<!--                  <p-inputNumber [disabled]="laborUpdates[issue.id].locked == 1" [(ngModel)]="laborUpdates[issue.id].planHours" mode="decimal"></p-inputNumber>-->
<!--                </span>-->
<!--                <div (click)="lockLabor(issue.id, 1)" *ngIf="laborUpdates[issue.id].locked == 0">LOCK</div>-->
<!--                <div (click)="lockLabor(issue.id, 0)" *ngIf="laborUpdates[issue.id].locked == 1">UNLOCK</div>-->
<!--              </div>-->
<!--&lt;!&ndash;              <p-progressBar [value]="issue.labor" unit="%"></p-progressBar>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </p-virtualScroller>-->
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
