<div class="all-page-labor">
  <div class="min-height-card">
    <div class="empty-card"></div>
    <div class="card-head df sticky-card">
      <div class="mr-10">
        <p-dropdown placeholder="Project" optionLabel="label" optionValue="name" [(ngModel)]="project" [options]="projects" (ngModelChange)="projectChanged()" styleClass="width-170 border">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <p-dropdown placeholder="Department" [(ngModel)]="department" [options]="departments" (ngModelChange)="departmentChanged()" styleClass="width-170 border">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <p-dropdown placeholder="Stage" [(ngModel)]="stage" [options]="stages" (ngModelChange)="stageChanged()" styleClass="width-170 border">
        </p-dropdown>
      </div>
      <div class="mr-10">
        <div class="materials-button green-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>
      <div class="ml-10 df tabs-header">
      </div>
      <div (click)="saveLabor()">
        SAVE
      </div>
    </div>
    <div class="empty-card-bottom"></div>
    <p-virtualScroller [value]="issues" scrollHeight="80vh" [itemSize]="85">
      <ng-template pTemplate="item" let-issue>
        <div class="dash-card">
          <div class="card-task">
            <div>

            </div>
<!--            <div *ngIf="!issue.doc_number.includes('5') "></div>-->
<!--            <div *ngIf="issue.doc_number.includes('5') " class="deadline cxy">deadline</div>-->
            <div class="left-col">
              <div class="title-bold mb-5">{{issue.doc_number}}</div>
              <div class="text-mini-gray">{{issue.name}}</div>
            </div>
            <div>{{issue.period}}</div>
            <div>
              <div class="mm-text cx mb-5">Трудоемкость</div>
              <div class="cx text-black-mini mb-5">
                <span>
                  <div>{{getConsumedLabor(issue.id, issue.doc_number)}}</div>
                </span>
                <span class="mx-10">/</span>
                <span class="cursor-pointer" *ngIf="laborUpdates[issue.id] != null">
                  <p-inputNumber [disabled]="laborUpdates[issue.id].locked == 1" [(ngModel)]="laborUpdates[issue.id].planHours" mode="decimal"></p-inputNumber>
                </span>
                <div (click)="lockLabor(issue.id, 1)" *ngIf="laborUpdates[issue.id].locked == 0">LOCK</div>
                <div (click)="lockLabor(issue.id, 0)" *ngIf="laborUpdates[issue.id].locked == 1">UNLOCK</div>
              </div>
              <p-progressBar [value]="issue.labor" unit="%"></p-progressBar>
            </div>
          </div>
        </div>
      </ng-template>
    </p-virtualScroller>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
