<div class="all-page">
  <div class="card">
    <div class="calendar-header">
      <div class="cy width-200">
        <p-multiSelect styleClass="width-200" [options]="departments" [(ngModel)]="selectedDepartments" optionLabel="label" optionValue="value"></p-multiSelect>
      </div>

      <div class="df ml-20 w-80">
        <div class="cxy cursor-pointer prev-month blue-button" (click)="fillPrevDays()">
          <img src="assets/icons/arrow-l.svg" height="16">
        </div>
        <div class="cxy cursor-pointer next-month blue-button" (click)="fillNextDays()">
          <img src="assets/icons/arrow-r2.svg" height="16">
        </div>
        <div class="w-100 cxy">
          <div class="cxy">{{currentMonth}}</div>
        </div>
        <div class="mr-10">
          <div class="materials-button-w red-button cxy space-between" [pTooltip]="t.tr('Больничный')" tooltipPosition="top">
            <div class="pr-10 cxy">
              <img src="assets/icons/hospital.svg" height="18">
            </div>
            <div class="cursor-pointer">
              <p-inputNumber inputStyleClass="width-50 padding-none" [placeholder]="t.tr('дни')" [(ngModel)]="vacation"></p-inputNumber>
            </div>
          </div>
        </div>
        <div class="">
          <div class="materials-button-w yellow-button cxy space-between" [pTooltip]="t.tr('Отпуск')" tooltipPosition="top">
            <div class="pr-10 cxy">
              <img src="assets/icons/summer.svg" height="18">
            </div>
            <div class="cursor-pointer">
              <p-inputNumber inputStyleClass="width-50 padding-none" [placeholder]="t.tr('дни')" [(ngModel)]="vacation"></p-inputNumber>
            </div>
          </div>
        </div>
      </div>

      <div class="width-425 pl-25 cy">
        <div class="w-100 df space-between">
          <div class="mr-10">
            <div class="materials-button gray-button cxy" (click)="clearFilters()" [pTooltip]="t.tr('Очистить фильтры')" tooltipPosition="top">
              <img src="assets/icons/filter-no.svg" height="18">
            </div>
          </div>
          <div class="mr-1 cy mt-10">
            <div class="mr-10">
              <label class="container margin-bottom-none">
                <span class="text-checkbox">{{t.tr('Показать незапланированные')}}</span>
                <input (change)="filterIssues()" type="checkbox" [(ngModel)]="showWithoutPlan">
                <span class="checkmark"></span>
              </label>
            </div>
            <div>
              <label class="container margin-bottom-none">
                <span class="text-checkbox">{{t.tr('Показать назначенные')}}</span>
                <input (change)="filterIssues()" type="checkbox" [(ngModel)]="showAssigned">
                <span class="checkmark"></span>
              </label>
            </div>

          </div>
        </div>

      </div>

    </div>
    <div class="df space-between">
      <div class="users-days w-100">
        <div class="df sticky">
          <div class="w-10 min-width-170 users pl-10 header-users">
            <span>{{t.tr('Сотрудники')}}</span>
          </div>
          <div class="w-90">
            <div class="calendar w-100">
              <div class="month-date">
                <!--              <div *ngFor="let day of getDaysInMonth()" [class.off-day]="isWeekend(day)" [class.today-day]="isCurrentDay(day)" class="day-number-header cxy">{{day}}<span *ngIf="isShorter(day)">*</span></div>-->
                <div *ngFor="let pDay of headerPDays" [class.off-day]="pDay.day_type == 3" [class.today-day]="isCurrentPDay(pDay)" class="day-number-header cxy position-relative">
                  <div class="plan-day-day mt-5">{{pDay.day}}<span *ngIf="pDay.day_type == 2">*</span></div>
<!--                  <div class="plan-day-month">{{formatMonth(pDay.month)}}</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="df hover-user" *ngFor="let user of getUsers()">
          <div class="w-10 min-width-170 users pl-10 cursor-pointer">
            <span>{{user.userName}}</span>
          </div>
          <div class="w-90">
            <div class="calendar w-100">
              <div class="month-date" #addTask>
                <!--              <div *ngFor="let day of getDaysInMonth()" tabindex="1" [class.management]="user.visibility.includes('r')" (mouseenter)="setHover(day, user)" (mouseleave)="resetHover()" [class.day-border]="dayHover == day && userHover == user" (contextmenu)="selectDay(day)" [class.off-day]="isWeekend(day)" [class.today-days]="isCurrentDay(day)" class="day-number cxy"></div>-->
                <div pDroppable="issue" (onDrop)="dragDrop($event, pDay, user)" #day *ngFor="let pDay of userPDays[user.id]" [class.off-day]="pDay.day_type == 3" [class.border-none]="hasTask(pDay)" class="day-number cxy" (contextmenu)="selectDay(pDay, user)">
                  <span *ngIf="pDay.day_type == 2"></span>
                  <div (click)="openTask(task.taskId)" (contextmenu)="selectTaskOfDay(task)" *ngFor="let task of getTasksOfDay(pDay)" [ngStyle]="getDayStyle(task)" class="plan-hours" pTooltip="{{task.tooltip}}" tooltipPosition="top">
                    {{task.planHours.length}}
                  </div>
                </div>
              </div>
            </div>
            <p-contextMenu #contextMenu [target]="addTask" appendTo="body" [model]="items"></p-contextMenu>
          </div>
        </div>

        <div *ngIf="loading">
          <div class="cxy loading">
            <div class="cxy flex-column">
              <img src="assets/whale.gif" height="120">
              <div class="cx loading-text">PLEASE WAIT...</div>
            </div>
          </div>
        </div>

      </div>
      <div class="width-420">
        <div class="df space-between mt-5">
          <div class="ml-20">
            <div class="big-text-user mb-1">{{t.tr('Проект')}}</div>
            <p-dropdown appendTo="body" placeholder="Project" [(ngModel)]="project" optionValue="name" [options]="projects" styleClass="width-150" (ngModelChange)="projectChanged()"></p-dropdown>
          </div>
          <div>
            <div class="big-text-user mb-1">{{t.tr('Отдел')}}</div>
            <p-dropdown appendTo="body" placeholder="Department" [(ngModel)]="department" [options]="departments" (ngModelChange)="departmentChanged()" styleClass="width-150"></p-dropdown>
          </div>
        </div>
        <div class="df space-between ">
          <div class="ml-20">
            <div class="big-text-user mb-1 mt-4px">{{t.tr('Этап')}}</div>
            <p-dropdown appendTo="body" placeholder="Stage" [(ngModel)]="stage" [options]="stages" (ngModelChange)="stageChanged()" styleClass="width-150"></p-dropdown>
          </div>
          <div>
            <div class="big-text-user mb-1 mt-4px">{{t.tr('Тип')}}</div>
            <p-dropdown appendTo="body" placeholder="Type" [(ngModel)]="taskType" [options]="taskTypes" (ngModelChange)="taskTypeChanged()" styleClass="width-150"></p-dropdown>
          </div>
        </div>

        <div class="df space-between mb-10">
          <div class="ml-20">
            <div class="big-text-user mb-1 mt-4px">{{t.tr('Статус')}}</div>
            <p-dropdown appendTo = "body" placeholder="Status" [(ngModel)]="status" [options]="statuses" (ngModelChange)="statusChanged()" styleClass="width-150"></p-dropdown>
          </div>
          <div>
            <div class="big-text-user mb-1 mt-24"></div>
            <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input [(ngModel)]="searchValue" (ngModelChange)="filterIssues()" pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border width-150" />
          </span>
          </div>
        </div>

        <cdk-virtual-scroll-viewport class="background-gray" autosize style="height: calc(100vh - 390px)">
          <div class="h-100 issues-all" *cdkVirtualFor="let issue of issues">
            <div class="cursor-pointer" (click)="selectIssue(issue);">
              <div pDraggable="issue" (dragstart)="drag($event, issue, dragValues[issue.id])" (dragend)="dragEnd($event)">
                <div class="one-row-w df space-between" (click)="openTask(issue.id)">
                  <div class="title-bold">{{issue.doc_number}}</div>
                  <div [innerHTML]="issueManager.localeStatus(issue.status) | safeHtml"></div>
                </div>
                <div class="text-mini-gray">
                  <div>{{issue.name}}</div>
                </div>
                <div class="df mm-text space-between mt-2px">
                  <div class="mm-text df">
                    <div>{{t.tr('Исполнитель') + ' ' + '-'}}</div>
                    <div class="pl-2px">{{auth.getUserName(issue.assigned_to)}}</div>
                  </div>
                  <div class="df">
                    <img src="assets/icons/flag-finish.svg" height="20">
                    <div>{{getDateOnly(issue.contract_due_date)}}</div>
                  </div>
                </div>
              </div>
              <div>
                <div class="df space-between">
                  <div>
                    <div class="width-50 mm-text">{{t.tr('назначить')}}</div>
                  </div>
                  <div class="df mm-text">
                    <div class="cxy width-50">{{t.tr('план')}}</div>
                    <div class="mx-10 cy mm-text">/</div>
                    <div class="cxy width-50">{{t.tr('использовано')}}</div>
                  </div>
                </div>
                <div class="df space-between mt-2px">
                  <div>
                    <div class="cursor-pointer width-50">
                      <p-inputNumber [disabled]="issue.plan_hours == 0" inputStyleClass="width-70" [(ngModel)]="dragValues[issue.id]" mode="decimal"></p-inputNumber>
                    </div>
                  </div>
                  <div class="df">
                    <div class="cxy width-50">
                      <div class="text-black-mini">{{issue.plan_hours}}</div>
                    </div>
                    <div class="mx-10 cy text-black-mini">/</div>
                    <div class="cxy width-50">
                      <div class="text-black-mini">{{getPlanned(issue)}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div (click)="searchIssue(issue)" class="width-30 mb-minus10 mt-5">
                <svg class="icon-dfx ml-5" width="20px" height="20px" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.25909 11.6021C3.94254 8.32689 6.79437 6 10 6C13.2057 6 16.0574 8.32688 16.7409 11.6021C16.7974 11.8725 17.0622 12.0459 17.3325 11.9895C17.6029 11.933 17.7763 11.6682 17.7199 11.3979C16.9425 7.67312 13.6934 5 10 5C6.3066 5 3.05742 7.67311 2.28017 11.3979C2.22377 11.6682 2.39718 11.933 2.6675 11.9895C2.93782 12.0459 3.20268 11.8725 3.25909 11.6021Z"/>
                  <path d="M9.98953 8C11.9225 8 13.4895 9.567 13.4895 11.5C13.4895 13.433 11.9225 15 9.98953 15C8.05653 15 6.48953 13.433 6.48953 11.5C6.48953 9.567 8.05653 8 9.98953 8Z"/>
                </svg>
              </div>



            </div>

<!--            <div>-->
<!--              <span>{{getPlanned(issue)}}</span>-->
<!--              <span>/</span>-->
<!--              <span>{{issue.plan_hours}}</span>-->
<!--            </div>-->
<!--            <p-inputNumber [(ngModel)]="dragValues[issue.id]"></p-inputNumber>-->
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
</div>




