<div class="all-page">
  <div class="card">
    <div class="calendar-header">
      <div class="cy w-20">
        <p-multiSelect [options]="departments" [(ngModel)]="selectedDepartments" optionLabel="label" optionValue="value"></p-multiSelect>
      </div>
      <div class="w-100 cx">
        <div (click)="fillPrevDays()">PREV</div>
        <div (click)="fillNextDays()">NEXT</div>
      </div>
    </div>
    <div class="users-days">
      <div class="df sticky">
        <div class="w-15 min-width-265 users pl-10 header-users">
          <span>{{t.tr('Сотрудники')}}</span>
        </div>
        <div class="w-85">
          <div class="calendar w-100">
            <div class="month-date">
<!--              <div *ngFor="let day of getDaysInMonth()" [class.off-day]="isWeekend(day)" [class.today-day]="isCurrentDay(day)" class="day-number-header cxy">{{day}}<span *ngIf="isShorter(day)">*</span></div>-->
              <div *ngFor="let pDay of headerPDays" [class.off-day]="pDay.day_type == 3" [class.today-day]="isCurrentPDay(pDay)" class="day-number-header cxy position-relative">
                <div class="plan-day-day">{{pDay.day}}<span *ngIf="pDay.day_type == 2">*</span></div>
                <div class="plan-day-month">{{formatMonth(pDay.month)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="df hover-user" *ngFor="let user of getUsers()">
        <div class="w-15 min-width-265 users pl-10 cursor-pointer">
          <span>{{user.userName}}</span>
        </div>
        <div class="w-85">
          <div class="calendar w-100">
            <div class="month-date" #addTask>
              <!--              <div *ngFor="let day of getDaysInMonth()" tabindex="1" [class.management]="user.visibility.includes('r')" (mouseenter)="setHover(day, user)" (mouseleave)="resetHover()" [class.day-border]="dayHover == day && userHover == user" (contextmenu)="selectDay(day)" [class.off-day]="isWeekend(day)" [class.today-days]="isCurrentDay(day)" class="day-number cxy"></div>-->
              <div (click)="showBusyHoursCount(pDay)" #day *ngFor="let pDay of userPDays[user.id]" [class.off-day]="pDay.day_type == 3" [class.border-none]="hasTask(pDay)" class="day-number cxy" (mouseenter)="setHover(pDay, user)" (mouseleave)="resetHover()" (contextmenu)="selectDay(pDay, user)" [class.day-border]="dayHover == pDay && userHover == user">
                <span *ngIf="pDay.day_type == 2"></span>
                <div *ngFor="let task of getTasksOfDay(pDay)" [ngStyle]="getDayStyle(task)" class="plan-hours">
                  {{task.planHours.length}}
                </div>
              </div>
            </div>
          </div>
          <p-contextMenu #contextMenu (onHide)="hoverEnabled = true" [target]="addTask" appendTo="body" [model]="items"></p-contextMenu>
        </div>
      </div>
      <div class="spinner" *ngIf="loading"><p-progressSpinner></p-progressSpinner></div>
    </div>

  </div>
</div>




