/deep/.p-component{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
  padding: 8px 10px 8px 10px;
}
/deep/.p-multiselect .p-multiselect-label {
  padding: 8px 10px 8px 10px;
}
.calendar-header{
  height: 65px;
  color: #323130;
  border: 1px solid #f3f2f1;
  border-width: 1px 0 1px 0;
  padding: 0.75rem 0 0.75rem;
  font-weight: 600;
  display: flex;
}
.day-number-header{
  border-left: 1px solid #f3f2f1;
  color: #333;
  background-color: white;
  width: 48px;
}
.off-day{
  background-color: #f7f7f8;
}
.today-day{
  background-color: #f5f7ff;
  border-top: 3px solid #0553CC;
}
.users-days{
  height: calc(100vh - 210px);
  overflow-y: auto;
  width: 80%;
}
.users{
  font-size: 14px;
  color: #323130;
  border-bottom: 1px solid #f3f2f1;
  border-right: 1px solid #f3f2f1;
  display: flex;
  align-items: center;
}
.header-users{
  background-color: white;
  font-weight: 600;
}
.hours-font{
  font-size: 17px;
  font-weight: 500;
}
.month-date{
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  height: 45px;
  border-bottom: 1px solid #f3f2f1;
}
.hover-user:hover{
  background-color: hsla(220, 11%, 97%, 1);
}
.day-number{
  border-left: 1px solid #f3f2f1;
  color: #333;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 48px;
  z-index: 1;
}
.border-none{
  border: none;
}
/*.day-number:hover{*/
/*  border: 2px solid #FFB240;*/
/*}*/
.day-border{
  border: 2px solid #FFB240;
}
.plan-hours{
  color: white;
  font-size: 11px;
  padding-left: 3px;
  font-weight: 700;
  z-index: 2;
  cursor: pointer;
}
.spinner{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 15;
}
.plan-day-day{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
.plan-day-month{
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.task-row{
  padding: 8px 5px;
}
.task-row:hover{
  background-color: #EEF5FA !important;
}
.select-row{
  background-color: #EEF5FA !important;
}
