<form style="height: 750px;" [formGroup]="supplierForm" class="form-container">
  <div>
<!--    <div  class="task-button cxy mr-10" [pTooltip]="t.tr('Добавить материал')" [class.disabled-button]="!this.auth.hasPerms('create_material')" (click)="addMaterial()">-->
<!--      <img src="assets/icons/add-material.png"src="assets/icons/add-material.png" height="20">-->
<!--    </div>-->
    <div class="sticky">




<!--      если перешли с оборудования (parent)-->
      <div *ngIf="parent_data != undefined">
        <div class="df group_info-buttons">
          <div class="df">
            <div class="group_info text-bottom">ID {{parent_data.id}} - GROUP - SFI {{parent_data.sfi}} - {{parent_data.name}}</div>
          </div>
          <div class="task-buttons">
            <div  class="task-button cxy mr-10" tooltipPosition="top" [pTooltip]="t.tr('Добавить материал')" [class.disabled-button]="!this.auth.hasPerms('create_material')" (click)="addMaterial()">
              <img src="assets/icons/add-material.png" height="20">
            </div>
            <div routerLink="/equipments" [queryParams]="{equipmentId: equipment_id, supplierId: supplier_id}" class="task-button cxy mr-10" tooltipPosition="top" [pTooltip]="t.tr('Копировать ссылку поставщика')" (click)="copySupplierUrl()">
              <img src="assets/icons/link.svg" height="20">
            </div>
            <div class="task-button cxy mr-10" tooltipPosition="top" [pTooltip]="t.tr('Создать связанную задачу')" (click)="createCombined(null)">
              <img class="rotate-90" src="assets/icons/linktask.svg" height="20">
            </div>
            <div class="task-button cxy mr-2" [hidden]="buttonsAreHidden" tooltipPosition="top" [pTooltip]="(t.tr('Удалить поставщика'))" (click)="deleteSupplier(supplier_id)">
              <img src="assets/icons/trash.svg" height="20">
            </div>
            <div class="task-button-close cxy" (click)="close()">
              <i class="pi pi-times"></i>
            </div>
          </div>
        </div>
        <div class="df">
          <div class="text-uppercase text-bold text-bottom">SFI {{eq_data.sfi_unit}} - {{sup_data.model}} - {{sup_data.name}}</div>
        </div>
      </div>

      <!--      если перешли с группы (eq)-->
      <div *ngIf="parent_data === undefined">
        <div class="df group_info-buttons">
          <div class="df">
            <div class="group_info text-bottom">ID {{eq_data.id}} - GROUP - SFI {{eq_data.sfi}} - {{eq_data.name}}</div>
          </div>
          <div class="task-buttons">
            <div  class="task-button cxy mr-10" tooltipPosition="top" [pTooltip]="t.tr('Добавить материал')" [class.disabled-button]="!this.auth.hasPerms('create_material')" (click)="addMaterial()">
              <img src="assets/icons/add-material.png" height="20">
            </div>
            <div routerLink="/equipments" [queryParams]="{equipmentId: equipment_id, supplierId: supplier_id}" class="task-button cxy mr-10" tooltipPosition="top" [pTooltip]="t.tr('Копировать ссылку поставщика')" (click)="copySupplierUrl()">
              <img src="assets/icons/link.svg" height="20">
            </div>
            <div class="task-button cxy mr-10" tooltipPosition="top" [pTooltip]="t.tr('Создать связанную задачу')" (click)="createCombined(null)">
              <img class="rotate-90" src="assets/icons/linktask.svg" height="20">
            </div>
            <div class="task-button cxy mr-2" [hidden]="buttonsAreHidden" tooltipPosition="top" [pTooltip]="(t.tr('Удалить поставщика'))" (click)="deleteSupplier(supplier_id)">
              <img src="assets/icons/trash.svg" height="20">
            </div>
            <div class="task-button-close cxy" (click)="close()">
              <i class="pi pi-times"></i>
            </div>
          </div>
        </div>
        <div class="df">
          <div class="text-uppercase text-bold text-bottom">{{supplierForm.value.model}} - {{supplierForm.value.name}}</div>
        </div>
      </div>
    </div>


    <div class="supplier_body pt-10">
      <div style="display: grid; grid-template-columns: 3fr 2fr; gap: 15px;">
        <div class="df flex-column">
          <label class="big-text-create mb-1 mt-10" for="model">{{t.tr('Наименование')}} </label>
          <input pInputText id="model" type="text" formControlName="model" placeholder="{{t.tr('Наименование')}}">
        </div>

        <div class="df flex-column">
          <label class="big-text-create mb-1 mt-10" for="manufacturer">{{t.tr('Производитель')}} </label>
          <input pInputText id="manufacturer" type="text" formControlName="manufacturer" placeholder="{{t.tr('Производитель')}}">
        </div>
      </div>

      <div style="display: grid; grid-template-columns: 1.5fr 3.5fr; gap: 15px;" >
        <div class="df flex-column">
          <span class="big-text-create mb-1 mt-10" >{{t.tr('Статус')}} </span>
          <p-dropdown formControlName="status" class="select" id="status" [options]="statusTitle" appendTo = "body" styleClass="font-14 w-100"></p-dropdown>
        </div>

        <div class="df flex-column">
          <span class="big-text-create mb-1 mt-10" >{{t.tr('Поставщик')}} </span>
          <p-dropdown *ngIf="!addedNewSupp" class="select" optionLabel="name" optionValue="id"  placeholder="Выберите поставщика" [options]="supplierNames" appendTo = "body" styleClass="font-13 w-100" [filter]="true" formControlName="supp_id" filterBy="name" (onChange)="onSupplierSelect($event.value)">
            <ng-template  let-supplierName pTemplate="item">
              <div class="df user-select">
                <div>{{supplierName.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

<!--        <div class="df">-->
<!--&lt;!&ndash;          <input *ngIf="addedNewSupp" id="name" type="text" class="p-inputtext p-component p-element width-300 ng-untouched ng-pristine ng-valid" (keydown.tab)="$event.preventDefault(); $event.stopPropagation()" formControlName="name">&ndash;&gt;-->
<!--          <p-dropdown *ngIf="!addedNewSupp" class="select" optionLabel="name" optionValue="id"  placeholder="Выберите поставщика" [options]="supplierNames" appendTo = "body" styleClass="width-300 font-13" [filter]="true" formControlName="supp_id" filterBy="name" (onChange)="onSupplierSelect($event.value)">-->
<!--            <ng-template  let-supplierName pTemplate="item">-->
<!--              <div class="df user-select">-->
<!--                <div>{{supplierName.name}}</div>-->
<!--              </div>-->
<!--            </ng-template>-->
<!--          </p-dropdown>-->
<!--        </div>-->
      </div>

      <div class="df flex-column w-100">
        <label class="big-text-create mb-1 mt-10" for="comment">{{t.tr('Комментарий')}} </label>
        <input pInputText id="comment" type="text" formControlName="comment" placeholder="{{t.tr('Комментарий')}}">
      </div>
      <div class="df flex-column">
        <label class="big-text-create mb-1 mt-10" for="description">{{t.tr('Описание')}} </label>
        <textarea style="resize: none" class="w-100 height-60" pInputText id="description" type="text" formControlName="description" placeholder="{{t.tr('Описание')}}"></textarea>
      </div>

      <div  style="display: grid; grid-template-columns: 2fr 2fr 1fr; gap: 15px;">
        <div class="df flex-column">
          <label class="big-text-create mb-1 mt-10" for="ele_param">{{t.tr('Эл.парам')}} </label>
          <input pInputText id="ele_param" type="text" formControlName="ele_param" placeholder="{{t.tr('Эл.парам')}}">
        </div>

        <div class="df flex-column">
          <label class="big-text-create mb-1 mt-10" for="mech_param">{{t.tr('Мех.парам')}} </label>
          <input pInputText id="mech_param" type="text" formControlName="mech_param" placeholder="{{t.tr('Мех.парам')}}">
        </div>

        <div class="df flex-column">
          <label class="big-text-create mb-1 mt-10" for="weight">{{t.tr('Вес')}} </label>
          <input pInputText id="weight" type="text" formControlName="weight" placeholder="{{t.tr('Вес')}}">
        </div>
      </div>
    </div>

    <div class="mr-5 mt-20 " style="max-width: 70px; min-height: 2em; margin-left: auto; margin-right: 0em;">
      <div tabindex="10" (click)="saveButton()" class="button-ok cxy" style="background-color: #22c55e">{{t.tr('Сохранить')}}</div>
      <!--      <div tabindex="10" [hidden]="buttonsAreHidden" (click)="close()" class="button-cancel cxy ml-20">{{t.tr('Отмена')}}</div>-->
    </div>


<!--    <div  class="mr-5 cy">-->
<!--      <div tabindex="10"  (click)="saveButton()" class="button-ok ml-1" >{{t.tr('Сохранить')}}</div>-->
<!--    </div>-->



    <div>
      <div>
        <div class="df space-between">
          <div class="df">
            <div [ngClass]="{checkButton: showAttachmentButton}" class="mt-1 pb-5 mr-10 mr-5 cursor-pointer fs-12" (click)="showAttachmentFiles()">{{t.tr('Файлы')}}</div>
            <div [ngClass]="{checkButton: !showAttachmentButton}" class="mt-1 pb-5 cursor-pointer fs-12" (click)="showArchivedFiles()">{{t.tr('Архив')}}</div>
          </div>
        </div>
        <div class="pb-10" style="border-top: solid 1px #dedede69"></div>

        <!--      это блок с вложенными файлами-->
        <div  *ngIf="showAttachmentButton">
          <div class="archive-no" *ngIf="supplierFilesSrc.length == 0">Здесь пока нет добавленных файлов</div>
          <p-table *ngIf="supplierFilesSrc.length != 0" [value]="getSupFiles(supplierFilesSrc)" styleClass="p-datatable-striped" [tableStyle]="">
            <ng-template pTemplate="body" let-file>
              <tr>
                <td class="padding-3">
                  <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">
                    <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>
                    <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>
                  </div>
                </td>
                <td class="padding-3">{{file.type_name}}</td>
                <td class="padding-3">rev{{file.rev}}</td>
                <td class="padding-3">{{this.auth.getUserNameById(file.user_id)}}</td>
                <td class="padding-3">{{this.getDateOnly(file.create_date)}}</td>
                <td class="padding-3">
                  <a [href]="file.url" [download]="file.name" (click)="$event.stopPropagation()">
                    <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                      <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                    </svg>
                  </a>
                <td class="padding-3">
                  <div class="cursor-pointer" [hidden]="buttonsAreHidden" (click)="deleteFile(file)">
                    <svg class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                      <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                    </svg>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div *ngIf="!showAttachmentButton">
          <div class="archive-no" *ngIf="archivedSupplierFilesSrc.length == 0">{{t.tr('Здесь пока нет заархивированных файлов')}}</div>
          <p-table *ngIf="archivedSupplierFilesSrc.length != 0" [value]="getSupFiles(archivedSupplierFilesSrc)" styleClass="p-datatable-striped" [tableStyle]="">
            <ng-template pTemplate="body" let-file>
              <tr>
                <td class="padding-3">
                  <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">
                    <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>
                    <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>
                  </div>
                </td>
                <td class="padding-3">{{file.type_name}}</td>
                <td class="padding-3">REV{{file.rev}}</td>
                <td class="padding-3">{{this.auth.getUserNameById(file.user_id)}}</td>
                <td class="padding-3">{{this.getDateOnly(file.archived_date)}}</td>
                <td class="padding-3">
                  <a [href]="file.url" [download]="file.name" (click)="$event.stopPropagation()">
                    <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                      <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                    </svg>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div [ngClass]=" (showAttachmentButton && supplierFilesSrc.length > 5) || (!showAttachmentButton && archivedSupplierFilesSrc.length > 5) ? 'df files-buttons': 'df justify-content-end mt-20'">
          <button type="button" *ngIf="(showAttachmentButton && supplierFilesSrc.length > 5) || (!showAttachmentButton && archivedSupplierFilesSrc.length > 5)" tabindex="10" (click)="toggleShowMoreButton()" class="button-show-more">{{showMoreButtonClicked ? t.tr('Скрыть') : t.tr('Показать еще')}}</button>

          <div  class="mr-5 cy">
            <div [hidden]="buttonsAreHidden" *ngIf="showAttachmentButton" tabindex="10"  (click)="addFiles()" class="button-ok ml-1" >{{t.tr('Добавить файлы')}}</div>
          </div>
        </div>


        <div [collapse]="contentRelated" class="big-text mb-1 mt-20 collapse-header cursor-pointer" *ngIf="relatedTasks.length != 0" (click)="contentClick('relatedTasks')">
          <div class="cy mr-10 arrow-up" [class.arrow-down]="collapsed.includes('relatedTasks')">
            <img src="assets/icons/arrow-right.png">
          </div>
          <div *ngIf="relatedTasks.length != 0">{{t.tr('Связанные задачи')}}</div>
        </div>
        <div collapseContent #contentRelated="collapseContent" class="collapse-body">
          <div class="ovf-auto" *ngIf="relatedTasks.length != 0">
            <div class="subtask df align-center" *ngFor="let task of relatedTasks">
              <div class="subtask-grid" (click)="openIssue(task.issue_id)">
                <div class="pr-10">{{task.issue_typ}}</div>
                <div class="pr-10 min-width-75">
                  <span [innerHTML]="issueManager.trim(task.issue_name)"></span>
                </div>
                <div class="df min-width-180">
                  <div class="min-text mt-2px">{{t.tr('Автор - ')}}</div>
                  <div [innerHTML]="issueManager.getAssignedToTrim(task.started_by)"></div>
                </div>
                <div class="df min-width-180">
                  <div class="min-text mt-2px">{{t.tr('Исполнитель - ')}}</div>
                  <div [innerHTML]="issueManager.getAssignedToTrim(task.assigned_to)"></div>
                </div>
                <div class="df min-width-180">
                  <div class="min-text mt-2px">{{t.tr('Ответственный - ')}}</div>
                  <div [innerHTML]="issueManager.getAssignedToTrim(task.responsible)"></div>
                </div>
                <div class="" [innerHTML]="issueManager.localeStatus(task.status) | safeHtml"></div>
              </div>
              <div [pTooltip]="t.tr('Удалить связь')" tooltipPosition="top" (click)="deleteRelatedTask(task.id)" class="mt-3px position-relative">
                <div class="untie padding-3 cxy">
                  <img src="assets/icons/cancel-red.svg" height="12">
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--      связанные материалы-->
        <div [collapse]="contentRelatedMaterials" class="big-text mb-1 mt-10 collapse-header cursor-pointer" *ngIf="relatedMaterials.length != 0" (click)="contentClick('relatedMaterials')">
          <div class="cy mr-10 arrow-up" [class.arrow-down]="collapsed.includes('relatedMaterials')">
            <img src="assets/icons/arrow-right.png">
          </div>
          <div>{{t.tr('Связанные материалы')}}</div>
        </div>
        <div collapseContent #contentRelatedMaterials="collapseContent" class="collapse-body">
          <div class="ovf-auto" *ngIf="relatedMaterials.length != 0">
            <div class="" *ngFor="let material of relatedMaterials">
              <div class="related-sup-mat" [ngClass]="{ 'cursor-pointer': material.doc_number}" (click)="viewTask(material.issue_id, material.foran,material.doc_number, material.dep_name)">
                <div class="pl-10">{{material.stock_code}}</div>
                <div class="pl-2px">{{material.name}}</div>
                <!--              <div class="pr-10"></div>-->
                <div class="pr-10" style="text-align: end">{{material.doc_number}}</div>
              </div>
            </div>
          </div>
        </div>


        <!--      <div collapseContent #contentRelatedMaterials="collapseContent" class="collapse-body">-->
        <!--        <div class="ovf-auto" *ngIf="relatedMaterials.length != 0">-->
        <!--          <div class="subtask df" *ngFor="let material of relatedMaterials">-->
        <!--            <div class="subtask-grid" (click)="viewTask(material.issue_id, material.foran,material.doc_number, material.dep_name)">-->
        <!--              <div class="pr-10">{{material.stock_code}}</div>-->
        <!--              <div class="pl-2px pr-10">{{material.name}}</div>-->
        <!--&lt;!&ndash;              <div class="pr-10"></div>&ndash;&gt;-->
        <!--              <div class="pr-10">{{material.doc_number}}</div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->


        <div class="big-text mt-1 mb-1">{{t.tr('История')}}</div>
        <p-table [value]="historyArray.reverse()" styleClass="p-datatable-striped"  [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="body" let-history>
            <div class="df history-text" *ngIf="history.name_value == 'created'">
              <div class="pt-5 mr-10">
                <img src="{{auth.getUserAvatarId(history.author)}}" height="32" width="32" style="border-radius: 16px; cursor:pointer;">
              </div>
              <div class="history-text">
                <span class="bold-text">{{auth.getUserNameById(history.author)}}</span>
                <span class="text-descr px-5">{{t.tr('добавил(а) поставщика')}}</span>
                <span class="text-date">{{getDate(history.update_date)}}</span>
              </div>
            </div>
            <div class="pb-20 history-text"  *ngIf="history.name_value == 'added file'">
              <div class="df">
                <div class="pt-5 mr-10">
                  <img src="{{auth.getUserAvatarId(history.author)}}" height="32" width="32" style="border-radius: 16px; cursor:pointer;">
                </div>
                <div>
                  <div class="history-text">
                    <span class="bold-text">{{auth.getUserNameById(history.author)}}</span>
                    <span class="text-descr px-5">{{t.tr('добавил(а) файл')}}</span>
                    <span class="text-date">{{getDate(history.update_date)}}</span>
                  </div>
                  <div class="pt-5">
                    <div class="df">
                      <div (click)="openFile(history.new_value)" class="df cursor-pointer">
                        <img [src]="'assets/task/' + getFileExtensionIcon(history.new_value)" height="16"/>
                        <span class="file-name-esp mx-10 cy">{{trimFileName(history.new_value, 22) + ' '}}</span>
                      </div>
                      <div>
                        <a [href]="history.new_value" [download]="history.new_value" (click)="$event.stopPropagation()">
                          <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pb-20 history-text" *ngIf="history.name_value != 'created' && history.name_value != 'added file'">
              <div class="df">
                <div class="pt-5 mr-10">
                  <img src="{{auth.getUserAvatarId(history.author)}}" height="32" width="32" style="border-radius: 16px; cursor:pointer;">
                </div>
                <div>
                  <div>
                    <span class="bold-text">{{auth.getUserNameById(history.author)}}</span>
                    <span class="text-descr px-5">{{t.tr(refactorHistoryTitle(history.name_value))}}</span>
                    <span class="text-date">{{getDate(history.update_date)}}</span>
                  </div>
                  <div class="pt-5">
                    <span class="history-text" [innerHTML]="formatValue(history.name_value, history.prev_value) | safeHtml"></span>
                    <span class="px-10">
                      <img src="assets/icons/right-arrow.svg" height="13">
                    </span>
                    <span [innerHTML]="formatValue(history.name_value, history.new_value) | safeHtml"></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</form>
<p-toast key="supplierUrl" position="bottom-center"></p-toast>




















<!--<form style="height: 750px;" [formGroup]="supplierForm" class="form-container">-->
<!--  <div >-->
<!--  <div class="task-header sticky">-->
<!--    <div class="df">-->
<!--      <div class="text-head text-bottom">ID {{supplier_id}} | SFI {{sfi}} - {{sfi_name}}</div>-->
<!--    </div>-->
<!--    <div class="task-buttons">-->
<!--      <div routerLink="/equipments" [queryParams]="{equipmentId: equipment_id, supplierId: supplier_id}" class="task-button cxy mr-10" tooltipPosition="top" [pTooltip]="t.tr('Копировать ссылку поставщика')" (click)="copySupplierUrl()">-->
<!--        <img src="assets/icons/link.svg" height="20">-->
<!--      </div>-->
<!--      <div class="task-button cxy mr-10" tooltipPosition="top" [pTooltip]="t.tr('Создать связанную задачу')" (click)="createCombined(null)">-->
<!--        <img class="rotate-90" src="assets/icons/linktask.svg" height="20">-->
<!--      </div>-->
<!--      <div class="task-button cxy mr-2" [hidden]="buttonsAreHidden" tooltipPosition="top" [pTooltip]="(t.tr('Удалить поставщика'))" (click)="deleteSupplier(supplier_id)">-->
<!--        <img src="assets/icons/trash.svg" height="20">-->
<!--      </div>-->
<!--      <div class="task-button-close cxy" (click)="close()">-->
<!--        <i class="pi pi-times"></i>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="pt-10 pb-10">-->
<!--      <span class="task-name hover-task cursor-pointer">{{supplierForm.value.name}}</span>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div>-->

<!--    <div class="status-manufacturer">-->
<!--      <div class="status-container">-->
<!--        <div class="text-y line-text normal-text mb-5">{{t.tr('Статус')}}</div>-->
<!--&lt;!&ndash;        <p [hidden]="edit =='status'" class="info-status mt-16 p-inputtext" (click)="showEditBlock('status')">{{supplierForm.value.status}} </p>&ndash;&gt;-->
<!--        <div class="">-->
<!--          <p-dropdown formControlName="status" class="select" id="status" [options]="statusTitle" (onChange)="editSupplier('changed status', this.prev_sup_data.status, this.supplierForm.value.status)" appendTo = "body" styleClass="font-14 w-100"></p-dropdown>-->
<!--&lt;!&ndash;          <div class="df cxy ml-5">&ndash;&gt;-->
<!--&lt;!&ndash;            <div (click)="editSupplier('changed status', this.prev_sup_data.status, this.supplierForm.value.status)">&ndash;&gt;-->
<!--&lt;!&ndash;              <div  class="task-name-button cxy mr-10">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="assets/icons/tick.svg">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div (click)="showEditBlock('')">&ndash;&gt;-->
<!--&lt;!&ndash;              <div  class="task-name-button cxy">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="assets/icons/cancel.svg">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="pl-15 manufacturer-container">-->
<!--        <div class="text-y normal-text mb-5">{{t.tr('Производитель')}}</div>-->
<!--&lt;!&ndash;        <p [hidden]="edit =='manufacturer'" class="width-160 info-manufacturer mt-16 p-inputtext" (click)="showEditBlock('manufacturer')">{{supplierForm.value.manufacturer}} </p>&ndash;&gt;-->
<!--        <div class="df input-botton">-->
<!--          <input class="info-manufacturer inputtext w-10 min-width-160" id="manufacturer" type="text" formControlName="manufacturer">-->
<!--          <div class="df">-->
<!--            <div class="cursor-pointer" (click)="editSupplier('changed manufacturer', this.prev_sup_data.manufacturer, this.supplierForm.value.manufacturer)">-->
<!--              <div  class="task-name-button cxy">-->
<!--                <img src="assets/icons/tick.svg">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="cursor-pointer" (click)="showEditBlock('')">-->
<!--              <div  class="task-name-button cxy">-->
<!--                <img src="assets/icons/cancel.svg">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="mt-5">-->
<!--      <div class=" text-y mb-5 normal-text w-30">{{t.tr('Комментарий')}}</div>-->
<!--      <div class="min-width-160">-->
<!--&lt;!&ndash;        <p  class="width-160 info-comment mt-16 p-inputtext">{{supplierForm.value.comment}} </p>&ndash;&gt;-->
<!--        <div class="df input-botton">-->
<!--          <input class="info-comment inputtext w-10 min-width-160" id="comment" type="text" formControlName="comment" (click)="showEditBlock('comment')">-->
<!--          <div class="df">-->
<!--            <div class="cursor-pointer" (click)="editSupplier('changed comment', this.prev_sup_data.comment, this.supplierForm.value.comment)">-->
<!--              <div  class="task-name-button cxy">-->
<!--                <img src="assets/icons/tick.svg">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="cursor-pointer" (click)="showEditBlock('')">-->
<!--              <div  class="task-name-button cxy">-->
<!--                <img src="assets/icons/cancel.svg">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="mt-5">-->
<!--      <div class="df text-y mb-5 normal-text w-30">{{t.tr('Описание')}}</div>-->
<!--      <div class="min-height-80">-->
<!--        &lt;!&ndash;        <p [hidden]="edit =='description'" class="width-160 info-description mt-16 p-inputtext" (click)="showEditBlock('description')">{{supplierForm.value.description}} </p>&ndash;&gt;-->
<!--        <div class="df input-botton description-container">-->
<!--          <textarea class="info-description  inputtext w-10 description-textarea min-width-160" id="description" type="text" formControlName="description"></textarea>-->
<!--          <div class="df">-->
<!--            <div class="cursor-pointer" (click)="editSupplier('changed description', this.prev_sup_data.description, this.supplierForm.value.description)">-->
<!--              <div  class="task-name-button cxy">-->
<!--                <img src="assets/icons/tick.svg">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="cursor-pointer" (click)="showEditBlock('')">-->
<!--              <div  class="task-name-button cxy">-->
<!--                <img src="assets/icons/cancel.svg">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--      &lt;!&ndash;    <div class="mt-3px">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="df text-y height-30 normal-text w-30">{{t.tr('Описание')}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="min-height-80">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <p [hidden]="edit =='description'" class="width-160 info-description mt-16 p-inputtext" (click)="showEditBlock('description')">{{supplierForm.value.description}} </p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="df" *ngIf="edit =='description'">&ndash;&gt;-->
<!--&lt;!&ndash;          <input class="info-description mt-16 p-inputtext w-100" id="description" type="text" formControlName="description">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="df mt-10">&ndash;&gt;-->
<!--&lt;!&ndash;            <div (click)="editSupplier('changed description', this.prev_sup_data.description, this.supplierForm.value.description)">&ndash;&gt;-->
<!--&lt;!&ndash;              <div  class="task-name-button cxy mr-10">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="assets/icons/tick.svg">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div (click)="showEditBlock('')">&ndash;&gt;-->
<!--&lt;!&ndash;              <div  class="task-name-button cxy">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="assets/icons/cancel.svg">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->


<!--  <div>-->
<!--    <div>-->
<!--      <div class="df space-between">-->
<!--        <div class="df">-->
<!--          <div [ngClass]="{checkButton: showAttachmentButton}" class="mt-1 pb-5 mr-10 mr-5 cursor-pointer fs-12" (click)="showAttachmentFiles()">{{t.tr('Файлы')}}</div>-->
<!--          <div [ngClass]="{checkButton: !showAttachmentButton}" class="mt-1 pb-5 cursor-pointer fs-12" (click)="showArchivedFiles()">{{t.tr('Архив')}}</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="pb-10" style="border-top: solid 1px #dedede69"></div>-->

<!--            &lt;!&ndash;      это блок с вложенными файлами&ndash;&gt;-->
<!--      <div  *ngIf="showAttachmentButton">-->
<!--        <div class="archive-no" *ngIf="supplierFilesSrc.length == 0">Здесь пока нет добавленных файлов</div>-->
<!--        <p-table *ngIf="supplierFilesSrc.length != 0" [value]="getSupFiles(supplierFilesSrc)" styleClass="p-datatable-striped" [tableStyle]="">-->
<!--          <ng-template pTemplate="body" let-file>-->
<!--            <tr>-->
<!--              <td class="padding-3">-->
<!--                <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">-->
<!--                  <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>-->
<!--                  <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="padding-3">{{file.type_name}}</td>-->
<!--              <td class="padding-3">rev{{file.rev}}</td>-->
<!--              <td class="padding-3">{{this.auth.getUserNameById(file.user_id)}}</td>-->
<!--              <td class="padding-3">{{this.getDateOnly(file.create_date)}}</td>-->
<!--              <td class="padding-3">-->
<!--                <a [href]="file.url" [download]="file.name" (click)="$event.stopPropagation()">-->
<!--                  <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
<!--                    <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>-->
<!--                  </svg>-->
<!--                </a>-->
<!--              <td class="padding-3">-->
<!--                <div class="cursor-pointer" [hidden]="buttonsAreHidden" (click)="deleteFile(file)">-->
<!--                  <svg class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
<!--                    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>-->
<!--                  </svg>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--          </ng-template>-->
<!--        </p-table>-->
<!--      </div>-->

<!--      <div *ngIf="!showAttachmentButton">-->
<!--        <div class="archive-no" *ngIf="archivedSupplierFilesSrc.length == 0">{{t.tr('Здесь пока нет заархивированных файлов')}}</div>-->
<!--        <p-table *ngIf="archivedSupplierFilesSrc.length != 0" [value]="getSupFiles(archivedSupplierFilesSrc)" styleClass="p-datatable-striped" [tableStyle]="">-->
<!--          <ng-template pTemplate="body" let-file>-->
<!--            <tr>-->
<!--              <td class="padding-3">-->
<!--                <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">-->
<!--                  <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>-->
<!--                  <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="padding-3">{{file.type_name}}</td>-->
<!--              <td class="padding-3">REV{{file.rev}}</td>-->
<!--              <td class="padding-3">{{this.auth.getUserNameById(file.user_id)}}</td>-->
<!--              <td class="padding-3">{{this.getDateOnly(file.archived_date)}}</td>-->
<!--              <td class="padding-3">-->
<!--                <a [href]="file.url" [download]="file.name" (click)="$event.stopPropagation()">-->
<!--                  <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
<!--                    <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>-->
<!--                  </svg>-->
<!--                </a>-->
<!--              </td>-->
<!--            </tr>-->
<!--          </ng-template>-->
<!--        </p-table>-->
<!--      </div>-->

<!--      <div [ngClass]=" (showAttachmentButton && supplierFilesSrc.length > 5) || (!showAttachmentButton && archivedSupplierFilesSrc.length > 5) ? 'df files-buttons': 'df justify-content-end mt-20'">-->
<!--        <button type="button" *ngIf="(showAttachmentButton && supplierFilesSrc.length > 5) || (!showAttachmentButton && archivedSupplierFilesSrc.length > 5)" tabindex="10" (click)="toggleShowMoreButton()" class="button-show-more">{{showMoreButtonClicked ? t.tr('Скрыть') : t.tr('Показать еще')}}</button>-->

<!--        <div  class="mr-5 cy">-->
<!--          <div [hidden]="buttonsAreHidden" *ngIf="showAttachmentButton" tabindex="10"  (click)="addFiles()" class="button-ok ml-1" >{{t.tr('Добавить файлы')}}</div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div [collapse]="contentRelated" class="big-text mb-1 mt-20 collapse-header cursor-pointer" *ngIf="relatedTasks.length != 0" (click)="contentClick('relatedTasks')">-->
<!--        <div class="cy mr-10 arrow-up" [class.arrow-down]="collapsed.includes('relatedTasks')">-->
<!--          <img src="assets/icons/arrow-right.png">-->
<!--        </div>-->
<!--        <div *ngIf="relatedTasks.length != 0">{{t.tr('Связанные задачи')}}</div>-->
<!--      </div>-->
<!--      <div collapseContent #contentRelated="collapseContent" class="collapse-body">-->
<!--        <div class="ovf-auto" *ngIf="relatedTasks.length != 0">-->
<!--          <div class="subtask df align-center" *ngFor="let task of relatedTasks">-->
<!--            <div class="subtask-grid" (click)="openIssue(task.issue_id)">-->
<!--              <div class="pr-10">{{task.issue_typ}}</div>-->
<!--              <div class="pr-10 min-width-75">-->
<!--                <span [innerHTML]="issueManager.trim(task.issue_name)"></span>-->
<!--              </div>-->
<!--              <div class="df min-width-180">-->
<!--                <div class="min-text mt-2px">{{t.tr('Автор - ')}}</div>-->
<!--                <div [innerHTML]="issueManager.getAssignedToTrim(task.started_by)"></div>-->
<!--              </div>-->
<!--              <div class="df min-width-180">-->
<!--                <div class="min-text mt-2px">{{t.tr('Исполнитель - ')}}</div>-->
<!--                <div [innerHTML]="issueManager.getAssignedToTrim(task.assigned_to)"></div>-->
<!--              </div>-->
<!--              <div class="df min-width-180">-->
<!--                <div class="min-text mt-2px">{{t.tr('Ответственный - ')}}</div>-->
<!--                <div [innerHTML]="issueManager.getAssignedToTrim(task.responsible)"></div>-->
<!--              </div>-->
<!--              <div class="" [innerHTML]="issueManager.localeStatus(task.status) | safeHtml"></div>-->
<!--            </div>-->
<!--            <div [pTooltip]="t.tr('Удалить связь')" tooltipPosition="top" (click)="deleteRelatedTask(task.id)" class="mt-3px position-relative">-->
<!--              <div class="untie padding-3 cxy">-->
<!--                <img src="assets/icons/cancel-red.svg" height="12">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--&lt;!&ndash;      связанные материалы&ndash;&gt;-->
<!--      <div [collapse]="contentRelatedMaterials" class="big-text mb-1 mt-10 collapse-header cursor-pointer" *ngIf="relatedMaterials.length != 0" (click)="contentClick('relatedMaterials')">-->
<!--        <div class="cy mr-10 arrow-up" [class.arrow-down]="collapsed.includes('relatedMaterials')">-->
<!--          <img src="assets/icons/arrow-right.png">-->
<!--        </div>-->
<!--        <div>{{t.tr('Связанные материалы')}}</div>-->
<!--      </div>-->
<!--      <div collapseContent #contentRelatedMaterials="collapseContent" class="collapse-body">-->
<!--        <div class="ovf-auto" *ngIf="relatedMaterials.length != 0">-->
<!--          <div class="" *ngFor="let material of relatedMaterials">-->
<!--            <div class="related-sup-mat" [ngClass]="{ 'cursor-pointer': material.doc_number}" (click)="viewTask(material.issue_id, material.foran,material.doc_number, material.dep_name)">-->
<!--              <div class="pl-10">{{material.stock_code}}</div>-->
<!--              <div class="pl-2px">{{material.name}}</div>-->
<!--              &lt;!&ndash;              <div class="pr-10"></div>&ndash;&gt;-->
<!--              <div class="pr-10" style="text-align: end">{{material.doc_number}}</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--&lt;!&ndash;      <div collapseContent #contentRelatedMaterials="collapseContent" class="collapse-body">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="ovf-auto" *ngIf="relatedMaterials.length != 0">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="subtask df" *ngFor="let material of relatedMaterials">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="subtask-grid" (click)="viewTask(material.issue_id, material.foran,material.doc_number, material.dep_name)">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="pr-10">{{material.stock_code}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="pl-2px pr-10">{{material.name}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <div class="pr-10"></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="pr-10">{{material.doc_number}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->


<!--      <div class="big-text mt-1 mb-1">{{t.tr('История')}}</div>-->
<!--      <p-table [value]="historyArray.reverse()" styleClass="p-datatable-striped"  [tableStyle]="{'min-width': '50rem'}">-->
<!--        <ng-template pTemplate="body" let-history>-->
<!--          <div class="df history-text" *ngIf="history.name_value == 'created'">-->
<!--            <div class="pt-5 mr-10">-->
<!--              <img src="{{auth.getUserAvatarId(history.author)}}" height="32" width="32" style="border-radius: 16px; cursor:pointer;">-->
<!--            </div>-->
<!--            <div class="history-text">-->
<!--              <span class="bold-text">{{auth.getUserNameById(history.author)}}</span>-->
<!--              <span class="text-descr px-5">{{t.tr('добавил(а) поставщика')}}</span>-->
<!--              <span class="text-date">{{getDate(history.update_date)}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="pb-20 history-text"  *ngIf="history.name_value == 'added file'">-->
<!--            <div class="df">-->
<!--              <div class="pt-5 mr-10">-->
<!--                <img src="{{auth.getUserAvatarId(history.author)}}" height="32" width="32" style="border-radius: 16px; cursor:pointer;">-->
<!--              </div>-->
<!--              <div>-->
<!--                <div class="history-text">-->
<!--                  <span class="bold-text">{{auth.getUserNameById(history.author)}}</span>-->
<!--                  <span class="text-descr px-5">{{t.tr('добавил(а) файл')}}</span>-->
<!--                  <span class="text-date">{{getDate(history.update_date)}}</span>-->
<!--                </div>-->
<!--                <div class="pt-5">-->
<!--                  <div class="df">-->
<!--                    <div (click)="openFile(history.new_value)" class="df cursor-pointer">-->
<!--                      <img [src]="'assets/task/' + getFileExtensionIcon(history.new_value)" height="16"/>-->
<!--                      <span class="file-name-esp mx-10 cy">{{trimFileName(history.new_value, 22) + ' '}}</span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <a [href]="history.new_value" [download]="history.new_value" (click)="$event.stopPropagation()">-->
<!--                        <svg class="icon-nest" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">-->
<!--                          <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>-->
<!--                        </svg>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="pb-20 history-text" *ngIf="history.name_value != 'created' && history.name_value != 'added file'">-->
<!--            <div class="df">-->
<!--              <div class="pt-5 mr-10">-->
<!--                <img src="{{auth.getUserAvatarId(history.author)}}" height="32" width="32" style="border-radius: 16px; cursor:pointer;">-->
<!--              </div>-->
<!--              <div>-->
<!--                <div>-->
<!--                  <span class="bold-text">{{auth.getUserNameById(history.author)}}</span>-->
<!--                  <span class="text-descr px-5">{{t.tr(refactorHistoryTitle(history.name_value))}}</span>-->
<!--                  <span class="text-date">{{getDate(history.update_date)}}</span>-->
<!--                </div>-->
<!--                <div class="pt-5">-->
<!--                  <span class="history-text" [innerHTML]="formatValue(history.name_value, history.prev_value) | safeHtml"></span>-->
<!--                  <span class="px-10">-->
<!--                      <img src="assets/icons/right-arrow.svg" height="13">-->
<!--                    </span>-->
<!--                  <span [innerHTML]="formatValue(history.name_value, history.new_value) | safeHtml"></span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--      </p-table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</form>-->
<!--<p-toast key="supplierUrl" position="bottom-center"></p-toast>-->













