.edit-container {
  display: flex;
  flex-direction: column;
}

.header-info {
  display: flex;
  justify-content: space-between;
}
.delete-button {
  cursor: pointer;
}
.main-body {
  display: grid;
  gap: 25px;
  grid-template-columns: 2fr 1fr;
}
.main-right {
  display: flex;
  flex-direction: column;
}
.info_sfi {
  font-weight: 600;
  font-size: 14px;
  color: grey;
}
.info-name {
  font-weight: 600;
  font-size: x-large;
  margin-top: 16px;
}
.main-info_description {
  display: flex;
  flex-direction: column;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
/deep/.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 1.5rem;
}

/deep/ .p-inputtext {
  padding: 8px 10px;
}

/deep/ .p-inputtext:hover {
  background-color: rgba(9, 30, 66, 0.08);
}
.files_table {
  margin-top: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.task-name-button {
  padding: 0px 10px;
  background-color: rgba(9, 30, 66, 0.04);
  height: 32px;
  border-radius: 2px;
  box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.2);
  border: 1px solid #dedede69;
}
.task-name-button:hover{
  background-color: rgba(9, 30, 66, 0.08);
}
.task-buttons {
  height: 32px;
  display: flex;
  justify-content: flex-end;
}


























:host /deep/.ql-container.ql-editor{
  min-height: 100px!important;
  height: auto!important;
}
/deep/.ql-snow .ql-editor img{
  cursor: pointer;
}
/deep/ quill-editor .ql-editor{
  height: 100px!important;
}
/deep/.p-inputtext{
  font-size: 14px;
}
/deep/.ql-snow .ql-editor img {
  transform: translate(-50%, -50%)!important;
  width: 200px!important;
}
/deep/.p-dropdown .p-dropdown-label {
  width: 120px;
}
.custom-progress .p-progressbar {
  background-color: #F5F6F8 !important;
}
.custom-progress .p-progressbar-determinate .p-progressbar-value {
  background-color: #3498DB !important;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  color: white;
  align-items: center;
}
.center{
  height: 680px;
  display: flex;
}
.left-content{
  width: 68%;
  overflow-y: auto;
  padding-right: 15px;
}
.right-content{
  width: 32%;
  padding-left: 15px;
}
.button-new{
  background-color: rgba(9, 30, 66, 0.04);
  font-size: 0.9em;
  border-radius: 3px;
  font-weight: 500;
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 2px 6px;
  color: rgb(66, 82, 110) !important;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  display: flex;
  align-items: center;
}
.button-new:hover {
  background-color: rgb(235, 236, 240);
}
.button-status{
  cursor: pointer;
  margin-right: 10px;
}
.buttons{
  display: flex;
}
.big-text{
  font-size: 0.9em;
  font-style: inherit;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 24px;
  color: rgb(23, 43, 77);
  overflow-wrap: break-word;
  min-width: 0px;
}
.description{
  font-size: 14px;
  line-height: 1.714;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: rgb(23, 43, 77);
  border-radius: 3px;
  height: auto;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
}
.disabled-button{
  pointer-events: none;
  opacity: 0.5;
}
.descr-task{
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: rgb(94, 108, 132);
}
.text:hover{
  background-color: rgb(235, 236, 240);
}
.hover-task:hover{
  background-color: #ebecf0;
}
.header-information{
  position: relative;
  display: flex;
  height: 48px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgb(223, 225, 230);
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 12px;
}
.text-head{
  color: rgb(23, 43, 77);
  font-size: 14px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  flex-shrink: 0;
}
.table{
  padding: 8px 12px;
  box-sizing: border-box;
  border-width: 0px 1px 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: rgb(223, 225, 230);
  border-bottom-color: rgb(223, 225, 230);
  border-left-color: rgb(223, 225, 230);
  border-image: initial;
  border-top-style: initial;
  border-top-color: initial;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.table-overflow{
  height: 600px;
  overflow: auto;
}
.normal-text{
  color: rgb(23, 43, 77);
  font-size: 12px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.file-loading{
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr 0.5fr;
}
.min-text{
  font-size: 12px;
  padding-right: 4px;
  color: rgb(107, 119, 140);
}
.bold-text{
  font-size: 0.9em;
  font-style: inherit;
  font-weight: 500;
  letter-spacing: -0.003em;
  color: rgb(23, 43, 77);
}
.text-descr{
  color: rgb(23, 43, 77);
  font-size: 0.9em;
  white-space: nowrap;
}
.py-5{
  padding-top: 5px;
  padding-bottom: 5px;
}
.text-date{
  color: rgba(66, 82, 110, 0.82);
  font-size: 0.9em;
  white-space: nowrap;
}
.text-date-max{
  color: rgba(59, 72, 94, 0.82);
  font-size: 1em;
  white-space: nowrap;
}
.py-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.px-10{
  padding-right: 10px;
  padding-left: 10px;
}
.px-5{
  padding-right: 5px;
  padding-left: 5px;
}
.button-cancel{
  margin-right: 4px;
  min-width: 70px;
  border-radius: 3px;
  text-shadow: none;
  padding: 8px 10px;
  color: #2E3E4E;
  background: #fff;
  transition: background .1s;
  border: none;
  font-weight: 500;
}
.button-cancel:hover{
  background-color: #ECEDF0;
}
.attachment{
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 135px;
  height: 120px;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 11px;
}
.attachments{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-height: 250px;
  overflow-y: auto;
}
.attachment:hover{
  background-color: #dcdcdc;
}
.attachment-footer{
  background-color: rgba(255, 255, 255, 0.8);
  height: 36px;
  padding: 4px 8px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.check-button{
  background: rgb(80, 95, 121);
  color: rgb(244, 245, 247) !important
}
.check-button:hover{
  background: rgb(80, 95, 121);
  color: rgb(244, 245, 247) !important
}
.attachment-center{
  height: calc(100% - 36px);
}
.content-task{
  height: 50%;
  overflow-y: auto;
}
.description-task{
  border-radius: 3px;
  transition: background-color 0.2s;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: rgb(94, 108, 132);
  word-wrap: break-word;
}
.parent-task{
  border-radius: 3px;
  transition: background-color 0.2s;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.005em;
  color: #0052CC;
}
.parent-task:hover{
  text-decoration: underline;
}
.task-header{
  display: grid;
  grid-template-columns: 66% auto;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.task-name{
  font-size: x-large;
  font-weight: 600;
  border-radius: 3px;
  text-align: justify;
  position: relative;
}
.task-name-change{
  font-size: x-large;
  border-radius: 3px;
  text-align: justify;
  position: relative;
}
.task-name-change-commit{
  font-size: x-large;
  border-radius: 3px;
  text-align: justify;
  position: relative;
  max-height: 100px!important;
}
.padding-8{
  padding: 8px;
}
.font{
  font-size: x-large!important;
}
.task-buttons{
  height: 32px;
  display: flex;
  justify-content: flex-end;
}
.ding{
  height: 26px;
  width: 26px;
}
.ding:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
  border-radius: 50%;
}
.task-button{
  color: #605e5c;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  padding: 5px;
}
.task-button-close{
  width: 2rem;
  height: 2rem;
  color: #605e5c;
  border: 0 none;
  background: transparent;
  border-radius: 2px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.task-button-close:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
.task-button:hover{
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}
.button-disabled{
  pointer-events: none;
  opacity: 0.5;
}
.image-preview-backdrop{
  top: 0;
  left: 0;
  position: fixed;
  width: calc(100%*4);
  height: calc(100%*4);
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.25);
}
.image-preview-scale{
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1002;
  overflow: hidden;
}
.image-preview{
  max-width: 95vw;
  max-height: 95vh;
}

.profession{
  margin-top: -25px;
}
.buttons-pick-check{
  color: white;
  background-color: #ae5e9b;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-check:hover{
  background: #824774;
  transition: 0.3s;
}
.icon-check{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #864a77;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-work{
  color: white;
  background-color: #01b169;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-work:hover{
  background: #017c49;
  transition: 0.3s;
}
.icon-work{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #017c49;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-reject{
  color: white;
  background-color: #f26c63;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-reject:hover{
  background: #a94b45;
  transition: 0.3s;
}
.icon-reject{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #a94b45;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-problem{
  color: white;
  background-color: #FC7635;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-problem:hover{
  background: #B35728;
  transition: 0.3s;
}
.icon-problem{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #B35728;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-join{
  color: white;
  background-color: #0A7C6E;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-join:hover{
  background: #07594D;
  transition: 0.3s;
}
.icon-join{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #07594D;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-pause{
  color: white;
  background-color: #f8b243;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-pause:hover{
  background: #ad7c2f;
  transition: 0.3s;
}
.icon-pause{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #ad7c2f;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-resolved{
  color: white;
  background-color: #80a8cc;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-resolved:hover{
  background: #59758e;
  transition: 0.3s;
}
.icon-resolved{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #59758e;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-rework{
  color: white;
  background-color: #52be7f;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-rework:hover{
  background: #398559;
  transition: 0.3s;
}
.icon-rework{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #398559;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-send-approval{
  color: white;
  background-color: #fc7736;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-send-approval:hover{
  background: #b05326;
  transition: 0.3s;
}
.icon-send-approval{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #b05326;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-archive{
  color: white;
  background-color: #9a6362;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-archive:hover{
  background: #6b4544;
  transition: 0.3s;
}
.icon-archive{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #6b4544;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-close{
  color: white;
  background-color: #2ecc71;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-close:hover{
  background: #208e4f;
  transition: 0.3s;
}
.icon-close{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #208e4f;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-not-resolved{
  color: white;
  background-color: #fc7736;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-not-resolved:hover{
  background: #b05326;
  transition: 0.3s;
}
.icon-not-resolved{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #b05326;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-assign{
  color: white;
  background-color: #3498db;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-assign:hover{
  background: #246a99;
  transition: 0.3s;
}
.icon-assign{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #246a99;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-change{
  color: white;
  background-color: #80a8cc;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-change:hover{
  background: #5b7992;
  transition: 0.3s;
}
.icon-change{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #5b7992;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-approval{
  color: white;
  background-color: #52be80;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-approval:hover{
  background: #3e875d;
  transition: 0.3s;
}
.icon-approval{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #3e875d;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-not-approval{
  color: white;
  background-color: #e84c3d;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-not-approval:hover{
  background: #a13830;
  transition: 0.3s;
}
.icon-not-approval{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #a13830;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-send{
  color: white;
  background-color: #9d9a27;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-send:hover{
  background: #726d20;
  transition: 0.3s;
}
.icon-send{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #726d20;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-reapproval{
  color: white;
  background-color: #d65106;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-reapproval:hover{
  background: #993d00;
  transition: 0.3s;
}
.icon-reapproval{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #993d00;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-shipyard{
  color: white;
  background-color: #e898bb;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-shipyard:hover{
  background: #a46c85;
  transition: 0.3s;
}
.icon-shipyard{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #a46c85;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-delivery{
  color: white;
  background-color: #7C749A;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-delivery:hover{
  background: #595470;
  transition: 0.3s;
}
.icon-delivery{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #595470;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-delivered{
  color: white;
  background-color: #47C9AF;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-delivered:hover{
  background: #339077;
  transition: 0.3s;
}
.icon-delivered{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #339077;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-rs{
  color: white;
  background-color: #00A2D3;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-rs:hover{
  background: #037496;
  transition: 0.3s;
}
.icon-rs{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #037496;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-approved-rs{
  color: white;
  background-color: #00acd3;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-approved-rs:hover{
  background: #03778d;
  transition: 0.3s;
}
.icon-approved-rs{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #03778d;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-owner{
  color: white;
  background-color: #F26C63;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-owner:hover{
  background: #AC4E42;
  transition: 0.3s;
}
.icon-owner{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #AC4E42;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-fixed{
  color: white;
  background-color: #7F7399;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-fixed:hover{
  background: #5A5470;
  transition: 0.3s;
}
.icon-fixed{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #5A5470;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-revision{
  color: white;
  background-color: #F7941D;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-revision:hover{
  background: #AF691D;
  transition: 0.3s;
}
.icon-revision{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #AF691D;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-recover{
  color: white;
  background-color: #3598DB;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-recover:hover{
  background: #256C9D;
  transition: 0.3s;
}
.icon-recover{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #256C9D;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-publish{
  color: white;
  background-color: #E898BB;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-publish:hover{
  background: #A06C84;
  transition: 0.3s;
}
.icon-publish{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #A06C84;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.buttons-pick-accept{
  color: white;
  background-color: #52BE80;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  letter-spacing: .3px;
  height: 30px;
}
.buttons-pick-accept:hover{
  background: #3C885B;
  transition: 0.3s;
}
.icon-accept{
  display: flex;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #3C885B;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.button-text{
  padding-right: 8px;
  padding-left: 8px;
}
.edit{
  position: absolute;
  right: 35px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.task-name-button{
  padding: 0px 10px;
  background-color: rgba(9, 30, 66, 0.04);
  height: 32px;
  border-radius: 2px;
  box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.2);
  border: 1px solid #dedede69;
}
.task-name-button:hover{
  background-color: rgba(9, 30, 66, 0.08);
}

.quill-button{
  border-radius: 3px;
}
.quill-button:hover{
  background-color: rgba(9, 30, 66, 0.08)!important;
}
.quill-button:active{
  background-color: #d1e5ff !important;
}
.ql-snow.ql-toolbar button.ql-active{
  background: rgba(80, 95, 121, 0.7);
  text-decoration: inherit;
  transition-duration: 0s, 0.15s;
  color: white!important;
}
.ql-snow.ql-toolbar button.ql-active:hover{
  background: rgba(80, 95, 121, 0.7)!important;
}
.p-dialog .p-dialog-content {
  border-radius: 5px!important;
}
.button-hover{
  width: 50px;
}
.border-top{
  border-top: 1px solid rgb(223, 225, 230);
}
.border-bottom{
  border-bottom: 1px solid rgb(223, 225, 230);
}
.button-hover:hover{
  background-color: rgba(9, 30, 66, 0.08);
}
.subtask{
  cursor: pointer;
  position: relative;
  min-height: 40px;
  padding: 0px 6px 6px 6px;
}
.subtask-grid{
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 100px;
  font-size: 13px;
  width: 100%;
}
.subtask:hover{
  background-color: rgba(235, 236, 240, 0.36);
}
.subtask-grid-or{
  display: grid;
  grid-template-columns: 50px 3fr 2fr 2fr 2fr 100px;
  font-size: 13px;
  width: 100%;
}
.attachments-issue{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-height: 115px;
  overflow-y: auto;

}
.attachment-issues-files{
  padding: 3px;
  border-radius: 3px;
  width: 280px;
}
.attachment-answer{
  padding: 3px;
  border-radius: 3px;
  width: 290px;
  background-color: #f8f9fa;
}
.attachment-answer:hover{
  background-color: #EBECF0;
}

.attachment-issues-files:hover{
  background-color: #dadada;
}
.attachment-issues{
  padding: 3px;
  border-radius: 3px;
}
.attachment-footer-issue{
  display: flex;
  align-items: flex-end;
  width: 100%;
  font-size: calc(0.73rem + 0.1vw);
}
.attach{
  display: grid;
  grid-template-columns: 160px 60px 35px;
  align-items: flex-end;
  width: 100%;
  font-size: calc(0.68rem + 0.1vw);
}
.cloud-download{
  color: #afafaf;
}
.cloud-download:hover{
  color: rgb(69, 69, 69);
  transition: 0.2s;
}
.upload-file{
  width: 30px;
  border-radius: 3px;
}
.no-edit{
  pointer-events: none;
  cursor: default !important;
}
.collapse-header{
  position: relative;
  display: flex;
  height: 48px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgb(223, 225, 230);
  align-items: center;
  padding: 8px 12px;
  background-color: #f8f9fa;
}
.collapse-header:hover{
  background-color: #E9ECEF;
}
.collapse-body{
  border: 1px solid rgb(223, 225, 230);
  border-radius: 0px 0px 4px 4px;
}
.arrow-down{
  transform: rotate(90deg);
  transition: 0.4s;
}
.arrow-up{
  transition: 0.4s;
}
.text-none{
  color: rgb(137, 147, 164);
}
.db{
  display: block;
}
.text-light{
  background-color: #EBECF0;
  border-radius: 5px;
}
.file-drag{
  opacity: 0.4;
  border: 2px dashed #ff6600!important;
}
.upload{
  width: 100%;
  height: 50px;
  border: 1px dashed #ccc;
  cursor: pointer;
}
.normal-text-files{
  color: #5e6c84;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
}
.progress-bar{
  width: 200px;
}
.minus-plus{
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 1px solid #e2e2f3;
  color: #BFC2C6;
}
.minus-plus:hover{
  box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);
  border-radius: 50%;
}
.materials-button{
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 6px;
}
.button-add-l{
  padding: 2px 6px;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: .5px;
  color: white;
  background-color: #36B37E;
  width: fit-content;
}
.button-add-l:hover{
  background-color: #42c58e;
}
.untie{
  width: 20px;
  height: 20px;
}
.untie:hover {
  background: rgba(237, 47, 0, 0.21);
}
.file-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
