<div class="header">
  <h1>{{t.tr('Редактировать поставщика')}}</h1>
  <div (click)="close()">X</div>
</div>

<form [formGroup]="supplierForm" class="form-container">
  <div class="header-info">
    <div class="header-info_sfi">
      <div  class="info_sfi" >ID {{supplier_id}} | SFI {{sfi}} - {{sfi_name}}</div>

      <button [hidden]="edit =='name'" [disabled]="buttonsAreHidden" class="edit_container info-name mt-16 p-inputtext" (click)="showEditBlock('name')">{{supplierForm.value.name}} </button>
      <div *ngIf="edit =='name'">
        <label for="name"></label>
        <input class="info-name mt-16 p-inputtext" id="name" type="text" formControlName="name">

        <div class="df cxy">
          <div (click)="editSupplier('changed name', this.prev_sup_data.name, this.supplierForm.value.name)">
            <div  class="task-name-button cxy mr-10">
              <img src="assets/icons/tick.svg">
            </div>
          </div>
          <div (click)="showEditBlock('')">
            <div  class="task-name-button cxy">
              <img src="assets/icons/cancel.svg">
            </div>
          </div>
        </div>
<!--        <div tabindex="10" (click)="editSupplier('changed name', this.prev_sup_data.name, this.supplierForm.value.name)" class="button-ok cxy">{{t.tr('Сохранить изменения')}}</div>-->
<!--        <div tabindex="10" (click)="showEditBlock('')" class="button-cancel ml-1">{{t.tr('Отмена')}}</div>-->
      </div>


    </div>
    <div [hidden]="buttonsAreHidden" tooltipPosition="top" [pTooltip]="(t.tr('Удалить поставщика'))" (click)="deleteSupplier(supplier_id)">
      <svg  class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
      </svg>
    </div>
  </div>
  <hr>

  <div class="main-body">
    <div class="main-info">
      <div class="main-info_description mb-5">

        <label class="mb-1" for="description">{{t.tr('Описание')}}</label>
        <button [disabled]="buttonsAreHidden" [hidden]="edit =='description'" class="edit_container info-description mt-16 p-inputtext" (click)="showEditBlock('description')">{{supplierForm.value.description}} </button>
        <div *ngIf="edit =='description'">
          <input pInputText id="description" type="text" formControlName="description"  placeholder="{{t.tr('Описание')}}">
          <div class="fx cxy">
            <div (click)="editSupplier('changed description', this.prev_sup_data.description, this.supplierForm.value.description)">
              <div  class="task-name-button cxy mr-10">
                <img src="assets/icons/tick.svg">
              </div>
            </div>
            <div (click)="showEditBlock('')">
              <div  class="task-name-button cxy">
                <img src="assets/icons/cancel.svg">
              </div>
            </div>
          </div>

<!--        <label class="mb-1" for="description">{{t.tr('Описание')}}</label>-->
<!--        <input pInputText id="description" type="text" formControlName="description"  placeholder="{{t.tr('Описание')}}">-->
<!--        <div tabindex="10" (click)="editSupplier('changed description', this.prev_sup_data.description, this.supplierForm.value.description)" class="button-ok cxy">{{t.tr('Сохранить изменения')}}</div>-->
        </div>
      </div>





<!--      таблица с файлами вложения-->
      <div class="mt-1" *ngIf="supplierFilesSrc.length != 0">{{t.tr('Вложения')}}</div>
      <p-table class="files_table table" [value]="supplierFilesSrc" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="body" let-file>
          <tr>
            <td>
              <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">
                <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>
                <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>
              </div>
            </td>
            <td>{{file.type_name}}</td>
            <td>REV{{file.rev}}</td>
            <td>{{this.auth.getUserNameById(file.user_id)}}</td>
            <td>{{this.getDateOnly(file.create_date)}}</td>
            <td><a class="p-link" (click)="downloadFile(file.url)" target="_blank">{{t.tr('Скачать')}}</a></td>
            <td>
              <div [hidden]="buttonsAreHidden" (click)="deleteFile(file)">
                <svg class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                </svg>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <button *ngIf="supplierFilesSrc.length != 0" tabindex="10" [disabled]="showMoreFilesButtonIsDisabled" [ngClass]="{disabled: showMoreFilesButtonIsDisabled}" (click)="showMore()" class="button-ok mt-1 ">{{t.tr('Показать еще')}}</button>

      <div  class="mr-5 mt-20 cy">
        <div [hidden]="buttonsAreHidden" tabindex="10"  (click)="addFiles()" class="button-ok ml-1">{{t.tr('Добавить файлы')}}</div>
      </div>




      <div class="mt-1" *ngIf="supplierFiles.length != 0">{{t.tr('Вложения')}}</div>
      <p-table class="files_table table" [value]="supplierFiles" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="body" let-file>

          <tr>
            <td>
              <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">
                <img [src]="'assets/task/' + getFileExtensionIcon(file.url)" height="16"/>
                <span class="file-name-esp mx-10 cy">{{trimFileName(file.url, 22) + ' '}}</span>
              </div>
            </td>
            <td>{{file.type_name}}</td>
            <td>REV{{file.rev}}</td>
            <td>{{this.auth.getUserNameById(file.user_id)}}</td>
            <td><a class="p-link" (click)="downloadFile(file.url)" target="_blank">{{t.tr('Скачать')}}</a></td>
            <td>
              <div [hidden]="buttonsAreHidden" (click)="deleteFile(file)">
                <svg class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                </svg>
              </div>
            </td>
          </tr>

        </ng-template>
      </p-table>
      <div *ngIf="supplierFiles.length != 0" class="mr-5 mt-20 cy">
        <div tabindex="10"  (click)="addFiles2(supplierFiles)" class="button-ok ml-1">{{t.tr('Сохранить изменения')}}</div>
      </div>

      <!--      таблица со связными задачами-->
      <div *ngIf="relatedTasks.length != 0" class="mt-1" >{{t.tr('Связанные задачи')}}</div>
      <p-table *ngIf="relatedTasks.length != 0" class="tasks_table table" [value]="relatedTasks" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="issue_name"> <p-sortIcon field="issue_name"></p-sortIcon></th>
            <th pSortableColumn="issue_name">{{t.tr('Наименование')}} <p-sortIcon field="issue_name"></p-sortIcon></th>
            <th pSortableColumn="started_by">{{t.tr('Автор')}} <p-sortIcon field="started_by"></p-sortIcon></th>
            <th pSortableColumn="responsible">{{t.tr('Ответственный')}} <p-sortIcon field="task.responsible"></p-sortIcon></th>
            <th pSortableColumn="assigned_to">{{t.tr('Исполнитель')}} <p-sortIcon field="assigned_to"></p-sortIcon></th>
            <th pSortableColumn="status">{{t.tr('Статус')}} <p-sortIcon field="status"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
          <tr>
            <td>{{task.issue_type_name}}</td>
            <td>{{task.issue_name}}</td>
            <td>{{this.auth.getUserName(task.started_by)}}</td>
            <td>{{this.auth.getUserName(task.responsible)}}</td>
            <td *ngIf="!task.assigned_to">{{this.auth.getUserName(task.assigned_to)}}</td>
            <td>{{task.status}}</td>
            <td>
              <div [hidden]="buttonsAreHidden" (click)="deleteRelatedTask(task.id)">
                <svg class="icon-nest delete-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                </svg>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="main-right">  <!--блок справа со статусом, комментарием и производителем-->
      <label class="mb-1" for="status">{{t.tr('Статус')}} </label>

      <button [disabled]="buttonsAreHidden" [hidden]="edit =='status'" class="edit_container info-status mt-16 p-inputtext" (click)="showEditBlock('status')">{{supplierForm.value.status}} </button>
      <div *ngIf="edit =='status'">
        <p-dropdown formControlName="status" class="select" id="status" [options]="status" appendTo = "body" styleClass="width-220 font-14"></p-dropdown>
        <div class="df cxy">
          <div (click)="editSupplier('changed status', this.prev_sup_data.status, this.supplierForm.value.status)">
            <div  class="task-name-button cxy mr-10">
              <img src="assets/icons/tick.svg">
            </div>
          </div>
          <div (click)="showEditBlock('')">
            <div  class="task-name-button cxy">
              <img src="assets/icons/cancel.svg">
            </div>
          </div>
        </div>
      </div>


<!--      <p-dropdown formControlName="status" class="select" id="status" [options]="status" appendTo = "body" styleClass="width-220 font-14"></p-dropdown>-->
<!--      <div tabindex="10" (click)="editSupplier('changed status', this.prev_sup_data.status, this.supplierForm.value.status)" class="button-ok cxy">{{t.tr('Сохранить изменения')}}</div>-->

<!--      <label class="mb-1 mt-1" for="comment">{{t.tr('Комментарий')}} </label>-->
<!--      <input pInputText id="comment" type="text" formControlName="comment">-->
<!--      <div tabindex="10" (click)="editSupplier('changed comment', this.prev_sup_data.comment, this.supplierForm.value.comment)" class="button-ok cxy">{{t.tr('Сохранить изменения')}}</div>-->


      <label class="mb-1 mt-1" for="comment">{{t.tr('Комментарий')}} </label>
      <button [disabled]="buttonsAreHidden" [hidden]="edit =='comment'" class="edit_container info-comment mt-16 p-inputtext" (click)="showEditBlock('comment')">{{supplierForm.value.comment}} </button>
      <div *ngIf="edit =='comment'">
        <input class="info-comment mt-16 p-inputtext" id="comment" type="text" formControlName="comment">

        <div class="df cxy">
          <div (click)="editSupplier('changed comment', this.prev_sup_data.comment, this.supplierForm.value.comment)">
            <div  class="task-name-button cxy mr-10">
              <img src="assets/icons/tick.svg">
            </div>
          </div>
          <div (click)="showEditBlock('')">
            <div  class="task-name-button cxy">
              <img src="assets/icons/cancel.svg">
            </div>
          </div>
        </div>
      </div>


      <label class="mb-1 mt-1" for="manufacturer">{{t.tr('Производитель')}} </label>
      <button [disabled]="buttonsAreHidden" [hidden]="edit =='manufacturer'" class="edit_container info-manufacturer mt-16 p-inputtext" (click)="showEditBlock('manufacturer')">{{supplierForm.value.manufacturer}} </button>
      <div *ngIf="edit =='manufacturer'">
        <input class="info-manufacturer mt-16 p-inputtext" id="manufacturer" type="text" formControlName="manufacturer">

        <div class="df cxy">
          <div (click)="editSupplier('changed manufacturer', this.prev_sup_data.manufacturer, this.supplierForm.value.manufacturer)">
            <div  class="task-name-button cxy mr-10">
              <img src="assets/icons/tick.svg">
            </div>
          </div>
          <div (click)="showEditBlock('')">
            <div  class="task-name-button cxy">
              <img src="assets/icons/cancel.svg">
            </div>
          </div>
        </div>
      </div>
<!--      <input pInputText id="manufacturer" type="text" formControlName="manufacturer">-->
<!--      <div tabindex="10" (click)="editSupplier('changed manufacturer', this.prev_sup_data.manufacturer, this.supplierForm.value.manufacturer)" class="button-ok cxy">{{t.tr('Сохранить изменения')}}</div>-->
    </div>
  </div>

  <div class="mt-1" >{{t.tr('История')}}</div>
  <p-table class="files_table table" [value]="historyArray.reverse()" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="body" let-history>
<!--      <div (click)="openFile(file.url)" [pTooltip]="file.name" tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">-->
        <div *ngIf="history.name_value == 'created'">
          <div>{{auth.getUserNameById(history.author)}} {{t.tr('добавил(а) поставщика')}} {{getDate(history.update_date)}}</div>
        </div>


        <div *ngIf="history.name_value == 'added file'">
          <div>{{auth.getUserNameById(history.author)}} {{t.tr('добавил(а) файл')}}</div>
          <tr>
            <td>
              <div (click)="openFile(history.new_value)"  tooltipPosition="bottom" class="attachment-issues df mb-5 cursor-pointer">
                <img [src]="'assets/task/' + getFileExtensionIcon(history.new_value)" height="16"/>
                <span class="file-name-esp mx-10 cy">{{trimFileName(history.new_value, 22) + ' '}}</span>
              </div>
            </td>
            <td><a class="p-link" (click)="downloadFile(history.new_value)" target="_blank">{{t.tr('Скачать')}}</a></td>
            <td>
            </td>
          </tr>
        </div>

        <div *ngIf="history.name_value != 'created' && history.name_value != 'added file'">
          <div>{{auth.getUserNameById(history.author)}}  {{refactorHistoryTitle(history.name_value)}} {{getDate(history.update_date)}}</div>
          <div>{{history.prev_value != '' ? history.prev_value : 'Нет' }} -> {{history.new_value != ''? history.new_value : 'Нет'}}</div>
      </div>
    </ng-template>
  </p-table>

<!--  <div class="history-container">-->
<!--    <div  *ngFor="let history of historyArray[0]">-->
<!--      <p>{{auth.getUserNameById(history.user_id)}} {{history.name_value}}</p>-->



<!--    </div>-->
<!--  </div>-->

</form>



