<div style="height: 250px; width: 400px;">
  <div class="task-header-assign mt-40">
    <div class=" question cxy">
      <div class="question-icon">?</div>
    </div>
  </div>
  <div>
    <div class="confirm-text">{{t.tr('Подтверждение')}}</div>
  </div>
  <div class="mt-1 cxy">
    <div class="delete-text">{{t.tr('Задача на согласование уже создана. Вы хотите создать еще?')}}</div>
  </div>
  <div class="footer-delete mt-2">
    <div class="mr-1 cx">
      <div (click)="yes()" tabindex="10" class="button-ok cxy">{{t.tr('Создать')}}</div>
    </div>
    <div (click)="no()" tabindex="11" pButton [label]="t.tr ('Отмена')" class="button-cancel ml-1"></div>
  </div>
</div>
