<div class="all-page">
  <div class="card-report">
    <div class="card-head df mb-10">
      <div class="df">
<!--        <div class="button-add blue-button cxy mr-15" (click)="addDayTask({number: -1, sum: 0})">-->
<!--          <div class="pr-10 cxy">-->
<!--            <img src="assets/icons/plus3.svg" height="18">-->
<!--          </div>-->
<!--          <div class="cxy">-->
<!--            Add task-->
<!--          </div>-->
<!--        </div>-->
        <div class="df">
          <div class="cxy cursor-pointer prev-month blue-button" (click)="changeMonth(-1)">
            <img src="assets/icons/arrow-l.svg" height="16">
          </div>
          <div class="cxy cursor-pointer next-month blue-button" (click)="changeMonth(1)">
            <img src="assets/icons/arrow-r2.svg" height="16">
          </div>
        </div>
      </div>
      <div class="cx">
        <div class="cxy month-name mx-10 width-200">{{monthName + ' '}}{{' ' + date.getFullYear()}}</div>
      </div>
      <div class="df flex-end" *ngIf="auth.filled && auth.hasPerms('change-daily-user')">
        <p-dropdown appendTo = "body" [options]="users" [(ngModel)]="selectedUser" (ngModelChange)="changeUser()" [filter]="true" filterBy="userName"
                    [showClear]="true" class="p-dropdown-150" styleClass="width-220">
          <ng-template let-user pTemplate="item">
            <div class="df">
              <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
              <div class="cx cy pl-10">{{user.userName}}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="selectedItem">
            <div class="df">
              <img src="{{selectedUser.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
              <div>{{selectedUser.surname}} {{selectedUser.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="">
      <div class="calendar-container ">
        <div class="day-name border-right"></div>
        <div class="day-name week-days cy">Mon</div>
        <div class="day-name week-days cy">Tue</div>
        <div class="day-name week-days cy">Wed</div>
        <div class="day-name week-days cy">Thu</div>
        <div class="day-name week-days cy">Fri</div>
        <div class="day-name week-days cy">Sat</div>
        <div class="day-name week-days cy">Sun</div>
      </div>

      <div class="calendar-container">
        <div
          *ngFor="let cDay of calendar"
          [class.current-day]="cDay.isCurrent"
          [class.weekend-day]="cDay.isWeekend"
          [class.col-day]="cDay.number != 0"
          [class.col-day-hidden]="cDay.number.toString().includes('h')"
          [class.col-day-week]="cDay.number.toString().includes('s')"
        >
          <div *ngIf="cDay.number.toString().includes('s')" class="week-number">
            {{cDay.weekNumber}}
          </div>
          <div class="day-of-month" [ngStyle]="dayOfWeek">
            {{cDay.number.toString().replace('h', '').replace('s', '').replace('b', '').replace('a', '')}}
          </div>
          <div *ngIf="!cDay.number.toString().includes('s') && cDay.sum != 0" class="pb-5 text-black-mini">Отработано {{cDay.sum}} часов</div>
          <div *ngIf="cDay.tasks.length > 0" class="">
            <div #taskInfo class="task-one cursor-pointer" (click)="openTask(task)" *ngFor="let task of cDay.tasks" (contextmenu)="selectTask(task)">
              <div class="df">
                <div class="cx task-text pr-5 line-text">{{trimText(task.docNumber, 20)}}{{task.docNumber == '' ? '' : ' '}}{{task.details}}</div>
                <p-contextMenu [target]="taskInfo" appendTo="body" [model]="items"></p-contextMenu>
              </div>
            </div>
          </div>
          <div class="weekend" *ngIf="cDay.number.toString().includes('s') && !(cDay.number.toString().includes('h'))"></div>
        </div>
      </div>
    </div>
  </div>

</div>
<p-toast key="month-tasks" position="bottom-center"></p-toast>

<!--<div class="all-page h-100 position-relative">-->


<!--  <div class="days">-->
<!--    <div *ngFor="let day of daysInMonth">-->
<!--      <div class="day">-->
<!--        <div class="day-number">{{day.number}}</div>-->
<!--        <div class="add-day-task" (click)="addDayTask(day)">+</div>-->
<!--        <div class="worked-per-day error-text" [class.error-highlight]="showError && day.sum != 0 && day.sum != 8">You worked {{getHours(day.sum)}}:{{getMinutes(day.sum)}} hours this day</div>-->
<!--&lt;!&ndash;        <div class="tasks">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="df mb-1" *ngIf="day.tasks.length > 0">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="width-50 cx task-header">Hours</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="width-70 cx task-header">Project</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="width-150 cx task-header">DocNumber</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="width-70 cx task-header">Action</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="width-150 cx task-header">Details</div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="tasks-table">&ndash;&gt;-->
<!--&lt;!&ndash;            <div *ngFor="let task of day.tasks">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="df">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="width-50 cx task-text">{{getHours(task.time)}}:{{getMinutes(task.time)}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="width-70 cx task-text" tooltipPosition="top" [pTooltip]="task.project">{{trimText(task.project, 6)}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="width-150 cx task-text" tooltipPosition="top" [pTooltip]="task.docNumber">{{trimText(task.docNumber, 16)}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="width-70 cx task-text" tooltipPosition="top" [pTooltip]="task.action">{{trimText(task.action, 8)}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="width-150 cx task-text" tooltipPosition="top" [pTooltip]="task.details">{{trimText(task.details, 16)}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div (click)="deleteDailyTask(task)" class="width-10 cxy cursor-pointer"><img src="assets/icons/trash-1.svg" height="14"></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

