/*/deep/.p-multiselect-header {*/
/*  display: none!important;*/
/*}*/
/deep/.p-component{
  font-size: 13px!important;
}
/deep/.p-inputtext{
  font-size: 13px!important;
  padding: 8px 10px 8px 10px;
}
/deep/.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: 1.5rem;
  height: 1.5rem;
}
/deep/.pi {
  font-size: 13px;
}
/deep/.p-datatable .p-datatable-tbody > tr > td{
  padding: 10px;
}
/deep/.p-datatable .p-datatable-thead > tr > th{
  padding: 8px;
  font-weight: 500;
  border-width: 1px 0 1px 0;
}
/deep/.p-progressbar {
  height: 14px;
  background: rgba(119, 123, 241, 0.1);
  border-radius: 6px;
}
/deep/.p-progressbar .p-progressbar-label {
  font-size: 12px;
}
/deep/.p-progressbar .p-progressbar-value {
  background: #3B82F6;
}
.card{
  height: calc(100vh - 107px);
}
.empty-card{
  height: 20px;
  background: linear-gradient(90deg, rgba(237,237,249,1) 0%, rgba(246,249,252,1) 49%, rgba(236,236,249,1) 100%);
  position: sticky;
  top: 0;
  z-index: 8;
}
.empty-card-bottom{
  height: 20px;
  background: linear-gradient(90deg, rgba(237,237,249,1) 0%, rgba(246,249,252,1) 49%, rgba(236,236,249,1) 100%);
  position: sticky;
  top: 77px;
  z-index: 7;
}
.empty-card-list{
  height: 10px;
  background: linear-gradient(90deg, rgba(237,237,249,1) 0%, rgba(246,249,252,1) 49%, rgba(236,236,249,1) 100%);
}
.card-head{
  background: #fff;
  padding: 12px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: fit-content;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}
.sticky-card{
  position: sticky;
  top: 20px;
  z-index: 8;
}
.materials-button{
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 6px;
}
.clicked{
  background-color: #3B82F6;
  color: white;
}
.materials-button-qna{
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 10px;
  color: white;
}
.materials-button-assignee{
  height: 30px;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 8px;
  color: white;
  font-size: 12px;
}
.row-table-doc-hover:hover{
  background-color: #EEF2FF!important;
}
.count-status{
  border-radius: 6px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(0.1rem + 0.5vw);
  letter-spacing: .3px;
  min-width: 125px;
  border: 1px solid #ced4da;
}
.count-status:hover{
  box-shadow: 0px 2px 8px 2px rgba(34, 60, 80, 0.2);
}
.all{
  border: 1px solid #ced4da;
}
.new{
  color: #23547b;
  background-color: #b3e5fc;
}
.work{
  color: #256029;
  background-color: #c8e6c9;
}
.resolve{
  color: #805b36;
  background-color: #ffd8b2;
}
.close{
  color: #454955;
  background-color: #dae4ff;
}
.reject{
  color: #c63737;
  background-color: #ffcdd2;
}
