<div class="all-page">
  <div class="card">
    <div class="card-head df sticky-card">
      <div class="mr-10">
        <div class="materials-button-qna blue-button cxy" (click)="createQuestion()">
          <div class="pr-10 cxy">
            <img src="assets/icons/plus3.svg" height="18">
          </div>
          <div class="cxy">{{t.tr('Задать вопрос')}}</div>
        </div>
      </div>
      <div class="mr-10">
        <p-dropdown optionLabel="label" class="select" optionValue="value" [(ngModel)]="project" (ngModelChange)="changedProject()" [options]="projects" styleClass="width-170" [placeholder]="t.tr('Проект')"></p-dropdown>
      </div>
      <div class="mr-10">
        <p-dropdown class="select" optionValue="value" [(ngModel)]="department" (ngModelChange)="changedDepartment()" [options]="departments" styleClass="width-170" [placeholder]="t.tr('Отдел')">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2">
              <div>{{localeDepartment(department)}}</div>
            </div>
          </ng-template>
          <ng-template let-dep pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{localeDepartment(dep.value)}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

<!--      lvov, dulanova -->
      <div *ngIf="auth.getUser().id == 25 || auth.getUser().id == 323" class="mr-10">
        <div (click)="exportXls()" [pTooltip]="t.tr('Экспорт XLS')" tooltipPosition="top" class="materials-button green-button cxy">
          <img src="assets/icons/xls2.svg" height="26">
        </div>
      </div>


      <div class="p-ml-auto mr-10 df">
        <div class="mr-10 cxy">
          <div class="">
            <span class="pr-5">{{t.tr('Всего - ')}}</span>
            <span>{{statusesCount('Resolved') + statusesCount('Closed') + statusesCount('New') + statusesCount('AssignedTo') + statusesCount('In Work') + statusesCount('In Rework') + statusesCount('Assign responsible') + statusesCount('Paused') + statusesCount('Rejected')}}</span>
          </div>
        </div>
        <div class="mr-10" (click)="clearFilters(); table.clear();">
          <div class="materials-button gray-button cxy" [pTooltip]="t.tr('Очистить фильтры')" tooltipPosition="top">
            <img src="assets/icons/filter-no.svg" height="18">
          </div>
        </div>
        <div class="mr-10">
          <div class="count-status  cursor-pointer" [class.clicked]="showNew" (click)="switchNew()">
            <span class="pr-5">{{t.tr('Новый - ')}}</span>
            <span>{{statusesCount('New')}}</span>
          </div>
        </div>
        <div class="mr-10">
          <div class="count-status  cursor-pointer" [class.clicked]="showReject" (click)="switchReject()">
            <span class="pr-5">{{t.tr('Отклонено - ')}}</span>
            <span>{{statusesCount('Rejected')}}</span>
          </div>
        </div>
        <div class="mr-10">
          <div class="count-status  cursor-pointer" [class.clicked]="showWork" (click)="switchWork()">
            <span class="pr-5">{{t.tr('В работе - ')}}</span>
            <span>{{statusesCount('AssignedTo') + statusesCount('In Work') + statusesCount('In Rework') + statusesCount('Assign responsible') + statusesCount('Paused')}}({{getIssuesDueDateLength()}})</span>
          </div>
        </div>

        <div class="mr-10">
          <div class="count-status  cursor-pointer" [class.clicked]="showClose" (click)="switchClose()">
            <span class="pr-5">{{t.tr('Закрыто - ')}}</span>
            <span>{{statusesCount('Closed')}}</span>
          </div>
        </div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input (input)="table.filterGlobal(search.value, 'contains')" #search pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border width-170" />
        </span>
      </div>
    </div>
    <p-table #table [value]="questions"
             [scrollable]="true"
             scrollHeight="calc(100vh - 190px)"
             [virtualScroll]="true"
             [virtualRowHeight]="40"
             [reorderableColumns]="false"
             [resizableColumns]="false"
             styleClass="p-datatable-striped"
             responsiveLayout="scroll"
             [globalFilterFields]="['id','doc_number','name','status','started_date']">
      <ng-template pTemplate="header">
        <tr class="df">
          <th style="width: 50px" pSortableColumn="id" class="lxy">{{t.tr('Id')}}
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="project" class="lxy">{{t.tr('Проект')}}
            <p-sortIcon field="project"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'project'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.project" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="department" class="lxy">{{t.tr('Отдел')}}
            <p-sortIcon field="department"></p-sortIcon><p-columnFilter class="filter" [field]="'department'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.department" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>

          </th>
          <th pSortableColumn="status" class="lxy">{{t.tr('Статус')}}
            <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'status'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.status" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="doc_number" class="lxy">{{t.tr('Документ')}}
            <p-sortIcon field="doc_number"></p-sortIcon>
          </th>
          <th pSortableColumn="name" class="lxy">{{t.tr('Тема')}}
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="started_by" class="lxy">{{t.tr('Автор')}}
            <p-sortIcon field="started_by"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'started_by'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.author" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="responsible" class="lxy">{{t.tr('Отв.')}}
            <p-sortIcon field="responsible"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'responsible'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.responsible" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="assigned_to" class="lxy">{{t.tr('Исп.')}}
            <p-sortIcon field="assigned_to"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'assigned_to'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.assigned_to" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="started_date_as_date" class="lxy">{{t.tr('Дата создания')}}
            <p-sortIcon field="started_date_as_date"></p-sortIcon>
            <p-columnFilter type="date" field="started_date_as_date" display="menu"></p-columnFilter>

          </th>
          <th pSortableColumn="due_date" class="lxy">{{t.tr('Срок исп.')}}
            <p-sortIcon field="due_date"></p-sortIcon>
            <p-columnFilter type="date" field="due_date" display="menu"></p-columnFilter>
          </th>

          <th pSortableColumn="priority" class="lxy">{{t.tr('Приоритет')}}
            <p-sortIcon field="priority"></p-sortIcon>
            <p-columnFilter class="filter" field="priority" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.priority" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-q>
        <tr class="cursor-pointer row-table-doc-hover" (click)="openQuestion(q.id)">
          <td style="width: 50px" class="text-14">{{q.id}}</td>
          <td class="text-14 break-word">{{getProject(q.project)}}</td>
          <td class="text-14">{{localeDepartment(q.department)}}</td>
          <td class="text-14">
            <span [innerHTML]="questionStatus(q.status) | safeHtml"></span>
          </td>
          <td class="text-14 break-word">{{q.doc_number}}</td>
          <td class="text-14 break-word">{{q.name}}</td>
          <td class="text-14"><span [innerHTML]="getUserName(q.started_by) | safeHtml"></span></td>


          <td class="text-14">
            <span [innerHTML]="getUserName(q.responsible) | safeHtml"></span>
<!--            <div *ngIf="q.responsible == ''" (click)="assignResponsible(q); $event.stopPropagation();">-->
<!--              <div  class="materials-button-assignee light-green-button cxy">-->
<!--                <div class="pr-10 cxy">-->
<!--                  <img src="assets/icons/check.png" height="16">-->
<!--                </div>-->
<!--                <div class="cxy">{{t.tr('Назначить')}}</div>-->
<!--              </div>-->
<!--            </div>-->
          </td>
          <td class="text-14">
            <span [innerHTML]="getUserName(q.assigned_to) | safeHtml"></span>
          </td>
          <td class="text-14">{{getDate(q.started_date_as_date.getTime())}}</td>
          <td class="text-14">{{getDate(q.due_date.getTime())}}</td>
          <td class="text-14">{{issueManager.localeTaskPriority(q.priority)}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
