<div class="all-page">
  <div class="card">
    <div class="card-head df sticky-card">
      <div class="mr-10">
        <div class="materials-button-qna blue-button cxy" (click)="createQuestion()">
          <div class="pr-10 cxy">
            <img src="assets/icons/plus3.svg" height="18">
          </div>
          <div class="cxy">
            Задать вопрос
          </div>
        </div>
      </div>
      <div class="mr-10">
        <p-dropdown optionLabel="label" class="select" optionValue="value" [(ngModel)]="project" [options]="projects" styleClass="width-200" placeholder="Проект"></p-dropdown>
      </div>
      <div class="mr-10">
        <p-dropdown optionLabel="label" class="select" optionValue="value" [(ngModel)]="department" [options]="departments" styleClass="width-200" placeholder="Отдел"></p-dropdown>
      </div>
    </div>
    <p-table [value]="questions"
             [scrollable]="true"
             scrollHeight="calc(100vh - 220px)"
             [virtualScroll]="true"
             [virtualRowHeight]="40"
             [reorderableColumns]="false"
             [resizableColumns]="false"
             styleClass="p-datatable-striped"
             responsiveLayout="scroll"
             [globalFilterFields]="['id','doc_number','name','status']">
      <ng-template pTemplate="header">
        <tr class="df">
          <th pSortableColumn="id" class="lxy w-20">{{t.tr('id')}}
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="status" class="lxy w-20">{{t.tr('Статус')}}
            <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'status'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.status" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="doc_number" class="lxy w-15">{{t.tr('Номер документа')}}
            <p-sortIcon field="doc_number"></p-sortIcon>
          </th>
          <th pSortableColumn="name" class="lxy w-15">{{t.tr('Название')}}
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="last_update" class="lxy w-15">{{t.tr('Дата изменения')}}
            <p-sortIcon field="last_update"></p-sortIcon>
          </th>
          <th pSortableColumn="assigned_to" class="lxy w-15">{{t.tr('Исполнитель')}}
            <p-sortIcon field="assigned_to"></p-sortIcon>
          </th>
          <th pSortableColumn="started_by" class="lxy w-15">{{t.tr('Автор')}}
            <p-sortIcon field="started_by"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'started_by'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.author" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="start_date" class="lxy w-15">{{t.tr('Дата начала')}}
            <p-sortIcon field="start_date"></p-sortIcon>
          </th>
          <th pSortableColumn="priority" class="lxy w-15">{{t.tr('Приоритет')}}
            <p-sortIcon field="priority"></p-sortIcon>
            <p-columnFilter class="filter" [field]="'priority'" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [displaySelectedLabel]="false" [ngModel]="value" [options]="filters.priority" optionValue="value" optionLabel="label" [placeholder]="t.tr('Все')" (onChange)="filter($event.value);">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-q>
        <tr class="cursor-pointer row-table-doc-hover" (click)="openQuestion(q.id)">
          <td class="text-14">{{q.id}}</td>
          <td class="text-14">{{q.status}}</td>
          <td class="text-14">{{q.doc_number}}</td>
          <td class="text-14">{{q.name}}</td>
          <td class="text-14">{{getDate(q.last_update)}}</td>
          <td class="text-14"><span [innerHTML]="getUserName(q.assigned_to) | safeHtml"></span></td>
          <td class="text-14"><span [innerHTML]="getUserName(q.started_by) | safeHtml"></span></td>
          <td class="text-14">{{getDate(q.started_date)}}</td>
          <td class="text-14">{{q.priority}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
