:root{
  --navi-height: 76px;
  --navi-width: 220px;
}
body,p{
  margin: 0;
}
.card{
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  height: calc(100vh - 116px);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.w40{
  width: 40vw;
}
.w60{
  width: 60vw;
}
.w70{
  width: 70vw;
}
.w75{
  width: 75vw;
}
.w-150{
  width: 150%;
}
.w-100{
  width: 100%;
}
.w-90{
  width: 90%;
}
.w-80{
  width: 80%;
}
.w-65{
  width: 65%;
}
.w-60{
  width: 60%;
}
.w-55{
  width: 55%;
}
.w-50{
  width: 50%;
}
.w-45{
  width: 45%;
}
.w-40{
  width: 40% !important;
}
.w-35{
  width: 35%;
}
.w-30{
  width: 30%;
}
.w-28{
  width: 28%;
}
.w-25{
  width: 25%;
}
.w-20{
  width: 20%;
}
.w-19{
  width: 19%;
}
.w-17{
  width: 17%;
}
.w-18{
  width: 18%;
}
.w-15{
  width: 15%;
}
.w-14{
  width: 14%;
}
.w-12{
  width: 12%;
}
.w-11{
  width: 11%;
}
.w-10{
  width: 10%;
}
.w-9{
  width: 9%;
}
.w-8{
  width: 8%;
}
.w-7{
  width: 7%;
}
.w-6{
  width: 6%;
}
.w-5{
  width: 5%;
}
.w-3{
  width: 3%;
}
.width-10{
  width: 10px;
}
.width-100{
  width: 100px;
}
.width-130{
  width: 130px;
}
.width-150{
  width: 150px;
}
.width-170{
  width: 170px;
}
.width-180{
  width: 180px;
}
.width-190{
  width: 190px;
}
.width-200{
  width: 200px;
}
.width-220{
  width: 220px;
}
.width-250{
  width: 250px;
}
.width-270{
  width: 270px;
}
.width-300{
  width: 300px;
}
.width-450{
  width: 450px;
}
.width-465{
  width: 465px;
}
.width-480{
  width: 480px;
}
.width-530{
  width: 530px;
}
.h-32{
  height: 32px;
}
.h100{
  height: 100%;
}
.font-14{
  font-size: 14px;
}
.p-2{
  padding: 2px;
}
.df{
  display: flex;
}
.cy{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cx{
  display: flex;
  justify-content: center;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 1.5rem;
}
.mt-3{
  margin-top: 2rem;
}
.mt-4{
  margin-top: 4rem;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.mt-25{
  margin-top: 25px;
}
.mt-30{
  margin-top: 30px;
}
.mt-40{
  margin-top: 40px;
}
.mt-100{
  margin-top: 100px;
}
.pl-3{
  padding-left: 3px;
}
.pl-5{
  padding-left: 5px;
}
.pl-10{
  padding-left: 10px;
}
.pl-20{
  padding-left: 10px;
}
.pr-10{
  padding-right: 10px;
}
.pr-20{
  padding-right: 10px;
}
.pt-5{
  padding-top: 5px;
}
.pt-6{
  padding-top: 6px;
}
.pt-8{
  padding-top: 8px;
}
.pt-10{
  padding-top: 10px;
}
.pt-20{
  padding-top: 20px;
}
.pt-50{
  padding-top: 50px;
}
.pt-100{
  padding-top: 100px;
}
.pb-5{
  padding-bottom: 5px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-15{
  padding-bottom: 15px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-30{
  padding-bottom: 30px;
}
.cxy{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-1{
  margin-left: 1rem;
}
.ml-2{
  margin-left: 2rem;
}
.ml-5{
  margin-left: 5px;
}
.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.ml-30{
  margin-left: 30px;
}
.mr-1{
  margin-right: 1rem;
}
.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}
.mr-30{
  margin-right: 30px;
}
.text-center{
  text-align: center;
}
.mx-1{
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-10{
  margin-left: 10px;
  margin-right: 10px;
}
.mx-20{
  margin-left: 20px;
  margin-right: 20px;
}
.px-10{
  padding-right: 10px;
  padding-left: 10px;
}
.cursor-pointer{
  cursor: pointer;
}
.dfl{
  display: flex;
  justify-content: flex-start;
}
.dfr{
  display: flex;
  justify-content: flex-end;
}
cdk-virtual-scroll-viewport{
  overflow: hidden;
}
.p-ml-auto{
  margin-left: auto!important;
}
.p-d-flex {
  display: flex!important;
}
.all-page{
  background: linear-gradient(90deg, rgba(237,237,249,1) 0%, rgba(246,249,252,1) 49%, rgba(236,236,249,1) 100%);
  padding: 20px;
}
.mr-2{
  margin-right: 2rem;
}
.mb-2{
  margin-bottom: 2rem;
}

.mb-1{
  margin-bottom: 0.2rem;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.no-actions{
  pointer-events: none;
}
::-webkit-scrollbar{
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track-piece{
  background: rgba(0, 0, 0, 0.14);
}
::-webkit-scrollbar-thumb:vertical{
  height:10px;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:horizontal{
  height:3px;
  max-width: 50px;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 4px;
}
.space-between{
  justify-content: space-between;
}
.border-none{
  border: none;
}
/deep/.p-component{
  font-size: 14px!important;
}
.text-y{
  align-items: center;
}
.position-relative{
  position: relative;
}
.border-select{
  border-radius: 3px!important;
  border: 1px solid #00b7c3!important;
  color: #00b7c3!important;
  font-weight: 600!important;
}
.text-bottom{
  display: flex;
  align-items: flex-end;
}
.text-start{
  display: flex;
  align-items: flex-start;
}
.content-end{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}
.background{
  background-color: transparent;
}
.border{
  border: 1px solid #605e5c!important;
  border-radius: 3px!important;
  color: #323130!important;
  font-weight: normal!important;
}
.border-material{
  border: 1px solid #ced4da!important;
  border-radius: 3px!important;
  color: #495057!important;
}
.dropdown{
  padding: 0.5rem 0.5rem!important;
}
/deep/.ql-snow .ql-editor img {
  max-width: 400px!important;
}
.wh100{
  height: 100%;
  width: 100%;
}
.fw{
  flex-wrap: wrap;
}
.ovf{
  overflow-y: scroll;
}
.ovf-auto{
  overflow-y: auto;
}
.my-1{
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-5{
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-15{
  margin-top: 15px;
  margin-bottom: 15px;
}
.column-reverse{
  display: flex;
  flex-direction: column-reverse;
}
.sticky{
  position: sticky;
  top: 0;
  z-index: 10;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.max-height-150{
  max-height: 150px!important;
}
.flex-unset{
  display: flex;
  flex-direction: unset;
}
.display-flex{
  display: flex;
}

