:root{
  --navi-height: 76px;
  --navi-width: 100px;
}
body,p{
  margin: 0;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.h100{
  height: 100%;
}
.df{
  display: flex;
}
.cy{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cx{
  display: flex;
  justify-content: center;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 1.5rem;
}
.mt-3{
  margin-top: 2rem;
}
.mt-4{
  margin-top: 4rem;
}
.mt-5{
  margin-top: 5px;
}
.mr-10{
  margin-right: 10px;
}
.ml-10{
  margin-left: 10px;
}
.mt-10{
  margin-top: 10px;
}
.mt-40{
  margin-top: 40px;
}
.mt-100{
  margin-top: 100px;
}
.cxy{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-1{
  margin-left: 1rem;
}
.mr-1{
  margin-right: 1rem;
}
.mr-10{
  margin-right: 10px;
}
.text-center{
  text-align: center;
}
.px-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.cursor-pointer{
  cursor: pointer;
}
.dfl{
  display: flex;
  justify-content: flex-start;
}
.dfr{
  display: flex;
  justify-content: flex-end;
}
cdk-virtual-scroll-viewport{
  overflow: hidden;
}
.p-ml-auto{
  margin-left: auto!important;
}
.p-d-flex {
  display: flex!important;
}
.all-page{
  background-color: #f8f9fa;
  padding: 20px;
}
.mr-2{
  margin-right: 2rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.mb-1{
  margin-bottom: 0.2rem;
}
.no-actions{
  pointer-events: none;
}
