:root{
  --navi-height: 76px;
  --navi-width: 100px;
}
body,p{
  margin: 0;
}
.w-100{
  width: 100%;
}
.cy{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cx{
  display: flex;
  justify-content: center;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 1.5rem;
}
.mt-3{
  margin-top: 2rem;
}
.mt-100{
  margin-top: 100px;
}
.cxy{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-1{
  margin-left: 1rem;
}
.text-center{
  text-align: center;
}
.px-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.cursor-pointer{
  cursor: pointer;
}
.dfl{
  display: flex;
  justify-content: flex-start;
}
.dfr{
  display: flex;
  justify-content: flex-end;
}
cdk-virtual-scroll-viewport{
  overflow: hidden;
}
.p-ml-auto{
  margin-left: auto!important;
}
.p-d-flex {
  display: flex!important;
}
