<div>
  <div class="role-header">
    <div>
      <div class="name">{{lang.tr('Роль')}}</div>
      <input type="text" id="name" pInputText [(ngModel)]="role.name">
    </div>
    <div>
      <div class="description">{{lang.tr('Описание')}}</div>
      <input type="text" id="description" pInputText [(ngModel)]="role.description">
    </div>
    <div class="rights">
      <div class="rights">{{lang.tr('Права')}}</div>
      <p-multiSelect appendTo="body" id="rights" [options]="rights" [(ngModel)]="role.rights" optionLabel="name" optionValue="name"></p-multiSelect>
    </div>
  </div>
  <div class="form-edit">
    <div (click)="saveRole()" pButton [label]="lang.tr('Сохранить')" class="button-ok"></div>
    <div (click)="deleteRole()" pButton [label]="lang.tr('Удалить')" class="button-cancel ml-1"></div>
  </div>
</div>
