<div class="center-role">
  <div class="header-user-card">
    <div class="header-user-text">{{lang.tr('Роли')}}</div>
    <div class="task-button-user cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="df space-between">
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Роль')}}</div>
      <input class="width-211" type="text" id="name" pInputText [(ngModel)]="role.name">
    </div>
    <div>
      <div class="big-text-user mb-1 mt-1">{{lang.tr('Описание')}}</div>
      <input class="width-211" type="text" id="description" pInputText [(ngModel)]="role.description">
    </div>
  </div>
  <div>
    <div class="big-text-user mb-1 mt-1">{{lang.tr('Права')}}</div>
    <p-multiSelect styleClass="w-100" appendTo="body" id="rights" [options]="rights" [(ngModel)]="role.rights"
                   optionLabel="name" optionValue="name"></p-multiSelect>
  </div>
  <div class="mb-1 mt-1">
    <p-checkbox name="all" [binary]="true" [(ngModel)]="checkBox" label="Применить ко всем"></p-checkbox>
  </div>
</div>

<div class="form-footer-user">
  <div class="mr-5 cx">
    <div tabindex="11" (click)="deleteRole()" pButton [label]="lang.tr('Удалить')" class="button-cancel ml-1"></div>
  </div>
  <div tabindex="10" (click)="saveRole()" pButton [label]="lang.tr('Сохранить')" class="button-ok"></div>
</div>


















