.ele-nodes{
  height: 88vh;
  overflow: auto;
  width: 20vw;
}
.ele-node{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  border: 2px solid black;
  margin: 2px;
  padding: 5px;
  &.__selected{
    background-color: rgba(13, 51, 73, 0.11);
  }
}
.ele-node-cables{
  height: 84vh;
  overflow: auto;
  width: 20vw;
}
.ele-node-spec{
  height: 84vh;
  overflow: auto;
  width: 30vw;
  font-size: 14px;
}
.ele-node-spec-text{
  margin-bottom: 15px;
}
.ele-node-cable{
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid black;
  margin: 2px;
  padding: 5px;
}
.ele-node-png{
  max-width: 30vw;
  max-height: 85vh;
}
.node-png{
  width: 30vw;
  overflow: auto;
  height: 86vh;
}
.preview-image{
  position: absolute;
  left: 190px;
  top: 85px;
  height: 89vh;
  width: 89vw;
  background-color: rgba(0, 0, 0, 0.85);
}
.preview-image-png{
  max-height: 89vh;
  max-width: 89vw;
}
