/deep/.p-datatable .p-datatable-thead > tr > th{
  min-height: 55px;
}
/deep/.p-component{
  font-size: 13px!important;
}
/deep/.p-inputtext{
  font-size: 13px!important;
  padding: 8px 10px 8px 10px;
}
/deep/.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: 1.5rem;
  height: 1.5rem;
}
/deep/.p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: 3px;
  font-size: 13px;
}
/deep/.pi {
  font-size: 13px;
}
/deep/.p-tree{
  height: calc(100vh - 237px);
  overflow: auto;
  padding: 10px;
  border: none;
}
/deep/.p-dialog .p-dialog-content {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 0 20px 30px 20px;
}
/deep/.p-datatable .p-datatable-tbody > tr > td{
  padding: 12px;
}
/deep/.p-datatable .p-datatable-thead > tr > th{
  padding: 14px 6px;
  font-weight: 500;
}
/deep/.p-datatable .p-datatable-header {
  padding: 0.75rem 0 0.75rem 0;
}
/deep/.p-dialog .p-dialog-footer {
  margin-top: -10px;
}
.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem!important;
}
.min-height-card{
  height: calc(100vh - 107px);
}
.ele-nodes{
  height: 79vh;
  overflow: auto;
  width: 20vw;
}
.ele-node{
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 7px;
  padding: 10px;
  &.__selected{
    background-color: rgba(13, 51, 73, 0.11);
  }
  &.__error{
    background-color: rgba(255, 0, 0, 0.11);
  }
  &.__ok{
    background-color: rgba(0, 128, 0, 0.11);
  }
}
.ele-node-cables{
  height: 77vh;
  overflow: auto;
  width: 20vw;
}
.ele-node-spec{
  height: 77vh;
  overflow: auto;
  width: 20vw;
  font-size: 14px;
}
.ele-node-spec-text{
  margin-bottom: 15px;
}
.ele-node-cable{
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid black;
  margin: 2px;
  padding: 5px;
}
.ele-node-png{
  max-width: 25vw;
  max-height: 77vh;
}
.node-png{
  width: 20vw;
  overflow: auto;
  height: 86vh;
}
.preview-image{
  position: absolute;
  left: 190px;
  top: 85px;
  height: 89vh;
  width: 89vw;
  background-color: rgba(0, 0, 0, 0.85);
}
.preview-image-png{
  max-height: 89vh;
  max-width: 89vw;
}
.card-head{
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  height: fit-content;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
  display: flex;
}
.materials-button-ele{
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 10px;
  color: #fff;
}
.materials-button {
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 6px;
}
.title-bold{
  font-weight: 500;
  font-size: 16px;
  color: #3a3a3a;
}
.text-mini-gray{
  color: #3a3a3abf;
  font-weight: 500;
  font-size: 14px;
}
.trm-node{
  position: absolute;
  top: 0;
  right: 0;
}
.trm{
  background-color: #FBC948;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1px 4px;
}
.trm-copy{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 1px 4px;
  border: 1px solid #FBC948;
  background-color: white;
}
.copy-tooltip{
  position: absolute;
  top: -26px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 13px 0px rgba(34, 60, 80, 0.16);
  font-size: 12px;
  padding: 4px 6px;
  color: #3a3a3ade;
}
.text-m{
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}
