<div class="all-page h100">
  <div class="all-card">
    <div class="card-head df">
      <div class="mr-2">{{getBlockName()}}</div>
      <div class="mr-2">{{issue.doc_number}}</div>
      <div [innerHTML]="getDeliveredStatus(issue.status) | safeHtml"></div>
    </div>
    <div class="w-100 df">
      <div class="card-sp mr-20">
        <div class="top-line"></div>
        <div *ngIf="noResult">No result for drawing {{docNumber}} of project {{project}}. You need to add document number {{docNumber}} to the block in the description using FORAN app in {{project}} project</div>
        <div class="table-header cursor-pointer" *ngIf="parts.length > 0">
          <div class="w-10 table-header-col cy">{{l.tr('Partname')}}</div>
          <div class="w-25 table-header-col cy">{{l.tr('Description')}}</div>
          <div class="w-10 table-header-col cy">{{l.tr('Weight')}}</div>
          <div class="w-15 table-header-col cy">{{l.tr('Gravity center')}}</div>
          <div class="w-25 table-header-col cy">{{l.tr('Block description')}}</div>
          <div class="w-15 table-header-col cy">{{l.tr('Section/Thick')}}</div>
        </div>
        <div class="pb-10" *ngFor="let part of parts">
          <div (click)="selectedPart = part" class="df table-row cursor-pointer">
            <div class="w-10 table-body cy">{{part.PARTNAME}}</div>
            <div *ngIf="part.DESCRIPTION == 0" class="w-25 table-body cy min-text">description is missing</div>
            <div *ngIf="part.DESCRIPTION != 0" class="w-25 table-body cy">{{part.DESCRIPTION}}</div>
            <div class="w-10 table-body cy">{{round(part.WEIGHT)}}</div>
            <div class="w-15 table-body cy">
              <div class="table-body-bold-text">X:<span class="normal-weight">{{' ' + part.X_COG}}</span></div>
              <div class="table-body-bold-text">Y:<span class="normal-weight">{{' ' + part.Y_COG}}</span></div>
              <div class="table-body-bold-text">Z:<span class="normal-weight">{{' ' + part.Z_COG}}</span></div>
            </div>
            <div class="w-25 table-body cy">{{part.BLOCK_DESCRIPTION}}</div>
            <div class="w-15 table-body cy">{{part.SECTION}}</div>
          </div>
        </div>
      </div>
      <div class="w-30 right-content-card mt-20">
        <div class="card-tabs h50">
          <div class="df tabs-header">
            <div class="all-tabs cursor-pointer" (click)="selectedTab = 'files'" [class.selectedTab]="selectedTab == 'files'">Files</div>
            <div class="all-tabs cursor-pointer" (click)="selectedTab = 'drawings'" [class.selectedTab]="selectedTab == 'drawings'">Drawings</div>
            <div class="all-tabs cursor-pointer" (click)="selectedTab = 'part lists'" [class.selectedTab]="selectedTab == 'part lists'">Part lists</div>
            <div class="all-tabs cursor-pointer" (click)="selectedTab = 'cutting map'" [class.selectedTab]="selectedTab == 'cutting map'">Cutting map</div>
          </div>
          <div class="tabs-content mt-20">
            <div class="tab h100" *ngIf="selectedTab == 'files'">
              <div class="missing-files cxy" *ngIf="getRevisionFiles(issue.revision).length == 0">
                <img src="assets/icons/folders.svg" height="80">
              </div>
              <div *ngFor="let file of getRevisionFiles(issue.revision)">
                <div (click)="openFile(file.url)" class="attachment-files df mb-10 cursor-pointer">
                  <div class="cxy">
                    <img [src]="'assets/task/' + getFileExtensionIcon(file.name)" height="25"/>
                  </div>
                  <span class="mx-10 cy" tooltipPosition="top" [pTooltip]="file.name">{{trimFileName(file.name) + ' '}}</span>
                  <span class="mx-10 cy">{{' ' + getDate(issue.started_date)}}</span>
                  <div class="cxy ml-10 load-cloud">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#605e5c" class="bi bi-cloud-download cloud-download" viewBox="0 0 16 16">
                      <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                      <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab h100" *ngIf="selectedTab == 'drawings'">
              <div class="missing-files cxy">
                <img src="assets/icons/drawings.svg" height="85">
              </div>
            </div>
            <div class="tab h100" *ngIf="selectedTab == 'part lists'">
              <div class="missing-files cxy">
                <img src="assets/icons/files.svg" height="85">
              </div>
            </div>
            <div class="tab h100" *ngIf="selectedTab == 'cutting map'">
              <div class="missing-files cxy">
                <img src="assets/icons/cutting.svg" height="85">
              </div>
            </div>
          </div>


<!--          <p-tabView>-->
<!--            <p-tabPanel header="Files">-->
<!--              <div *ngFor="let file of getRevisionFiles(issue.revision)">-->
<!--                <div (click)="openFile(file.url)" class="attachment-files df mb-10 cursor-pointer">-->
<!--                  <div class="cxy">-->
<!--                    <img [src]="'assets/task/' + getFileExtensionIcon(file.name)" height="25"/>-->
<!--                  </div>-->
<!--                  <span class="mx-10 cy" tooltipPosition="top" [pTooltip]="file.name">{{trimFileName(file.name) + ' '}}</span>-->
<!--                  <span class="mx-10 cy">{{' ' + getDate(issue.started_date)}}</span>-->
<!--                  <div class="cxy ml-10 load-cloud">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#605e5c" class="bi bi-cloud-download cloud-download" viewBox="0 0 16 16">-->
<!--                      <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>-->
<!--                      <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>-->
<!--                    </svg>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </p-tabPanel>-->
<!--            <p-tabPanel header="Header 2">-->
<!--              Content 2-->
<!--            </p-tabPanel>-->
<!--            <p-tabPanel header="Header 3">-->
<!--              Content 3-->
<!--            </p-tabPanel>-->
<!--          </p-tabView>-->
        </div>
        <div class="card-tabs-bottom mt-20">
          <div *ngIf="selectedPart.PARTNAME != null">
            <div class="df">
              <div class="part-details">{{selectedPart.PARTNAME}}</div>
              <div class="ml-20 part-details">{{selectedPart.DESCRIPTION}}</div>
            </div>
            <div class="df">
              <div class="w-30">
                <div>
                  <div *ngIf="selectedPart.KSE == 0" class="main-details mt-20">Thick</div>
                  <div *ngIf="selectedPart.KSE != 0" class="main-details mt-20">Section</div>
                </div>
              </div>
              <div class="w-70">
                <div class="mt-20 value-details">{{selectedPart.SECTION}}</div>
              </div>
            </div>
            <div class="df">
              <div class="w-30">
                <div>
                  <div class="main-details mt-10">Material:</div>
                </div>
              </div>
              <div class="w-70">
                <div class="mt-10 value-details">{{selectedPart.MATERIAL}}</div>
              </div>
            </div>
            <div class="df">
              <div class="w-30">
                <div>
                  <div class="main-details mt-10">Stock code:</div>
                </div>
              </div>
              <div class="w-70">
                <div class="mt-10 value-details">{{selectedPart.STOCK_CODE}}</div>
              </div>
            </div>
            <div class="df">
              <div class="w-30">
                <div>
                  <div class="main-details mt-10">BS-Symbol:</div>
                </div>
              </div>
              <div class="w-70">
                <div class="mt-10 value-details">{{selectedPart.SYMBOL}}</div>
              </div>
            </div>
            <div class="df">
              <div class="w-30">
                <div>
                  <div class="main-details mt-10">Line name:</div>
                </div>
              </div>
              <div class="w-70">
                <div class="mt-10 value-details">{{selectedPart.LINE_NAME}}</div>
              </div>
            </div>
            <div class="df">
              <div class="w-30">
                <div>
                  <div class="main-details mt-10">BS ADN:</div>
                </div>
              </div>
              <div class="w-70">
                <div class="mt-10 value-details">{{selectedPart.BS_ADN}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>


</div>





<!--    <div *ngIf="parts.length == 0 && !noResult">-->
<!--      <div class="cxy">-->
<!--        <div>-->
<!--          <img src="assets/whale.gif" height="120">-->
<!--          <div class="cx ">PLEASE WAIT...</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


