<div class="all-page">
  <div class="card card-page">
    <div *ngIf="parts.length == 0 && !noResult">
      <div class="cxy">
        <div>
          <img src="assets/whale.gif" height="120">
          <div class="cx ">PLEASE WAIT...</div>
        </div>
      </div>
    </div>
    <div *ngIf="noResult">No result for drawing {{docNumber}} of project {{project}}. You need to add document number {{docNumber}} to the block in the description using FORAN app in {{project}} project</div>
    <div class="table-header cursor-pointer" *ngIf="parts.length > 0">
      <div class="w-5 table-header-col cy">{{l.tr('Label')}}</div>
      <div class="w-15 table-header-col cy">{{l.tr('TRM')}}</div>
      <div class="w-35 table-header-col cy">Название, описание</div>
      <div class="w-7 table-header-col cy">{{l.tr('Вес')}}</div>
      <div class="w-14 table-header-col cy">{{l.tr('Центр тяжести')}}</div>
      <div class="w-14 table-header-col cy">{{l.tr('Длина')}}</div>
      <div class="w-10 table-header-col cy">{{l.tr('?')}}</div>
    </div>
    <div *ngFor="let part of parts">
      <div class="df table-row cursor-pointer">
        <div class="w-5 table-body cy">{{part.SECTION}}</div>
        <div class="w-15 table-body cy">{{part.WEIGHT}}</div>
        <div class="w-35 table-body cy">{{part.PARTNAME}}<br>{{part.DESCRIPTION}}</div>
        <div class="w-7 table-body cy">{{part.BLOCK_DESCRIPTION}}</div>
        <div class="w-14 table-body cy">
          <div class="table-body-bold-text">X:<span class="normal-weight">{{' ' + part.X_COG}}</span></div>
          <div class="table-body-bold-text">Y:<span class="normal-weight">{{' ' + part.Y_COG}}</span></div>
          <div class="table-body-bold-text">Z:<span class="normal-weight">{{' ' + part.Z_COG}}</span></div>
        </div>
        <div class="w-14 table-body cy">{{part.SYMBOL}}</div>
        <div class="w-10 table-body cy">
          {{part.BS_ADN}}
        </div>
      </div>
    </div>
  </div>
</div>
