.all-card{
  height: calc(100vh - 116px);
}
.card-head{
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 8px;
  height: 65px;
  align-items: center;
  color: #323130;
  font-size: 14px;
  font-weight: 600;
}
.card-sp{
  width: 68%;
  height: calc(100vh - 200px);
  background: #ffffff;
  margin-top: 20px;
  border-radius: 8px;
  padding: 0 12px 12px 12px;
  overflow: auto;
}
.card-tabs{
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 12px;
  overflow: auto;
}
.card-tabs-bottom{
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 12px;
  overflow: auto;
  height: calc(50% - 20px);
}
.right-content-card{
  height: calc(100vh - 200px);
}
.top-line{
  height: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
.min-text{
  font-size: 12px;
  padding-right: 4px;
  color: rgb(107 119 140 / 51%) !important;
}
.tabs{
  background-color: #3b9ebb;
}
.all-tabs{
  border: solid;
  border-width: 1px;
  border-color: #ffffff #ffffff #dfe1e6 #ffffff;
  padding: 12px;
  font-weight: 600;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transition: box-shadow 0.15s;
  margin: 0 0 -1px 0;
  color: #6c757d;
}
.all-tabs:hover{
  background-color: #F3F2F1;
}
.selectedTab{
  border-color: #dfe1e6 #dfe1e6 #ffffff #dfe1e6;
  color: #495057;
  font-weight: 600;
  background-color: #ffffff!important;
}
.tabs-header{
  background: transparent;
  border: 1px solid #dfe1e6;
  border-width: 0 0 1px 0;
  font-size: 13px;
}
/deep/.p-component{
  font-size: 14px!important;
}
/deep/.p-inputtext{
  font-size: 14px!important;
}
/deep/.pi{
  font-size: 14px;
}
.task-row:hover{
  background-color: #F3F2F1!important;
}
.normal-button:hover{
  background-color: rgba(50, 49, 48, 0.07) !important;
}
.tab-right-height{
  height: calc(100% - 80px);
}
.text-14{
  font-size: 13px;
}
.attachment-files{
  display: flex;
  font-size: 13px;
}


.card-page{
  position: relative;
  overflow: auto;
}
.table-header{
  position: sticky;
  top: 10px;
  z-index: 10;
  display: flex;
  border-top: 1px solid #f3f2f1;
  border-bottom: 1px solid #f3f2f1;
  min-height: 60px;
}
.table-header-support{
  display: flex;
  min-height: 50px;
  border-bottom: 1px solid #f3f2f1;
  border-top: 1px solid #f3f2f1;
}
.table-header-col{
  text-align: left;
  padding: 0.75rem 0.75rem;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #323130;
  font-size: 13px;
  background: #ffffff;
  transition: box-shadow 0.2s;

}
.table-header-col:hover{
  background-color: #F3F2F1;
}
.table-body{
  padding: 0.75rem 0.75rem;
  color: #323130;
  font-size: 13px;
}
.table-body-support{
  padding: 0.75rem 0.75rem;
  color: #323130;
  font-size: 13px;
}
.row-support{
  background-color: #f3f2f194;
}
.row-support:hover{
  background-color: #f3f2f1;
}
.table-body-bold-text{
  font-weight: bolder;
  font-size: 12px;
}
.normal-weight{
  font-weight: normal;
}
.table-row:hover{
  background-color: #F3F2F1;
}
.part-details{
  color: #495057;
  font-size: 1.2rem;
  font-weight: 600;
}
.missing-files{
  height: 100%;
  width: 100%;
}
.tabs-content{
  position: relative;
  height: calc(100% - 80px);
}
.main-details{
  font-weight: 600;
  color: #323130;
  font-size: 13px;
}
.value-details{
  font-weight: 600;
  color: #6c757d;
  font-size: 13px;
}
.button-details{
  color: #42526E;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 2.28571em;
  padding: 0px 10px;
  width: fit-content;
  background-color: #F5F6F8;
}
.button-details:hover{
  background-color: #ECEDF0;
}
.big-text{
  font-size: 0.9em;
  font-style: inherit;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 24px;
  color: #6c757d;
  overflow-wrap: break-word;
  min-width: 0px;
}
.toggle-button{
  height: 37px!important;
  border-radius: 3px;
  display: block;
}
::ng-deep .p-togglebutton{
  border-radius: 3px!important;
  height: 37px;
}
/deep/.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.focus-button:focus{
  background-color: rgba(50, 49, 48, 0.07);
}
/deep/.p-togglebutton.p-button.p-highlight{
  background: #DEEBFF !important;
  border: 1px solid #32597852 !important;
  box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.2) !important
}
