<div style="height: 430px; width: 400px;">
  <div class="task-header-assign">
    <div class="task-name">Accept to Work</div>
    <div class="task-button cxy" (click)="close()">
      <i class="pi pi-times"></i>
    </div>
  </div>
  <div class="big-text mb-1 mt-1">{{t.tr('Ответственный')}}</div>
  <p-dropdown appendTo = "body" [options]="users" [(ngModel)]="selectedUser" [filter]="true" filterBy="userName" optionValue="login" optionLabel="userName"
              [showClear]="true" [placeholder]="t.tr('Назначить')" class="p-dropdown-150" styleClass="width-270">
    <ng-template let-user pTemplate="item">
      <div class="df">
        <img src="{{user.avatar}}" width="24px" height="24px" style="border-radius: 16px"/>
        <div class="cx cy pl-10">{{user.userName}}</div>
      </div>
    </ng-template>
  </p-dropdown>
  <div>
      <div class="big-text mb-1 mt-1">{{t.tr('Срок завершения')}}</div>
    <p-calendar [showWeek]="true" [firstDayOfWeek]="1" [minDate]="today" appendTo = "body" [(ngModel)]="dueDate" dateFormat="dd.mm.yy" styleClass="width-270"></p-calendar>
  </div>
  <div class="form-footer pt-10">
    <div class="mr-5 cx">
      <div [class.disabled-button]="selectedUser == ''" tabindex="10" (click)="commit()" pButton [label]="t.tr('Назначить')" class="button-ok"></div>
    </div>
    <div tabindex="11" (click)="close()" pButton [label]="t.tr('Отмена')" class="button-cancel ml-1"></div>
  </div>
</div>






