<div style="height: 180px; width: 450px;">
  <div class="task-button-approval cxy" (click)="close()">
    <i class="pi pi-times"></i>
  </div>
  <div>
    <div class="confirm-text">{{t.tr('На согласование')}}</div>
  </div>
  <div class="mt-30 mb-30">
    <div class="delete-text">{{t.tr('Выберете дальнейшее действие:')}}</div>
  </div>
  <div class="footer-delete mt-1">

    <div class="cxy mr-1">
      <div (click)="no()" tabindex="11" class="width-200 height-50  button-ok text-center-x cxy">{{t.tr('Создать задачи "Согласование"')}}</div>
    </div>
    <div class="cxy">
      <div (click)="yes()" tabindex="10" class="button-cancel text-center-x">{{t.tr('Продолжить не создавая задач "Согласование"')}}</div>
    </div>
  </div>
</div>
