<div class="header-storage cy pl-20">
  НОРЕБО
</div>
<div class="all-page">
  <div class="">
    <div class="card-head mb-20 df">
      <div class="mr-10">
        <p-multiSelect styleClass="width-220" placeholder="ЗАКАЗ" appendTo="body" id="orders" [options]="orders" [(ngModel)]="selectedOrders" optionLabel="name" optionValue="name"></p-multiSelect>
      </div>
      <!--      <div class="mr-10" >-->
      <!--        <p-dropdown class="select" [(ngModel)]="selectedRootNode" [options]="rootNodes" (onChange)="rootNodeChanged()" optionLabel="label" optionValue="value" styleClass="width-400 border" scrollHeight="450px">-->
      <!--        </p-dropdown>-->
      <!--      </div>-->
      <div class="mr-10">
        <div (click)="createNew(0)" class="materials-button-w blue-button cxy" [pTooltip]="t.tr('Добавить')" tooltipPosition="top">
          <img src="assets/icons/plus3.svg" height="14">
        </div>
      </div>
      <div class="mr-10">
        <div class="materials-button-w pink-button cxy disabled-button" [pTooltip]="t.tr('Копировать')" tooltipPosition="top">
          <img src="assets/icons/copy3.svg" height="14">
        </div>
      </div>
      <div class="mr-10">
        <div class="materials-button-w yellow-button cxy disabled-button" [pTooltip]="t.tr('Редактировать')" tooltipPosition="top">
          <img src="assets/icons/edit.svg" height="14">
        </div>
      </div>
      <div class="mr-10">
        <div class="materials-button-w green-button cxy disabled-button" [pTooltip]="t.tr('Экспорт XLS')" tooltipPosition="top">
          <img src="assets/icons/xls2.svg" height="18">
        </div>
      </div>
      <div class="mr-10">
        <div class="materials-button-w red-button cxy disabled-button" [pTooltip]="t.tr('Удалить')" tooltipPosition="top">
          <img src="assets/icons/trash-white.svg" height="16">
        </div>
      </div>
      <div class="p-ml-auto df">
        <div (click)="selectedView = 'tiles'" class="cxy mr-10 cursor-pointer">
          <img *ngIf="selectedView == 'tiles'" src="assets/icons/tile-blue.svg" height="22">
          <img *ngIf="selectedView != 'tiles'" src="assets/icons/tile-gray.svg" height="22">
        </div>
        <div (click)="selectedView = 'list'" class="cxy cursor-pointer mr-10">
          <img *ngIf="selectedView != 'list'" src="assets/icons/list-gray.svg" height="22">
          <img *ngIf="selectedView == 'list'" src="assets/icons/list-blue.svg" height="22">
        </div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" [placeholder]="t.tr('Поиск...')" class="border" />
        </span>
      </div>
    </div>
    <div>
      <div *ngIf="loading">
        <div class="cxy loading">
          <div class="cxy flex-column">
            <img src="assets/whale.gif" height="120">
            <div class="cx loading-text">PLEASE WAIT...</div>
          </div>
        </div>
      </div>
      <div class="tile height-tiles ovf-auto">
        <div class="invoice cy cursor-pointer">
          <div class="title-big-w">№385</div>
          <div class="title-bold-w">от 16.04.2024</div>
          <div class="title-bold-w text-uppercase">Товарная накладная</div>
          <div class="title-bold-w">10 товаров</div>
          <div class="">
            <div class="text-uppercase mini-text-w">Общая масса</div>
            <div class="title-bold-w ml-10">1032кг</div>
          </div>
          <div class="p-ml-auto mr-50">
            <div class="width-fit" style="color: #256029; background-color: #c8e6c9; border-radius: 2px; padding: 2px 4px; text-transform: uppercase; font-weight: 700; font-size: 10px; letter-spacing: .3px;">Исполнен</div>
          </div>
        </div>
        <div class="dash-card" *ngFor="let st of storages; let j = index" (click)="createNew(st.id)">
          <div class="dash-card-tile cursor-pointer">
            <div class="over-top-rows mb-10">
              <div class="mm-text">ЗАКАЗ {{st.order}}</div>
              <div class="mm-text">№ {{st.code}}</div>
            </div>
            <div class="top-row-docs">
              <div class="title-bold cursor-default">{{st.name}}</div>
            </div>
            <div class="four-row mt-5 mb-5">
              <div class="df">
                <img class="pr-5" src="assets/icons/del.svg" height="30">
                <div class="text-table-col">{{st.supplier}}</div>
              </div>
              <div class="df">
                <img class="pr-5" src="assets/icons/weight3.svg" height="18">
                <div class="text-table-col">1036кг</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

